﻿@model DomainModel.SupplierUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Delete</h3>

<h3>Are you sure you want to delete this Supplier User?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedByUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedByUser)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="hidden" name="SupplierCode" value="@Model.SupplierCode" />
        <input type="hidden" name="UserId" value="@Model.UserId" />

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-secondary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>