﻿@model BUWebApp.Areas.Admin.Models.vm_SupplierUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#SupplierUserDataTable").DataTable({
            "order": [[0, "asc"]]
        });

        SubmitButtonDisable();

        $("#UserId").change(function () {
            SubmitButtonDisable();
        });

        $("#SupplierCode").change(function () {
            SubmitButtonDisable();
        });

        function SubmitButtonDisable() {
            if ($("#UserId").val() == "" || $("#SupplierCode").val() == "")
                $("#SubmitButton").attr("disabled", true);
            else
                $("#SubmitButton").attr("disabled", false);
        }
    });
</script>

<h3>Manage Extension Agent User</h3>
<hr />
<div class="card">
    <div class="card-header bg-secondary text-white">บันทึกข้อมูล Extension Agent</div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "SupplierUser", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="row mb-3">
                <label for="Username"
                       class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.UserId,
                   new SelectList(@Model.SupplierUserNotMember, "Id", "UserName"), "Please select user",
                   new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-3">
                <label for="SupplierCode"
                       class="col-sm-2 col-form-label">Extension Agent Code</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.SupplierCode,
                   new SelectList(@Model.SupplierList, "SupplierCode", "SupplierCode"), "Please select supplier",
                   new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SupplierCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit"
                            class="btn btn-primary"
                            id="SubmitButton">
                        + Add
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<div class="table-responsive mt-4">
    <table id="SupplierUserDataTable" class="table table-hover table-sm">
        <thead>
            <tr>
                <th></th>
                <th>
                    Username
                </th>
                <th>
                    Extension Agent Code
                </th>
                <th>
                    Area
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SupplierUserList)
            {
                <tr>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary"
                           href="@Url.Action("Delete", "SupplierUser",
                                new { supplierCode = item.SupplierCode, userId = item.UserId })">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.SupplierArea)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
