﻿@model BUWebApp.Areas.ExtensionAgent.Models.vm_CuringBarn
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ExtensionAgent/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#submitButton").click(function () {
            if (formValidation() == false) {
                event.preventDefault();
            }
        });
    });

    function formValidation() {
        if ($("#Width").val() == "") {
            alert("โปรดระบุความกว้าง");
            $("#Width").focus();
            return false;
        }
        if ($("#Width").val() < 1) {
            alert("ความกว้างไม่ควรเป็น 0 หรือน้อยว่านี้");
            $("#Width").focus();
            return false;
        }
        if ($("#Length").val() == "") {
            alert("โปรดระบุความยาว");
            $("#Length").focus();
            return false;
        }
        if ($("#Length").val() < 1) {
            alert("ความยาวควรมีค่ามากกว่า 0");
            $("#Length").focus();
            return false;
        }
        if ($("#Tier").val() == "") {
            alert("โปรดระบุชั้น");
            $("#Tier").focus();
            return false;
        }
        if ($("#Tier").val() < 1) {
            alert("ชั้นควรมีค่ามากกว่า 0");
            $("#Tier").focus();
            return false;
        }
        if ($("#Tier").val() > 9) {
            alert("ชั้นของโรงบ่มไม่ควรมากกว่า 9 ชั้น");
            $("#Tier").focus();
            return false;
        }
        if ($("#Age").val() == "") {
            alert("โปรดระบุอายุโรงบ่ม");
            $("#Age").focus();
            return false;
        }
        if ($("#Age").val() < 1) {
            alert("อายุโรงบ่มควรมีค่ามากกว่า 0");
            $("#Age").focus();
            return false;
        }
        return true;
    }
</script>

<h3>Curing Barn</h3>
<h6>ข้อมูลโรงบ่มใบยาสูบ</h6>
<hr />

@using (Html.BeginForm("Create", "CuringBarn"))
{
    <div class="row">
        <div class="col-sm-12">
            @Html.AntiForgeryToken()
            <input name="CitizenID" type="hidden" value="@Model.CitizenID" />
            <div class="card">
                <div class="card-header">
                    @Model.Farmer.FarmerCode @Model.Farmer.Person.Prefix@Model.Farmer.Person.FirstName @Model.Farmer.Person.LastName
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                กว้าง (เมตร):
                                @Html.TextBoxFor(model => model.Width, new { @class = "form-control", type = "number", @placeholder = "Land Size", @step = "0.01" })
                                @Html.ValidationMessageFor(model => model.Width, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                ยาว (เมตร):
                                @Html.TextBoxFor(model => model.Length, new { @class = "form-control", type = "number", @placeholder = "Length", @step = "0.01" })
                                @Html.ValidationMessageFor(model => model.Length, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                จำนวนชั้น:
                                @Html.TextBoxFor(model => model.Tier, new { @class = "form-control", type = "number", @placeholder = "Tier" })
                                @Html.ValidationMessageFor(model => model.Tier, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                อายุโรงบ่ม (ปี):
                                @Html.TextBoxFor(model => model.Age, new { @class = "form-control", type = "number", @placeholder = "Age" })
                                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                วัสดุทำเสา:
                                @Html.DropDownList("PoleMaterial", new SelectList(new[]
            {
                new SelectListItem { Value = "ไม้", Text = "ไม้" ,Selected = true},
                new SelectListItem { Value = "ปูน", Text = "ปูน" },
                new SelectListItem { Value = "เหล็ก", Text = "เหล็ก" }
            }, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PoleMaterial, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                วัสดุทำราวแขวน:
                                @Html.DropDownList("RackMaterial", new SelectList(new[]
            {
                new SelectListItem { Value = "ไม้ไผ่", Text = "ไม้ไผ่" ,Selected = true},
                new SelectListItem { Value = "ไม้ยูคา", Text = "ไม้ยูคา" },
                new SelectListItem { Value = "เหล็ก", Text = "เหล็ก" }
            }, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RackMaterial, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="checkbox" value="true" id="IsOwner" name="IsOwner"> เป็นเจ้าของ:
                                @Html.ValidationMessageFor(model => model.IsOwner, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submitButton" name="submitButton"><i class="fa fa-floppy-o"></i> Save</button>
                    <button type="reset" class="btn btn-secondary"><i class="fa fa-refresh"></i> Reset</button>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index", "PreRegistrationForm", new { id = @Model.Farmer.Person.CitizenID })">Back</a>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12" style="margin-top:20px;">
        <table class="table table-hover table-striped">
            <tr class="table-info">
                <th>กว้าง</th>
                <th>ยาว</th>
                <th>ชั้น</th>
                <th>ปี</th>
                <th>วัสดุทำเสา</th>
                <th>วัสดุทำชั้น</th>
                <th>เป็นเจ้าของ</th>
                <th></th>
            </tr>
            @foreach (var item in Model.CuringBarnList)
            {
                <tr>
                    <td>@item.Width</td>
                    <td>@item.Length</td>
                    <td>@item.Tier</td>
                    <td>@item.Age</td>
                    <td>@item.PoleMaterial</td>
                    <td>@item.RackMaterial</td>
                    <td><input type="checkbox" checked="@item.IsOwner" value="@item.IsOwner" name="IsOwner"></td>
                    <td>
                        <a class="btn btn-danger" title="Delete" href="@Url.Action("Delete", new { id = item.BarnID, citizenID = item.CitizenID })">
                            <i class="fa fa-remove"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
