﻿@model DomainModel.SupervisorUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Delete</h3>

<h3>Are you sure you want to delete this Supervisor User?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedUser)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="hidden" name="AreaCode" value="@Model.AreaCode" />
        <input type="hidden" name="UserId" value="@Model.UserId" />

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-outline-secondary" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
    }
</div>