﻿@model BUWebApp.Areas.Admin.Models.vm_SupervisorUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#SupervisorUserDataTable").DataTable({
            "order": [[0, "asc"]]
        });

        SubmitButtonDisable();

        $("#UserId").change(function () {
            SubmitButtonDisable();
        });

        $("#AreaCode").change(function () {
            SubmitButtonDisable();
        });

        function SubmitButtonDisable() {
            if ($("#UserId").val() == "" || $("#AreaCode").val() == "")
                $("#SubmitButton").attr("disabled", true);
            else
                $("#SubmitButton").attr("disabled", false);
        }

        $(document).on("click", "#deleteButton", function (e) {
            var answer = confirm("ท่านต้องการลบรายการนี้ใช่หรือไม่?");
            if (answer == false) {
                e.preventDefault();
                return false;
            }
        });
    });
</script>

<h3>Supervisor users</h3>
<hr />

<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#assignToAreaModal">
    + Assign user to area
</button>

<div class="modal fade" id="assignToAreaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign user to area</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Index", "SupervisorUser", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row mb-3">
                        <label for="UserId"
                               class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.UserId,
                           new SelectList(@Model.SupervisorUserNotMemberList, "Id", "UserName"),
                           "Please select user", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="AreaCode"
                               class="col-sm-2 col-form-label">Area Code</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.AreaCode, new SelectList(@Model.AreaList, "AreaCode", "AreaCode"), "Please select area",
                           new { @class = "form-control col-sm-10" })
                            @Html.ValidationMessageFor(m => m.AreaCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit"
                                    class="btn btn-primary btn-sm"
                                    id="SubmitButton">
                                + Add
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="table-responsive mt-4">
    <table id="SupervisorUserDataTable"
           class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th></th>
                <th>
                    Username
                </th>
                <th>
                    Area Code
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SupervisorList)
            {
                <tr>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary"
                           id="deleteButton"
                           href="@Url.Action("Delete", "SupervisorUser",
                                new { areaCode = item.AreaCode, userId = item.UserId })">
                            <span class="material-icons">delete</span>
                        </a>
                    </td>
                    <td>
                        @item.AspNetUser.UserName
                    </td>
                    <td>
                        @item.AreaCode
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
