﻿@model BUWebApp.Areas.ExtensionAgent.Models.vm_FarmLand
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ExtensionAgent/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#Province").change(function () {
            bindingDistrict();
            bindingSubDistrict();
        });

        $("#District").change(function () {
            bindingSubDistrict();
        });

        $("#SubmitButton").click(function () {
            if (formValidation() == false) {
                event.preventDefault();
            }
        });
    });

    function bindingDistrict() {
        var provinceCode = $("#Province").val();
        var resourceUrl = '@Url.Action("GetDistrictWithValue", "ThailandGEOs", new { Area = "" })?provinceCode=' + provinceCode;
        $("#District").empty();
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                $("#District").append('<option value="0">โปรดเลือกอำเภอ</option>');
                $.each(info, function (i, info) {
                    $("#District").append('<option value="' + info.Value + '">' +
                         info.Text + '</option>');
                });
            }
        });
    }

    function bindingSubDistrict() {
        var districtCode = $("#District").val();
        var resourceUrl = '@Url.Action("GetSubDistrictWithValue", "ThailandGEOs", new { Area = "" })?districtCode=' + districtCode;
        $("#SubDistrictCode").empty();
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                $("#SubDistrictCode").append('<option value="0">โปรดเลือกตำบล</option>');
                $.each(info, function (i, info) {
                    $("#SubDistrictCode").append('<option value="' + info.Value + '">' +
                         info.Text + '</option>');
                });
            }
        });
    }

    function formValidation() {
        if ($("#FieldNo").val() == "") {
            alert("โปรดระบุหมายเลข");
            $("#FieldNo").focus();
            return false;
        }
        if ($("#FieldNo").val() < 1) {
            alert("หมายเลขแปลงไม่ควรเป็น 0 หรือน้อยว่านี้");
            $("#FieldNo").focus();
            return false;
        }
        if ($("#LandSize").val() == "") {
            alert("โปรดระบุขนาดที่ดิน");
            $("#LandSize").focus();
            return false;
        }
        if ($("#LandSize").val() < 1) {
            alert("ขนาดที่ดินควรมีค่ามากกว่า 0");
            $("#LandSize").focus();
            return false;
        }
        if ($("#Province").val() == "") {
            alert("โปรดเลือกจังหวัด");
            $("#Province").focus();
            return false;
        }
        if ($("#District").val() == "") {
            alert("โปรดเลือกอำเภอ");
            $("#District").focus();
            return false;
        }
        if ($("#SubDistrict").val() == "") {
            alert("โปรดเลือกตำบล");
            $("#SubDistrict").focus();
            return false;
        }
        return true;
    }
</script>

@using (Html.BeginForm("Create", "FarmLand"))
{
    <div class="row">
        <div class="col-12">
            <h4>ข้อมูลที่ดินเพื่อทำการเกษตร / Manage Farm Land</h4>
            <hr />
            @Html.AntiForgeryToken()
            <input name="CitizenID" type="hidden" value="@Model.CitizenID" />
            <div class="card">
                <div class="card-header">
                    @Model.Farmer.FarmerCode @Model.Farmer.Person.Prefix@Model.Farmer.Person.FirstName   @Model.Farmer.Person.LastName
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                แปลงที่ :<span style="color:red;">*</span>
                                @Html.TextBoxFor(model => model.FieldNo, new
                           {
                               @class = "form-control",
                               type = "number",
                               @min = "1",
                               @placeholder = "Land Size",
                               @step = "0"
                           })
                                @Html.ValidationMessageFor(model => model.FieldNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                ขนาดที่ดิน (ไร่) :<span style="color:red;">*</span>
                                @Html.TextBoxFor(model => model.LandSize, new
                           {
                               @class = "form-control",
                               type = "number",
                               @min = "1",
                               @placeholder = "Land Size",
                               @step = "0.1"
                           })
                                @Html.ValidationMessageFor(model => model.LandSize, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.Label("จังหวัด:")<span style="color:red;">*</span>
                                @Html.DropDownList("Province", ViewData["province"] as List<SelectListItem>, "เลือกจังหวัด", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.Label("อำเภอ:")<span style="color:red;">*</span>
                                @Html.DropDownList("District", new SelectList(string.Empty, "Value", "Text"), "เลือกอำเภอ", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.Label("ตำบล:")<span style="color:red;">*</span>
                                @Html.DropDownList("SubDistrictCode", new SelectList(string.Empty, "Value", "Text"), "เลือกตำบล", new { @class = "form-control" })                                
                                @Html.ValidationMessageFor(model => model.SubDistrictCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="checkbox" value="true" name="OwnerShip">
                            @Html.Label("เป็นเจ้าของ:")
                            @Html.ValidationMessageFor(model => model.OwnerShip, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="true" name="UseForGrowingTobacco">
                            @Html.Label("จะใช้ปลูกยาสูบ:")
                            @Html.ValidationMessageFor(model => model.UseForGrowingTobacco, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <button type="submit" id="SubmitButton" name="SubmitButton" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                <button type="reset" class="btn btn-secondary"><i class="fa fa-refresh"></i> Reset</button>
                <a class="btn btn-outline-secondary"
                   href="@Url.Action("Index", "PreRegistrationForm",
                            new { id = @Model.Farmer.CitizenID })">Back</a>
            </div>
        </div>
    </div>
</div>
}

<div class="row">
    <div class="col-sm-12" style="margin-top:20px;">
        <table class="table table-hover table-striped">
            <tr class="table-info">
                <th>แปลงที่</th>
                <th>ขนาดพื้นที่</th>
                <th>ตำบล</th>
                <th>อำเภอ</th>
                <th>จังหวัด</th>
                <th>ความเป็นเจ้าของ</th>
                <th>จะใช้ปลูกยาสูบ</th>
                <th></th>
            </tr>
            @{
                int rowNumber = 1;
            }
            @foreach (var item in Model.FarmLandList.OrderBy(x => x.FieldNo))
            {
                <tr>
                    <td>@item.FieldNo</td>
                    <td>@item.LandSize</td>
                    <td>@item.SubDistrict.SubDistrictNameThai</td>
                    <td>@item.SubDistrict.District.DistrictNameThai</td>
                    <td>@item.SubDistrict.District.Province.ProvinceNameThai</td>
                    <td>@Html.CheckBox("OwnerShip", item.OwnerShip)</td>
                    <td>@Html.CheckBox("UseForGrowingTobacco", item.UseForGrowingTobacco)</td>
                    <td>
                        <a class="btn btn-danger" title="Delete" href="@Url.Action("Delete", new { id = item.FarmLandInfoID, citizenID = item.CitizenID })"><i class="fa fa-remove"></i> Delete</a>
                    </td>
                </tr>

                rowNumber++;
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
