﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AccountReceivable/Views/Shared/_Layout.cshtml";
}

<h2>Account Receivable Home</h2>
<h6>โปรดเลือกเมนูที่ท่านต้องการใช้งานได้จากด้านล่าง</h6>
<hr />

<style>
    a {
        color: #000000;
        text-decoration: none;
    }
</style>
<div class="row">
    <div class="card-group">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("DebtSetupSummary", "DebtSetup")">
                    <img src="~/Images/icons8-irrigation-96.png" />
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("DebtSetupSummary", "DebtSetup")">
                    ตั้งหนี้ค่าปัจจัยการผลิต/โครงการน้ำหยด
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("LoanSetup", "DebtSetup", new { crop = 0,farmerCode = "" })">
                    <img src="~/Images/icons8-receipt-dollar-96.png" />
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("LoanSetup", "DebtSetup", new { crop = 0,farmerCode = "" })">
                    ตั้งหนี้เงินกู้ลงทุนเพาะปลูก
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("SearchFarmer", "DebtReceipt")">
                    <img src="~/Images/icons8-get-cash-96.png" />
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("SearchFarmer", "DebtReceipt")">
                    Receipts (รับชำระหนี้)
                </a>
            </div>
        </div>
    </div>
</div>

