﻿
@{
    ViewBag.Title = "Index";
}

<h2>Supervisor Home</h2>
<h6 class="mb-3">โปรดเลือกเมนูที่ท่านต้องการใช้งานได้จากด้านล่าง</h6>

<div class="card-group mb-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    note_alt
                </span>
                Registration
            </h5>
            <p class="card-text">
                บันทึกข้อมูลการลงทะเบียนและทำสัญญาเพาะปลูกประจำฤดูปลูก ยกเลิกสัญญา เพิ่ม/ลดไร่ปลูกในสัญญา
            </p>
            <a href="@Url.Action("CheckProfile", "Registration", null)" class="btn btn-secondary">Click here</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    shopping_cart
                </span>
                Crop inpusts
            </h5>
            <p class="card-text">
                บันทึกข้อมูลการข่ายปัจจัยการผลิต พิมพ์ใบส่งของ ออกใบเสร็จ
            </p>
            <a href="@Url.Action("SearchFarmer", "Invoice", null)" class="btn btn-secondary">Click here</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    sentiment_very_satisfied
                </span>
                Credit Note
            </h5>
            <p class="card-text">
                บันทึกข้อมูลการออกใบลดหนี้และการพิมพ์ใบลดหนี้ให้กับชาวไร่
            </p>
            <a href="@Url.Action("SearchFarmer", "CreditNote", null)" class="btn btn-secondary">Click here</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    safety_divider
                </span>
                Farmer project
            </h5>
            <p class="card-text">
                แบ่งไร่ออกเป็นโปรเจคต่างๆ และเปิดโควต้าส่วนเกิน
            </p>
            <a href="@Url.Action("Index", "FarmerProject", null)" class="btn btn-secondary">Click here</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    recycling
                </span>
                CPA Container Return
            </h5>
            <p class="card-text">
                คืนขยะบรรจุภัณฑ์สารเคมีเพื่อรับโบนัส
            </p>
            <a href="@Url.Action("Index", "CPAContainerReturn", null)" class="btn btn-secondary">Click here</a>
        </div>
    </div>
</div>


<!--<div class="row">
    <div class="card-group">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("CheckProfile", "Registration", null)">
                    <img src="~/Images/icons8-signing-a-document-96.png">
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("CheckProfile", "Registration", null)">-->
@*<div class="spinner-grow text-danger spinner-grow-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>*@
<!--Sign Contract CY 2024
        </a>
    </div>
</div>
<div class="card">
    <div class="card-body text-center">
        <a href="@Url.Action("SearchFarmer", "Invoice", null)">
            <img src="~/Images/icons8-fertilizer-96.png">
        </a>
    </div>
    <div class="card-footer text-center">
        <a href="@Url.Action("SearchFarmer", "Invoice", null)">
            Crop Inputs CY 2024
        </a>
    </div>
</div>-->
@*<div class="card">
        <div class="card-body text-center">
            <a href="@Url.Action("Index", "FarmerProject", null)">
                <img src="~/Images/icons8-group-task-80.png">
            </a>
        </div>
        <div class="card-footer text-center">
            <a href="@Url.Action("Index", "FarmerProject", null)">
                Farmer Project
            </a>
        </div>
    </div>*@
@*<div class="card">
        <div class="card-body text-center">
            <a href="@Url.Action("Index", "CPAContainerReturn", null)">
                <img src="~/Images/icons8-danger-96.png">
            </a>
        </div>
        <div class="card-footer text-center">
            <a href="@Url.Action("Index", "CPAContainerReturn", null)">
                CPA Container Return
            </a>
        </div>
    </div>*@
<!--<div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("SearchFarmer", "CreditNote", null)">
                    <img src="~/Images/icons8-get-cash-96.png">
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("SearchFarmer", "CreditNote", null)">
                    Credit Note
                </a>
            </div>
        </div>
    </div>
</div>-->
