﻿@model BUWebApp.Areas.Supervisor.Models.vm_CreditNote

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var invoice = (DomainModel.Invoice)ViewBag.Invoice;
    var accountInvoice = (DomainModel.AccountInvoice)ViewBag.AccountInvoice;
    var creditNoteList = (List<DomainModel.AccountCreditNote>)ViewBag.CreditNoteList;
    var invoiceDetailList = (List<BusinessLayer.Model.m_InvoiceDetails>)ViewBag.InvoiceDetailList;
    var person = Model.Farmer.Person;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#invoiceDetailsTable").DataTable({
            "order": [[0, "asc"]]
        });

        $("#creditNoteTable").DataTable({
            "order": [[0, "asc"]]
        });

        $("#confirmSubmitButton").click(function (e) {
            if (confirm("ท่านต้องการออกใบลดหนี้ให้กับชาวไร่รายนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }

            if ($("#CreateDate").val() == null || $("#CreateDate").val() == "") {
                alert("โปรดระบุวันที่สร้างเอกสารใบลดหนี้");
                $("#CreateDate").focus();
                e.preventDefault();
                return false;
            }

            if ($("#Description").val() == null || $("#Description").val() == "") {
                alert("โปรดระบุหมายเหตุของการทำใบลดหนี้");
                $("#Description").focus();
                e.preventDefault();
                return false;
            }

            if ($("#IsPayForCash").is(":checked") == true) {
                if (confirm("ใบลดหนี้ที่สร้างนี้ จะเป็นใบลดหนี้แบบชำระเป็นเงินสด คลิก OK เพื่อยืนยัน หรือคลิก Cancel หากไม่แน่ใจและย้อนกลับไปตรวจสอบอีกครั้ง?") == false) {
                    e.preventDefault();
                    return false;
                }
            }
        });
    });
</script>

<h3>Account Credit Note</h3>
<h6>การออกใบลดหนี้</h6>
<hr />

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">รหัสเอกสาร</dt>
            <dd class="col-sm-9">@accountInvoice.InvoiceNo</dd>

            <dt class="col-sm-3">รหัสชาวไร่</dt>
            <dd class="col-sm-9"> @invoice.FarmerCode</dd>

            <dt class="col-sm-3">ชื่อ-สกุล</dt>
            <dd class="col-sm-9">
                @person.Prefix@person.FirstName  @person.LastName
            </dd>

            <dt class="col-sm-3">ยอดรวม</dt>
            <dd class="col-sm-9">
                <span>@invoiceDetailList.Sum(x => x.UnitPrice * x.Quantity).ToString("N0") บาท</span>
            </dd>

            <dt class="col-sm-3">สถานะการพิมพ์</dt>
            <dd class="col-sm-9">
                @if (accountInvoice.IsPrinted)
                {
                    <span style="color:green;">พิมพ์เอกสารออกจากระบบแล้ว</span>
                }
                else
                {
                    <span style="color:red;">**ยังไม่ได้พิมพ์เอกสารออกจากระบบ</span>
                }
            </dd>

            <dt class="col-sm-3">วันที่พิมพ์เอกสาร</dt>
            <dd class="col-sm-9">
                <span>@accountInvoice.PrintDate</span>
            </dd>
        </dl>
        <div class="btn-group">
            <button class="btn btn-primary btn-sm ml-1"
                    data-bs-toggle="modal"
                    data-bs-target="#detailModal">
                <span class="material-icons">
                    list
                </span> ดูรายการปัจจัยฯ
            </button>
            <button class="btn btn-success btn-sm ml-1"
                    data-bs-toggle="modal" data-bs-target="#createModal">
                <span class="material-icons">
                    receipt_long
                </span> ออกใบลดหนี้
            </button>
            <a class="btn btn-secondary btn-sm ml-1"
               href="@Url.Action("SearchFarmer", "CreditNote", new { farmerName = person.FirstName })">
                <span class="material-icons">
                    arrow_left
                </span> ย้อนกลับ
            </a>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">รหัสเอกสาร : @accountInvoice.InvoiceNo</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="small text-danger">ออกให้เมื่อวันที่ @accountInvoice.PrintDate</i>
                <div class="table-responsive mt-2">
                    <table id="invoiceDetailsTable" class="table table-sm">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Unit</th>
                                <th>Qty</th>
                                <th>Unit Price</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in invoiceDetailList)
                            {
                                var price = (item.UnitPrice * item.Quantity).ToString("N2");
                                <tr>
                                    <td>
                                        @item.ItemName
                                    </td>
                                    <td>
                                        @item.Unit
                                    </td>
                                    <td>
                                        @item.Quantity.ToString("N0")
                                    </td>
                                    <td>
                                        @item.UnitPrice.ToString("N2")
                                    </td>
                                    <td>
                                        @price
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                ยอดรวม : @invoiceDetailList.Sum(x => x.UnitPrice * x.Quantity).ToString("N2") บาท
            </div>
        </div>
    </div>
</div>

@if (creditNoteList.Count() <= 0)
{
    <div>
        <div class="alert alert-danger text-center mt-4">
            ใบส่งปัจจัยการผลิตนี้ ยังไม่มีการบันทึกข้อมูลใบลดหนี้ในระบบ
        </div>
    </div>
}
else
{
    <div class="table-responsive mt-4">
        <table id="creditNoteTable" class="table table-hover table-sm">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        เลขที่
                    </th>
                    <th>
                        สถานะ
                    </th>
                    <th>
                        ประเภท
                    </th>
                    <th>
                        หมายเหตุ
                    </th>
                    <th>
                        วันที่เอกสาร
                    </th>
                    <th>
                        รวมมูลค่า
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in creditNoteList.OrderByDescending(x => x.CreateDate))
                {
                    var type = item.IsPayForCash == true ? "เงินสด" : "ส่งคืนปัจจัยฯ";
                    var printOut = item.IsPrinted == true ? "พิมพ์เอกสารแล้ว" : "รอพิมพ์เอกสาร";
                    var totalPrice = item.AccountCreditNoteDetails.Sum(x => x.UnitPrice * x.Quantity).ToString("N2");
                    <tr>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-outline-secondary btn-sm"
                                   title="ดูรายละเอียด"
                                   href="@Url.Action("Detail", "CreditNoteDetail", 
                                        new { creditNoteCode = item.CreditNoteCode, 
                                            accountInvoiceNo = accountInvoice.InvoiceNo })">
                                    <span class="material-icons">
                                        list
                                    </span>
                                </a>
                                @if (item.IsPrinted == false)
                                {
                                    <a class="btn btn-outline-secondary btn-sm" 
                                       title="ลบเอกสาร"
                                       href="@Url.Action("Delete", "CreditNote", 
                                            new { creditNoteCode = item.CreditNoteCode })">
                                        <span class="material-icons">
                                            delete
                                        </span>
                                    </a>
                                }
                            </div>
                        </td>
                        <td>
                            @item.CreditNoteCode
                        </td>
                        <td>
                            @printOut
                        </td>
                        <td>
                            @type
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.CreateDate.ToShortDateString()
                        </td>
                        <td class="text-right">
                            @totalPrice
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<!-- Modal 1 Create credit note document. -->
@using (Html.BeginForm("Create", "CreditNote", FormMethod.Post, new { @class = "g-3" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="AccountInvoiceNo" value="@accountInvoice.InvoiceNo" />
    <input type="hidden" name="IsPayForCash" value="false" />
    <div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">สร้างใบลดหนี้</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-12 mt-3">
                        <figure>
                            <blockquote class="blockquote text-danger">
                                การออกใบลดหนี้จะทำเฉพาะในกรณีนำของมาคืนเท่านั้น ไม่สามารถลดหนี้เป็นเงินสดได้
                            </blockquote>
                            <figcaption class="blockquote-footer mt-2">
                                โปรดตรวจสอบวันที่ที่ท่านระบุให้ถูกต้อง เนื่องจากวันที่ที่ท่านระบุจะถูกนำไปใช้ในการสร้างรหัสให้กับใบลดหนี้ ระบบไม่สามารถแก้ไขข้อมูลรหัสใบลดหนี้ได้
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-12 mt-3">
                        <label class="form-label">วันที่ออกใบลดหนี้</label>
                        <input type="date" name="createDate" id="CreateDate" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        @Html.ValidationMessageFor(model => model.CreateDate)
                    </div>
                    <div class="col-12 mt-3">
                        <label class="form-label">หมายเหตุ / รายละเอียด</label>
                        @Html.DropDownListFor(model => model.Description,
                       new List<SelectListItem>
                       {
                           new SelectListItem { Text ="รับคืนชุดป้องกันสารเคมี", Value = "รับคืนชุดป้องกันสารเคมี"},
                           new SelectListItem { Text ="รับคืนปัจจัยการผลิต", Value = "รับคืนปัจจัยการผลิต"}
                       }, new { @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" id="confirmSubmitButton">ออกใบลดหนี้</button>
                </div>
            </div>
        </div>
    </div>
}
