﻿
@{
    ViewBag.Title = "SearchFarmer";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var farmerName = ViewBag.FarmerName;
    var farmerAccountInvoices = (List<BUWebApp.Areas.Supervisor.Models.m_FarmerAccountInvoice>)ViewBag.FarmerAccountInvoices;
}
<script type="text/javascript">
    $(document).ready(function (e) {
        var debtSetupTable = $("#farmerAcccountInvoicesTable").DataTable({
            "order": [[3, "asc"]]
        });
    });
</script>

<h4>Search Farmer</h4>
<h6>ค้นหาชาวไร่ที่ได้รับปัจจัยการผลิตไปแล้ว</h6>

<div class="card border-secondary">
    <div class="card-header bg-secondary text-white">ค้นหาชาวไร่</div>
    <div class="card-body border-secondary">
        @using (Html.BeginForm("SearchFarmer", "CreditNote", FormMethod.Get))
        {
            <div class="row mb-3">
                <label for="creditNoteCode"
                       class="col-sm-2 col-form-label">ชื่อชาวไร่</label>
                <div class="col-sm-10">
                    <input class="form-control"
                           type="text"
                           required
                           value="@farmerName"
                           name="farmerName"
                           id="farmerName"
                           placeholder="ชื่อชาวไร่ (Farmer Name)" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button class="btn btn-primary" type="submit">
                        <span class="material-icons">
                            search
                        </span>
                        ค้นหาชาวไร่
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<div class="row mt-4">
    @if (farmerAccountInvoices.Count() <= 0)
    {
        <div>
            <div class="alert alert-danger">ไม่พบข้อมูลชาวการออกใบส่งของ/ใบเสร็จของไร่รายนี้ โปรดลองทำการค้นหาใหม่อีกครั้ง</div>
        </div>
    }
    else
    {
        <i class="text-danger" style="font-size:small;">* โปรดเลือกใบเสร็จ/ใบส่งของที่ต้องการออกใบลดหนี้ ชาวไร่ 1 รายอาจมีใบเสร็จ/ใบส่งของมากกว่า 1 รายการ</i>
        <div class="table-responsive mt-3">
            <table class="table table-sm table-hover" id="farmerAcccountInvoicesTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Citizen ID
                        </th>
                        <th>Prefix</th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in farmerAccountInvoices)
                    {
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="material-icons">
                                            list
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu bg-secondary" aria-labelledby="dropdownMenuButton1">
                                        @foreach (var accountInvoiceNo in item.AccountInvoiceNoList)
                                        {
                                            <li>
                                                <a class="dropdown-item text-white"
                                                   target="_blank"
                                                   href="@Url.Action("Index","CreditNote",new { accountInvoiceNo = accountInvoiceNo})">
                                                    <span class="material-icons">
                                                        edit
                                                    </span> @accountInvoiceNo
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </td>
                            <td>
                                @{
                                    var citizenIDPrivate = BUWebApp.Helper
                                        .PersonelDataProtectionHelper
                                        .CitizenIDProtection(item.CitizenID);
                                }
                                @citizenIDPrivate
                            </td>
                            <td>
                                @item.Prefix
                            </td>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.LastName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>