﻿@model List<DomainModel.DebtSetup>

@{
    ViewBag.Title = "DebtSetupDetails";
    Layout = "~/Areas/AccountReceivable/Views/Shared/_Layout.cshtml";
    var farmer = (DomainModel.Farmer)ViewBag.Farmer;
    var person = farmer.Person;
    var totalDebt = (Model.Sum(x => x.Amount) - Model.Sum(x => x.DebtReceipts.Sum(y => y.Amount)));
}
<script type="text/javascript">
    $(document).ready(function (e) {
        var debtSetupTable = $("#debtSetupTable").DataTable({
            "order": [[1, "desc"], [2, "desc"]]
        });

        $(document).on("click", "#receiptOption1", function (e) {
            var debtBalance = $("#debtBalance").val();
            $('#receiptAmount').val(debtBalance);
            $('#receiptAmount').prop('readonly', true);
        });

        $(document).on("click", "#receiptOption2", function (e) {
            $('#receiptAmount').prop('readonly', false);
            $('#receiptAmount').select();
        });

        $(document).on("keyup", "#receiptAmount", function () {
            let num = $(this).val();
            let result = num.toLocaleString("en-US", { style: "currency", currency: "USD" });
        });

        $(document).on("click", "table tbody tr a", function (e) {
            var data = $(e.currentTarget);
            var debtSetupCode = data.attr("data-bs-debtSetupCode");
            var balanceAmount = data.attr("data-bs-balanceAmount");

            $("#receiptOption1").attr('checked', false);
            $("#receiptOption2").attr('checked', false);
            $("#debtSetupCode").val(debtSetupCode);
            $("#debtSetupCodeLable").text(debtSetupCode);
            $("#debtBalance").val(balanceAmount);
            $("#receiptAmount").attr("max", balanceAmount);
        });

        $(document).on('submit', '#receiptForm', function (e) {
            var receiptAmount = $("#receiptAmount").val();
            var debtBalance = $("#debtBalance").val();
            console.log(receiptAmount);
            console.log(debtBalance);

            if (receiptAmount > debtBalance) {
                alert("ยอดเงินที่ท่านต้องการชำระเกินกว่ายอดหนี้คงเหลือ โปรดตรวจสอบข้อมูลอีกครั้งก่อนบันทึก");
                e.preventDefault();
                returnl;
            }

            //if (receiptAmount <= 0) {
            //    alert("ยอดเงินที่ท่านต้องการชำระจะต้องมากกว่า 0 ขึ้นไป โปรดตรวจสอบข้อมูลอีกครั้งก่อนบันทึก");
            //    e.preventDefault();
            //    return;
            //}

            if (confirm("ท่านยืนยันที่จะหักชำระหนี้จำนวน " + receiptAmount + " บาทนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });
    });
</script>

<h4>DebtSetup Details</h4>
<h6>ข้อมูลการตั้งหนี้ในระบบทั้งหมด</h6>
<hr />


@using (Html.BeginForm("Add", "DebtReceipt", FormMethod.Post, new { id = "receiptForm", name = "receiptForm" }))
{
    @Html.AntiForgeryToken()
    <div class="modal" tabindex="-1" id="addRecieptModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><label name="debtSetupCodeLable" id="debtSetupCodeLable" /></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="debtSetupCode" name="debtSetupCode" />
                    <input type="hidden" id="farmerCode" name="farmerCode" value="@farmer.FarmerCode" />
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="receiptOption" id="receiptOption1">
                        <label class="form-check-label" for="receiptOption">
                            หักชำระทั้งหมด
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="receiptOption" id="receiptOption2">
                        <label class="form-check-label" for="receiptOption2">
                            หักชำระแบบระบุจำนวน
                        </label>
                    </div>
                    <div class="mt-2">
                        <label class="form-label">
                            ยอดหนี้คงเหลือ
                        </label>
                        <input type="number" step="0.01" class="form form-control border-success bg-light" id="debtBalance" name="debtBalance" placeholder="ยอดหนี้คงเหลือ" readonly />
                    </div>
                    <div class="mt-2">
                        <label class="form-label">
                            ยอดที่ต้องการชำระ
                        </label>
                        <input type="number" step="0.01" class="form form-control border-danger" id="receiptAmount" name="receiptAmount" placeholder="ยอดที่ต้องการชำระ" readonly required min="1" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">บันทึกข้อมูล</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-sm">
                    <tr>
                        <td>รหัสชาวไร่</td>
                        <td>@farmer.FarmerCode</td>
                    </tr>
                    <tr>
                        <td>ชื่อ-นามสกุล</td>
                        <td>@person.FirstName @person.LastName</td>
                    </tr>
                    <tr>
                        <td>ตัวแทน</td>
                        <td>@farmer.Supplier</td>
                    </tr>
                    <tr>
                        <td>สมัครสมาชิกเมื่อ</td>
                        <td>@farmer.RegistrationDate.ToShortDateString()</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-success text-white">ยอดหนี้ที่ค้างในระบบ (บาท)</div>
            <div class="card-body">
                @if (totalDebt > 0)
                {
                    <h2 class="text-danger text-center">
                        @totalDebt.ToString("N2")
                    </h2>
                }
                else
                {
                    <h2 class="text-success text-center">
                        @totalDebt.ToString("N2")
                    </h2>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.Count() <= 0)
{
    <div class="mt-2">
        <div class="alert alert-danger">ไม่พบข้อมูลการตั้งหนี้ของชาวไร่รายนี้ โปรดตรวจสอบข้อมูลอีกครั้ง</div>
    </div>
}
else
{
    <div class="card mt-2">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-hover" id="debtSetupTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                รหัสเอกสาร
                            </th>
                            <th>
                                ประเภทหนี้
                            </th>
                            <th>
                                ปีที่หักชำระ
                            </th>
                            <th>
                                ยอดรวม
                            </th>
                            <th>
                                หักชำระแล้ว
                            </th>
                            <th>
                                คงค้าง
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(x => x.DebtSetupCode))
                        {
                            var balance = item.Amount - item.DebtReceipts.Sum(x => x.Amount);
                            var disabled = balance <= 0 ? "disabled" : "";
                            var detailsModalID = "Details" + item.DebtSetupCode;
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary"
                                           href="#"
                                           data-bs-toggle="modal"
                                           data-bs-target="#@detailsModalID"
                                           title="คลิกเพื่อดูประวัติการหักชำระหนี้">
                                            <i class="fas fa-search"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-secondary @disabled"
                                           data-bs-toggle="modal"
                                           data-bs-debtSetupCode="@item.DebtSetupCode"
                                           data-bs-balanceAmount="@balance"
                                           data-bs-target="#addRecieptModal"
                                           title="คลิกเพื่อหักชำระหนี้">
                                            <i class="fas fa-calculator"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    @item.DebtSetupCode
                                </td>
                                <td>
                                    (@item.DebtTypeCode) @item.DebtType.DebtTypeName
                                </td>
                                <td>
                                    @item.DeductionCrop
                                </td>
                                <td>
                                    @item.Amount.ToString("N2")
                                <td>
                                    @item.DebtReceipts.Sum(x => x.Amount).ToString("N2")
                                </td>
                                <td>
                                    @balance.ToString("N2")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@foreach (var item in Model.OrderBy(x => x.DebtSetupCode))
{
    var receiptDetails = "Details" + item.DebtSetupCode;
    <div class="modal fade" id="@receiptDetails" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">@item.DebtSetupCode</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @if (item.DebtReceipts.Count() <= 0)
                    {
                        <h6 class="text-danger"><b>*ยังไม่มีการหักชำระ</b></h6>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var details in item.DebtReceipts
                                .Where(x => x.DebtSetupCode == item.DebtSetupCode)
                                .OrderByDescending(x => x.ReceiptDate))
                                    {
                                        <tr>
                                            <td>
                                                @if (!(DateTime.Now.Date > details.ReceiptDate.Date) || details.ReceiptTypeCode != "RB")
                                                {
                                                    <a class="btn btn-sm btn-outline-secondary"
                                                       title="Delete debt receipt"
                                                       href="@Url.Action("Delete", 
                                                            new { receiptCode = details.ReceiptCode, farmerCode = farmer.FarmerCode })" disabled>
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                }
                                            </td>
                                            <td>@details.ReceiptCode</td>
                                            <td>@details.ReceiptTypeCode</td>
                                            <td>@details.ReceiptDate</td>
                                            <td>@details.Amount.ToString("N2")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>}
                </div>
                <div class="modal-footer">
                    <h6>รวมทั้งสิ้น @item.DebtReceipts.Sum(x => x.Amount).ToString("N2") บาท</h6>
                </div>
            </div>
        </div>
    </div>
}