﻿
@{
    ViewBag.Title = "SearchFarmer";
    Layout = "~/Areas/AccountReceivable/Views/Shared/_Layout.cshtml";
    var farmerName = ViewBag.FarmerName;
    var extensionAgentCode = ViewBag.ExtentionAgentCode;
    var farmers = (List<DomainModel.Farmer>)ViewBag.Farmers;
}
<script type="text/javascript">
    $(document).ready(function (e) {
        var debtSetupTable = $("#farmerTable").DataTable({
            "order": [[1, "desc"], [2, "desc"]]
        });
    });
</script>

<h4>Debt Receipt</h4>
<h6>ชำระหนี้</h6>
<hr />
<div class="card border-secondary">
    <div class="card-header bg-secondary text-white">ค้นหาชาวไร่ที่ต้องการชำระหนี้</div>
    <div class="card-body">
        @using (Html.BeginForm("SearchFarmer", "DebtReceipt", FormMethod.Get))
        {
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="extensionAgentCode">ตัวแทน</label>
                <div class="col-sm-10">
                    @Html.DropDownList("extensionAgentCode",
                   new SelectList(ViewBag.ExtensionAgenCodeList, "SupplierCode", "SupplierCode"),
                   "โปรดเลือกตัวแทน", new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="farmerName">ชื่อชาวไร่</label>
                <div class="col-sm-10">
                    <input class="form form-control"
                           type="text"
                           required
                           value="@farmerName"
                           name="farmerName"
                           id="farmerName"
                           placeholder="ชื่อชาวไร่ (Farmer Name)" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button class="btn btn-primary bg-gradient"
                            type="submit">
                        <i class="fas fa-search"></i> ค้นหาชาวไร่
                    </button>
                </div>
            </div>

        }
    </div>
</div>


@if (farmers.Count() <= 0)
{
    <div class="mt-4">
        <div class="alert alert-danger">
            ไม่พบข้อมูลชาวไร่รายนี้ที่ลงทะเบียนกับตัวแทน @extensionAgentCode โปรดลองทำการค้นหาใหม่อีกครั้ง
        </div>
    </div>
}
else
{
    <div class="card mt-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-hover" id="farmerTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                รหัสชาวไร่
                            </th>
                            <th>
                                ชื่อ
                            </th>
                            <th>
                                สกุล
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in farmers)
                        {
                            <tr>
                                <td>
                                    <a class="btn btn-sm btn-outline-secondary"
                                       id="detailsButton"
                                       title="Setup debt for deduction"
                                       target="_blank"
                                       href="@Url.Action("DebtSetupDetails",
                                            new { @farmerCode = item.FarmerCode })">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </td>
                                <td>
                                    @item.FarmerCode
                                </td>
                                <td>
                                    @item.Person.FirstName
                                </td>
                                <td>
                                    @item.Person.LastName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}