﻿
@{
    ViewBag.Title = "Details2";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var accountInvoice = (DomainModel.AccountInvoice)ViewBag.AccountInvoice;
    var invoice = (DomainModel.Invoice)accountInvoice.Invoice;
    var invoiceDetailList = (List<BusinessLayer.Model.m_InvoiceDetails>)ViewBag.InvoiceDetailList;
    var farmer = (DomainModel.Farmer)ViewBag.Farmer;
}
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#invoiceDetailsTable").DataTable({
            "order": [[0, "asc"]]
        });
    });
</script>
<h2>Account Invoice Details</h2>
<h6>รายละเอียดข้อมูลการจ่ายปัจจัยการผลิต</h6>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Account Invoice No.</dt>
            <dd class="col-sm-9">@accountInvoice.InvoiceNo</dd>

            <dt class="col-sm-3">Farmer Code</dt>
            <dd class="col-sm-9"> @accountInvoice.Invoice.FarmerCode</dd>

            <dt class="col-sm-3">Farmer Name</dt>
            <dd class="col-sm-9">
                @{
                    var person = farmer.Person;
                    var name = person.Prefix + person.FirstName + " " + person.LastName;
                }
                <span>@name</span>
            </dd>

            <dt class="col-sm-3">Document Type</dt>
            <dd class="col-sm-9">
                @{
                    var isIncludeVat = invoice.IsIncludeVAT == true ? "+ VAT" : "- VAT";
                }
                <span>@isIncludeVat</span>
                <input type="hidden" id="isIncludeVat" value="@isIncludeVat" />
            </dd>

            <dt class="col-sm-3">Debt Type</dt>
            <dd class="col-sm-9">
                @if (invoice.DebtTypeCode != null)
                {
                    <span>@invoice.DebtType.DebtTypeName</span>
                }
                else
                {
                    <span>N/A</span>
                }
            </dd>

            <dt class="col-sm-3">Status</dt>
            <dt class="col-sm-9">
                <span>
                    @if (accountInvoice.IsPrinted == true)
                    {
                        <span class="text-success">พิมพ์เอกสารแล้ว</span>
                    }
                    else
                    {
                        <span class="text-danger">รอพิมพ์เอกสาร</span>
                    }
                </span>
            </dt>
            <dt class="col-sm-3">Total Amount</dt>
            <dd class="col-sm-9">
                <span>@invoiceDetailList.Sum(x => x.Quantity * x.UnitPrice).ToString("N2")</span>
            </dd>
        </dl>
        <div class="btn-group">
            <a class="btn btn-sm btn-secondary"
               href="@Url.Action("Index","InvoiceDetails",new { invoiceNo = invoice.InvoiceNo})">
                <span class="material-icons">
                    arrow_left
                </span>
                ย้อนกลับ
            </a>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="invoiceDetailsTable" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>รายละเอียด</th>
                        <th>จำนวน</th>
                        <th>ราคาต่อหน่วย</th>
                        <th>ราคา</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in invoiceDetailList.OrderBy(x => x.Category).ThenBy(x => x.ItemName))
                    {
                        var price = (item.UnitPrice * item.Quantity).ToString("N2");
                        <tr>
                            <td>
                                @item.ItemName
                            </td>
                            <td>
                                @item.Quantity.ToString("N0")
                            </td>
                            <td>
                                @item.UnitPrice.ToString("N2")
                            </td>
                            <td>
                                @price
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>