﻿@model IEnumerable<DomainModel.AccountInvoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";

    var backSelector = Model.FirstOrDefault().InvoiceNo.Substring(2, 1) == "V" ? "InvoiceIncludeVatDetails" : "InvoiceExcludeVatDetails";
    var farmer = ViewBag.Farmer;
}

<h3>Crop Inputs Distribution Invoice (PON, PIN, POV, PIV)</h3>
<h6>บันทึกการรับปัจจัยการผลิต/ใบกำกับภาษี/ใบเสร็จรับเงิน</h6>
<hr />

<div class="row">
    <div class="col-sm-12">
        <h5><b>รายละเอียดทั่วไป</b></h5>
        <table class="table table-sm table-bordered table-hover table-striped">
            <tr>
                <td width="200px">รหัสชาวไร่</td>
                <td>@farmer.FarmerCode</td>
            </tr>
            <tr>
                <td width="200px">ชื่อ- สกุล</td>
                <td>@farmer.Person.Prefix @farmer.Person.FirstName  @farmer.Person.LastName</td>
            </tr>
            <tr>
                <td width="200px">รหัสประจำตัวประชาชน</td>
                <td>@farmer.Person.CitizenID</td>
            </tr>
            <tr>
                <td width="200px">ที่อยู่</td>
                <td>@farmer.Person.HouseNumber หมู่ @farmer.Person.Village ต.@farmer.Person.Tumbon อ.@farmer.Person.Amphur จ.@farmer.Person.Province</td>
            </tr>
            <tr>
                <td width="200px">วัน/เดือน/ปี เกิด</td>
                <td>@farmer.Person.BirthDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td width="200px">หมายเลขโทรศัพท์</td>
                <td>@farmer.Person.TelephoneNumber</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover table-striped">
            <thead class="table-success">
                <tr>
                    <th>
                        Account Invoice No
                    </th>
                    <th>
                        Ref. Invoice No
                    </th>
                    <th>
                        Create Date
                    </th>
                    <th>
                        Total Price
                    </th>
                    <th>
                        Print Status
                    </th>
                    <th>
                        Print Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(x => x.InvoiceNo))
                {
                    var totalPrice = item.InvoiceDetails.Sum(x => x.UnitPrice * x.Quantity).ToString("N2");
                    <tr>
                        <td>
                            @item.InvoiceNo
                        </td>
                        <td>
                            @item.RefInvoiceNo
                        </td>
                        <td>
                            @item.CreateDate.ToShortDateString()
                        </td>
                        <td>
                            @totalPrice
                        </td>
                        <td>
                            @if (item.IsPrinted)
                            {
                                <span style="color:green;">พิมพ์เอกสารออกจากระบบแล้ว</span>
                            }
                            else
                            {
                                <span style="color:red;">**ยังไม่ได้พิมพ์เอกสารออกจากระบบ</span>
                            }
                        </td>
                        <td>
                            @item.PrintDate
                        </td>
                        <td>
                            <a style="padding:5px;" class="btn btn-info btn-sm" title="Details" href="@Url.Action("Details", "AccountInvoice", new { accountInvoiceNo = item.InvoiceNo })"><i class="fa fa-search"></i> Detail</a>
                            <a style="padding:5px;" class="btn btn-success btn-sm" title="Print" href="@Url.Action("Print","AccountInvoice", new { accountInvoiceNo = item.InvoiceNo })" target="_blank"><i class="fa fa-print"></i> Print</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a href="@Url.Action("Index", backSelector, new { invoiceNo = Model.FirstOrDefault().RefInvoiceNo })" cla class="btn btn-outline-secondary">ย้อนกลับ</a>
