﻿@model IEnumerable<DomainModel.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#extensionAgentTable").dataTable();
    });
</script>

<h3>Crop inputs </h3>
<h6>โปรดเลือกตัวแทนที่ท่านต้องการบันทึกข้อมูล</h6>

<hr />
<div class="table-responsive">
    <table class="table table-hover" id="extensionAgentTable">
        <thead>
            <tr>
                <th></th>
                <th>
                    Extension Agent
                </th>
                <th>
                    Area
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.SupplierArea).ThenBy(x => x.SupplierCode))
            {
                <tr>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary"
                           title="Setup items condition"
                           href='@Url.Action("Index", "CropInputsCondition", new { supplierCode = item.SupplierCode })'>
                            <span class="material-icons">
                                list_alt
                            </span>
                        </a>
                        <a class="btn btn-sm btn-outline-secondary"
                           title="Setup package"
                           href='@Url.Action("SupplierPackages", "Package", new { supplierCode = item.SupplierCode })'>
                            <span class="material-icons">
                                playlist_add
                            </span>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierCode)
                    </td>
                    <td>
                        @item.SupplierArea
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>