﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ALP/Views/Shared/_Layout.cshtml";
}

<h2>ALP</h2>
<h6>โปรดเลือกเมนูที่ท่านต้องการใช้งานได้จากด้านล่าง</h6>
<hr />

<style>
    a {
        color: #000000;
        text-decoration: none;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="card-group">
            <div class="card">
                <div class="card-body text-center">
                    <a href="@Url.Action("Index", "IncidentCategory",new { citizenID="" })">
                        <img src="~/Images/icons8-opened-folder-100.png" width="80" height="80">
                    </a>
                </div>
                <div class="card-footer text-center">
                    <a href="@Url.Action("Index", "IncidentCategory",new { citizenID="" })">
                        Category
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <a href="@Url.Action("Index", "IncidentTopic", null)">
                        <img src="~/Images/icons8-topic-100.png" width="80" height="80">
                    </a>
                </div>
                <div class="card-footer text-center">
                    <a href="@Url.Action("Index", "IncidentTopic", null)">
                        Topic
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <a href="@Url.Action("Index", "IncidentDescription", null)">
                        <img src="~/Images/icons8-description-100.png" width="80" height="80">
                    </a>
                </div>
                <div class="card-footer text-center">
                    <a href="@Url.Action("Index", "IncidentDescription", null)">
                        Description
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <a href="@Url.Action("Index", "IncidentFarmer", null)">
                        <img src="~/Images/icons8-incident-farmer-128.png" width="80" height="80">
                    </a>
                </div>
                <div class="card-footer text-center">
                    <a href="@Url.Action("Index", "IncidentFarmer", null)">
                        Incident Farmer
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>