﻿@model BUWebApp.Areas.Supervisor.Models.vm_InvoiceDetails

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var registration = Model.RegistrationFarmer;
    var invoiceStatus = Model.Invoice.IsFinish == true ? "ยืนยันเอกสารแล้ว" : "ยังไม่ได้ยืนยันเอกสาร";
    var invoiceStatusColor = Model.Invoice.IsFinish == true ? "style=color:green;font-weight:bold;" : "style=color:red;font-weight:bold;";
    var finishButtonDisabled = Model.Invoice.IsFinish == true ? "disabled" : "";
    var supplier = ViewBag.SupplierCode;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#invoiceDetailsTable").DataTable({
            "order": [[0, "asc"], [1, "asc"], [2, "asc"]]
        });

        $("#ConditionID").empty();
        $("#categoryid").val("");
        $("#ConditionID").append('<option value="">โปรดเลือกรายการ</option>');

        if ($("#PackageCode").val() == '')
            $("#packageTable").hide();
        else {
            $("#packageTable").show();
            bindingPackageTable();
        }

        $("#PackageCode").change(function () {

            if ($("#PackageCode").val() == '')
                $("#packageTable").hide();
            else
                $("#packageTable").show();
        });

        $("#category").change(function () {
            console.log("category changed.");
            bindingItems();
        });

        $("#PackageCode").change(function () {
            bindingPackageTable();
        });

        $("#ConditionID").change(function () {
            bindingItemDetails();
        });

        $("#addPackage").click(function (e) {
            var isValid = $("#PackageCode").val();
            if (isValid == null || isValid == "") {
                alert("โปรดเลือกแพ็กเกจก่อน!");
                e.preventDefault(); //prevent the default action
            }
        });

        $("a[title|='deletePackage']").click(function (e) {
            var result = confirm("ระบบจะทำการลบรายการ item ที่อยู่ใน package นี้ทั้งหมด ท่านต้องการลบข้อมูลนี้หรือไม่!");
            if (result == false) {
                e.preventDefault(); //prevent the default action
            }
        });

        $("a[title|='deleteAdditionalItem']").click(function (e) {
            var result = confirm("ท่านต้องการลบข้อมูล item นี้หรือไม่!");
            if (result == false) {
                e.preventDefault(); //prevent the default action
            }
        });

        $("#addItem").click(function (e) {
            var isValid = $("#IsFinish").val();
            if (isValid == "True") {
                alert("Invoice No นี้ถูก Finish แล้ว ไม่สามารถดำเนินการใดๆ ได้ ต้องทำการปลดล็อคก่อน!");
                e.preventDefault(); //prevent the default action
            }
        });
    });

    function bindingPackageTable() {
        var packageCode = $("#PackageCode").val();
        var resourceUrl = '@Url.Action("PackageDetails", "AGMInventories",new { Area = ""})?packageCode=' + packageCode;
        $("#PackageCode").val(packageCode);
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                $('#packageDetails').empty();
                var tr;
                var count = 0;
                var IsNotToInvoice;
                var IsReferToInventory;
                var isVat;

                //Append each row to html table
                for (var i = 0; i < info.length; i++) {
                    if (info[i].IsNotToInvoice == true)
                        IsNotToInvoice = "<i style='color:green;' class='fa fa-check-circle' title='บันทึกไว้ในระบบเฉยๆ'></i>";
                    else
                        IsNotToInvoice = "";

                    if (info[i].IsReferToInventory == true)
                        IsReferToInventory = "<i style='color:green;' class='fa fa-check-circle' title='มีการตัดออกจาก inventory'></i>";
                    else
                        IsReferToInventory = "";

                    if (info[i].IsVat == true)
                        isVat = "<i style='color:green;' class='fa fa-check-circle' title='รายการนี้จะถูกคิด VAT ด้วย'></i>";
                    else
                        isVat = "";

                    tr = $('<tr/>');
                    tr.append("<td>" + info[i].Category + "</td>");
                    tr.append("<td>" + info[i].Brand + "</td>");
                    tr.append("<td>" + info[i].ItemName + "</td>");
                    tr.append("<td>" + info[i].Brand + "</td>");
                    tr.append("<td>" + info[i].Unit + "</td>");
                    tr.append("<td>" + info[i].Quantity + "</td>");
                    tr.append("<td>" + info[i].UnitPrice + "</td>");
                    tr.append("<td>" + isVat + "</td>");
                    tr.append("<td>" + IsReferToInventory + "</td>");
                    $('#packageDetails').append(tr);
                    count++;
                }
                if (count > 0)
                    $('#packageTable').show();
            }
        });
    }

    function bindingItems() {
        var category = $("#category").val();
        var supplierCode = $("#supplierCode").val();
        var resourceUrl = '@Url.Action("ItemsFromItemCondition", "AGMInventories", new { Area = ""})?category=' +
            category + '&supplierCode=' +
            supplierCode + '&filter=IncludeVAT';

        //console.log(category);
        //console.log(supplierCode);

        $("#UnitPrice").val(0);
        $("#IsNotToInvoice").prop("checked", false);
        $("#IsReferToInventory").prop("checked", false);
        $("#IsVat").prop("checked", false);

        $("#ConditionID").empty("โปรดเลือกประเภท");
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                $("#ConditionID").append('<option value="">โปรดเลือกรายการ</option>');
                $.each(info, function (i, info) {
                    $("#ConditionID").append('<option value="' + info.Value + '">' +
                         info.Text + '</option>');
                });
            }
        });
    }

    function bindingItemDetails() {
        $("#UnitPrice").val(0);
        $("#IsNotToInvoice").prop("checked", false);
        $("#IsReferToInventory").prop("checked", false);
        $("#IsVat").prop("checked", false);

        var conditionID = $("#ConditionID").val();
        var resourceUrl = '@Url.Action("ItemSingleFromItemCondition", "AGMInventories", new { Area = ""})?conditionID=' + conditionID

        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                $("#UnitPrice").val(info.UnitPrice);

                if (info.IsNotToInvoice == true)
                    $("#IsNotToInvoice").prop("checked", true);
                else
                    $("#IsNotToInvoice").prop("checked", false);

                if (info.IsReferToInventory == true)
                    $("#IsReferToInventory").prop("checked", true);
                else
                    $("#IsReferToInventory").prop("checked", false);

                if (info.IsVat == true)
                    $("#IsVat").prop("checked", true);
                else
                    $("#IsVat").prop("checked", false);
            }
        });
    }
</script>

<h3>Crop Inputs Distribution Invoice (POV, PIV)</h3>
<h6>บันทึกการรับปัจจัยการผลิต/ใบกำกับภาษี/ใบเสร็จรับเงิน แบบคิด VAT</h6>
<hr />
<input type="hidden" id="supplierCode" value="@supplier" />

<div class="card-group">
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_FarmerProfile.cshtml", registration.Farmer)
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_RegistrationProfile.cshtml", registration)
</div>

<div class="modal fade" id="addByPackageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6>เลือกจาก Minimum package</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    @using (Html.BeginForm("AddByPackage", "InvoiceIncludeVatDetails", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.InvoiceNo)
                        <label class="form-label">Package</label>
                        @Html.DropDownList("PackageCode", new SelectList(Model.Packages, "PackageCode", "Description"), "โปรดเลือกแพ็คเกจ", new { @class = "form-control form-control-sm mr-sm-2" })
                        <button type="submit" id="addPackage" class="btn btn-primary btn-sm mt-2"><i class="fa fa-plus-circle"></i> เลือกแพ็คเกจนี้</button>
                    }
                </div>
                <div class="table-responsive-lg mt-3">
                    <table class="table table-sm table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Category</th>
                                <th>Brand</th>
                                <th>Item name</th>
                                <th>Unit</th>
                                <th>Qty</th>
                                <th>Unit price</th>
                                <th>Is VAT</th>
                                <th>Is Inventory</th>
                            </tr>
                        </thead>
                        <tbody id="packageDetails"></tbody>
                    </table>
                </div>
                <hr />
                <i class="text-danger text-center"> **ระบบจะบันทึกให้เฉพาะรายการที่คิด VAT เท่านั้น</i>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addByItemModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">เลือกบันทึกทีละรายการ</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-title"><p class="small text-danger">Additional Items (มีเฉพาะรายการที่คิด VAT เท่านั้น)</p></div>
                @using (Html.BeginForm("Add", "InvoiceIncludeVatDetails", FormMethod.Post, new { @class = "row g-3" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.InvoiceNo)
                    <div class="col-12">
                        <label class="form-label">Category</label>
                        @Html.DropDownList("category", new SelectList(@ViewBag.Categories, "category", "category"), "โปรดเลือกประเภท", new { @class = "form-control" })
                    </div>
                    <div class="col-12">
                        <label class="form-label">Item</label>
                        @Html.DropDownListFor(model => model.ConditionID, new SelectList(Model.Items, "ConditionID", "item_name"), "โปรดเลือกรายการ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConditionID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12">
                        <label class="form-label">Unit Price</label>
                        <input type="text" readonly id="UnitPrice" class="form-control" />
                    </div>
                    <div class="col-12">
                        <label class="form-label">Quantity</label>
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quantity" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="checkbox" disabled class="form-check-input" id="IsNotToInvoice">
                            <label class="form-check-label" for="IsNotToInvoice">บันทึกไว้ในระบบเฉยๆ</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="checkbox" disabled class="form-check-input" id="IsReferToInventory">
                            <label class="form-check-label" for="IsReferToInventory">หักออกจากสต๊อก</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="checkbox" disabled class="form-check-input" id="IsVat">
                            <label class="form-check-label" for="IsVat">มีการคิด VAT</label>
                        </div>
                    </div>
                    <div class="col-12 mt-3 mb-3">
                        <button type="submit" id="addItem" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add Item</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col-sm-12 mx-2">
        <div class="form-inline justify-content-center text-center">
            Invoice No : @Model.InvoiceNo <br />
            สถานะเอกสาร : <label @invoiceStatusColor>@invoiceStatus</label><br />
            รวมทั้งสิ้น : @Model.InvoiceDetails.Sum(x => x.UnitPrice * x.Quantity).ToString("N0") บาท
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col-sm-12 mx-2">
        <div class="text-center">
            <div class="mt-3">
                @if (Model.Invoice.IsFinish == false)
                {
                    <button id="addByPackageButton" class="btn btn-primary btn-sm ml-1" data-bs-toggle="modal" data-bs-target="#addByPackageModal"><i class="fas fa-plus"></i> เลือกจากแพ็คเกจ</button>
                    <button id="addByItemButton" class="btn btn-success btn-sm ml-1" data-bs-toggle="modal" data-bs-target="#addByItemModal"><i class="fas fa-plus"></i> เพิ่มทีละรายการ</button>
                    <button class="btn btn-danger btn-sm ml-1" data-bs-toggle="modal" data-bs-target="#confirmModal" @finishButtonDisabled><i class="fas fa-lock"></i> ยันยันข้อมูลเพื่อออกใบเสร็จ</button>
                }
                <a class="btn btn-secondary btn-sm ml-1" href="@Url.Action("Main", "Invoice", new { farmerCode = Model.RegistrationFarmer.FarmerCode,invoiceType = "IV" })"><i class="fas fa-arrow-circle-left"></i>  ย้อนกลับ</a>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="table-responsive">
        <table id="invoiceDetailsTable" class="table table-sm">
            <thead class="table-dark">
                <tr>
                    <th>ชำระเป็นเงินสด</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Item</th>
                    <th>Package</th>
                    <th>Inventory</th>
                    <th>VAT</th>
                    <th>Account Invoice No</th>
                    <th>Qty</th>
                    <th>Unit price</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InvoiceDetails.OrderBy(x => x.Category).ThenBy(x => x.ItemName))
                {
                    var price = (item.UnitPrice * item.Quantity).ToString("N2");
                    <tr>
                        <td style="text-align:center;">
                            @if (item.IsCash == true)
                            {
                                <input type="checkbox" name="isCashes" value="@item.ConditionID" checked="checked" />
                            }
                            else
                            {
                                <input type="checkbox" name="isCashes" value="@item.ConditionID" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        @*<td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>*@
                        <td style="text-align:center;">
                            @if (item.PackageCode != null)
                            {
                                <i title="@item.PackageCode" class="fa fa-check-circle" style="color:green;"></i>
                            }
                        </td>
                        <td style="text-align:center;">
                            @if (item.CropInputsCondition.IsReferToInventory == true)
                            {
                                <i title="หักจาก stock" class="fa fa-check-circle" style="color:green;"></i>
                            }
                        </td>
                        <td style="text-align:center;">
                            @if (item.CropInputsCondition.IsVat == true)
                            {
                                <i title="Include VAT" class="fa fa-check-circle" style="color:green;"></i>
                            }
                        </td>
                        <td style="text-align:center;">
                            @item.AccountInvoiceNo
                        </td>
                        <td style="text-align:right;">
                            @item.Quantity.ToString("N0")
                        </td>
                        <td style="text-align:right;">
                            @item.UnitPrice.ToString("N2")
                        </td>
                        <td style="text-align:right;">
                            @price
                        </td>
                        <td style="text-align:center;">
                            @if (Model.Invoice.IsFinish == false)
                            {
                                if (item.PackageCode != null)
                                {
                                    <a title="deletePackage" href='@Url.Action("DeleteByPackage", "InvoiceIncludeVatDetails", new { packageCode = item.PackageCode, invoiceNo = item.InvoiceNo })'>
                                        <span class="btn btn-danger btn-sm">delete</span>
                                    </a>
                                }
                                else
                                {
                                    <a title="deleteAdditionalItem" href='@Url.Action("Delete", "InvoiceIncludeVatDetails", new { invoiceNo = item.InvoiceNo, conditionID = item.ConditionID })'>
                                        <span class="btn btn-danger btn-sm">delete</span>
                                    </a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ยืนยันเพื่อออกใบเสร็จ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span><b style="color:red;">**คำเตือน</b> <br />โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนกด confirm หลังจากนี้จะไม่สามารถแก้ไขข้อมูลใดๆ ได้อีก หากต้องการแก้ไขข้อมูลเกี่ยวกับใบเสร็จ สามารถติดต่อแผนกบัญชีโดยตรง</span>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-12">
                            <div class="mt-3">
                                <label for="createDate" class="control-label">วันที่ออกใบเสร็จ :</label>
                                <div>
                                    <input type="date" name="createDate" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-danger" formmethod="post" formaction='@Url.Action("Finish", "InvoiceIncludeVatDetails",new { invoiceNo = Model.InvoiceNo })'> ยืนยันเอกสาร</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
