﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FarmerBonus/Views/Shared/_Layout.cshtml";
}

<h2>Farmer Bonus</h2>
<h6 class="mb-3">โปรดเลือกเมนูที่ท่านต้องการใช้งานได้จากด้านล่าง</h6>

<div class="card-group mb-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons">
                    task_alt
                </span>
                Full Quota Bonus
            </h5>
            <p class="card-text">
                การจ่ายเงินโบนัสการขายยาเต๊มโควต้า
            </p>
            <a href="@Url.Action("Index", "FullQuotaBonus")" class="btn btn-secondary">Click here</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons">
                    maps_ugc
                </span>
                Extra Quota Bonus
            </h5>
            <p class="card-text">
                การจ่ายเงินโบนัสการขายยาในโควต้าส่วนเกิน
            </p>
            <a href="@Url.Action("Index", "ExtraQuotaBonus")" class="btn btn-secondary">Click here</a>
        </div>
    </div>
</div>


