﻿@model BusinessLayer.Model.m_CY202201ReturnSummary

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var farmer = (DomainModel.Farmer)ViewBag.Farmer;
    var crop = ViewBag.Crop;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        var table = $("#detailsTable").DataTable({
            "order": [[0, "asc"]]
        });

        $("body").on("click", "#detailsTable tbody tr #deleteButton", function (e) {
            var row = table.row($(this).closest('tr')).data();
            if (row[2] != "") {
                alert("สถานะเอกสารคือ Finish ไม่สามารถลบข้อมูลได้");
                e.preventDefault();
                return;
            }

            if (confirm("ท่านต้องการลบข้อมูลนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
            //var row = table.row($(this).closest('tr')).data();
            //console.log(row);
            //console.log(row[0]);
        });
    })
</script>

<h3>Return Packaging</h3>
<h6>บันทึกการคืนขยะสารเคมีและตะกร้า</h6>
<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="card-deck mb-2">
            @Html.Partial("~/Areas/Supervisor/Views/Shared/_FarmerProfile.cshtml", farmer)
            @Html.Partial("~/Areas/Supervisor/Views/Shared/_CY202201SummaryReceive.cshtml", Model)
            @Html.Partial("~/Areas/Supervisor/Views/Shared/_CY202201SummaryReturn.cshtml", Model)
        </div>
    </div>
</div>

<hr />

<div class="mt-2">
    <form class="form-inline justify-content-center">
        <div class="form-group mx-sm-3 mb-2">
            <a class="btn btn-success btn-sm ml-1"
               href="@Url.Action("Add","CY202201Return",new {crop = crop,farmerCode = farmer.FarmerCode })">
                <i class="fas fa-plus"></i> สร้างใบคืน
            </a>
            <a class="btn btn-secondary btn-sm ml-1"
               href="@Url.Action("CheckProfile", "Farmer", new { citizenID = farmer.CitizenID, extensionAgentCode = farmer.Supplier })">
                <i class="fas fa-arrow-circle-left"></i> Back
            </a>
        </div>
    </form>
    <table id="detailsTable" class="table table-responsive-sm">
        <thead class="table-dark">
            <tr>
                <th>Return No</th>
                <th>Create Date</th>
                <th>Is Finish</th>
                <th>Finish Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ((List<DomainModel.CY202201Return>)ViewBag.ReturnNoList).OrderBy(x => x.ReturnNo))
            {
                <tr>
                    <td class="text-center">
                        @item.ReturnNo
                    </td>
                    <td class="text-center">
                        @{ var createDate = Convert.ToDateTime(item.CreateDate).ToString("dd/MM/yyyy");}
                        @createDate
                    </td>
                    <td class="text-center">
                        @if (item.IsFinish == true)
                        {
                            <i class="fa fa-check-circle" style="color:green;"></i>
                        }
                    </td>
                    <td class="text-center">
                        @{ var finishDate = item.FinishDate != null ? Convert.ToDateTime(item.FinishDate).ToString("dd/MM/yyyy") : null;}
                        @finishDate
                    </td>
                    <td class="text-center">
                        <a title="Details" class="btn btn-outline-info btn-sm" href='@Url.Action("Index", "CY202201ReturnDetail", new {returnNo = item.ReturnNo })'>
                            ดูรายละเอียด
                        </a>
                        <a title="Delete" id="deleteButton" class="btn btn-outline-danger btn-sm" href='@Url.Action("Delete", "CY202201Return", new {crop = crop, farmerCode = farmer.FarmerCode, returnNo = item.ReturnNo })'>
                            ลบข้อมูล
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
