﻿@model BUWebApp.Areas.Supervisor.Models.vm_InvoiceDetails

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Add", "InvoiceExcludeVat", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.InvoiceNo)
    <input class="btn btn-outline-secondary" type="submit" value="Submit" />

    <table id="invoiceDetailsTable" class="table table-striped table-borderless">
        <thead class="table-dark">
            <tr class="table-secondary">
                <th>Payment type</th>
                <th>Category</th>
                <th>Item name</th>
                <th>Brand</th>
                <th>package</th>
                <th>deduction</th>
                <th>Qty</th>
                <th>Unit price</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InvoiceDetails
            .OrderBy(x => x.Category)
            .ThenBy(x => x.ItemName))
            {
                var price = (item.UnitPrice * item.Quantity).ToString("N2");
            <tr>
                <td>
                    <input type="checkbox" name="paymentTypes" class="checkbox-inline" value="@item.ConditionID" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td style="text-align:center;">
                    @if (item.PackageCode != null)
                        {
                    <i title="@item.PackageCode" class="fa fa-check-circle" style="color:green;"></i>
                        }
                </td>
                <td style="text-align:center;">
                    @if (item.CropInputsCondition.IsDeduction == true)
                        {
                    <i title="หักเงินจากการขาย" class="fa fa-check-circle" style="color:green;"></i>
                        }
                </td>
                <td style="text-align:right;">
                    @item.Quantity.ToString("N0")
                </td>
                <td style="text-align:right;">
                    @item.UnitPrice.ToString("N2")
                </td>
                <td style="text-align:right;">
                    @price
                </td>
                <td style="text-align:center;">
                    @if (item.PackageCode != null)
                        {
                    <a title="deletePackage" href='@Url.Action("DeleteByPackage", "InvoiceDetails", new { packageCode = item.PackageCode, invoiceNo = item.InvoiceNo })'>
                        <span class="badge badge-danger">delete</span>
                    </a>
                        }
                        else
                        {
                    <a title="deleteAdditionalItem" href='@Url.Action("Delete", "InvoiceDetails", new { invoiceNo = item.InvoiceNo, conditionID = item.ConditionID })'>
                        <span class="badge badge-danger">delete</span>
                    </a>
                        }

                </td>
            </tr>
            }
        </tbody>
    </table>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}