﻿@model BUWebApp.Areas.Supervisor.Models.vm_CheckFarmerProfile

@{
    ViewBag.Title = "CheckProfile";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#ExtensionAgentCode").change(function () {
            var extensionAgentCode = $("#ExtensionAgentCode").val();
            var citizenID = $("#CitizenID").val();
            var url = "@Url.Action("CheckProfile","Farmer")";
            if (extensionAgentCode)
                window.location.href = url + "?extensionAgentCode=" + extensionAgentCode + "&citizenID=" + citizenID;
            else
                window.location.href = url;

            console.log(url);
        });
    });
</script>

<h3>Check Profile</h3>
<h5>ตรวจสอบข้อมูลประวัติชาวไร่</h5>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label class="form-label">Extension Agent Code</label>
        @Html.DropDownList("ExtensionAgentCode", new SelectList(ViewBag.ExtensionAgentList, "SupplierCode", "SupplierCode"), "โปรดเลือกตัวแทน", new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.ExtensionAgentCode, null, new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label class="form-label">CitizenID</label>
        @Html.TextBoxFor(model => model.CitizenID, new { @class = "form-control", @placeholder = "รหัสประจำตัวประชาชน 13 หลัก" })
        @Html.ValidationMessageFor(Model => Model.CitizenID, null, new { @class = "text-danger" })
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-check-circle"></i> ตรวจสอบข้อมูล</button>
        <a class="btn btn-outline-secondary btn-sm" href="@Url.Action("CheckProfile", "Farmer")"><i class="fas fa-undo"></i> Reset</a>
        <a class="btn btn-secondary btn-sm" href="@Url.Action("Index", "Farmer", new { @extensionAgentCode = Model.ExtensionAgentCode })"><i class="fas fa-arrow-circle-left"></i> ย้อนกลับ</a>
    </div>
}

<div class="mt-3">
    @if (!string.IsNullOrEmpty(Model.CitizenID) && !string.IsNullOrEmpty(Model.ExtensionAgentCode))
    {
        if (Model.Person == null)
        {
            <div class="alert alert-danger" role="alert">
                ไม่พบประวัติชาวไร่ในระบบ
            </div>
            <a class="btn btn-success btn-sm" href="@Url.Action("AddNewProfile", "Farmer", new { @citizenID = Model.CitizenID, @extensionAgentCode = Model.ExtensionAgentCode })"><i class="fas fa-user-plus"></i> บันทึกประวัติ</a>
        }
        else if (ViewData.ModelState.IsValid)
        {
            if (Model.FarmerList.Where(x => x.Supplier == Model.ExtensionAgentCode).Count() <= 0)
            {
                var farmer = Model.FarmerList.SingleOrDefault(x => x.CitizenID == Model.CitizenID && x.Supplier == Model.ExtensionAgentCode);
                <div class="alert alert-success" role="alert">
                    ชาวไร่รายนี้ยังไม่ได้สมัครเป็นสมาชิกกับ @Model.ExtensionAgentCode <a href="@Url.Action("UpdateProfile", "Farmer",new { citizenID = Model.CitizenID,extensionAgentCode = Model.ExtensionAgentCode})" target="_blank">ดูประวัติคลิกที่นี่</a>
                </div>
                

                using (Html.BeginForm("AddNewFarmer", "Farmer", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.CitizenID)
                    @Html.HiddenFor(model => model.ExtensionAgentCode)
                    <button type="submit" class="btn btn-success btn-sm mt-3"><i class="fas fa-user-plus"></i> สมัครเป็นสมาชิกกับ @Model.ExtensionAgentCode</button>
                }
            }
            else
            {
                if (Model.RegistrationFarmer == null)
                {
                    <div class="alert alert-success" role="alert">
                        ชาวไร่รายนี้เป็นสมาชิกกับ @Model.ExtensionAgentCode แล้ว คลิกที่ปุ่มบันทึกใบสมัครฯ และข้อมูลสัญญา
                    </div>
                    <div class="card-group mt-3">
                        @Html.Partial("~/Areas/Supervisor/Views/Shared/_FarmerProfile.cshtml", Model.Farmer)
                        @Html.Partial("~/Areas/Supervisor/Views/Shared/_RegistrationProfile.cshtml", new DomainModel.RegistrationFarmer())
                    </div>
                    <a class="btn btn-success btn-sm mt-3" href="@Url.Action("RegistrationForm","Farmer",new { @farmerCode = Model.Farmer.FarmerCode })"><i class="fas fa-pen"></i> บันทึกใบสมัครฯ และข้อมูลสัญญา</a>
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        ชาวไร่รายนี้บันทึกใบสมัครฯ และข้อมูลสัญญาแล้ว คลิกที่ปุ่มดูรายละเอียดใบสมัครฯ และสัญญา
                    </div>
                    <div class="card-group mt-3">
                        @Html.Partial("~/Areas/Supervisor/Views/Shared/_FarmerProfile.cshtml", Model.Farmer)
                        @Html.Partial("~/Areas/Supervisor/Views/Shared/_RegistrationProfile.cshtml", Model.RegistrationFarmer)
                    </div>
                    <a class="btn btn-success btn-sm mt-3" href="@Url.Action("RegistrationForm", "Farmer",new { @farmerCode = Model.Farmer.FarmerCode})"><i class="fas fa-user"></i> ดูรายละเอียดใบสมัครฯ และข้อมูลสัญญา</a>
                    var activeStatus = Model.RegistrationFarmer.ActiveStatus;
                    var optionButton = activeStatus == true ? "btn btn-secondary btn-sm mt-3 active" : "btn btn-secondary btn-sm mt-3 disabled";
                    var registration = Model.RegistrationFarmer;
                    if (activeStatus == true)
                    {
                        <a class="@optionButton" href="@Url.Action("UpdateBankAccount", "BankAccount", new { crop = registration.Crop, farmerCode = registration.FarmerCode })">
                            <i class="fa fa-university"></i> แก้ไขเลขที่บัญชี
                        </a>
                        <a class="@optionButton" href="@Url.Action("Main", "Invoice", new { farmerCode = registration.FarmerCode })">
                            <i class="fa fa-shopping-cart"></i> จ่ายปัจจัยการผลิต/ลดหนี้
                        </a>
                        if (Model.ExtensionAgentCode == "STEC/PB")
                        {
                            <a class="@optionButton" href="@Url.Action("Index", "CY202201Return", new { crop = registration.Crop, farmerCode = registration.FarmerCode })">
                                <i class="fa fa-trash"></i> คืนบรรจุภัณฑ์ (ลดหนี้ค่าตะกร้า)
                            </a>
                        }
                        else
                        {
                            <a class="@optionButton" href="@Url.Action("ReturnCPAContainer", "Invoice", new { farmerCode = registration.FarmerCode })">
                                <i class="fa fa-trash"></i> คืนบรรจุภัณฑ์ (ขยะสารเคมี)
                            </a>
                        }
                    }
                }

            }
        }

        if (Model.FarmerList.Count() > 0)
        {
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">ประวัติการเป็นสมาชิกกับตัวแทน</h5>
                    @if (Model.FarmerList.Count() > 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-sm" id="farmerListDataTable">
                                <thead class="table-dark">
                                    <tr>
                                        <td>Extension Agent Code</td>
                                        <td>FarmerCode</td>
                                        <td>Register Date</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.FarmerList)
                                    {
                                        <tr>
                                            <td>@item.Supplier</td>
                                            <td>@item.FarmerCode</td>
                                            <td>@item.RegistrationDate.ToString("dd-MMM-yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info" role="alert">ไม่พบข้อมูลประวัติการลงทะเบียนกับตัวแทนในระบบ</div>
                    }
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">ประวัติโควต้าและการขายใบสูบ</h5>
                    @if (Model.CropSummaryList.Count() > 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-sm" id="cropSummaryListDataTable">
                                <thead class="table-dark">
                                    <tr>
                                        <td>Farmer Code</td>
                                        <td>Crop</td>
                                        <td>Quota (Rai)</td>
                                        <td>Quota (Kgs)</td>
                                        <td>Sold</td>
                                        <td>Achive %</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CropSummaryList
                                        .OrderByDescending(x => x.Crop)
                                        .ThenBy(x => x.FarmerCode))
                                    {
                                        var contractQuota = item.QuotaFromSignContract != null ? (int)item.QuotaFromSignContract : 0;
                                        var achivePercentages = item.Fixed <= 0 || item.Sold <= 0 ? 0 : item.Sold / item.Fixed * 100;
                                        <tr>
                                            <td>@item.FarmerCode</td>
                                            <td>@item.Crop</td>
                                            <td>@contractQuota.ToString("N0")</td>
                                            <td>@item.Fixed.ToString("N0")</td>
                                            <td>@item.Sold.ToString("N0")</td>
                                            <td>@achivePercentages.ToString("N0")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>}
                    else
                    {
                        <div class="alert alert-info" role="alert">ไม่พบข้อมูลประวัติโควต้าและประวัติการขายใบยาในระบบ</div>
                    }
                </div>
            </div>
        }
    }
</div>

@Scripts.Render("~/bundles/jqueryval")
