﻿@model IEnumerable<DomainModel.Farmer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var farmerList = (List<DomainModel.Farmer>)ViewBag.FarmerList;
    var extensionAgentList = (List<DomainModel.Supplier>)ViewBag.ExtensionAgentList;
    var extensionAgentCode = ViewBag.ExtensionAgentCode;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#farmerListDataTable").DataTable({
            "order": [[0, "asc"]]
        });
    });
</script>

<h3>Farmer List</h3>
<h5>รายชื่อชาวไร่ที่ลงทะเบียนเป็นสมาชิกกับแต่ละตัวแทน</h5>
<hr />

<div class="row">
    <form>
        <div class="mb-3">
            <label class="form-label">Extension Agent</label>
            @Html.DropDownList("extensionAgentCode", new SelectList(ViewBag.ExtensionAgentList, "SupplierCode", "SupplierCode"), "โปรดเลือกตัวแทน", new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary ml-1"><i class="fas fa-search"></i> แสดงข้อมูล</button>
            <a class="btn btn-success ml-1" title="ลงทะเบียนชาวไร่รายใหม่" href="@Url.Action("CheckProfile","Farmer",new { @extensionAgentCode = extensionAgentCode })"><i class="fas fa-user-plus"></i> ชาวไร่รายใหม่</a>
        </div>
    </form>
</div>

<div class="table-responsive">
    <table id="farmerListDataTable" class="table table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>
                    Farmer Code
                </th>
                <th>
                    CitizenID
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in farmerList)
            {
                <tr>
                    <td>
                        @item.FarmerCode
                    </td>
                    <td>
                        @item.CitizenID
                    </td>
                    <td>
                        @item.Person.FirstName
                    </td>
                    <td>
                        @item.Person.LastName
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm" title="แก้ไขช้อมูลประวัติชาวไร่"
                           href="@Url.Action("UpdateProfile","Farmer",new {citizenID = item.CitizenID, extensionAgentCode = item.Supplier, farmerCode = item.FarmerCode})"><i class="fas fa-pen"></i></a>
                        <a class="btn btn-outline-secondary btn-sm" title="ข้อมูลการลงทะเบียนและสัญญา" target="_blank"
                           href="@Url.Action("CheckProfile","Farmer",new { extensionAgentCode = item.Supplier, citizenID = item.CitizenID })"><i class="fas fa-book"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
