﻿
@{
    ViewBag.Title = "Index";
}
<div class="p-3 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-2">
        <h1 class="display-5 fw-bold">Burley on web</h1>
        สำหรับผู้ดูแลระบบนี้ใช้จัดการข้อมูลต่างๆ อาทิเช่น การเพิ่ม/ลบ/กำหนดสิทธิ์การเข้าใช้งานระบบให้กับผู้ใช้งาน การตั้งค่าข้อมูลต่างๆ เช่น การกำหนก crop ข้อมูลสำหรับการจ่ายปัจจัยการผลิต ข้อมูลบรรจุภัณฑ์สารเคมีสำหรับใช้ในการบันทึกรับคืนบรรจุภัณฑ์ เป็นต้น
        <p>หากไม่สามารถใช้งานระบบหรือการใช้งานขัดข้อง โปรดติดต่อแผนกไอทีเพื่อรับการช่วยเหลือ</p>
    </div>
</div>

<div class="card-group mb-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    admin_panel_settings
                </span>
                User accounts
            </h5>
            <p class="card-text">
                สำหรับผู้ดูแลระบบใช้จัดการข้อมูลบัญชีผู้ใช้ในระบบ
                <ul>
                    <li>Add new user account.</li>
                    <li>Set role permission.</li>
                    <li>Delete user.</li>
                </ul>
            </p>
            <a href="@Url.Action("Index", "User")" class="btn btn-secondary">Click here</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    nature_people
                </span>
                Supervisor to area
            </h5>
            <p class="card-text">
                กำหนดการเข้าถึงข้อมูลแยกตามพื้นที่รับผิดชอบให้กับ user account แต่ละรายในระดับ supervisor
            </p>
            <a href="@Url.Action("Index", "SupervisorUser")" class="btn btn-secondary">Click here</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    calendar_month
                </span>
                Crop setup
            </h5>
            <p class="card-text">
                เมื่อขึ้นฤดูปลูกใหม่ admin สามารถกำหนดฤดูปลูกใหม่ที่จะใช้อ้างอิงในระบบได้ด้วยตนเอง
            </p>
            <a href="@Url.Action("Index", "Crop")" class="btn btn-secondary">Click here</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    shopping_cart
                </span>
                Crop inputs
            </h5>
            <p class="card-text">
                admin สามารถระบุปัจจัยการผลิตให้กับตัวแทนได้ ใช้ในการจ่ายปัจจัยการผลิต ได้แก่
                <ul>
                    <li>กำหนดรายการสินค้า แยกตามตัวแทน</li>
                    <li>กำหนดราคาสินค้า</li>
                    <li>สร้าง minimum package</li>
                </ul>
            </p>
            <a href="@Url.Action("Index", "CropInputs")" class="btn btn-secondary">Click here</a>
        </div>
    </div>
</div>

<div class="card-group mb-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    recycling
                </span>
                CPA container item
            </h5>
            <p class="card-text">
                admin ใช้สำหรับระบุรายการ CPA container เพื่อบันทึกข้อมูลการส่งคืนบรรจุภัณฑ์ให้กับทางบริษัทได้
            </p>
            <a href="@Url.Action("Index", "CPAContainerItem")" class="btn btn-secondary">Click here</a>
        </div>
    </div>
</div>

<!--<div class="row mt-2">
    <div class="card-group">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "User")">
                    <img src="~/Images/icons8-user-folder-80.png" width="80" height="80">
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("Index", "User")">
                    User
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "Role")">
                    <img src="~/Images/icons8-confirm-80.png" width="80" height="80">
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("Index", "Role")">
                    Role
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "SupplierUser")">
                    <img src="~/Images/icons8-farmer-96.png" width="80" height="80">
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("Index", "SupplierUser")">
                    Extension Agent
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "SupervisorUser", null)">
                    <img src="~/Images/icons8-businessman-80.png" width="80" height="80">
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("Index", "SupervisorUser", null)">
                    Supervisor
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="card-group">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "Crop")">
                    <img src="~/Images/icons8-calendar-96.png" width="80" height="80">
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("Index", "Crop")">
                    Crop
                </a>
            </div>
        </div>-->
@*<div class="card">
        <div class="card-body text-center">
            <a href="@Url.Action("Index", "FarmEquipment")">
                <img src="~/Images/icons8-tractor-96.png" width="80" height="80">
            </a>
        </div>
        <div class="card-footer text-center">
            <a href="@Url.Action("Index", "FarmEquipment")">
                Fram Equipment
            </a>
        </div>
    </div>*@
<!--<div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "CropInputs")">
                    <img src="~/Images/icons8-field-96.png" width="80" height="80">
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("Index", "CropInputs")">
                    Crop Inputs
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "ReturnItem")">
                    <img src="~/Images/icons8-fertilizer-96.png" width="80" height="80">
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("Index", "ReturnItem")">
                    Setup Return Item
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "CPAContainerItem")">
                    <img src="~/Images/icons8-danger-96.png" width="80" height="80">
                </a>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("Index", "CPAContainerItem")">
                    Setup CPA Container Item
                </a>
            </div>
        </div>
    </div>
</div>-->
