﻿@model BUWebApp.Models.vm_RegistrationFarmer
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/ExtensionAgent/Views/Shared/_Layout.cshtml";
}
<h3>Edit Farmer Request Quota</h3>
<h6>ปรับเพิ่มหรือลดจำนวนโควต้าให้กับชาวไร่</h6>
<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="card border-secondary">
            <div class="card-header">ข้อมูลการลงทะเบียน (Registration Infomation)</div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Registration"))
            {
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@Model.Crop" name="Crop" />
                    <div class="row">
                        <div class="col-sm-3">
                            คำนำหน้า:
                            @Html.TextBoxFor(model => model.Person.Prefix, new { @class = "form-control form-control-sm", type = "text", @placeholder = "Prefix", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.Prefix, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-3">
                            ชื่อ:
                            @Html.TextBoxFor(model => model.Person.FirstName, new { @class = "form-control form-control-sm", type = "text", @placeholder = "First name", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-3">
                            นามสกุล:
                            @Html.TextBoxFor(model => model.Person.LastName, new { @class = "form-control form-control-sm", type = "text", @placeholder = "Last name", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-3">
                            รหัสชาวไร่:
                            @Html.TextBoxFor(model => model.FarmerCode, new { @class = "form-control form-control-sm", type = "text", @placeholder = "Farmer code", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.FarmerCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            บ้านเลขที่
                            @Html.TextBoxFor(model => model.Person.HouseNumber, new { @class = "form-control form-control-sm", type = "text", @placeholder = "House no.", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.HouseNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-2">
                            หมู่
                            @Html.TextBoxFor(model => model.Person.Village, new { @class = "form-control form-control-sm", type = "number", @placeholder = "Village", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.Village, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-2">
                            ตำบล
                            @Html.TextBoxFor(model => model.Person.Tumbon, new { @class = "form-control form-control-sm", type = "text", @placeholder = "Tumbon", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.Tumbon, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-2">
                            อำเภอ
                            @Html.TextBoxFor(model => model.Person.Amphur, new { @class = "form-control form-control-sm", type = "text", @placeholder = "District", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.Amphur, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-2">
                            จังหวัด
                            @Html.TextBoxFor(model => model.Person.Province, new { @class = "form-control form-control-sm", type = "text", @placeholder = "Province", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.Province, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            รหัสประจำตัวประชาชน 13 หลัก :
                            @Html.TextBoxFor(model => model.Person.CitizenID, new { @class = "form-control form-control-sm", type = "text", @placeholder = "CitizenID", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.CitizenID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-3">
                            วัน/เดือน/ปีเกิด:
                            @Html.TextBoxFor(model => model.Person.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm", type = "date", @placeholder = "Birth date", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.BirthDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-3">
                            เบอร์โทรศัพท์:
                            @Html.TextBoxFor(model => model.Person.TelephoneNumber, new { @class = "form-control form-control-sm", type = "number", @placeholder = "Telephone No.", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.TelephoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-sm-3">
                            จำนวนปีที่ทำการเกษตรมาแล้ว:
                            @Html.TextBoxFor(model => model.Person.YearsInAgriculture, new { @class = "form-control form-control-sm", type = "number", @placeholder = "Years in Agriculture", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.YearsInAgriculture, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-3">
                            จำนวนปีที่ปลูกยาสูบ:
                            @Html.TextBoxFor(model => model.Person.YearsGrowingTobacco, new { @class = "form-control form-control-sm", type = "number", @placeholder = "Years Growing Tobacco", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.YearsGrowingTobacco, "", new { @class = "text-danger" })
                        </div>*@
                        <div class="col-sm-3">
                            ปีที่เริ่มทำการเกษตร:
                            @Html.TextBoxFor(model => model.Person.StartAgriculture, new { @class = "form-control form-control-sm", type = "number", @placeholder = "Start in Agriculture", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.StartAgriculture, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-3">
                            ปีที่เริ่มปลูกยาสูบ:
                            @Html.TextBoxFor(model => model.Person.StartGrowingTobacco, new { @class = "form-control form-control-sm", type = "number", @placeholder = "Start Growing Tobacco", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Person.StartGrowingTobacco, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="checkbox" value="true" name="HasSuccessor"> มีผู้สืบทอดการทำยาสูบ
                            @Html.ValidationMessageFor(model => model.HasSuccessor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            จำนวนไร่ปลูกยาสูบในปีที่ผ่านมา(ไร่):
                            @Html.TextBoxFor(model => model.PreviousCropTotalRai, new { @class = "form-control form-control-sm", type = "number", @placeholder = "Previous Crop Total Rai", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.PreviousCropTotalRai, "", new { @class = "text-danger" })

                        </div>
                        <div class="col-sm-3">
                            ผลผลิตใบยาแห้งที่ได้(กก):
                            @Html.TextBoxFor(model => model.PreviousCropTotalVolume, new { @class = "form-control form-control-sm", type = "number", @placeholder = "Previous Crop Total Volume", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.PreviousCropTotalVolume, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="margin-top:10px;">
                            มีโควต้ากับโรงงานยาสูบ : @Html.CheckBoxFor(model => model.TTMQuotaStatus, new { @id = "TTMQuotaStatus", @disabled = "disabled" })
                        </div>
                        <div class="col-sm-3">
                            จำนวนโควต้า(กก.):
                            @Html.TextBoxFor(model => model.TTMQuotaKg, new { @class = "form-control form-control-sm", type = "number", @placeholder = "TTM Quota Kg", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.TTMQuotaKg, "", new { @class = "text-danger" })

                        </div>
                        <div class="col-sm-3">
                            สถานีใบยา:
                            @Html.TextBoxFor(model => model.TTMQuotaStation, new { @class = "form-control form-control-sm", type = "text", @placeholder = "TTM Quota Station", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.TTMQuotaStation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <span style="color:red;">**จำนวนโควต้า (ร้องขอ):</span>
                            @Html.TextBoxFor(model => model.QuotaFromFarmerRequest, new { @class = "form-control form-control-sm", type = "number", @placeholder = "Request Quota Rai", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.QuotaFromFarmerRequest, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-3">
                            <span style="color:red;">**จำนวนโควต้า (ปรับใหม่):</span>
                            @Html.TextBoxFor(model => model.QuotaFromSupplierApprove, new { @class = "form-control form-control-sm", type = "number", @placeholder = "Quota From Supplier Approve" })
                            @Html.ValidationMessageFor(model => model.QuotaFromSupplierApprove, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6" style="margin-top:20px;">
                            <button type="submit" class="btn btn-primary" ><i class="fa fa-floppy-o"></i> Save</button>
                            <button type="reset" class="btn btn-secondary"><i class="fa fa-refresh"></i> Reset</button>
                            <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Registration")">Back</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
