﻿@model IEnumerable<BUWebApp.Models.vm_RegistrationFarmer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ExtensionAgent/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#FarmerTable").DataTable({
            "order": [[0, "asc"]]
        });

        $("#farmerRequst").text(numberWithCommars($("#farmerRequst").text()));
        $("#supplierApprove").text(numberWithCommars($("#supplierApprove").text()));
        $("#stecApprove").text(numberWithCommars($("#stecApprove").text()));
        $("#signContract").text(numberWithCommars($("#signContract").text()));
    })

    function numberWithCommars(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>

<h3>Approve Farmer Request Quota</h3>
<h6>การยืนยันโควต้าตามที่ชาวไร่ร้องขอเข้ามาในแบบฟอร์มใบสมัครเข้าร่วมโครงการ</h6>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-sm-12" style="margin-bottom:20px;">
            <div class="card border-secondary">
                <div class="card-body">
                    <button type="submit" name="ApproveAll" class="btn btn-success btn-sm" formaction="@Url.Action("ApproveAll", "Registration")" formmethod="post">
                        <i class="fa fa-check-circle"></i> อนุมัติทั้งหมด
                    </button>
                    <button type="submit" name="CancelAll" class="btn btn-danger btn-sm" formaction="@Url.Action("CancelAll", "Registration")" formmethod="post">
                        <i class="fa fa-undo-alt"></i> ยกเลิกทั้งหมด
                    </button>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="margin-bottom:20px;">
                    <div class="card-header bg-secondary text-white">ตามในใบสมัคร</div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <label id="farmerRequst" style="font-weight:bold;">@Model.Sum(x => x.QuotaFromFarmerRequest)</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="margin-bottom:20px;">
                    <div class="card-header bg-danger text-white">ตัวแทนอนุมัติ</div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <label id="supplierApprove" style="font-weight:bold;">@Model.Sum(x => x.QuotaFromSupplierApprove)</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="margin-bottom:20px;">
                    <div class="card-header bg-warning text-white">STEC อนุมัติ</div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <label id="stecApprove" style="font-weight:bold;">@Model.Sum(x => x.QuotaFromSTECApprove)</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="margin-bottom:20px;">
                    <div class="card-header bg-success text-white">ทำสัญญาแล้ว</div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <label id="signContract" style="font-weight:bold;">@Model.Sum(x => x.QuotaFromSignContract)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">รายชื่อชาวไร่ที่สมัครเข้าร่วมโครงการ</div>
            <div class="card-body">
                <table id="FarmerTable" class="table table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>
                                Farmer Code
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Farmer Request
                            </th>
                            <th>
                                Extension Agent Approve
                            </th>
                            <th>
                                STEC Approve
                            </th>
                            <th>Register Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FarmerCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Person.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Person.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuotaFromFarmerRequest)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuotaFromSupplierApprove)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuotaFromSTECApprove)
                                </td>
                                <td>
                                    @if (item.SignContractDate == null)
                                    {
                                        if (item.ApproveFromSTECStatus == false)
                                        {
                                            if (item.ApproveFromSupplierStatus == false)
                                            {
                                                <a href='@Url.Action("Approve", "Registration", new { crop = item.Crop, farmerCode = item.FarmerCode })' class="btn btn-primary btn-sm" title="ยืนยันโควต้าตามในใบสมัคร">อนุมัติโควต้า</a>
                                                <a href='@Url.Action("Edit", "Registration", new { crop = item.Crop, farmerCode = item.FarmerCode })' class="btn btn-warning btn-sm" title="เพิ่มหรือลดโควต้าในใบคำร้อง">ปรับแก้โควต้า</a>
                                            }
                                            else
                                            {
                                                <a href='@Url.Action("CancelApprove", "Registration", new { crop = item.Crop, farmerCode = item.FarmerCode })' class="btn btn-danger btn-sm" title="ยกเลิกการยืนยันโควต้า">ยกเลิกอนุมัติ</a>
                                            }
                                        }
                                    }
                                    <a href='@Url.Action("RegistrationDetails", "Registration", new { @crop = @item.Crop, @farmerCode = @item.FarmerCode})' class="btn btn-sm btn-success" title="ดูรายละเอียดการลงทะเบียน" target="_blank">รายละเอียดการลงทะเบียน</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
