﻿@model BUWebApp.Areas.Admin.Models.vm_PackageDetails
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var packageMaster = (DomainModel.CropInputsPackage)ViewBag.Package;
    var packageDetails = (List<BusinessLayer.Model.m_CropInputsItem>)ViewBag.PackageDetails;
    var cropInputsConditions = (List<BusinessLayer.Model.m_CropInputsItem>)ViewBag.CropInputsConditions;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#conditionTable").DataTable({
            "order": [[1, 'asc'], [2, 'asc']]
        });

        $("#packageTable").DataTable({
            "order": [[1, 'asc'], [2, 'asc']]
        });

        //$("a[title|='addItem']").click(function (e) {
        //    var packageCode = $(this).attr("data-packageCode");
        //    var conditionID = $(this).attr("data-conditionID");
        //    var isUsePerRai = $(this).attr("data-IsUsePerRai");
        //    var isNotToInvoice = $(this).attr("data-IsNotToInvoice");
        //    var isVat = $(this).attr("data-IsVat");
        //    var isReferToInventory = $(this).attr("data-IsReferToInventory");

        //    $("#PackageCode").val(packageCode);
        //    $("#ConditionID").val(conditionID);

        //    if (isUsePerRai == "True")
        //        $("#IsUsePerRai").prop("checked", true);
        //    else
        //        $("#IsUsePerRai").prop("checked", false);

        //    if (isNotToInvoice == "True")
        //        $("#IsNotToInvoice").prop("checked", true);
        //    else
        //        $("#IsNotToInvoice").prop("checked", false);

        //    if (isReferToInventory == "True")
        //        $("#IsReferToInventory").prop("checked", true);
        //    else
        //        $("#IsReferToInventory").prop("checked", false);

        //    if (isVat == "True")
        //        $("#IsVat").prop("checked", true);
        //    else
        //        $("#IsVat").prop("checked", false);

        //    $("#addFormModal").modal('show');
        //});
    });

    $(document).on("click", "#addItemToPackageButton", function (e) {
        var packageCode = $(this).attr("data-bs-packageCode");
        var conditionID = $(this).attr("data-bs-conditionID");
        var itemName = $(this).attr("data-bs-itemName");
        var itemID = $(this).attr("data-bs-itemID");
        var brand = $(this).attr("data-bs-brand");
        var isUsePerRai = $(this).attr("data-bs-isUsePerRai");
        var isNotToInvoice = $(this).attr("data-bs-isNotToInvoice");
        var isVat = $(this).attr("data-bs-isVat");
        var isReferToInventory = $(this).attr("data-bs-isReferToInventory");

        $("#itemName").val(itemName);
        $("#itemID").val(itemID);
        $("#brand").val(brand);
        $("#PackageCode").val(packageCode);
        $("#ConditionID").val(conditionID);

        if (isUsePerRai == "True")
            $("#IsUsePerRai").prop("checked", true);
        else
            $("#IsUsePerRai").prop("checked", false);

        if (isNotToInvoice == "True")
            $("#IsNotToInvoice").prop("checked", true);
        else
            $("#IsNotToInvoice").prop("checked", false);

        if (isReferToInventory == "True")
            $("#IsReferToInventory").prop("checked", true);
        else
            $("#IsReferToInventory").prop("checked", false);

        if (isVat == "True")
            $("#IsVat").prop("checked", true);
        else
            $("#IsVat").prop("checked", false);

        $("#addFormModal").modal('show');
        $("#Quantity").val(1);

    });

    $(document).on("click", "#removeItemButton", function (e) {
        var answer = confirm("ท่านต้องการลบรายการนี้ใช่หรือไม่?");
        if (answer == false) {
            e.preventDefault();
            return false;
        }
    });
</script>

<h3>Manage Package Details</h3>
<h6>จัดการข้อมูล item ในแพ็คเกจสำหรับจ่ายปัจจัยการผลิต</h6>
<hr />

<a class="btn btn-secondary btn-sm mb-3"
   href="@Url.Action("SupplierPackages", "Package",
        new { supplierCode = packageMaster.SupplierCode })">
    <i class="fas fa-arrow-alt-circle-left"></i> Back
</a>

<div class="card">
    <div class="card-header">รายการปัจจัยการผลิตของ @packageMaster.SupplierCode</div>
    <div class="card-body border-primary">
        <div class="table-responsive">
            <table id="conditionTable" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                        <th>Item ID</th>
                        <th>Unit Price</th>
                        <th>Min. Package</th>
                        <th>+VAT</th>
                        <th>Connect To Inventory</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ((List<BusinessLayer.Model.m_CropInputsItem>)ViewBag.CropInputsConditions))
                    {
                        <tr>
                            <td>
                                <a title="Add condition item to package"
                                   href="#"
                                   id="addItemToPackageButton"
                                   data-bs-packageCode="@packageMaster.PackageCode"
                                   data-bs-conditionID="@item.ConditionID"
                                   data-bs-itemName="@item.ItemName"
                                   data-bs-itemID="@item.ItemID"
                                   data-bs-brand="@item.Brand"
                                   data-bs-isVat="@item.IsVat"
                                   data-bs-isUsePerRai="@item.IsUsePerRai"
                                   data-bs-isNotToInvoice="@item.IsNotToInvoice"
                                   data-bs-isReferToInventory="@item.IsReferToInventory">
                                    <span class="badge bg-success">+</span>
                                </a>
                            </td>
                            <td>
                                @item.ItemName
                            </td>
                            <td>
                                @item.ItemID
                            </td>
                            <td>
                                @item.UnitPrice.ToString("N2")
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => item.IsUsePerRai)
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => item.IsVat)
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => item.IsReferToInventory)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        รวมทั้งสิ้น @cropInputsConditions.Count() รายการ
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">รายการปัจจัยการผลิตในแพ็คเกจ @packageMaster.PackageCode</div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="packageTable" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                        <th>Item ID</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ((List<BusinessLayer.Model.m_CropInputsItem>)ViewBag.PackageDetails))
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Delete", "PackageDetails",
                                    new { packageCode = item.PackageCode, conditionID = item.ConditionID })"
                                   id="removeItemButton"
                                   title="remove">
                                    <span class="badge bg-danger">-</span>
                                </a>
                            </td>
                            <td>
                                @item.ItemName
                            </td>
                            <td>
                                @item.ItemID
                            </td>
                            <td>
                                @item.UnitPrice.ToString("N2")
                            </td>
                            <td>
                                @item.Quantity.ToString("N0")
                            </td>
                            <td>
                                @{
                                    var price = (item.UnitPrice * item.Quantity).ToString("N2");
                                }
                                @price
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">รวมทั้งสิ้น @packageDetails.Count() รายการ (@packageDetails.Sum(x => x.UnitPrice * x.Quantity).ToString("N2") บาท)</div>
</div>

<div class="modal fade" tabindex="-1" id="addFormModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-3">
                @using (Html.BeginForm("Add", "PackageDetails", FormMethod.Post, new { @id = "addForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.PackageCode)
                    @Html.HiddenFor(model => model.ConditionID)
                    <div>
                        <label for="brand">Brand</label>
                        <input type="text" class="form form-control" readonly id="brand" name="brand" />
                    </div>
                    <div>
                        <label for="itemID">Item ID</label>
                        <input type="text" class="form form-control" readonly id="itemID" name="itemID" />
                    </div>
                    <div>
                        <label for="itemName">Item Name</label>
                        <input type="text" class="form form-control" readonly id="itemName" name="itemName" />
                    </div>
                    <div class="form-check mt-2">
                        <input type="checkbox" class="form-check-input" id="IsNotToInvoice" name="IsNotToInvoice" disabled>
                        <label for="IsNotToInvoice" class="form-check-label"> เป็นรายการที่บันทึกข้อมูลเก็บไว้เฉยๆ</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="IsUsePerRai" name="IsUsePerRai" disabled>
                        <label for="IsUsePerRai" class="form-check-label">จ่ายเป็นจำนวนหน่วยต่อ 1 ไร่</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="IsReferToInventory" name="IsReferToInventory" disabled>
                        <label for="IsReferToInventory" class="form-check-label">ตัดออกจาก Inventory</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="IsVat" disabled>
                        <label for="IsVat" class="form-check-label">มีการคิด VAT</label>
                    </div>
                    <div class="form-group mt-2">
                        <label for="Quantity" class="form-check-label">Quantity/Rai</label>
                        @Html.TextBoxFor(model => model.Quantity,
                       new { @class = "form-control", @placeholder = "Quantity", @required = "required", @min = "1", @max = "50" })
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mt-2" id="addItemSubmitButton">
                            + Add
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
