﻿@{
    ViewBag.Title = "Index2";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var farmer = (DomainModel.Farmer)ViewBag.Farmer;
    var registration = (DomainModel.RegistrationFarmer)ViewBag.RegistrationFarmer;
    var person = farmer.Person;
    var debtTypes = (List<DomainModel.DebtType>)ViewBag.DebtTypeList;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        var table = $("#detailsTable").DataTable({
            "order": [[0, "asc"]]
        });

        $(document).on("submit", "createDocumentForm", function (e) { });

        $(document).on("click", "#detailsTable tbody tr #deleteButton", function (e) {
            var data = $(e.currentTarget);
            var isFinished = data.attr("data-bs-isFinished");
            if (isFinished == "True") {
                alert("เอกสารนี้ถูก Finished ไปแล้วไม่สามารถลบได้");
                e.preventDefault();
                return;
            }

            if (confirm("ท่านต้องการลบข้อมูลนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });

        $(document).on("click", "#detailsTable tbody tr #printButton", function (e) {
            if (confirm("เมื่อท่านปริ้นท์เอกสารแล้วท่านจะไม่สามารถปริ้นท์ใหม่ได้อีก ท่านต้องการตรวจสอบข้อมูลก่อนปริ้นท์อีกครั้งหรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });

        $("#createInvoice").click(function (e) {
            var invoiceType = $("#InvoiceType option:selected").val();
            if (invoiceType != "IV" && invoiceType != "IN" && invoiceType != "CD") {
                alert("โปรดระบุประเภทที่ต้องการจะสร้าง invoice");
                e.preventDefault();
                return;
            }

            if (confirm("ท่านต้องการสร้าง Invoice ใหม่ประเภท " + $("#InvoiceType option:selected").text() + " ใช่หรือไม่") == false) {
                e.preventDefault();
                return;
            }

            var resourceUrl = '@Url.Action("Create", "Invoice")?farmerCode=' + $("#farmerCode").val() + '&invoiceType=' + invoiceType;
            window.location.href = resourceUrl;
        });

        $("body").on("click", "#detailsTable tbody tr #detailButton", function (e) {
            var row = table.row($(this).closest('tr')).data();
            //console.log(row);
            //console.log(row[0]);
            //console.log(row[1]);
            if (row[0].toLowerCase().indexOf("cd") >= 0) {
                var resourceUrl = '@Url.Action("Index", "ReturnChemicalContainer")?farmerCode=' + $("#farmerCode").val();
                window.location.href = resourceUrl;
            }
            else {
                if (row[1] == "") {
                    var resourceUrl = '@Url.Action("Index", "InvoiceExcludeVatDetails")?invoiceNo=' + row[0];
                    window.location.href = resourceUrl;
                }
                else {
                    var resourceUrl = '@Url.Action("Index", "InvoiceIncludeVatDetails")?invoiceNo=' + row[0];
                    window.location.href = resourceUrl;
                }
            }
        });
    });
</script>

<h2>Crop Inputs Invoice</h2>
<h6>รายการข้อมูลการจ่ายปัจจัยการผลิต</h6>

<div class="accordion" id="accordion1">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingProfile">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfile" aria-expanded="false" aria-controls="collapseProfile">
                Farmer Profile (ประวัติส่วนตัว)
            </button>
        </h2>
        <div id="collapseProfile" class="accordion-collapse collapse" aria-labelledby="headingProfile" data-bs-parent="#accordion1">
            <div class="accordion-body">
                <table class="table">
                    <tr>
                        <td>Farmer Code</td>
                        <td>@farmer.FarmerCode</td>
                    </tr>
                    <tr>
                        <td>Full Name</td>
                        <td>@person.Prefix@person.FirstName @person.LastName</td>
                    </tr>
                    <tr>
                        <td>Cititzen ID</td>
                        @{
                            var citizenID = BUWebApp.Helper.PersonelDataProtectionHelper.CitizenIDProtection(person.CitizenID);
                            var phoneNumber = BUWebApp.Helper.PersonelDataProtectionHelper.PhoneNumberProtection(person.TelephoneNumber);
                        }
                        <td>@citizenID</td>
                    </tr>
                    <tr>
                        <td>Extension Agent</td>
                        <td>@farmer.Supplier</td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>@phoneNumber</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingResistration">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRegistration" aria-expanded="false" aria-controls="collapseRegistration">
                Registration Profile (ประวัติการทำสัญญาปัจจุบัน)
            </button>
        </h2>
        <div id="collapseRegistration" class="accordion-collapse collapse" aria-labelledby="headingResistration" data-bs-parent="#accordion1">
            <div class="accordion-body">
                <table class="table">
                    <tr>
                        <td>Crop</td>
                        <td>@registration.Crop</td>
                    </tr>
                    <tr>
                        <td>Request Quota</td>
                        <td>@registration.QuotaFromFarmerRequest</td>
                    </tr>
                    <tr>
                        <td>Extension Agent Quota</td>
                        <td>@registration.QuotaFromSupplierApprove</td>
                    </tr>
                    <tr>
                        <td>STEC Quota</td>
                        <td>@registration.QuotaFromSTECApprove</td>
                    </tr>
                    <tr>
                        <td>Sign Contract Quota</td>
                        <td>@registration.QuotaFromSignContract</td>
                    </tr>
                    <tr>
                        <td>Sign Contract Date</td>
                        <td>@registration.SignContractDate</td>
                    </tr>
                    <tr>
                        <td>Contract Status</td>
                        <td>
                            @if (!string.IsNullOrEmpty(registration.UnRegisterReason))
                            {
                                <i class="text-danger">ยกเลิกสัญญา</i>
                            }
                            else
                            {
                                <span class="text-success">ปกติ (รออนุมัติโควต้า/ทำสัญญาแล้ว)</span>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createDocumentModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">สร้างเอกสาร</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                @using (Html.BeginForm("Add", "Invoice", FormMethod.Post, new { id = "createDocumentForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="crop" value="@registration.Crop" />
                    <input type="hidden" name="farmerCode" value="@farmer.FarmerCode" />
                    <div class="card">
                        <div class="card-body">

                            <figure>
                                <blockquote class="blockquote">
                                    <p>โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนกด สร้างเอกสาร หลังจากนี้จะไม่สามารถแก้ไขข้อมูลใดๆ ได้อีก</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    <p>เลือกประเภทโครงการ (Debt Type) ให้ถูกต้องเนื่องจากจะถูกนำไปใช้เป็นเงื่อนไขในขั้นตอนการตั้งหนี้</p>
                                    <ul>
                                        @foreach (var item in debtTypes)
                                        {
                                            <li>@item.DebtTypeCode : @item.DebtTypeName</li>
                                        }
                                    </ul>
                                </figcaption>
                            </figure>

                            <div class="g-3">
                                <div class="mb-2 mt-4">
                                    @Html.DropDownList("InvoiceType", new SelectList(@ViewBag.InvoiceTypeList, "TypeCode", "TypeName"), "โปรดเลือกประเภท invoice", new { @class = "form-control", @required = "required" })
                                </div>
                                <div class="mb-2">
                                    @Html.DropDownList("DebtTypeCode", new SelectList(@ViewBag.DebtTypeList, "DebtTypeCode", "DebtTypeName"), "โปรดเลือกประเภทการตั้งหนี้", new { @class = "form-control", @required = "required" })
                                </div>
                                <button class="btn btn-primary mb-4" type="submit">+ สร้างเอกสาร</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <div class="btn-group mb-4">
            <button class="btn btn-success btn-sm ml-1"
                    data-bs-toggle="modal"
                    data-bs-target="#createDocumentModal">
                + สร้างเอกสาร
            </button>
            <a class="btn btn-secondary btn-sm ml-1"
               href="@Url.Action("SearchFarmer", "Invoice",
                    new { farmerName = farmer.Person.FirstName, extensionAgentCode = farmer.Supplier })">
                <span class="material-icons">
                    arrow_left
                </span>
                ย้อนกลับ
            </a>
        </div>

        <div class="table-responsive">
            <table id="detailsTable" class="table table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Invoice No
                        </th>
                        <th>
                            ประเภทเอกสาร
                        </th>
                        <th>
                            ประเภทหนี้
                        </th>
                        <th>
                            สถานะ
                        </th>
                        <th>
                            Create Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ((List<DomainModel.Invoice>)ViewBag.InvoiceList).OrderBy(x => x.InvoiceNo))
                    {
                        var finishDate = Convert.ToDateTime(item.FinishDate).ToString("dd/MM/yyyy");
                        var dropdownID = item.InvoiceNo;
                        <tr>
                            <td>
                                <div>
                                    @if (item.IsFinish == false)
                                    {
                                        <a id="editButton" class="btn btn-outline-secondary btn-sm"
                                           title="แก้ไขรายการ"
                                           href="@Url.Action("Index","InvoiceDetails",
                                                new { invoiceNo = item.InvoiceNo})">
                                            <span class="material-icons">
                                                edit
                                            </span>
                                        </a>
                                        <a id="deleteButton" class="btn btn-outline-secondary btn-sm"
                                           title="ลบรายการ"
                                           href="@Url.Action("Delete2", "Invoice",
                                                new { invoiceNo = item.InvoiceNo, farmerCode = farmer.FarmerCode })">
                                            <span class="material-icons">
                                                delete
                                            </span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a id="detailsButton" class="btn btn-outline-secondary btn-sm"
                                           title="ดูรายละเอียด"
                                           href="@Url.Action("Index","InvoiceDetails",
                                                new { invoiceNo = item.InvoiceNo})">
                                            <span class="material-icons">
                                                list
                                            </span>
                                        </a>
                                    }
                                </div>
                            </td>
                            <td>
                                @item.InvoiceNo
                            </td>
                            <td>
                                @if (item.IsIncludeVAT == true)
                                {
                                    <span>+ VAT</span>
                                }
                            </td>
                            <td>@item.DebtType.DebtTypeName</td>
                            <td>
                                @if (item.IsFinish == true)
                                {
                                    <span class="material-icons text-danger" title="ไม่สามารถแก้ไขข้อมูลได้">
                                        https
                                    </span>
                                }
                                else
                                {
                                    <span class="material-icons text-success" title="สามารถแก้ไขข้อมูลได้">
                                        lock_open
                                    </span>
                                }
                            </td>
                            <td>
                                @item.CreateDate.ToShortDateString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
