﻿
@{
    ViewBag.Title = "Crop Inputs Invoice";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
}

<h2>Crop Inputs Invoice</h2>
<h6>โปรดเลือกวิธีการจ่ายปัจจัยการผลิตจากเมนูด้านล่าง</h6>
<hr />

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "InvoiceIncludeVat", new { farmerCode = ViewBag.FarmerCode })">
                    <img src="~/Images/icons8-add-receipt-64.png">
                </a>
                <h6 class="card-title">Include VAT</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "InvoiceExcludeVat", new { farmerCode = ViewBag.FarmerCode })">
                    <img src="~/Images/icons8-delete-receipt-64.png">
                </a>
                <h6 class="card-title">Exclude VAT</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "CropInputsDistribution", new { farmerCode = ViewBag.FarmerCode })">
                    <img src="~/Images/icons8-check-file-64.png">
                </a>
                <h6 class="card-title">Keep Record</h6>
            </div>
        </div>
    </div>
</div>
