﻿
@{
    ViewBag.Title = "Main";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var farmer = (DomainModel.Farmer)ViewBag.Farmer;
    var registration = (DomainModel.RegistrationFarmer)ViewBag.RegistrationFarmer;
    List<DomainModel.AccountCreditNote> creditNoteList = BusinessLayer.BuyingFacade
        .AccountCreditNoteBL().GetByFarmer(2022, ViewBag.FarmerCode);
    string invoceType = ViewBag.InvoiceType;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        var table = $("#detailsTable").DataTable({
            "order": [[0, "asc"]]
        });

        $("#createInvoice").click(function (e) {
            var invoiceType = $("#InvoiceType option:selected").val();
            if (invoiceType != "IV" && invoiceType != "IN" && invoiceType != "CD") {
                alert("โปรดระบุประเภทที่ต้องการจะสร้าง invoice");
                e.preventDefault();
                return;
            }

            if (confirm("ท่านต้องการสร้าง Invoice ใหม่ประเภท " + $("#InvoiceType option:selected").text() + " ใช่หรือไม่") == false) {
                e.preventDefault();
                return;
            }

            var resourceUrl = '@Url.Action("Create", "Invoice")?farmerCode=' + $("#farmerCode").val() + '&invoiceType=' + invoiceType;
            window.location.href = resourceUrl;
        });

        $('#printButton').click(function (e) {
            if (confirm("เมื่อท่านปริ้นท์เอกสารแล้วท่านจะไม่สามารถปริ้นท์ใหม่ได้อีก ท่านต้องการตรวจสอบข้อมูลก่อนปริ้นท์อีกครั้งหรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        })

        $("body").on("click", "#detailsTable tbody tr #deleteButton", function (e) {
            var row = table.row($(this).closest('tr')).data();
            //console.log(row);
            //console.log(row[2]);
            if (row[2] != "") {
                alert("สถานะเอกสารคือ Finish ไม่สามารถลบข้อมูลได้");
                e.preventDefault();
                return;
            }

            if (confirm("ท่านต้องการลบข้อมูลนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });

        $("body").on("click", "#detailsTable tbody tr #detailButton", function (e) {
            var row = table.row($(this).closest('tr')).data();
            //console.log(row);
            //console.log(row[0]);
            //console.log(row[1]);
            if (row[0].toLowerCase().indexOf("cd") >= 0) {
                var resourceUrl = '@Url.Action("Index", "ReturnChemicalContainer")?farmerCode=' + $("#farmerCode").val();
                window.location.href = resourceUrl;
            }
            else {
                if (row[1] == "") {
                    var resourceUrl = '@Url.Action("Index", "InvoiceExcludeVatDetails")?invoiceNo=' + row[0];
                    window.location.href = resourceUrl;
                }
                else {
                    var resourceUrl = '@Url.Action("Index", "InvoiceIncludeVatDetails")?invoiceNo=' + row[0];
                    window.location.href = resourceUrl;
                }
            }
        });
    });
</script>

<h2>Crop Inputs Invoice</h2>
<h6>รายการข้อมูลการจ่ายปัจจัยการผลิต</h6>
<hr />
<div class="card-group">
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_FarmerProfile.cshtml", farmer)
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_RegistrationProfile.cshtml", registration)
</div>

<hr />

<div class="row g-3">
    <form class="form-inline justify-content-center" action="@Url.Action("Main","Invoice")" method="get">
        <div class="mt-3">
            <input type="hidden" id="farmerCode" name="farmerCode" value="@farmer.FarmerCode" />
            @Html.DropDownList("InvoiceType", new SelectList(@ViewBag.InvoiceTypeList, "TypeCode", "TypeName"), "โปรดเลือกประเภท invoice", new { @class = "form-control form-control-sm" })
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary btn-sm ml-1"><i class="fas fa-search"></i> แสดงข้อมูล</button>
            <a class="btn btn-success btn-sm ml-1" href="#" id="createInvoice"><i class="fas fa-plus"></i> สร้างใบส่งปัจจัยฯ</a>
            <a class="btn btn-secondary btn-sm ml-1" href="@Url.Action("CheckProfile", "Farmer", new { citizenID = farmer.CitizenID, extensionAgentCode = farmer.Supplier })"><i class="fas fa-arrow-circle-left"></i> ย้อนกลับ</a>
        </div>
    </form>
</div>

@foreach (var invoice in ((List<DomainModel.Invoice>)ViewBag.InvoiceList).OrderBy(x => x.InvoiceNo))
{
    foreach (var accountInvoice in invoice.AccountInvoices.OrderBy(x => x.InvoiceNo))
    {
        <div class="modal fade" tabindex="-1" aria-hidden="true" id="@accountInvoice.InvoiceNo">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title fs-5">เลขที่เอกสาร : @accountInvoice.InvoiceNo</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @if (accountInvoice.IsPrinted == true)
                        {
                            <p class="small">ออกให้เมื่อวันที่ @accountInvoice.PrintDate </p>
                        }
                        else
                        {
                            <a id="printButton" class="btn btn-success btn-sm mb-3"
                               href="@Url.Action("Print", "AccountInvoice", new { accountInvoiceNo = accountInvoice.InvoiceNo })">พิมพ์ account invoice</a>
                        }
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th>รายละเอียด</th>
                                    <th>หน่วย</th>
                                    <th>ราคา/หน่วย</th>
                                    <th>จำนวน</th>
                                    <th>ราคา</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var detailItem in BusinessLayer.Helper.InvoiceDetailsHelper.GetByAccountInvoiceNo(accountInvoice.InvoiceNo))
                                {
                                    <tr>
                                        <td>@detailItem.ItemName</td>
                                        <td>@detailItem.Unit</td>
                                        <td class="text-right">@detailItem.UnitPrice.ToString("N2")</td>
                                        <td class="text-right">@detailItem.Quantity.ToString("N0")</td>
                                        <td class="text-right">@detailItem.Price.ToString("N2")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        ยอดรวม : @accountInvoice.InvoiceDetails.Sum(x => x.UnitPrice * x.Quantity).ToString("N2") บาท
                    </div>
                </div>
            </div>
        </div>
    }
}

<div class="table-responsive mt-4">
    <table id="detailsTable" class="table table-sm">
        <thead class="table-dark">
            <tr>
                <th>
                    Invoice No
                </th>
                <th>
                    VAT
                </th>
                <th>
                    Finish Status
                </th>
                <th>
                    Create Date
                </th>
                <th>
                    Finish Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ((List<DomainModel.Invoice>)ViewBag.InvoiceList).OrderBy(x => x.InvoiceNo))
            {
                var finishDate = Convert.ToDateTime(item.FinishDate).ToString("dd/MM/yyyy");
                <tr>
                    <td>
                        @item.InvoiceNo
                    </td>
                    <td style="text-align:center;">
                        @if (item.IsIncludeVAT == true)
                        {
                            <i class="fas fa-check-circle" title="Include VAT" style="color:green;"></i>
                        }

                    </td>
                    <td style="text-align:center;">
                        @if (item.IsFinish == true)
                        {
                            <i class="fas fa-check-circle" style="color:green;"></i>
                        }
                    </td>
                    <td>
                        @item.CreateDate.ToShortDateString()
                    </td>
                    <td>
                        @finishDate
                    </td>
                    <td>
                        @{
                            var modalID = item.InvoiceNo;
                        }
                        @if (item.IsFinish == false)
                        {
                            <a id="detailButton" class="btn btn-primary btn-sm"> จัดการข้อมูล</a>
                            <a id="deleteButton" class="btn btn-danger btn-sm"
                               href="@Url.Action("Delete", "Invoice",
                                    new { farmerCode = farmer.FarmerCode, invoiceType = ViewBag.InvoiceType, invoiceNo = item.InvoiceNo })"> ลบ invoice</a>
                        }
                        else
                        {
                            <a class="btn btn-success btn-sm" data-bs-toggle="modal" href="#@modalID" role="button">ดูใบส่งปัจจัยฯ</a>
                            <div class="modal fade" tabindex="-1" aria-hidden="true" id="@modalID">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title fs-5">เลขที่เอกสาร : @item.InvoiceNo</h6>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="small">**เอกสารใบส่งปัจจัยการผลิตที่ออกให้กับชาวไร่ (PIV, PIN, POV, PON)</p>
                                            <table class="table">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th>เลขที่</th>
                                                        <th>พิมพ์เมื่อ</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var accountInvoice in item.AccountInvoices.OrderBy(x => x.InvoiceNo))
                                                    {
                                                        var modal1ID = accountInvoice.InvoiceNo;
                                                        var printDate = Convert.ToDateTime(accountInvoice.PrintDate).ToString("dd/MM/yyyy");
                                                        <tr>
                                                            <td>@accountInvoice.InvoiceNo</td>
                                                            <td>
                                                                @printDate
                                                            </td>
                                                            <td>
                                                                @if (accountInvoice.IsPrinted == false && accountInvoice.Invoice.IsFinish == true)
                                                                {
                                                                    <a class="btn btn-success btn-sm"
                                                                       href="@Url.Action("Print","AccountInvoice",new { accountInvoiceNo = accountInvoice.InvoiceNo})">พิมพ์ account invoice</a>
                                                                }
                                                                <button class="btn btn-primary btn-sm" data-bs-target="#@modal1ID" data-bs-toggle="modal">ดูรายละเอียด</button>
                                                                <a class="btn btn-warning btn-sm" target="_blank" href="@Url.Action("Index","CreditNote",new { accountInvoiceNo = accountInvoice.InvoiceNo })">ทำใบลดหนี้</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
