﻿@{
    ViewBag.Title = "ReturnCPAContainer";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var farmer = (DomainModel.Farmer)ViewBag.Farmer;
    var registration = (DomainModel.RegistrationFarmer)ViewBag.RegistrationFarmer;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        var table = $("#detailsTable").DataTable({
            "order": [[0, "asc"]]
        });

        $("#createButton").click(function (e) {
            if (confirm("ท่านต้องการสร้างใบคืนขยะสารเคมีใหม่ใช่หรือไม่") == false) {
                e.preventDefault();
                return;
            }

            var resourceUrl = '@Url.Action("Create", "Invoice")?farmerCode=' + $("#farmerCode").val() + '&invoiceType=CD';
            window.location.href = resourceUrl;
        });

        $('#printButton').click(function (e) {
            if (confirm("เมื่อท่านปริ้นท์เอกสารแล้วท่านจะไม่สามารถปริ้นท์ใหม่ได้อีก ท่านต้องการตรวจสอบข้อมูลก่อนปริ้นท์อีกครั้งหรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        })

        $("body").on("click", "#detailsTable tbody tr #deleteButton", function (e) {
            var row = table.row($(this).closest('tr')).data();
            if (row[1] != "") {
                alert("สถานะเอกสารคือ Finish ไม่สามารถลบข้อมูลได้");
                e.preventDefault();
                return;
            }

            if (confirm("ท่านต้องการลบข้อมูลนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });
    })
</script>

<h2>Return CPA Container</h2>
<h6>บันทึกข้อมูลการคืนขยะสารเคมี</h6>
<hr />
<div class="card-deck">
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_FarmerProfile.cshtml", farmer)
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_RegistrationProfile.cshtml", registration)
</div>

<div class="row my-4">
    <div class="col-sm-12 mx-2">
        <form class="form-inline justify-content-center" action="@Url.Action("Main","Invoice")" method="get">
            <div class="form-group">
                <input type="hidden" id="farmerCode" name="farmerCode" value="@farmer.FarmerCode" />
                <a id="createButton" class="btn btn-success btn-sm ml-1" href="#"><i class="fas fa-plus"></i> สร้างใบคืนขยะสารเคมี</a>
                <a class="btn btn-secondary btn-sm ml-1"
                   href="@Url.Action("CheckProfile", "Farmer", new { citizenID = farmer.CitizenID, extensionAgentCode = farmer.Supplier })">
                    <i class="fas fa-arrow-circle-left"></i> ย้อนกลับ
                </a>
            </div>
        </form>
    </div>
</div>
<div class="table-responsive-lg">
    <table id="detailsTable" class="table table-sm">
        <thead class="table-dark">
            <tr>
                <th>
                    Return No
                </th>
                <th>
                    Finish Status
                </th>
                <th>
                    Create Date
                </th>
                <th>
                    Finish Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ((List<DomainModel.Invoice>)ViewBag.InvoiceList).OrderBy(x => x.InvoiceNo))
            {
                var finishDate = Convert.ToDateTime(item.FinishDate).ToString("dd/MM/yyyy");
                <tr>
                    <td>
                        @item.InvoiceNo
                    </td>
                    <td style="text-align:center;">
                        @if (item.IsFinish == true)
                        {
                            <i class="fa fa-check-circle" style="color:green;"></i>
                        }
                    </td>
                    <td>
                        @item.CreateDate.ToShortDateString()
                    </td>
                    <td>
                        @finishDate
                    </td>
                    <td>
                        @if (item.IsFinish == false)
                        {
                            <a id="detailButton" class="btn btn-outline-success btn-sm" 
                               href="@Url.Action("Add","ReturnChemicalContainer",new { farmerCode = item.FarmerCode})"> จัดการข้อมูล</a>
                            <a id="deleteButton" class="btn btn-outline-danger btn-sm"
                               href="@Url.Action("Delete", "Invoice", new { farmerCode = farmer.FarmerCode, invoiceType = "CD", invoiceNo = item.InvoiceNo })"> ลบ</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


