﻿
@{
    ViewBag.Title = "SearchFarmer";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var farmerName = ViewBag.FarmerName;
    var extensionAgentCode = ViewBag.ExtentionAgentCode;
    var crop = ViewBag.Crop;
    var farmers = (List<DomainModel.Farmer>)ViewBag.Farmers;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        var debtSetupTable = $("#farmerTable").DataTable({
            "order": [[4, "asc"], [2, "desc"]]
        });

        $(document).on("click", "table tbody tr a", function (e) {
            var data = $(e.currentTarget);
            var isRegister = data.attr("data-bs-isRegister");
            if (isRegister == "False") {
                alert("ไม่พบข้อมูลการลงทะเบียนทำสัญญาของชาวไร่รายนี้ในระบบ");
                e.preventDefault();
                return;
            }
        });
    });
</script>

<h4>Search Farmer</h4>
<h6>ค้นหาชาวไร่จากตัวแทน</h6>

<div class="card border-secondary">
    <div class="card-header bg-secondary text-white">ค้นหาชาวไร่</div>
    <div class="card-body border-secondary">
        @using (Html.BeginForm("SearchFarmer", "Invoice", FormMethod.Get))
        {
            <div class="row mb-3">
                <label for="SupplierCode"
                       class="col-sm-2 col-form-label">ตัวแทน</label>
                <div class="col-sm-10">
                    @Html.DropDownList("extensionAgentCode",
                   new SelectList(ViewBag.ExtensionAgenCodeList, "SupplierCode", "SupplierCode"),
                   "โปรดเลือกตัวแทน", new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="row mb-3">
                <label for="farmerName"
                       class="col-sm-2 col-form-label">ชื่อชาวไร่</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" required value="@farmerName" name="farmerName" id="farmerName" placeholder="ชื่อชาวไร่ (Farmer Name)" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button class="btn btn-primary"
                            type="submit">
                        <span class="material-icons">
                            search
                        </span>
                        ค้นหาชาวไร่
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@if (farmers.Count() <= 0)
{
    <div class="mt-4">
        <div class="alert alert-danger">
            ไม่พบข้อมูลชาวไร่รายนี้ที่ลงทะเบียนกับตัวแทน @extensionAgentCode โปรดลองทำการค้นหาใหม่อีกครั้ง
        </div>
    </div>
}
else
{
    <div class="table-responsive mt-4">
        <table class="table table-sm table-hover" id="farmerTable">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        รหัสชาวไร่
                    </th>
                    <th>
                        ชื่อ
                    </th>
                    <th>
                        สกุล
                    </th>
                    <th>ทำสัญญา (ไร่)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in farmers)
                {
                    var isRegister = item.RegistrationFarmers
                        .SingleOrDefault(x => x.Crop == crop) != null ? true : false;
                    var signContractRai = item.RegistrationFarmers
                        .Where(x => x.Crop == crop &&
                        string.IsNullOrEmpty(x.UnRegisterReason) == true)
                        .Sum(x => x.QuotaFromSignContract);
                    <tr>
                        <td>
                            @if (signContractRai > 0)
                            {
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="@Url.Action("Index2", new { @farmerCode = item.FarmerCode })"
                                   data-bs-isRegister="@isRegister"
                                   target="_blank">
                                    <i class="fas fa-plus-circle"></i> จ่ายปัจจัย
                                </a>
                            }
                        </td>
                        <td>
                            @item.FarmerCode
                        </td>
                        <td>
                            @item.Person.FirstName
                        </td>
                        <td>
                            @item.Person.LastName
                        </td>
                        <td>
                            @if (signContractRai > 0)
                            {
                                @signContractRai
                            }
                            else
                            {
                                <i class="text-danger">ไม่ทำสัญญาในปีนี้/ยกเลิกสัญญา</i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}