﻿@model BUWebApp.Areas.ExtensionAgent.Models.vm_CheckFarmerProfile
@using BUWebApp.Models
@{
    ViewBag.Title = "CheckFarmerProfile";
    Layout = "~/Areas/ExtensionAgent/Views/Shared/_Layout.cshtml";

    int? totalAgriculture = 0;
    int? totalGrowingTobacco = 0;

    if (Model.Person != null && Model.Person.FirstName != null)
    {
        totalAgriculture = DateTime.Now.Year - Model.Person.StartAgriculture;
        totalGrowingTobacco = DateTime.Now.Year - Model.Person.StartGrowingTobacco;
    }

    var transactionList = ((List<vm_FarmerContractHistory>)ViewBag.RegisterAndSoldHistory);
}

<h3>Check Farmer Profile</h3>
<h6>ตรวจสอบข้อมูลประวัติชาวไร่ในระบบ</h6>
<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            Extention Agent:
            <input class="form-control" readonly="readonly" value="@ViewBag.SupplierCode" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("CheckFarmerProfile", "Farmer"))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                CitizenID:
                @Html.TextBoxFor(model => model.CitizenID, new { @class = "form-control", @placeholder = "รหัสประจำตัวประชาชน 13 หลัก" })
                @Html.ValidationMessageFor(model => model.CitizenID, "", new { @class = "text-danger" })
                @if (ViewData.ModelState.IsValid && Model.CitizenID != null)
                {
                    <i class="fa fa-check" style="color:green;"></i>
                }
                else if (!ViewData.ModelState.IsValid && Model.CitizenID != null)
                {
                    <i class="fa fa-times" style="color:red;"></i>
                }
            </div>
            <button id="submitButton" type="submit" class="btn btn-primary"><i class="fa fa-search"></i> ตรวจสอบข้อมูล</button>
            <a class="btn btn-secondary" href="@Url.Action("CheckFarmerProfile", new { citizenID = "" })"><i class="fa fa-refresh"></i> เคลียร์ข้อมูล</a>
        }
    </div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="row" style="margin-top:20px;margin-bottom:20px;">
        <div class="col-sm-12">
            @Html.ValidationMessage("", new { @class = "text-danger" })
        </div>
    </div>
}

@if (ViewData.ModelState.IsValid && Model.CitizenID != null)
{
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-info text-light">
                    <i class="fa fa-user-o"></i>  ข้อมูลประวัติส่วนตัว
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            คำนำหน้า:
                            @Html.TextBoxFor(model => model.Person.Prefix, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            ชื่อ:
                            @Html.TextBoxFor(model => model.Person.FirstName, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            นามสกุล:
                            @Html.TextBoxFor(model => model.Person.LastName, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            บ้านเลขที่
                            @Html.TextBoxFor(model => model.Person.HouseNumber, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-2">
                            หมู่
                            @Html.TextBoxFor(model => model.Person.Village, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-2">
                            ตำบล
                            @Html.TextBoxFor(model => model.Person.Tumbon, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-2">
                            อำเภอ
                            @Html.TextBoxFor(model => model.Person.Amphur, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-2">
                            จังหวัด
                            @Html.TextBoxFor(model => model.Person.Province, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            รหัสประจำตัวประชาชน :
                            @Html.TextBoxFor(model => model.CitizenID, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            วัน/เดือน/ปีเกิด:
                            @Html.TextBoxFor(model => model.Person.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            เบอร์โทรศัพท์:
                            @Html.TextBoxFor(model => model.Person.TelephoneNumber, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            สถานะภาพ:
                            @Html.TextBoxFor(model => model.Person.MaritalStatu.MaritalStatusName, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            คำนำหน้าคู่สมรส:
                            @Html.TextBoxFor(model => model.Person.SpousePrefix, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            ชื่อคู่สมรส:
                            @Html.TextBoxFor(model => model.Person.SpouseFirstName, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            นามสกุลคู่สมรส:
                            @Html.TextBoxFor(model => model.Person.SpouseLastName, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-3">
                            รหัสประจำตัวประชาชนคู่สมรส:
                            @Html.TextBoxFor(model => model.Person.SpouseCitizenID, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            ปีที่เริ่มทำการเกษตร (ค.ศ.):
                            <input type="text" class="form-control form-control-sm" value="@Model.Person.StartAgriculture" readonly="readonly" />
                        </div>
                        <div class="col-sm-3">
                            ปีที่เริ่มปลูกยาสูบ (ค.ศ.):
                            <input type="text" class="form-control form-control-sm" value="@Model.Person.StartGrowingTobacco" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            ทำการเกษตรมาแล้ว (ปี):
                            <input type="number" class="form-control form-control-sm" readonly="readonly" value="@totalAgriculture" />
                        </div>
                        <div class="col-sm-3">
                            ปลูกยาสูบมาแล้ว (ปี):
                            <input type="number" class="form-control form-control-sm" readonly="readonly" value="@totalGrowingTobacco" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @if (Model.Person.FirstName == null)
                                {
                                    <!-- ไม่พบข้อมูลประวัติในระบบเและตรวจเช็ตรูปแบบรหัสประจำตัวประชาชนถูกต้องแล้ว ให้แสดงปุ่ม "บันทึกประวัติ" -->
                                    <a style="margin-right:5px;" class="btn btn-primary" href="@Url.Action("Create", "Person", new { id = Model.CitizenID })">
                                        <i class="fa fa-user-plus"></i> บันทึกประวัติส่วนตัว
                                    </a>
                                }
                                else
                                {
                                    if (Model.Farmers.Where(x => x.Supplier == @ViewBag.SupplierCode).Count() <= 0)
                                    {
                                <!-- ยังไม่เคยลงทะเบียนกับตัวแทนรายนี้ ให้แสดงปุ่ม "ลงทะเบียนเป็นสมาชิก" -->
                                        <a style="margin-right:5px;" class="btn btn-info" href="@Url.Action("Create", "Farmer", new { citizenID = Model.CitizenID, supplierCode = ViewBag.SupplierCode })">
                                            <i class="fa fa-thumbs-up"></i> สมัครสมาชิกกับ @ViewBag.SupplierCode
                                        </a>
                                    }
                                    else
                                    {
                                <!-- เป็นชาวไร่รายเก่าที่เคยลงทะเบียนไว้กับตัวแทนรายนี้แล้ว ให้แสดงปุ่ม "บันทึกใบสมัคร/แก้ไขประวัติส่วนตัว" -->
                                        <a style="margin-right:5px;" class="btn btn-success" href="@Url.Action("Index", "PreRegistrationForm", new { id = Model.CitizenID })">
                                            <i class="fa fa-file-text-o"></i> บันทึกใบสมัคร
                                        </a>
                                    }
                                    <a style="margin-right:5px;" class="btn btn-warning" href="@Url.Action("Edit", "Person", new { id = Model.CitizenID })">
                                        <i class="fa fa-edit"></i> แก้ไขประวัติส่วนตัว
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Farmers.Count() > 0)
{
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-info text-light">
                    <i class="fa fa-calendar"></i> ข้อมูลการเป็นสมาชิกกับตัวแทน
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>Farmer code</th>
                                <th>Extention agent</th>
                                <th>Registration date</th>
                                @*<th>History</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ((List<DomainModel.Farmer>)Model.Farmers).OrderByDescending(x => x.RegistrationDate))
                            {
                                <tr>
                                    <td>@item.FarmerCode</td>
                                    <td>@item.Supplier</td>
                                    <td>@item.RegistrationDate.ToShortDateString()</td>
                                    @*<td>
                                        <a href="@Url.Action("SignContractDetail", new { farmerCode = @item.FarmerCode })">ดูประวัติการขาย</a>
                                    </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@if (transactionList.Count() > 0)
{
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-info text-light">
                    <i class="fa fa-line-chart"></i> ประวัติการลงทะเบียนและการขายใบยาสูบ
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>Crop</th>
                                <th>Farmer code</th>
                                @*<th>Registration date</th>*@
                                <th>Request (rai)</th>
                                <th>Sign contract (rai)</th>
                                <th>Fixed (kgs.)</th>
                                <th>Sold (kgs.)</th>
                                <th>% of Sold</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in transactionList
                                .OrderByDescending(x => x.Crop)
                                .ThenBy(x => x.FarmerCode))
                            {
                                <tr>
                                    <td>@item.Crop</td>
                                    <td>@item.FarmerCode</td>
                                    @*<td>@Convert.ToDateTime(item.SignContractDate).ToShortDateString()</td>*@
                                    <td>@item.QuotaFromFarmerRequest</td>
                                    <td>@item.QuotaFromSignContract</td>
                                    <td>@item.Fixed.ToString("N0")</td>
                                    <td>@item.Sold.ToString("N0")</td>
                                    <td>
                                        @if (item.Fixed > 0 && item.Sold > 0)
                                        {
                                            <span>
                                                @Convert.ToDecimal(item.Sold / item.Fixed * 100).ToString("N0")
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
