﻿@model BUWebApp.Areas.Admin.Models.vm_FarmEquipment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Edit Farm Equipement</h3>
<hr />

@using (Html.BeginForm("Edit", "FarmEquipment", FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.MachineAndFarmEquipmentID)
    <div class="col-12 mt-3">
        <label class="form-label">ชื่อเรียกอุปกรณ์</label>
        @Html.TextBoxFor(model => model.MachineAndFarmEquipmentName, new { @class = "form-control", type = "text", @placeholder = "ชื่อเรียกเครื่องมือ" })
        @Html.ValidationMessageFor(model => model.MachineAndFarmEquipmentName, "", new { @class = "text-danger" })
    </div>
    <div class="col-12 mt-3">
        @Html.CheckBoxFor(model => model.IsActive, new { type = "checkbox", @class = "form-check-input" })
        <label class="form-check-label">แสดงข้อมูลให้ผู้ใช้เห็น</label>
        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
    </div>
    <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-save"></i> Save</button>
        <button type="reset" class="btn btn-outline-secondary btn-sm"> Reset</button>
        <a class="btn btn-secondary btn-sm" href="@Url.Action("Index","FarmEquipment")"><i class="fas fa-arrow-circle-left"></i> Back</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}