﻿@model BUWebApp.Areas.Admin.Models.vm_FarmEquipment

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#equipmentTable").DataTable();
    });
</script>

<h3>Farm Equipement</h3>
<hr />

@using (Html.BeginForm("Create", "FarmEquipment", FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    <div class="col-12 mt-3">
        <label class="form-label">ชื่อเรียกอุปกรณ์</label>
        @Html.TextBoxFor(model => model.MachineAndFarmEquipmentName, new { @class = "form-control", type = "text" })
        @Html.ValidationMessageFor(model => model.MachineAndFarmEquipmentName, "", new { @class = "text-danger" })
    </div>
    <div class="col-12 mt-3">
        @Html.CheckBoxFor(model => model.IsActive, new { type = "checkbox", @class = "form-check-input" })
        <label class="form-check-label">แสดงข้อมูลให้ผู้ใช้เห็น</label>
        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
    </div>
    <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Add</button>
        <button type="reset" class="btn btn-outline-secondary btn-sm"> Reset</button>
    </div>
}

<div class="table-responsive mt-3">
    <table id="equipmentTable" class="table table-hover table-striped table-sm">
        <thead class="table-dark">
            <tr>
                <th>ชื่อเรียกเครื่องมือ</th>
                <th>แสดง</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ItemList as List<DomainModel.MachineAndFarmEquipment>)
            {
                <tr>
                    <td>@item.MachineAndFarmEquipmentName</td>
                    <td>@Html.CheckBoxFor(model => item.IsActive)</td>
                    <td>
                        <a class="btn btn-success btn-sm" href="@Url.Action("Edit", "FarmEquipment", new { id = item.MachineAndFarmEquipmentID })">Edit</a>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "FarmEquipment", new { id = item.MachineAndFarmEquipmentID })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}