﻿@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";
    var accountInvoice = (DomainModel.AccountInvoice)ViewBag.AccountInvoice;
    var register = (DomainModel.RegistrationFarmer)ViewBag.Registration;
    var person = register.Farmer.Person;
    var accountInvoiceDetails = (List<BusinessLayer.Model.m_InvoiceDetails>)ViewBag.AccountInvoiceDetails;
}
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#detailsTable").DataTable();
    });
</script>

<h3>Account Invoice Details</h3>
<h5>รายละเอียดใบเสร็จ/ใบส่งของ</h5>
<hr />
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Account Invoice No.</dt>
            <dd class="col-sm-9">@accountInvoice.InvoiceNo</dd>

            <dt class="col-sm-3">Ref Invoice No.</dt>
            <dd class="col-sm-9"> @accountInvoice.RefInvoiceNo</dd>

            <dt class="col-sm-3">Farmer Code</dt>
            <dd class="col-sm-9">
                @register.FarmerCode
            </dd>

            <dt class="col-sm-3">Farmer Name</dt>
            <dd class="col-sm-9">
                @person.Prefix@person.FirstName @person.LastName
            </dd>

            <dt class="col-sm-3">Create Date</dt>
            <dd class="col-sm-9">
                @accountInvoice.CreateDate
            </dd>

            <dt class="col-sm-3">Print Date</dt>
            <dd class="col-sm-9">
                @accountInvoice.PrintDate
            </dd>

            <dt class="col-sm-3">Print By</dt>
            <dd class="col-sm-9">
                @accountInvoice.PrintBy
            </dd>

            <dt class="col-sm-3">Print Status</dt>
            <dd class="col-sm-9">
                @{var isPrinted = accountInvoice.IsPrinted == true ? "พิมพ์ออกจากระบบแล้ว" : "รอการพิมพ์";}
                @isPrinted
            </dd>
            <dt class="col-sm-3">Total Amount</dt>
            <dd class="col-sm-9">
                <span>@accountInvoiceDetails.Sum(x => x.Quantity * x.UnitPrice).ToString("N2")</span>
            </dd>
        </dl>
        <div class="btn-group">
            @if (!accountInvoice.IsPrinted == true)
            {
                <a class="btn btn-sm btn-success"
                   target="_blank"
                   href="@Url.Action("Print",new { accountInvoiceNo = accountInvoice.InvoiceNo })">
                    <span class="material-icons">
                        print
                    </span> พิมพ์ใบเสร็จ/ใบส่งของ
                </a>
            }
            else
            {
                <a class="btn btn-sm btn-danger"
                   href="@Url.Action("UnlockPrint",new { accountInvoiceNo = accountInvoice.InvoiceNo })">
                    <span class="material-icons">
                        lock_open
                    </span>
                    unlock
                </a>
            }
            <a class="btn btn-sm btn-secondary"
               href="@Url.Action("Search",new { accountInvoiceNo = accountInvoice.InvoiceNo })">
                <span class="material-icons">
                    arrow_left
                </span> ย้อนกลับ
            </a>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <div class="table-responsive mt-2">
            <table id="detailsTable" class="table table-sm">
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Item Name</th>
                        <th>Qty</th>
                        <th>Unit Price</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in accountInvoiceDetails.OrderBy(x => x.ItemName).ThenBy(x => x.ItemName))
                    {
                        var price = (item.UnitPrice * item.Quantity).ToString("N2");
                        <tr>
                            <td>
                                @item.ItemID
                            </td>
                            <td>
                                @item.ItemName
                            </td>
                            <td>
                                @item.Quantity.ToString("N0")
                            </td>
                            <td>
                                @item.UnitPrice.ToString("N2")
                            </td>
                            <td>
                                @price
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

