﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";
    var accountInvoiceNo = ViewBag.AccountInvoiceNo;
    var accountInvoices = (List<DomainModel.AccountInvoice>)ViewBag.AccountInvoices;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#accountInvoiceTable").DataTable();
    });

    $(document).on("click", "#unlockButton", function (e) {
        if (confirm("ท่านต้องการปลดล็อคเพื่อให้สามารถพิมพ์เอกสารนี้ใหม่ใช่หรือไม่?") == false) {
            e.preventDefault();
            return false;
        }
    });

    $(document).on("click", "#printButton", function (e) {
        if (confirm("หลังจากที่พิมพ์เอกสารแล้ว ท่านจะไม่สามารถพิมพ์เอกสารได้อีก" +
            " หากต้องการพิมพ์เอกสารอีกครั้งให้แจ้งทางแผนกบัญชีเพื่อขอทำการปลดล็อคเอกสารนี้" +
            " ท่านต้องการปลดล็อคเพื่อให้สามารถพิมพ์เอกสารนี้ใหม่ใช่หรือไม่ ? ") == false) {
            e.preventDefault();
            return false;
        }
    });
</script>

<h4>Search Invoice</h4>
<h6>ค้นหาใบเสร็จ/ใบส่งของ</h6>
<hr />

<div class="card border-secondary">
    <div class="card-header bg-secondary text-white">ค้นหาเอกสาร</div>
    <div class="card-body">
        @using (Html.BeginForm("Search", "AccountInvoice", FormMethod.Get))
        {
            <div class="row mb-3">
                <label for="creditNoteCode"
                       class="col-sm-2 col-form-label">รหัสเอกสาร</label>
                <div class="col-sm-10">
                    <input class="form-control"
                           type="text"
                           required
                           value="@accountInvoiceNo"
                           name="accountInvoiceNo"
                           id="accountInvoiceNo"
                           placeholder="รหัสใบเสร็จ/ใบส่งของ (Account Invoice No)" />
                </div>
            </div><div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button class="btn btn-primary"
                            type="submit">
                        <i class="fas fa-search"></i> ค้นหา
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        @if (accountInvoices.Count() <= 0)
        {
            <div class="alert alert-danger">ไม่พบข้อมูลใบเสร็จ/ใบส่งของ รหัสเอกสาร @accountInvoiceNo นี้ในระบบโปรดลองทำการค้นหาใหม่อีกครั้ง</div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-sm table-hover" id="accountInvoiceTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                account invoice no.
                            </th>
                            <th>
                                create date
                            </th>
                            <th>
                                print status
                            </th>
                            <th>
                                print by
                            </th>
                            <th>
                                print date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in accountInvoices)
                        {
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        @if (item.IsPrinted == true)
                                        {

                                            <a class="btn btn-sm btn-danger"
                                               title="Unlock (ปลดล็อคเอกสาร)"
                                               id="unlockButton"
                                               href="@Url.Action("UnlockPrint", new { accountInvoiceNo = item.InvoiceNo })">
                                                <span class="material-icons">
                                                    lock_open
                                                </span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-sm btn-success"
                                               title="Print (พิมพ์เอกสาร)"
                                               id="printButton"
                                               target="_blank"
                                               href="@Url.Action("Print", new { accountInvoiceNo = item.InvoiceNo })">
                                                <span class="material-icons">
                                                    print
                                                </span>
                                            </a>
                                        }
                                        <a class="btn btn-sm btn-info"
                                           title="Details (ดูรายละเอียดใบเสร็จ/ใบส่งของ)"
                                           href="@Url.Action("Details", new { accountInvoiceNo = item.InvoiceNo})">
                                            <span class="material-iconsAccountInvoice">
                                                list
                                            </span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    @item.InvoiceNo
                                </td>
                                <td>
                                    @item.CreateDate.ToShortDateString()
                                </td>
                                <td>
                                    @{var isPrinted = item.IsPrinted == true ? "พิมพ์แล้ว" : "รอพิมพ์";}
                                    @isPrinted
                                </td>
                                <td>
                                    @item.PrintBy
                                </td>
                                <td>
                                    @item.PrintDate
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

