﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/FarmerBonus/Views/Shared/_Layout.cshtml";
    string[] rolesArray = ViewBag.RolesArray;
    var status = ViewBag.Status;
    var detailsList = (List<BusinessLayer.Model.FarmerBonus.m_ExtraBonusDetails>)ViewBag.ExtraBonusDetailsList;
    var statusLabel = "";
    switch (status)
    {
        case "Pending":
            statusLabel = "รอโอน";
            break;
        case "Transferred":
            statusLabel = "รอพิมพ์";
            break;
        case "Completed":
            statusLabel = "เสร็จสิ้น";
            break;
        default:
            break;
    }
    var userRole = "";

    if (User.IsInRole("Accounting"))
    {
        userRole = "Accounting";
    }
    else
    {
        userRole = "Supervisor";
    }
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#detailsTable").DataTable({
            "order": [[9, "asc"]]
        });
        var userRoles = $("#userRole").val();
        var status = $("#status").val();
        var confirmTransfer = $("#confirmTransferRadio");
        var confirmPrint = $("#confirmPrintRadio");
        var cancelTransfer = $("#cancelTransferedRadio");
        var cancelForPrint = $("#cancelForPrintRadio");

        confirmTransfer.prop('disabled', true);
        confirmPrint.prop('disabled', true);
        cancelTransfer.prop('disabled', true);
        cancelForPrint.prop('disabled', true);

        if (userRoles == "Accounting") {
            if (status == "Pending") {
                confirmTransfer.prop('disabled', false);
            }
            else if (status == "Transferred") {
                cancelTransfer.prop('disabled', false);//set to "รอโอน"
            }
            else if (status == "Completed") {
                cancelForPrint.prop('disabled', false);//set to "รอพิมพ์"
            }
        }
        else {
            if (status == "Transferred") {
                confirmPrint.prop('disabled', false);
            }
        }
    });

    $(document).on("click", "#selecteAll", function (e) {
        var checked = $("#selecteAll").prop('checked');
        $('input[type=checkbox]').prop('checked', checked);
    });

    $(document).on("click", "#formSubmitButton", function (e) {
        var totalCheckboxes = $('input:checkbox:checked').length;
        if (totalCheckboxes <= 0) {
            alert("โปรดเลือกรายการข้อมูลที่จะดำเนินการอย่างน้อย 1 รายการ");
            e.preventDefault();
            return;
        }

        if ($('input[name^=operation]:checked').length <= 0) {
            alert("โปรดระบุตัวเลือกดำเนินการ");
            e.preventDefault();
            return;
        }

        if (confirm("ท่านต้องการยืนยันและบันทึกข้อมูลนี้ใช่หรือไม่?") == false) {
            e.preventDefault();
            return;
        }
    });
</script>
<h4>Details</h4>
<h6 class="mb-3">รายชื่อชาวไร่ที่มีสถานะ <b>"@statusLabel"</b></h6>
@using (Html.BeginForm("Operation", "ExtraQuotaBonus", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <span class="material-icons">
                help_outline
            </span>
            ตัวเลือกดำเนินการ
        </div>
        <div class="card-body">
            <input type="hidden" value="@userRole" name="userRole" id="userRole" />
            <input type="hidden" value="@status" name="status" id="status" />
            <div class="row">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="operation" id="confirmTransferRadio" value="ConfirmTransfer">
                                <label class="form-check-label" for="confirmRadio">
                                    ยืนยันการโอน
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="operation" id="cancelTransferedRadio" value="CancelTransferred">
                                <label class="form-check-label" for="confirmRadio">
                                    ยกเลิกการโอน
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="operation" id="confirmPrintRadio" value="ConfirmPrint">
                                <label class="form-check-label" for="confirmRadio">
                                    ยืนยันการพิมพ์ใบรับเงิน
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="operation" id="cancelForPrintRadio" value="CancelForPrint">
                                <label class="form-check-label" for="confirmRadio">
                                    ปลดล็อคเพื่อให้พิมพ์ใบรับเงินใหม่
                                </label>
                            </div>

                            <div class="btn-group mt-2">
                                <button class="btn btn-sm btn-success"
                                        type="submit"
                                        id="formSubmitButton">
                                    <span class="material-icons">
                                        check
                                    </span>
                                    Submit
                                </button>
                                <a class="btn btn-sm btn-secondary"
                                   href="@Url.Action("Export",new { status = status })">
                                    <span class="material-icons">
                                        file_download
                                    </span>
                                    Export
                                </a>
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="@Url.Action("Index")">
                                    <span class="material-icons">
                                        arrow_left
                                    </span>
                                    Back
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-body">
                            <h2 class="text-center">
                                @statusLabel
                                @detailsList.Count.ToString("N0")
                                รายการ
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    if (detailsList.Count > 0)
    {
        <div class="table-responsive mt-4">
            <table id="detailsTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="selecteAll" name="selecteAll">
                            </div>
                        </th>
                        <th>
                            Extension Agent
                        </th>
                        <th>
                            Farmer Code
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Quota (Rai)
                        </th>
                        <th>
                            Quota (Kg.)
                        </th>
                        <th>
                            Sold (Kg.)
                        </th>
                        <th>
                            Extra (Kg.)
                        </th>
                        <th>
                            Bonus Amount
                        </th>
                        <th>
                            Receipt Order
                        </th>
                        <th>
                            Debt Balalance
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in detailsList)
                    {
                        <tr>
                            @if (item.ExtraQuotaStatus == "Pending")
                            {
                                <td>
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value="@item.FarmerCode"
                                           id="farmerCodeItemCheckBox"
                                           name="farmerCodeList">
                                </td>
                            }
                            @if (item.ExtraQuotaStatus == "Transferred" || item.ExtraQuotaStatus == "Completed")
                            {
                                <td>
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value="@item.ReceiptOrder"
                                           id="receiptOrderItemCheckBox"
                                           name="receiptOrderList">
                                </td>
                            }
                            <td>
                                @item.ExtensionAgentCode
                            </td>
                            <td>
                                @item.FarmerCode
                            </td>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.LastName
                            </td>
                            <td>
                                @item.QuotaRai.ToString("N0")
                            </td>
                            <td>
                                @item.QuotaKg.ToString("N0")
                            </td>
                            <td>
                                @item.SoldKg.ToString("N1")
                            </td>
                            <td>
                                @item.ExtraSoldKg.ToString("N1")
                            </td>
                            <td>
                                @item.BonusAmount.ToString("N1")
                            </td>
                            <td>
                                @item.ReceiptOrder
                            </td>
                            <td>
                                @{
                                    var debtBalance = Convert.ToDecimal(item.DebtBalance).ToString("N2");
                                }
                                @debtBalance
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-danger mt-4">ไม่พบข้อมูลชาวไร่ที่มีสถานะ "@status" ในระบบ</div>
    }
}

