﻿@model BUWebApp.Areas.Admin.Models.vm_CPAContianerItem

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var list = (List<DomainModel.CPAContainerItem>)ViewBag.CPAContainerItemList;
}

<script type="text/javascript">
    $(document).ready(function () {
        var dataTable = $("#CPAContainerItemTable").DataTable({
            "order": [[1, "desc"], [2, "desc"]]
        });

        $("#submitFormButton").click(function (e) {
            if (confirm("ท่านต้องการบันทึกข้อมูลนี้ใช่หรือไม่? โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนการบันทึกข้อมูล") == false) {
                e.preventDefault();
                return;
            }
        });

        $("#submitEditButton").click(function (e) {
            if (confirm("ท่านต้องการบันทึกข้อมูลนี้ใช่หรือไม่? โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนการบันทึกข้อมูล") == false) {
                e.preventDefault();
                return;
            }
        });

        $("body").on("click", "#CPAContainerItemTable tbody tr #deleteButton", function (e) {
            var row = dataTable.row($(this).closest('tr')).data();
            var code = row[1];
            if (confirm("ท่านต้องการลบข้อมูลรหัส " + code + " นี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });

    });
</script>

<h3>CPA Container Item</h3>
<hr />
<button class="btn btn-sm btn-primary mb-3" id="addModalButton" title="Add CPA container"
        data-bs-toggle="modal" href="#addModal" role="button">
    + Add new item
</button>

<div class="modal fade" tabindex="-1" aria-hidden="true" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5">Add CPA Container Item</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Add", "CPAContainerItem", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row g-3">
                        <div class="col">
                            <label class="form-label">Item Code </label>
                            @Html.TextBoxFor(model => model.Code, new { @class = "form form-control" })
                            @Html.ValidationMessageFor(model => model.Code, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <label class="form-label">Item Name </label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form form-control" })
                            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <label class="form-label">Unit </label>
                            @Html.TextBoxFor(model => model.Unit, new { @class = "form form-control" })
                            @Html.ValidationMessageFor(model => model.Unit, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <label class="form-label">Description </label>
                            @Html.TextBoxFor(model => model.Description, new { @class = "form form-control" })
                            @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="mt-4">
                        <button id="submitFormButton" class="btn btn-primary" type="submit">Add</button>
                        <button id="resetFormButton" type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@foreach (var item in list)
{
    var editModal = "Code" + item.Code;
    <div class="modal fade" id="@editModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Edit CPA container item</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Edit", "CPAContainerItem", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row g-3">
                            <div class="col">
                                <label class="form-label">Item Code </label>
                                <input class="form form-control" name="Code" id="Code" type="text" value="@item.Code" />
                                @Html.ValidationMessageFor(model => model.Code, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col">
                                <label class="form-label">Item Name </label>
                                <input class="form form-control" name="Name" id="Name" type="text" value="@item.Name" />
                                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col">
                                <label class="form-label">Description </label>
                                <input class="form form-control" name="Unit" id="Unit" type="text" value="@item.Unit" />
                                @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col">
                                <label class="form-label">Unit </label>
                                <input class="form form-control" name="Description" id="Description" type="text" value="@item.Description" />
                                @Html.ValidationMessageFor(model => model.Unit, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="mt-4">
                            <button id="submitEditButton" class="btn btn-primary" type="submit">Save</button>
                            <button id="resetEditButton" type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="table-responsive mt-3">
    <table id="CPAContainerItemTable" class="table table-hover table-sm">
        <thead>
            <tr>
                <th></th>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Unit</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in list)
            {
                var editModal = "Code" + item.Code;
                <tr>
                    <td>
                        <a 
                           class="btn btn-sm btn-outline-secondary"
                           href="#" data-bs-toggle="modal" data-bs-target="#@editModal"
                           title="คลิกเพื่อแก้ไขข้อมูล">
                            <span class="material-icons">edit</span>
                        </a>
                        <a class="btn btn-sm btn-outline-secondary" id="deleteButton"
                           href="@Url.Action("Delete", "CPAContainerItem",new { code = item.Code })">
                            <span class="material-icons">delete</span>
                        </a>
                    </td>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.Unit</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
