﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FarmerBonus/Views/Shared/_Layout.cshtml";
    var username = HttpContext.Current.User.Identity.Name;
    var summaryList = (List<BusinessLayer.Model.FarmerBonus.m_FullQuotaBonusSummary>)ViewBag.FullQuotaBonusSummary;

    //Summary info.
    double summryProgress = 0;
    double completed = summaryList.Sum(x => x.Completed);
    double waitToTransfer = summaryList.Sum(x => x.Pending);
    double waitToPrint = summaryList.Sum(x => x.Transferred);
    double totalFarmer = summaryList.Sum(x => x.TotalFarmer);
    if (completed > 0)
    {
        summryProgress = completed / totalFarmer * 100;
    }


    //Summary of Sukhothai info.
    double summryProgressSUK = 0;
    double completedSUK = summaryList.Where(x => x.AreaCode == "SUK").Sum(x => x.Completed);
    double waitToTransferSUK = summaryList.Where(x => x.AreaCode == "SUK").Sum(x => x.Pending);
    double waitToPrintSUK = summaryList.Where(x => x.AreaCode == "SUK").Sum(x => x.Transferred);
    double totalFarmerSUK = summaryList.Where(x => x.AreaCode == "SUK").Sum(x => x.TotalFarmer);
    if (completedSUK > 0)
    {
        summryProgressSUK = completedSUK / totalFarmerSUK * 100;
    }


    //Summary of Petchabun.
    double summryProgressPET = 0;
    double completedPET = summaryList.Where(x => x.AreaCode == "PET").Sum(x => x.Completed);
    double waitToTransferPET = summaryList.Where(x => x.AreaCode == "PET").Sum(x => x.Pending);
    double waitToPrintPET = summaryList.Where(x => x.AreaCode == "PET").Sum(x => x.Transferred);
    double totalFarmerPET = summaryList.Where(x => x.AreaCode == "PET").Sum(x => x.TotalFarmer);
    if (completedPET > 0)
    {
        summryProgressPET = completedPET / totalFarmerPET * 100;
    }

    //Summary of othe area info.
    double summryProgressOther = 0;
    double completedOther = summaryList.Where(x => x.AreaCode != "SUK" && x.AreaCode != "PET").Sum(x => x.Completed);
    double waitToTransferOther = summaryList.Where(x => x.AreaCode != "SUK" && x.AreaCode != "PET").Sum(x => x.Pending);
    double waitToPrintOther = summaryList.Where(x => x.AreaCode != "SUK" && x.AreaCode != "PET").Sum(x => x.Transferred);
    double totalFarmerOther = summaryList.Where(x => x.AreaCode != "SUK" && x.AreaCode != "PET").Sum(x => x.TotalFarmer);
    if (completedOther > 0)
    {
        summryProgressOther = completedOther / totalFarmerOther * 100;
    }

    //Wait To Transfer summary
    var transferList = summaryList.Where(x => x.Pending > 0).ToList();
    var printList = summaryList.Where(x => x.Transferred > 0).ToList();
    var completeList = summaryList.Where(x => x.Completed > 0).ToList();
}

<div class="p-3 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-2">
        <h1 class="display-5 fw-bold">Full Quota Bonus</h1>
        @*<p class="col-md-8 fs-4">This application is used to operate a piece of burley information. It has to be many modules to manage that info e.g.register a new farmer, pre-registering, signing a contract, crop inputs distribution, accounts receivable, ALP information, and some buying functions. Please contact the IT department to start using it.</p>*@
        <p>ติดตามข้อมูลสถานะการจ่ายโบนัสขายยาเต๊มโควต้าและการพิมพ์ใบรับเงิน</p>
    </div>
</div>

<div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
        <h4 class="my-0 fw-normal">
            <span class="material-icons">
                schedule
            </span> Transferred Progress
        </h4>
    </div>
    <div class="card-body">
        <div class="progress" title="@summryProgress.ToString("N0")%" role="progressbar" aria-label="Animated striped example" aria-valuenow="@summryProgress" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: @summryProgress.ToString("N0")%">@summryProgress.ToString("N0")%</div>
        </div>
        <h1 class="card-title pricing-card-title">@totalFarmer.ToString("N0")<small class="text-muted fw-light"> ราย</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
            <li>Wait to transfer <b>@waitToTransfer.ToString("N0")</b> ราย</li>
            <li>Wait to print <b>@waitToPrint.ToString("N0")</b> ราย</li>
            <li>Complete <b>@completed.ToString("N0")</b> ราย</li>
        </ul>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Summary completed progress by area
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <b>Sukhothai</b>
                        <div class="progress" title="@summryProgressSUK.ToString("N0")%" role="progressbar" aria-label="Animated striped example" aria-valuenow="@summryProgressSUK" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: @summryProgressSUK.ToString("N0")%">@summryProgressSUK.ToString("N0")%</div>
                        </div>
                        <b>Petchabun</b>
                        <div class="progress" title="@summryProgressPET.ToString("N0")%" role="progressbar" aria-label="Animated striped example" aria-valuenow="@summryProgressPET" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: @summryProgressPET.ToString("N0")%">@summryProgressPET.ToString("N0")%</div>
                        </div>
                        <b>Other</b>
                        <div class="progress" title="@summryProgressOther.ToString("N0")%" role="progressbar" aria-label="Animated striped example" aria-valuenow="@summryProgressOther" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: @summryProgressOther.ToString("N0")%">@summryProgressOther.ToString("N0")%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    <span class="material-icons">
                        hourglass_top
                    </span>
                    Pending
                </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@waitToTransfer.ToString("N0")<small class="text-muted fw-light"> ราย</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Sukhothai @transferList.Where(x => x.AreaCode == "SUK").Sum(y => y.Pending).ToString("N0") ราย</li>
                    <li>Phetchabun @transferList.Where(x => x.AreaCode == "PET").Sum(y => y.Pending).ToString("N0") ราย</li>
                    <li>Other @transferList.Where(x => x.AreaCode != "SUK" && x.AreaCode != "PET").Sum(y => y.Pending).ToString("N0") ราย</li>
                </ul>
                <a class="w-100 btn btn-lg btn-outline-primary"
                   href="@Url.Action("Details",new { status = "Pending" })">
                    Transfer
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    <span class="material-icons">
                        currency_exchange
                    </span>
                    Transferred
                </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@waitToPrint.ToString("N0")<small class="text-muted fw-light"> ราย</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Sukhothai @printList.Where(x => x.AreaCode == "SUK").Sum(y => y.Transferred).ToString("N0") ราย</li>
                    <li>Phetchabun @printList.Where(x => x.AreaCode == "PET").Sum(y => y.Transferred).ToString("N0") ราย</li>
                    <li>Other @printList.Where(x => x.AreaCode != "SUK" && x.AreaCode != "PET").Sum(y => y.Transferred).ToString("N0") ราย</li>
                </ul>
                <a class="w-100 btn btn-lg btn-outline-primary"
                   href="@Url.Action("Details",new { status = "Transferred" })">
                    Print
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-outline-primary">
            <div class="card-header py-3 border-outline-primary">
                <h4 class="my-0 fw-normal">
                    <span class="material-icons">
                        task_alt
                    </span> Complete
                </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@completed.ToString("N0")<small class="text-muted fw-light"> ราย</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Sukhothai @completeList.Where(x => x.AreaCode == "SUK").Sum(y => y.Completed).ToString("N0") ราย</li>
                    <li>Phetchabun @completeList.Where(x => x.AreaCode == "PET").Sum(y => y.Completed).ToString("N0") ราย</li>
                    <li>Other @completeList.Where(x => x.AreaCode != "SUK" && x.AreaCode != "PET").Sum(y => y.Completed).ToString("N0") ราย</li>
                </ul>
                <a class="w-100 btn btn-lg btn-outline-primary"
                   href="@Url.Action("Details",new { status = "Completed" })">
                    Details
                </a>
            </div>
        </div>
    </div>
</div>


