﻿@model BUWebApp.Areas.Admin.Models.vm_Role

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Edit Role Name</h3>
<hr />


@using (Html.BeginForm("Edit", "Role", FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="col-12 mt-3">
            <label class="form-label">Role Name</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-save"></i> Save</button>
            <button type="reset" class="btn btn-outline-secondary btn-sm"> Reset</button>
            <a class="btn btn-secondary btn-sm" href="@Url.Action("Index","Role")"><i class="fas fa-arrow-circle-left"></i> Back</a>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
