﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}<h3>Role List</h3>
<hr />

<script type="text/javascript">
    $(document).ready(function () {
        $("#RoleDataTable").DataTable({
            "order": [[0, "asc"]]
        });
    });
</script>

<a class="btn btn-primary btn-sm mb-3" href='@Url.Action("Create")'><i class="fa fa-plus"></i> Create New Role</a>

<div class="table-responsive">
    <table id="RoleDataTable" class="table table-hover table-striped table-sm">
        <thead class="table-dark">
            <tr>
                <th>
                    Role Name
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="@Url.Action("Details","Role", new { id = item.Id })">Details</a>
                        <a class="btn btn-success btn-sm" href="@Url.Action("Edit","Role", new { id = item.Id })">Edit</a>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Role", new { id = item.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

