﻿@model BUWebApp.Areas.ExtensionAgent.Models.vm_EstimateTransplantingPeriod
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ExtensionAgent/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#submitButton").click(function () {
            if (formValidation() == false) {
                event.preventDefault();
            }
        });
    });

    function formValidation() {
        if ($("#EstimateTransplantingPeriodID").val() == "") {
            alert("โปรดระบุช่วงเวลาที่คาดว่าจะปลูกต้นยาสูบ");
            $("#IrrigationWaterTypeID").focus();
            return false;
        }
        return true;
    }
</script>

<h4>ช่วงเวลาที่คาดว่าจะปลูกต้นยาสูบ / Estimate Transplanting Period</h4>
<hr />

@using (Html.BeginForm("Create", "EstimateTransplantingPeriod"))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <input name="CitizenID" type="hidden" value="@Model.CitizenID" />
            <div class="card">
                <div class="card-header">
                    @Model.Farmer.FarmerCode @Model.Farmer.Person.Prefix@Model.Farmer.Person.FirstName   @Model.Farmer.Person.LastName
                </div>
                <div class="card-body">
                    <div class="form">
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label("ช่วงเวลาที่คาดว่าจะปลูกต้นยาสูบ :")
                                    @Html.DropDownList("EstimateTransplantingPeriodID", new SelectList(@ViewBag.EstimateTransplantingPeriodList, "EstimateTransplantingPeriodID", "EstimateTransplantingPeriodName"), "โปรดเลือกช่วงเวลา", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.EstimateTransplantingPeriodID)
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submitButton" name="submitButton"><i class="fa fa-floppy-o"></i> Save</button>
                        <button type="reset" class="btn btn-secondary"><i class="fa fa-refresh"></i> Reset</button>
                        <a class="btn btn-outline-secondary" href="@Url.Action("Index", "PreRegistrationForm", new { id = @Model.Farmer.Person.CitizenID })">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12" style="margin-top:20px;">
        <table class="table table-hover table-striped">
            <tr class="table-info">
                <th>ช่วงเวลา</th>
                <th>บันทึกข้อมูลเมื่อ</th>
                <th>ผู้บันทึก</th>
                <th></th>
            </tr>
            @foreach (var item in Model.EstimateTransplantingPeriodList)
            {
                <tr>
                    <td>@item.EstimateTransplantingPeriod.EstimateTransplantingPeriodName</td>
                    <td>@item.ModifiedDate</td>
                    <td>@item.ModifiedUser</td>
                    <td><a class="btn btn-danger btn-sm" title="Delete" href="@Url.Action("Delete", new { id = item.EstimateTransplantingPeriodID, citizenId = item.CitizenID })"><i class="fa fa-remove"></i> Delete</a></td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}