﻿@model BUWebApp.Areas.ExtensionAgent.Models.vm_PreRegistrationForm
@{
    ViewBag.Title = "CreatePreRegistrationFrom";
    Layout = "~/Areas/ExtensionAgent/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        TTMQuotaStatusCheckBoxControl();

        $("#TTMQuotaStatus").change(function () {
            TTMQuotaStatusCheckBoxControl();
        });

        //$("#submitButton").click(function () {
        //    if (FormValidate() == false) {
        //        event.preventDefault();
        //    }
        //});
    });

    function TTMQuotaStatusCheckBoxControl() {
        if ($("#TTMQuotaStatus").is(":checked") == false) {
            $("#TTMQuotaKg").attr("readonly", true);
            $("#TTMQuotaStation").attr("disabled", true);
            $("#TTMQuotaStatus").attr("checked", false);

            $("#TTMQuotaKg").val(0);
            $("#TTMQuotaStation").val("");
        }
        else {
            $("#TTMQuotaKg").attr("readonly", false);
            $("#TTMQuotaStation").attr("disabled", false);
            $("#TTMQuotaStatus").attr("checked", true);
        }
    }

    function FormValidate() {
        if ($("#TTMQuotaStatus").is(":checked") == true) {
            if ($("#TTMQuotaKg").val() == "") {
                alert("เมื่อท่านเลือก มีโควต้ากับโรงงานยาสูบ โปรดระบุจำนวนโควต้าโรงงานยาสูบด้วยทุกครั้ง");
                $("#TTMQuotaKg").focus();
                return false;
            }
            if ($("#TTMQuotaKg").val() < 1) {
                alert("จำนวนโควต้าโรงงานยาสูบจะต้องมากกว่า 0");
                $("#TTMQuotaKg").focus();
                return false;
            }
            if ($("#TTMQuotaStation").val() == "") {
                alert("เมื่อท่านเลือก มีโควต้ากับโรงงานยาสูบ โปรดระบุสถานีใบยาด้วยทุกครั้ง");
                $("#TTMQuotaStation").focus();
                return false;
            }
        }
        if ($("#PreviousCropTotalRai").val() == "") {
            alert("โปรดระบุจำนวนไร่ปลูกยาสูบในปีที่ผ่านมา");
            $("#PreviousCropTotalRai").focus();
            return false;
        }
        if ($("#PreviousCropTotalRai").val() < 0) {
            alert("จำนวนไร่ที่ปลูกยาสูบในปีที่ผ่านมาจะต้องไม่ต่ำกว่า 0");
            $("#PreviousCropTotalRai").focus();
            return false;
        }
        if ($("#PreviousCropTotalVolume").val() == "") {
            alert("โปรดระบุผลผลิตใบยาแห้งที่ได้ทั้งหมด");
            $("#PreviousCropTotalVolume").focus();
            return false;
        }
        if ($("#PreviousCropTotalVolume").val() < 0) {
            alert("ผลผลิตใบยาแห้งที่ได้จะต้องไม่ต่ำกว่า 0");
            $("#PreviousCropTotalVolume").focus();
            return false;
        }
        if ($("#QuotaFromFarmerRequest").val() == "") {
            alert("โปรดระบุจำนวนไร่ที่ชาวไร่ร้องขอ");
            $("#QuotaFromFarmerRequest").focus();
            return false;
        }
        if ($("#QuotaFromFarmerRequest").val() < 1) {
            alert("จำนวนโควต้าที่ต้องการจะต้องมากกว่า 0");
            $("#QuotaFromFarmerRequest").focus();
            return false;
        }
        return true;
    }

</script>

<h3>Create Pre Registration Form</h3>
<h6>กรอกข้อมูลใบสมัครเข้าร่วมโครงการ</h6>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title"><b>1.ข้อมูลเข้าร่วมโครงการ</b></div>
                @using (Html.BeginForm("Create", "PreRegistrationForm"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-3">
                                คำนำหน้า:
                                @Html.TextBoxFor(model => model.Farmer.Person.Prefix, new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "Prefix",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.Prefix, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                ชื่อ:
                                @Html.TextBoxFor(model => model.Farmer.Person.FirstName, new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "First name",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                นามสกุล:
                                @Html.TextBoxFor(model => model.Farmer.Person.LastName, new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "Last name",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.LastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                รหัสชาวไร่:
                                @Html.TextBoxFor(model => model.FarmerCode, new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "Farmer code",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.FarmerCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                บ้านเลขที่
                                @Html.TextBoxFor(model => model.Farmer.Person.HouseNumber, new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "House no.",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.HouseNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                หมู่
                                @Html.TextBoxFor(model => model.Farmer.Person.Village, new
                           {
                               @class = "form-control",
                               type = "number",
                               @min = "0",
                               @placeholder = "Village",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.Village, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                ตำบล
                                @Html.TextBoxFor(model => model.Farmer.Person.Tumbon, new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "Tumbon",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.Tumbon, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                อำเภอ
                                @Html.TextBoxFor(model => model.Farmer.Person.Amphur, new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "District",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.Amphur, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                จังหวัด
                                @Html.TextBoxFor(model => model.Farmer.Person.Province, new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "Province",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.Province, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                รหัสประจำตัวประชาชน :
                                @Html.TextBoxFor(model => model.CitizenID, new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "CitizenID",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.CitizenID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                วัน/เดือน/ปีเกิด(ค.ศ.):
                                @Html.TextBoxFor(model => model.Farmer.Person.BirthDate, "{0:yyyy-MM-dd}",
                           new
                           {
                               @class = "form-control",
                               type = "date",
                               @placeholder = "Birth date",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.BirthDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                เบอร์โทรศัพท์:
                                @Html.TextBoxFor(model => model.Farmer.Person.TelephoneNumber,
                           new
                           {
                               @class = "form-control",
                               type = "number",
                               @min = "0",
                               @placeholder = "Telephone No.",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.TelephoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                สถานะภาพ:
                                @Html.DropDownListFor(model => model.Farmer.Person.MaritalStatusCode,
                           new SelectList(@ViewBag.MaritalStatusList, "MaritalStatusCode", "MaritalStatusName"),
                           "Please select status", new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.MaritalStatusCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                คำนำหน้าคู่สมรส:
                                @Html.TextBoxFor(model => model.Farmer.Person.SpousePrefix,
                           new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "Spouse Prefix",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.SpousePrefix, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                ชื่อคู่สมรส:
                                @Html.TextBoxFor(model => model.Farmer.Person.SpouseFirstName,
                           new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "Spouse First Name",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.SpouseFirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                นามสกุลคู่สมรส:
                                @Html.TextBoxFor(model => model.Farmer.Person.SpouseLastName,
                           new
                           {
                               @class = "form-control",
                               type = "text",
                               @placeholder = "Spouse Last Name",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.SpouseLastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                รหัสประจำตัวประชาชนคู่สมรส:
                                @Html.TextBoxFor(model => model.Farmer.Person.SpouseCitizenID,
                           new
                           {
                               @class = "form-control",
                               type = "number",
                               @min = "0",
                               @placeholder = "Spouse CitizenID",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.SpouseCitizenID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                ปีที่เริ่มทำการเกษตร (ค.ศ.):
                                @Html.TextBoxFor(model => model.Farmer.Person.StartAgriculture,
                           new
                           {
                               @class = "form-control",
                               type = "number",
                               @min = "0",
                               @placeholder = "Years in Agriculture",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.StartAgriculture, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                ปีที่เริ่มปลูกยาสูบ (ค.ศ.):
                                @Html.TextBoxFor(model => model.Farmer.Person.StartGrowingTobacco,
                           new
                           {
                               @class = "form-control",
                               type = "number",
                               @min = "0",
                               @placeholder = "Years Growing Tobacco",
                               @readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.Person.StartGrowingTobacco)
                            </div>

                            <div class="col-sm-3">
                                <input type="checkbox" value="true" name="HasSuccessor"> มีผู้สืบทอดการทำยาสูบ
                                @Html.ValidationMessageFor(model => model.HasSuccessor, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="col-sm-3">
                                     จำนวนปีที่ทำการเกษตรมาแล้ว:
                                     @Html.TextBoxFor(model => model.Farmer.Person.YearsInAgriculture,
                                new
                                {
                                    @class = "form-control",
                                    type = "number",
                                    @min = "0",
                                    @placeholder = "Years in Agriculture",
                                    @readonly = "readonly"
                                })
                                     @Html.ValidationMessageFor(model => model.Farmer.Person.YearsInAgriculture, "", new { @class = "text-danger" })
                                 </div>
                                 <div class="col-sm-3">
                                     จำนวนปีที่ปลูกยาสูบ:
                                     @Html.TextBoxFor(model => model.Farmer.Person.YearsGrowingTobacco,
                                new
                                {
                                    @class = "form-control",
                                    type = "number",
                                    @min = "0",
                                    @placeholder = "Years Growing Tobacco",
                                    @readonly = "readonly"
                                })
                                     @Html.ValidationMessageFor(model => model.Farmer.Person.YearsGrowingTobacco)
                                 </div>*@
                            <div class="col-sm-3">
                                วันที่บันทึกประวัติ :
                                @Html.TextBoxFor(model => model.RegistrationDate, "{0:yyyy-MM-dd}",
                           new
                           {
                               @class = "form-control",
                               type = "date",
                               @placeholder = "Registration Date",
                               //@readonly = "readonly"
                           })
                                @Html.ValidationMessageFor(model => model.Farmer.RegistrationDate)
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                จำนวนไร่ปลูกยาสูบในปีที่ผ่านมา(ไร่):<span style="color:red;">*</span>
                                @Html.TextBoxFor(model => model.PreviousCropTotalRai, new
                           {
                               @class = "form-control",
                               type = "number",
                               @min = "0",
                               @placeholder = "Previous Crop Total Rai"
                           })
                                @Html.ValidationMessageFor(model => model.PreviousCropTotalRai, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                ผลผลิตใบยาแห้งที่ได้ทั้งหมด(กก.):<span style="color:red;">*</span>
                                @Html.TextBoxFor(model => model.PreviousCropTotalVolume, new
                           {
                               @class = "form-control",
                               type = "number",
                               @min = "0",
                               @placeholder = "Previous Crop Total Volume"
                           })
                                @Html.ValidationMessageFor(model => model.PreviousCropTotalVolume, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.TTMQuotaStatus, new { @id = "TTMQuotaStatus" })
                                    @Html.Label("มีโควต้ากับโรงงานยาสูบ")
                                    @Html.ValidationMessageFor(model => model.TTMQuotaStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.Label("จำนวนโควต้า (กิโลกรัม):")
                                    @Html.TextBoxFor(model => model.TTMQuotaKg, new
                               {
                                   @class = "form-control",
                                   type = "number",
                                   @placeholder = "TTM Quota Kg"
                               })
                                    @Html.ValidationMessageFor(model => model.TTMQuotaKg, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.Label("สถานีใบยา:")
                                    @Html.DropDownList("TTMQuotaStation", @ViewBag.TTMStation as List<SelectListItem>, "โปรดเลือกสถานีใบยา", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TTMQuotaStation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <span>ชื่อธนาคาร:</span>
                                    @Html.DropDownListFor(model => model.BankID, new SelectList(@ViewBag.BankList, "BankID", "BankName"),
                               "โปรดเลือกชื่อบัญชีธนาคาร", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BankID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <span>เลขที่บัญชีธนาคาร:</span>
                                    @Html.TextBoxFor(model => model.BookBank, new
                               {
                                   @class = "form-control",
                                   type = "number",
                                   @placeholder = "Book bank",
                                   @min = "0"
                               })
                                    @Html.ValidationMessageFor(model => model.BookBank, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <span>สาขาบัญชีธนาคาร:</span>
                                    @Html.TextBoxFor(model => model.BankBranch, new
                               {
                                   @class = "form-control",
                                   type = "text",
                                   @placeholder = "Bank branch"
                               })
                                    @Html.ValidationMessageFor(model => model.BankBranch, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <span>รหัสสาขาบัญชีธนาคาร:</span>
                                    @Html.TextBoxFor(model => model.BankBranchCode, new
                               {
                                   @class = "form-control",
                                   type = "text",
                                   @placeholder = "Bank branch code"
                               })
                                    @Html.ValidationMessageFor(model => model.BankBranchCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <span style="color:red;">จำนวนโควต้า ที่ต้องการ(ไร่):*</span>
                            @Html.TextBoxFor(model => model.QuotaFromFarmerRequest, new
                       {
                           @class = "form-control",
                           type = "number",
                           @placeholder = "Request Quota Rai"
                       })
                            @Html.ValidationMessageFor(model => model.QuotaFromFarmerRequest, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-12">
                            <button type="submit" id="submitButton" name="submitButton" class="btn btn-primary" ><i class="fa fa-floppy-o"></i> Save</button>
                            <button type="reset"  class="btn btn-secondary" ><i class="fa fa-refresh"></i> Reset</button>
                            <a class="btn btn-outline-secondary"
                               href="@Url.Action("CheckFarmerProfile", "Farmer", new { citizenID = @Model.Farmer.CitizenID })">
                                ย้อนกลับ
                            </a>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-sm-12">
                        <div style="margin-top:20px;">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title"><b>2.ข้อมูลที่ดินเพื่อทำการเกษตร (Farm Land Information)</b></h6>
                @{
                    if (Model.FarmLandList.Count < 1)
                    {
                        <div class="alert alert-warning">
                            ยังไม่มีการบันทึกข้อมูล
                        </div>
                    }
                    else
                    {
                        <table class="table table-hover table-bordered">
                            <tr class="table-info">
                                <th>แปลงที่</th>
                                <th>ขนาดพื้นที่</th>
                                <th>ตำบล</th>
                                <th>อำเภอ</th>
                                <th>จังหวัด</th>
                                <th>ความเป็นเจ้าของ</th>
                                <th>จะใช้ปลูกยาสูบ</th>
                            </tr>
                            @foreach (var item in Model.FarmLandList.OrderBy(x => x.FieldNo))
                            {
                                <tr>
                                    <td>@item.FieldNo</td>
                                    <td>@item.LandSize</td>
                                    <td>@item.SubDistrict.SubDistrictNameThai</td>
                                    <td>@item.SubDistrict.District.DistrictNameThai</td>
                                    <td>@item.SubDistrict.District.Province.ProvinceNameThai</td>
                                    <td>@Html.CheckBox("OwnerShip", item.OwnerShip)</td>
                                    <td>@Html.CheckBox("UseForGrowingTobacco", item.UseForGrowingTobacco)</td>
                                </tr>
                            }
                        </table>
                    }
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "FarmLand", new { id = Model.CitizenID })"><i class="fa fa-edit"></i> จัดการข้อมูล</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title"><b>3.ข้อมูลโรงบ่มใบยาสูบ (Curing Barn Information)</b></h6>
                @{
                    if (Model.CuringBarnInformationList.Count < 1)
                    {
                        <div class="alert alert-warning">
                            ยังไม่มีการบันทึกข้อมูล
                        </div>
                    }
                    else
                    {
                        <table class="table table-hover table-sm table-bordered">
                            <tr class="table-info">
                                <th>กว้าง</th>
                                <th>ยาว</th>
                                <th>ชั้น</th>
                                <th>อายุ</th>
                                <th>วัสดุทำเสา</th>
                                <th>วัสดุทำชั้น</th>
                                <th>เป็นเจ้าของ</th>
                            </tr>
                            @foreach (var item in Model.CuringBarnInformationList)
                            {
                                <tr>
                                    <td>@item.Width</td>
                                    <td>@item.Length</td>
                                    <td>@item.Tier</td>
                                    <td>@item.Age</td>
                                    <td>@item.PoleMaterial</td>
                                    <td>@item.RackMaterial</td>
                                    <td><input type="checkbox" checked="@item.IsOwner" value="@item.IsOwner" name="IsOwner"></td>
                                </tr>
                            }
                        </table>
                    }
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "CuringBarn", new { id = Model.CitizenID })"><i class="fa fa-edit"></i> จัดการข้อมูล</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title"><b>4.แหล่งน้ำเพื่อการปลูกยาสูบ (Irrigation Water)</b></h6>
                @{
                    if (Model.IrrigationWaterList.Count < 1)
                    {
                        <div class="alert alert-warning">
                            ยังไม่มีการบันทึกข้อมูล
                        </div>
                    }
                    else
                    {
                        <table class="table table-hover table-sm table-bordered">
                            <tr class="table-info">
                                <th>ประเภท</th>
                                <th>ชื่อแหล่งน้ำ</th>
                                <th>ความลึก</th>
                                <th>มีใบอนุญาต</th>
                                <th>เหตุที่ไม่มีใบอนุญาตเนื่องจาก</th>
                            </tr>
                            @foreach (var item in Model.IrrigationWaterList)
                            {
                                <tr>
                                    <td>@item.IrrigationWaterType.IrrigationWaterTypeName</td>
                                    <td>@item.RiverName</td>
                                    <td>@item.IrrigationWaterDeep</td>
                                    <td><input type="checkbox" checked="@item.GroundWaterLicence" /></td>
                                    <td>@item.GroundWaterLicenceRemark</td>
                                </tr>
                            }
                        </table>
                    }
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "IrrigationWater", new { id = Model.CitizenID })"><i class="fa fa-edit"></i> จัดการข้อมูล</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title"><b>5.ข้อมูลเครื่องทุ่นแรงและอุปกรณ์ทางการเกษตร (Machine And Farm Eqipment Information)</b></h6>
                @{
                    if (Model.FarmerAndMachineFarmEqipmentList.Count < 1)
                    {
                        <div class="alert alert-warning">
                            ยังไม่มีการบันทึกข้อมูล
                        </div>
                    }
                    else
                    {
                        <table class="table table-hover table-sm table-bordered">
                            <tr class="table-info">
                                <th>รายการอุปกรณ์และเครื่องมือทางการเกษตร</th>
                                <th>จำนวน</th>
                                <th>อายุการใช้งาน</th>
                                <th>ใช้งานได้</th>
                            </tr>
                            @foreach (var item in Model.FarmerAndMachineFarmEqipmentList
                                .OrderBy(x => x.MachineAndFarmEquipment.MachineAndFarmEquipmentName))
                            {
                                <tr>
                                    <td>@item.MachineAndFarmEquipment.MachineAndFarmEquipmentName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.LifeTime</td>
                                    <td><input type="checkbox" checked="@item.CanUse" name="CanUse"></td>
                                </tr>
                            }
                        </table>
                    }
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "MachineAndFarmEqipment", new { id = Model.CitizenID })"><i class="fa fa-edit"></i> จัดการข้อมูล</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title"><b>6.ช่วงเวลาที่คาดว่าจะปลูกต้นยาสูบ (Estimate Transplanting Period)</b></div>
                @{
                    if (Model.FarmerEstimateTransplantingPeriodList.Count < 1)
                    {
                        <div class="alert alert-warning">
                            ยังไม่มีการบันทึกข้อมูล
                        </div>
                    }
                    else
                    {<table class="table table-hover table-bordered">
                    <tr class="table-info">
                        <th>ช่วงเดือน</th>
                        <th>บันทึกเมื่อ</th>
                        <th>ผู้บันทึก</th>
                    </tr>
                    @foreach (var item in Model.FarmerEstimateTransplantingPeriodList)
                    {
                        <tr>
                            <td>@item.EstimateTransplantingPeriod.EstimateTransplantingPeriodName</td>
                            <td>@item.ModifiedDate</td>
                            <td>@item.ModifiedUser</td>
                        </tr>
                    }
                </table>
                    }
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "EstimateTransplantingPeriod", new { id = Model.CitizenID })"><i class="fa fa-edit"></i> จัดการข้อมูล</a>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}