﻿@model BUWebApp.Areas.ExtensionAgent.Models.vm_PreRegistrationForm
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ExtensionAgent/Views/Shared/_Layout.cshtml";
}

<h3>Pre Registration Form</h3>
<h6>แบบสมัครร่วมโครงการปลูกยาสูบเบอร์เล่ย์เพื่อการส่งออกอย่างยั่งยืน</h6>
<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title"><b>1.ข้อมูลเข้าร่วมโครงการ</b></div>
                <div class="row">
                    <div class="col-sm-3">
                        คำนำหน้า:
                        @Html.TextBoxFor(model => model.Farmer.Person.Prefix, new { @class = "form-control", type = "text", @placeholder = "Prefix", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.Prefix)
                    </div>
                    <div class="col-sm-3">
                        ชื่อ:
                        @Html.TextBoxFor(model => model.Farmer.Person.FirstName, new { @class = "form-control", type = "text", @placeholder = "First name", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.FirstName)
                    </div>
                    <div class="col-sm-3">
                        นามสกุล:
                        @Html.TextBoxFor(model => model.Farmer.Person.LastName, new { @class = "form-control", type = "text", @placeholder = "Last name", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.LastName)
                    </div>
                    <div class="col-sm-3">
                        รหัสชาวไร่:
                        @Html.TextBoxFor(model => model.FarmerCode, new { @class = "form-control", type = "text", @placeholder = "Farmer code", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.FarmerCode)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        บ้านเลขที่
                        @Html.TextBoxFor(model => model.Farmer.Person.HouseNumber, new { @class = "form-control", type = "text", @placeholder = "House no.", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.HouseNumber)
                    </div>
                    <div class="col-sm-2">
                        หมู่
                        @Html.TextBoxFor(model => model.Farmer.Person.Village, new { @class = "form-control", type = "number", @placeholder = "Village", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.Village)
                    </div>
                    <div class="col-sm-2">
                        ตำบล
                        @Html.TextBoxFor(model => model.Farmer.Person.Tumbon, new { @class = "form-control", type = "text", @placeholder = "Tumbon", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.Tumbon)
                    </div>
                    <div class="col-sm-2">
                        อำเภอ
                        @Html.TextBoxFor(model => model.Farmer.Person.Amphur, new { @class = "form-control", type = "text", @placeholder = "District", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.Amphur)
                    </div>
                    <div class="col-sm-2">
                        จังหวัด
                        @Html.TextBoxFor(model => model.Farmer.Person.Province, new { @class = "form-control", type = "text", @placeholder = "Province", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.Province)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        รหัสประจำตัวประชาชน :
                        @Html.TextBoxFor(model => model.Farmer.Person.CitizenID, new { @class = "form-control", type = "text", @placeholder = "CitizenID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.CitizenID)
                    </div>
                    <div class="col-sm-3">
                        วัน/เดือน/ปีเกิด(ค.ศ.):
                        @Html.TextBoxFor(model => model.Farmer.Person.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @placeholder = "Birth date", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.BirthDate)
                    </div>
                    <div class="col-sm-3">
                        เบอร์โทรศัพท์:
                        @Html.TextBoxFor(model => model.Farmer.Person.TelephoneNumber, new { @class = "form-control", type = "number", @placeholder = "Telephone No.", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.TelephoneNumber)
                    </div>
                    <div class="col-sm-3">
                        สถานะภาพ:
                        @Html.DropDownListFor(model => model.Farmer.Person.MaritalStatusCode, new SelectList(@ViewBag.MaritalStatusList, "MaritalStatusCode", "MaritalStatusName"), "Please select status", new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.MaritalStatusCode)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        คำนำหน้าคู่สมรส:
                        @Html.TextBoxFor(model => model.Farmer.Person.SpousePrefix, new { @class = "form-control", type = "text", @placeholder = "Spouse Prefix", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.SpousePrefix)
                    </div>
                    <div class="col-sm-3">
                        ชื่อคู่สมรส:
                        @Html.TextBoxFor(model => model.Farmer.Person.SpouseFirstName, new { @class = "form-control", type = "text", @placeholder = "Spouse First Name", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.SpouseFirstName)
                    </div>
                    <div class="col-sm-3">
                        นามสกุลคู่สมรส:
                        @Html.TextBoxFor(model => model.Farmer.Person.SpouseLastName, new { @class = "form-control", type = "text", @placeholder = "Spouse Last Name", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.SpouseLastName)
                    </div>
                    <div class="col-sm-3">
                        รหัสประจำตัวประชาชนคู่สมรส:
                        @Html.TextBoxFor(model => model.Farmer.Person.SpouseCitizenID, new { @class = "form-control", type = "number", @placeholder = "Spouse CitizenID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.SpouseCitizenID)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        จำนวนปีที่ทำการเกษตรมาแล้ว:
                        @Html.TextBoxFor(model => model.Farmer.Person.YearsInAgriculture, new { @class = "form-control", type = "number", @placeholder = "Years in Agriculture", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.YearsInAgriculture)
                    </div>
                    <div class="col-sm-3">
                        จำนวนปีที่ปลูกยาสูบ:
                        @Html.TextBoxFor(model => model.Farmer.Person.YearsGrowingTobacco, new { @class = "form-control", type = "number", @placeholder = "Years Growing Tobacco", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.Person.YearsGrowingTobacco)
                    </div>
                    <div class="col-sm-3">
                        วันที่บันทึกประวัติ :
                        @Html.TextBoxFor(model => model.Farmer.RegistrationDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @placeholder = "Registration Date", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Farmer.RegistrationDate)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        จำนวนไร่ปลูกยาสูบในปีที่ผ่านมา(ไร่):
                        @Html.TextBoxFor(model => model.PreviousCropTotalRai, new { @class = "form-control", type = "number", @placeholder = "Previous Crop Total Rai", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.PreviousCropTotalRai)
                    </div>
                    <div class="col-sm-3">
                        ผลผลิตใบยาแห้งที่ได้(กก.):
                        @Html.TextBoxFor(model => model.PreviousCropTotalVolume, new { @class = "form-control", type = "number", @placeholder = "Previous Crop Total Volume", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.PreviousCropTotalVolume)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="margin-top:10px;">
                        @Html.CheckBoxFor(model => model.TTMQuotaStatus, new { @id = "TTMQuotaStatus", @disabled = "disabled" }) มีโควต้ากับโรงงานยาสูบ
                    </div>
                    <div class="col-sm-3">
                        จำนวนโควต้า(กก.):
                        @Html.TextBoxFor(model => model.TTMQuotaKg, new { @class = "form-control", type = "number", @placeholder = "TTM Quota Kg", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.TTMQuotaKg)

                    </div>
                    <div class="col-sm-3">
                        สถานีใบยา:
                        @Html.TextBoxFor(model => model.TTMQuotaStation, new { @class = "form-control", type = "text", @placeholder = "Book bank", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.TTMQuotaStation)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <span>ชื่อธนาคาร:</span>
                        @Html.DropDownListFor(model => model.BankID, new SelectList(@ViewBag.BankList, "BankID", "BankName"), "โปรดเลือกชื่อบัญชีธนาคาร", new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.BankID)
                    </div>
                    <div class="col-sm-3">
                        เลขที่บัญชีธนาคาร:
                        @Html.TextBoxFor(model => model.BookBank, new { @class = "form-control", type = "text", @placeholder = "Book bank", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.BookBank)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        สาขาบัญชีธนาคาร:
                        @Html.TextBoxFor(model => model.BankBranch, new { @class = "form-control", type = "text", @placeholder = "Bank branch", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.BankBranch)
                    </div>
                    <div class="col-sm-3">
                        รหัสสาขาบัญชีธนาคาร:
                        @Html.TextBoxFor(model => model.BankBranchCode, new { @class = "form-control", type = "text", @placeholder = "Bank branch code", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.BankBranchCode)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <span style="color:red;">**จำนวนโควต้า ที่ต้องการ(ไร่):</span>
                        @Html.TextBoxFor(model => model.QuotaFromFarmerRequest, new { @class = "form-control", type = "number", @placeholder = "Request Quota Rai", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.QuotaFromFarmerRequest)
                    </div>
                    <div class="col-sm-3">
                        <span style="color:red;">วันที่กรอกข้อมูลใบสมัคร:</span>
                        @Html.TextBoxFor(model => model.RegistrationDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(model => model.RegistrationDate)
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12">
                        <a class="btn btn-secondary" href="@Url.Action("Edit", "PreRegistrationForm", new { id = Model.CitizenID })"><i class="fa fa-edit"></i> แก้ไขข้อมูล</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title"><b>2.ข้อมูลที่ดินเพื่อทำการเกษตร (Farm Land Information)</b></h6>
                @{
                    if (Model.FarmLandList.Count < 1)
                    {
                        <div class="alert alert-warning">
                            ยังไม่มีการบันทึกข้อมูล
                        </div>
                    }
                    else
                    {
                        <table class="table table-hover table-bordered">
                            <tr class="table-info">
                                <th>แปลงที่</th>
                                <th>ขนาดพื้นที่</th>
                                <th>ตำบล</th>
                                <th>อำเภอ</th>
                                <th>จังหวัด</th>
                                <th>ความเป็นเจ้าของ</th>
                                <th>จะใช้ปลูกยาสูบ</th>
                            </tr>
                            @foreach (var item in Model.FarmLandList.OrderBy(x => x.FieldNo))
                            {
                                <tr>
                                    <td>@item.FieldNo</td>
                                    <td>@item.LandSize</td>
                                    <td>@item.SubDistrict.SubDistrictNameThai</td>
                                    <td>@item.SubDistrict.District.DistrictNameThai</td>
                                    <td>@item.SubDistrict.District.Province.ProvinceNameThai</td>
                                    <td>@Html.CheckBox("OwnerShip", item.OwnerShip)</td>
                                    <td>@Html.CheckBox("UseForGrowingTobacco", item.UseForGrowingTobacco)</td>
                                </tr>
                            }
                        </table>
                    }
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "FarmLand", new { id = Model.CitizenID })"><i class="fa fa-edit"></i> จัดการข้อมูล</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title"><b>3.ข้อมูลโรงบ่มใบยาสูบ (Curing Barn Information)</b></h6>
                @{
                    if (Model.CuringBarnInformationList.Count < 1)
                    {
                        <div class="alert alert-warning">
                            ยังไม่มีการบันทึกข้อมูล
                        </div>
                    }
                    else
                    {
                        <table class="table table-hover table-sm table-bordered">
                            <tr class="table-info">
                                <th>กว้าง</th>
                                <th>ยาว</th>
                                <th>ชั้น</th>
                                <th>อายุ</th>
                                <th>วัสดุทำเสา</th>
                                <th>วัสดุทำชั้น</th>
                                <th>เป็นเจ้าของ</th>
                            </tr>
                            @foreach (var item in Model.CuringBarnInformationList)
                            {
                                <tr>
                                    <td>@item.Width</td>
                                    <td>@item.Length</td>
                                    <td>@item.Tier</td>
                                    <td>@item.Age</td>
                                    <td>@item.PoleMaterial</td>
                                    <td>@item.RackMaterial</td>
                                    <td><input type="checkbox" checked="@item.IsOwner" value="@item.IsOwner" name="IsOwner"></td>
                                </tr>
                            }
                        </table>
                    }
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "CuringBarn", new { id = Model.CitizenID })"><i class="fa fa-edit"></i> จัดการข้อมูล</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title"><b>4.แหล่งน้ำเพื่อการปลูกยาสูบ (Irrigation Water)</b></h6>
                @{
                    if (Model.IrrigationWaterList.Count < 1)
                    {
                        <div class="alert alert-warning">
                            ยังไม่มีการบันทึกข้อมูล
                        </div>
                    }
                    else
                    {
                        <table class="table table-hover table-sm table-bordered">
                            <tr class="table-info">
                                <th>ประเภท</th>
                                <th>ชื่อแหล่งน้ำ</th>
                                <th>ความลึก</th>
                                <th>มีใบอนุญาต</th>
                                <th>เหตุที่ไม่มีใบอนุญาตเนื่องจาก</th>
                            </tr>
                            @foreach (var item in Model.IrrigationWaterList)
                            {
                                <tr>
                                    <td>@item.IrrigationWaterType.IrrigationWaterTypeName</td>
                                    <td>@item.RiverName</td>
                                    <td>@item.IrrigationWaterDeep</td>
                                    <td><input type="checkbox" checked="@item.GroundWaterLicence" /></td>
                                    <td>@item.GroundWaterLicenceRemark</td>
                                </tr>
                            }
                        </table>
                    }
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "IrrigationWater", new { id = Model.CitizenID })"><i class="fa fa-edit"></i> จัดการข้อมูล</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title"><b>5.ข้อมูลเครื่องทุ่นแรงและอุปกรณ์ทางการเกษตร (Machine And Farm Eqipment Information)</b></h6>
                @{
                    if (Model.FarmerAndMachineFarmEqipmentList.Count < 1)
                    {
                        <div class="alert alert-warning">
                            ยังไม่มีการบันทึกข้อมูล
                        </div>
                    }
                    else
                    {
                        <table class="table table-hover table-sm table-bordered">
                            <tr class="table-info">
                                <th>รายการอุปกรณ์และเครื่องมือทางการเกษตร</th>
                                <th>จำนวน</th>
                                <th>อายุการใช้งาน</th>
                                <th>ใช้งานได้</th>
                            </tr>
                            @foreach (var item in Model.FarmerAndMachineFarmEqipmentList
        .OrderBy(x => x.MachineAndFarmEquipment.MachineAndFarmEquipmentName))
                            {
                                <tr>
                                    <td>@item.MachineAndFarmEquipment.MachineAndFarmEquipmentName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.LifeTime</td>
                                    <td><input type="checkbox" checked="@item.CanUse" name="CanUse"></td>
                                </tr>
                            }
                        </table>
                    }
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "MachineAndFarmEqipment", new { id = Model.CitizenID })"><i class="fa fa-edit"></i> จัดการข้อมูล</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title"><b>6.ช่วงเวลาที่คาดว่าจะปลูกต้นยาสูบ (Estimate Transplanting Period)</b></div>
                @{
                    if (Model.FarmerEstimateTransplantingPeriodList.Count < 1)
                    {
                        <div class="alert alert-warning">
                            ยังไม่มีการบันทึกข้อมูล
                        </div>
                    }
                    else
                    {<table class="table table-hover table-bordered">
                    <tr class="table-info">
                        <th>ช่วงเดือน</th>
                        <th>บันทึกเมื่อ</th>
                        <th>ผู้บันทึก</th>
                    </tr>
                    @foreach (var item in Model.FarmerEstimateTransplantingPeriodList)
                    {
                        <tr>
                            <td>@item.EstimateTransplantingPeriod.EstimateTransplantingPeriodName</td>
                            <td>@item.ModifiedDate</td>
                            <td>@item.ModifiedUser</td>
                        </tr>
                    }
                </table>
                    }
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "EstimateTransplantingPeriod", new { id = Model.CitizenID })"><i class="fa fa-edit"></i> จัดการข้อมูล</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("CheckFarmerProfile","Farmer",new { @citizenID = @Model.CitizenID})">
            Back
        </a>
    </div>
</div>


