﻿/* import the necessary Bootstrap files */
@import "_functions.scss";
@import "_variables.scss";

/* make changes to the !default Bootstrap variables */
// set the $primary variable
$primary: $purple-600;
$secondary: $purple-300;

$navbar-dark-color: rgba($white, .65);
$navbar-dark-hover-color: rgba($white, .95);

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, ( "primary": $primary, "secondary" : $secondary ));
/* finally, import Bootstrap to set the changes! */
@import "bootstrap.scss";

.material-icons {
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    top: -1px;
}
