﻿/* import the necessary Bootstrap files */
@import "_functions.scss";
@import "_variables.scss";

/* make changes to the !default Bootstrap variables */
// set the $primary variable
$primary: $indigo-700;
$secondary: $indigo-200;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, ( "primary": $primary, "secondary" : $secondary ));
/* finally, import Bootstrap to set the changes! */
@import "bootstrap.scss";
