﻿@model BUWebApp.Areas.Supervisor.Models.vm_CPAContainerReturn

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";

    var summryList = (List<BusinessLayer.Model.m_CPAContainerReceiveAndReturnSummary>)ViewBag.ReturnSummary;
    var registerList = (List<DomainModel.RegistrationFarmer>)ViewBag.RegisterList;
    var person = (DomainModel.Person)ViewBag.PersonProfile;
}

<script type="text/javascript">
    $(document).ready(function () {
        var dataTable = $("#returnSummaryDataTable").DataTable({
            "order": [[1, "desc"], [2, "desc"]]
        });
    });
</script>

<h4>CPA Container Return</h4>
<h6>คืนขยะบรรจุภัณฑ์เพื่อรับโบนัส</h6>

<div class="card border-secondary">
    <div class="card-header bg-secondary text-white">ค้นหาชาวไร่</div>
    <div class="card-body border-secondary">
        @using (Html.BeginForm("Index", "CPAContainerReturn", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label class="form-label">CitizenID</label>
                <input type="text" 
                       style="text-transform:uppercase;" 
                       value="@Model.CitizenID" name="CitizenID" 
                       id="CitizenID" 
                       class="form form-control"
                       required
                       placeholder="รหัสประจำตัวประชาชน 13 หลัก" />
                @Html.ValidationMessageFor(Model => Model.CitizenID, null, new { @class = "text-danger" })
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-sm">
                    <span class="material-icons">
                        manage_search
                    </span>
                    ตรวจสอบข้อมูล
                </button>
                <a class="btn btn-outline-secondary btn-sm"
                   href="@Url.Action("Index", "CPAContainerReturn",new { citizenID = ""})">
                    <span class="material-icons">
                        undo
                    </span>
                    Reset
                </a>
                <a class="btn btn-secondary btn-sm"
                   href="@Url.Action("Index", "Home")">
                    <span class="material-icons">
                        arrow_left
                    </span>
                    ย้อนกลับ
                </a>
            </div>
        }
    </div>
</div>

@if (person != null)
{
    <div class="row mb-3 mt-3">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <tr>
                            <td>รหัสประจำตัวประชาชน</td>
                            <td>@person.CitizenID</td>
                        </tr>
                        <tr>
                            <td>ชื่อ-นามสกุล</td>
                            <td>@person.Prefix@person.FirstName @person.LastName</td>
                        </tr>
                        <tr>
                            <td>ที่อยู่</td>
                            <td>@person.HouseNumber หมู่ @person.Village ต.@person.Tumbon อ.@person.Amphur จ.@person.Province</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        @{
                            var totalReceive = (int)summryList.Sum(x => x.ReceiveQuantity);
                            var totalReturn = (int)summryList.Sum(x => x.ReturnQuantity);
                            var returnPercentage = totalReturn == 0 ? 0 : (decimal)totalReturn / (decimal)totalReceive * 100;
                        }
                        <tr>
                            <td>Total Receive</td>
                            <td><b class="text-danger">@totalReceive.ToString("N0")</b> </td>
                        </tr>
                        <tr>
                            <td>Total Return</td>
                            <td><b class="text-success">@totalReturn.ToString("N0")</b> </td>
                        </tr>
                        <tr>
                            <td>Return %</td>
                            <td><b class="text-dark">@returnPercentage.ToString("N1")</b> </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a class="btn btn-sm btn-primary"
                                   href="@Url.Action("Print",new { citizenID = person.CitizenID })">
                                    <span class="material-icons">
                                        print
                                    </span>
                                    Print Voucher
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@if (summryList != null)
{
    <div class="table-responsive mt-4">
        <table id="returnSummaryDataTable" class="table table-sm table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Farmer Code
                    </th>
                    <th>
                        Receive
                    </th>
                    <th>
                        Return
                    </th>
                    <th>
                        Return %
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in summryList)
                {
                    <tr>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary"
                               title="CPA Container Return"
                               href="@Url.Action("Return", new { farmerCode = item.FarmerCode })">
                                <span class="material-icons">
                                    reply
                                </span>
                            </a>
                        </td>
                        <td>
                            @item.FarmerCode
                        </td>
                        <td>
                            @item.ReceiveQuantity.ToString("N0")
                        </td>
                        <td>
                            @item.ReturnQuantity.ToString("N0")
                        </td>
                        <td>
                            @{ var returnPercent = item.ReturnQuantity == 0 ? 0 : (decimal)item.ReturnQuantity / (decimal)item.ReceiveQuantity * 100;}
                            @returnPercent.ToString("N0")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
