﻿@model BUWebApp.Areas.Supervisor.Models.vm_CPAContainerReturn

@{
    ViewBag.Title = "Return";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";

    var summryList = (List<BusinessLayer.Model.m_CPAContainerReceiveAndReturnSummary>)ViewBag.ReturnSummary;
    var detailsList = (List<DomainModel.CPAContainerReturn>)ViewBag.ReturnDetailsList;
    var returnItemList = (List<DomainModel.CPAContainerItem>)ViewBag.ReturnItemList;
    var register = (DomainModel.RegistrationFarmer)ViewBag.Register;
    var farmer = (DomainModel.Farmer)register.Farmer;
    var person = (DomainModel.Person)farmer.Person;
}

<script type="text/javascript">
    $(document).ready(function () {
        var returnSummaryDataTable = $("#returnSummaryDataTable").DataTable({
            "order": [[1, "desc"], [2, "desc"]],
            aLengthMenu: [
                [25, 50, 100, 200, -1],
                [25, 50, 100, 200, "All"]
            ],
            iDisplayLength: 25
        });


        var returnDetailsDataTable = $("#returnDetailsDataTable").DataTable({
            "order": [[1, "desc"], [2, "desc"]],
            aLengthMenu: [
                [25, 50, 100, 200, -1],
                [25, 50, 100, 200, "All"]
            ],
            iDisplayLength: 25
        });

        $("#submitAddButton").click(function (e) {
            if (confirm("ท่านต้องการบันทึกข้อมูลนี้ใช่หรือไม่? โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนการบันทึกข้อมูล") == false) {
                e.preventDefault();
                return;
            }
        });

        $("#submitEditButton").click(function (e) {
            if (confirm("ท่านต้องการบันทึกข้อมูลนี้ใช่หรือไม่? โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนการบันทึกข้อมูล") == false) {
                e.preventDefault();
                return;
            }
        });

        $("#addOtherSubmitButton").click(function (e) {
            if ($("#itemCode").val() == null) {
                alert("โปรดระบุรายการที่จะบันทึกการคืน");
                e.preventDefault();
                return;
            }

            if (confirm("ท่านต้องการบันทึกข้อมูลนี้ใช่หรือไม่? โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนการบันทึกข้อมูล") == false) {
                e.preventDefault();
                return;
            }
        });

        $("body").on("click", "#returnDetailsDataTable tbody tr #deleteButton", function (e) {
            var row = dataTable.row($(this).closest('tr')).data();
            var code = row[1];
            if (confirm("ท่านต้องการลบข้อมูลนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });

    });
</script>

<h3>CPA Container Return</h3>
<hr />


<div class="row mb-3">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-sm">
                    <tr>
                        <td>รหัสชาวไร่</td>
                        <td>@farmer.FarmerCode</td>
                    </tr>
                    <tr>
                        <td>ชื่อ-นามสกุล</td>
                        <td>@person.Prefix@person.FirstName @person.LastName</td>
                    </tr>
                    <tr>
                        <td>ปีที่ลงทะเบียน</td>
                        <td>@register.Crop</td>
                    </tr>
                    <tr>
                        <td>จำนวนไร่ที่ทำสัญญา</td>
                        <td>@register.QuotaFromSignContract</td>
                    </tr>
                    <tr>
                        <td>สถานะสัญญา</td>
                        <td>
                            @{ var status = register.ActiveStatus == true ? "ปกติ" : "ยกเลิกสัญญาแล้ว";}
                            @status
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-sm">
                    @{
                        var totalReceive = (int)summryList.Sum(x => x.ReceiveQuantity);
                        var totalReturn = (int)summryList.Sum(x => x.ReturnQuantity);
                        var returnPercentage = totalReturn == 0 ? 0 : (decimal)totalReturn / (decimal)totalReceive * 100;
                    }
                    <tr>
                        <td>Total Receive</td>
                        <td><b class="text-danger">@totalReceive.ToString("N0")</b></td>
                    </tr>
                    <tr>
                        <td>Total Return</td>
                        <td><b class="text-success">@totalReturn.ToString("N0")</b></td>
                    </tr>
                    <tr>
                        <td>Return %</td>
                        <td><b class="text-dark">@returnPercentage.ToString("N1")</b></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a class="btn btn-sm btn-primary"
                               href="@Url.Action("Print",new { citizenID = Model.CitizenID })">
                                <span class="material-icons">
                                    print
                                </span>
                                Print Voucher
                            </a>
                            <a class="btn btn-sm btn-secondary"
                               href="@Url.Action("Index",new { citizenID = Model.CitizenID })">
                                <span class="material-icons">
                                    arrow_left
                                </span>
                                Back
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


@foreach (var item in summryList)
{
    var returnModal = "RT" + item.ReceiveID;
    var editReceiveModal = "ERC" + item.ReceiveID;

    <div class="modal fade" id="@returnModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Edit CPA Container Return</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Add", "CPAContainerReturn", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ReceiveID" id="ReceiveID" value="@item.ReceiveID" />
                        <input type="hidden" name="FarmerCode" id="FarmerCode" value="@Model.FarmerCode" />
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label">Item Code </label>
                                <input class="form form-control bg-light" name="Code" id="Code" type="text" value="@item.ItemCode" readonly />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Item Name </label>
                                <input class="form form-control bg-light" name="Name" id="Name" type="text" value="@item.ItemName" readonly />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Unit </label>
                                <input class="form form-control bg-light" name="Unit" id="Unit" type="text" value="@item.UnitName" readonly />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Description </label>
                                <input class="form form-control bg-light" name="Description" id="Description" type="text" value="@item.Description" readonly />
                            </div>
                            <div class="col-4">
                                <label class="form-label">Receive (รวม) </label>
                                <input class="form form-control bg-light" name="Unit" id="Unit" type="text" value="@item.ReceiveQuantity" readonly />
                            </div>
                            <div class="col-4">
                                <label class="form-label">Return (รวม) </label>
                                <input class="form form-control bg-light" type="text" value="@item.ReturnQuantity" readonly />
                            </div>
                            <div class="col-4">
                                <label class="form-label">Return (%) </label>
                                @{ var rPercent = item.ReturnQuantity == 0 ? 0 : (decimal)item.ReturnQuantity / (decimal)item.ReceiveQuantity * 100;}
                                <input class="form form-control bg-light" type="text" value="@rPercent.ToString("N1")" readonly />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Return (ครั้งนี้) </label>
                                <input class="form form-control border-success" name="ReturnQuantity" id="ReturnQuantity" type="number" />
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    @Html.CheckBoxFor(model => model.IsEmpty, new { @class = "form-check-input" })
                                    <label class="form-check-label">ใช้หมดแล้ว (ถ้าใช้ไม่หมดให้ติ๊กออก) </label>
                                    @Html.ValidationMessageFor(m => m.IsEmpty, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="mt-4">
                                <button id="submitAddButton" class="btn btn-primary" type="submit"><i class="fas fa-save"></i> บันทึกข้อมูล</button>
                                <button id="resetAddButton" type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">ยกเลิก</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="@editReceiveModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Edit CPA Container Receive</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Edit", "CPAContainerReceive", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="receiveID" id="receiveID" value="@item.ReceiveID" />
                        <input type="hidden" name="FarmerCode" id="FarmerCode" value="@Model.FarmerCode" />
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label">Item Code </label>
                                <input class="form form-control bg-light" name="Code" id="Code" type="text" value="@item.ItemCode" readonly />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Item Name </label>
                                <input class="form form-control bg-light" name="Name" id="Name" type="text" value="@item.ItemName" readonly />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Unit </label>
                                <input class="form form-control bg-light" name="Unit" id="Unit" type="text" value="@item.UnitName" readonly />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Description </label>
                                <textarea class="form form-control" row="6" readonly>@item.Description</textarea>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Receive Quantity (จำนวนเดิม) </label>
                                <input class="form form-control bg-light" name="Unit" id="Unit" type="text" value="@item.ReceiveQuantity" readonly />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Receive Quantity (จำนวนที่ต้องการแก้ไข) </label>
                                <input class="form form-control border-success"
                                       name="receiveQuantity" id="receiveQuantity" type="number"
                                       required min="1" max="200" />
                            </div>
                            <div class="mt-4">
                                <button id="submitEditReceiveButton" class="btn btn-primary" type="submit"><i class="fas fa-save"></i> บันทึกข้อมูล</button>
                                <button id="resetEditReceiveButton" type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">ยกเลิก</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}


<h4 class="mt-4">
    Summary
    <a class="btn btn-sm btn-link" href="#" data-bs-toggle="modal" data-bs-target="#addOtherItem"
       title="ให้กดปุ่มนี้ เมื่อต้องการเพิ่มรายการอื่นๆ ที่ชาวไร่ไม่ได้รับไป แต่มีความประสงค์ให้บริษัทฯ กำจัดอย่างถูกต้องเพื่อลดมลพิษในชุมชน">[Add Other Receive]</a>
</h4>
<hr />
<div class="table-responsive mt-4">
    <table id="returnSummaryDataTable" class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th>
                    Item Code
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Description
                </th>
                <th>
                    Receive
                </th>
                <th>
                    Return
                </th>
                <th>
                    Return %
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in summryList)
            {
                var returnModal = "RT" + item.ReceiveID;
                var editReceiveModal = "ERC" + item.ReceiveID;
                <tr>
                    <td>
                        <a class="btn btn-sm btn-success"
                           href="#"
                           title="Return CPA Container"
                           data-bs-toggle="modal"
                           data-bs-target="#@returnModal">
                            <span class="material-icons">
                                reply
                            </span>
                        </a>
                    </td>
                    <td>
                        @item.ItemCode
                    </td>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @item.UnitName
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.ReceiveQuantity.ToString("N0")
                    </td>
                    <td>
                        @item.ReturnQuantity.ToString("N0")
                    </td>
                    <td>
                        @{ var returnPercent = item.ReturnQuantity == 0 ? 0 : ((decimal)item.ReturnQuantity / (decimal)item.ReceiveQuantity) * 100;}
                        @returnPercent.ToString("N1")
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="#"
                               class="btn btn-sm btn-outline-secondary"
                               data-bs-toggle="modal"
                               data-bs-target="#@editReceiveModal">
                                <span class="material-icons">
                                    edit
                                </span>
                            </a>
                            <a class="btn btn-sm btn-outline-secondary"
                               href="@Url.Action("Delete", "CPAContainerReceive",
                                new { receiveID = item.ReceiveID, farmerCode = Model.FarmerCode })">
                                <span class="material-icons">
                                    delete
                                </span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="addOtherItem" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Add Other Item</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Add", "CPAContainerReceive", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="farmerCode" id="farmerCode" value="@Model.FarmerCode" />
                    <div class="row g-3">
                        <div class="col-12">
                            <label class="form-label">Item </label>
                            @Html.DropDownList("itemCode",
                                        new SelectList(ViewBag.ReturnItemList, "Code", "Name"), "โปรดเลือกรายการ",
                                        new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="col-12">
                            <label class="form-label">Quantity</label>
                            <input id="quantity" name="quantity" type="number" class="form form-control"
                                   required min="1" max="200" />
                        </div>
                        <div class="col-12">
                            <button type="submit" id="addOtherSubmitButton" class="btn btn-sm btn-primary">บันทึกข้อมูล</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@foreach (var item in detailsList)
{
    var editModal = "E" + item.ReturnID;

    <div class="modal fade" id="@editModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Edit CPA Container Return</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Edit", "CPAContainerReturn", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ReturnID" id="ReturnID" value="@item.ReturnID" />
                        <input type="hidden" name="FarmerCode" id="FarmerCode" value="@Model.FarmerCode" />
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label">Item Code </label>
                                <input class="form form-control bg-light" name="Code" id="Code" type="text" value="@item.CPAContainerReceive.CPAContainerItem.Code" readonly />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Item Name </label>
                                <input class="form form-control bg-light" name="Name" id="Name" type="text" value="@item.CPAContainerReceive.CPAContainerItem.Name" readonly />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Unit </label>
                                <input class="form form-control bg-light" name="Description" id="Description" type="text" value="@item.CPAContainerReceive.CPAContainerItem.Unit" readonly />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Return Date </label>
                                <input class="form form-control bg-light" value="@item.ReturnDate" />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Return (ครั้งนี้) </label>
                                <input class="form form-control border-success" name="quantity" id="quantity" type="number" value="@item.Quantity" />
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    @Html.CheckBox("isEmpty", item.IsEmpty, new { @class = "form-check-input" })
                                    <label class="form-check-label">ใช้หมดแล้ว (ถ้าใช้ไม่หมดให้ติ๊กออก) </label>
                                </div>
                            </div>
                            <div class="mt-4">
                                <button id="submitEditButton" class="btn btn-primary" type="submit"><i class="fas fa-save"></i> บันทึกข้อมูล</button>
                                <button id="resetEditButton" type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">ยกเลิก</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<h4 class="mt-4">Return Details</h4>
<hr />
<div class="table-responsive mt-4">
    <table id="returnDetailsDataTable" class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th>
                    Return Date
                </th>
                <th>
                    Item Code
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Description
                </th>
                <th>
                    Return Qty
                </th>
                <th>
                    Is Empty
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in detailsList)
            {
                var modalID = "E" + item.ReturnID;
                <tr>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary"
                               href="#" data-bs-toggle="modal"
                               data-bs-target="#@modalID">
                                <span class="material-icons">
                                    edit
                                </span>
                            </a>
                            <a id="deleteButton"
                               class="btn btn-sm btn-outline-secondary"
                               href="@Url.Action("Delete","CPAContainerReturn",
                                new { returnID = item.ReturnID, farmerCode = Model.FarmerCode})">
                                <span class="material-icons">
                                    delete
                                </span>
                            </a>
                        </div>
                    </td>
                    <td>
                        @item.ReturnDate
                    </td>
                    <td>
                        @item.CPAContainerReceive.CPAContainerItem.Code
                    </td>
                    <td>
                        @item.CPAContainerReceive.CPAContainerItem.Name
                    </td>
                    <td>
                        @item.CPAContainerReceive.CPAContainerItem.Unit
                    </td>
                    <td>
                        @item.CPAContainerReceive.CPAContainerItem.Description
                    </td>
                    <td>
                        @item.Quantity.ToString("N0")
                    </td>
                    <td>
                        @{ var isEmptyText = item.IsEmpty == true ? "ใช้หมดแล้ว" : "ใช้ไม่หมด";}
                        @isEmptyText
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
