﻿@model BUWebApp.Areas.Supervisor.Models.vm_BankAccount
@{
    ViewBag.Title = "UpdateBookBank";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var registration = (DomainModel.RegistrationFarmer)ViewBag.Registration;
}

<h3>Update Bank Account</h3>
<h6>แก้ไขข้อมูลบัญชีธนาคาร</h6>
<hr />

<div class="card-group">
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_FarmerProfile.cshtml", registration.Farmer)
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_RegistrationProfile.cshtml", registration)
</div>

@using (Html.BeginForm("UpdateBankAccount", "BankAccount", FormMethod.Post,new { @class = "row g-3 mt-2"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Crop)
    @Html.HiddenFor(model => model.FarmerCode)
    @Html.HiddenFor(model => model.CitizenID)
    @Html.HiddenFor(model => model.ExtensionAgentCode)
<div class="mt-3">
    <label class="form-label">ชื่อธนาคาร</label>
    @Html.DropDownListFor(model => model.BankID, new SelectList(@ViewBag.BankList, "BankID", "BankName"), "โปรดเลือกชื่อบัญชีธนาคาร", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.BankID, null, new { @class = "text-danger" })
</div>
    <div class="mt-3">
        <label class="form-label">เลขที่บัญชี</label>
        @Html.TextBoxFor(model => model.BookBank, new { @class = "form-control", type = "text", @placeholder = "Book bank", @min = "0" })
        @Html.ValidationMessageFor(model => model.BookBank, null, new { @class = "text-danger" })
    </div>
    <div class="mt-3">
        <label class="form-label">สาขา</label>
        @Html.TextBoxFor(model => model.BankBranch, new { @class = "form-control", type = "text", @placeholder = "Bank branch" })
        @Html.ValidationMessageFor(model => model.BankBranch, null, new { @class = "text-danger" })
    </div>
    <div class="mt-3">
        <label class="form-label">รหัสสาขา</label>
        @Html.TextBoxFor(model => model.BankBranchCode, new { @class = "form-control", type = "text", @placeholder = "Bank branch code" })
        @Html.ValidationMessageFor(model => model.BankBranchCode, null, new { @class = "text-danger" })
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-sm" id="submitButton"><i class="fas fa-plus"></i> บันทึกข้อมูล</button>
        <button type="reset" class="btn btn-outline-secondary btn-sm"><i class="fas fa-redo"></i> รีเซ็ต</button>
        <a class="btn btn-secondary btn-sm" href="@Url.Action("CheckProfile","Farmer",new { citizenID = Model.CitizenID, extensionAgentCode = Model.ExtensionAgentCode })"><i class="fas fa-arrow-circle-left"></i> ย้อนกลับ</a>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
