﻿
@{
    ViewBag.Title = "Error Information";
}

<div class="row mb-4">
    <div class="col-12">
        <div class="text-center mb-4">
            <span style="font-size:x-large;">*ข้อความแจ้งเตือนจากระบบ*</span>
        </div>
        <div class="alert alert-danger text-center mb-4">@ViewBag.message</div>
    </div>
</div>