﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Error.cshtml";
}

@model BUWebApp.Models.vm_ErrorHandler

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <div class="error-details">
                    @Model.ErrorMessage
                </div>
                <div class="error-actions">
                    <hr />
                    <p>
                        Controller -> @Model.ControllerName<br />
                        ActionName -> @Model.ActionName
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

