﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Error.cshtml";
}

<h3>Page Not Found</h3>

<div class="row">
    <div class="col-12">
        <span style="font-size:x-large;">404 Page Not found.</span>
    </div>
</div>
