﻿@model BUWebApp.Areas.Supervisor.Models.vm_CY202201ReturnDetail
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var jsonItems = jss.Serialize(ViewBag.ReturnItemList);
    var jsonReturn = jss.Serialize(ViewBag.ReturnList);
    var jsonSummaryReceive = jss.Serialize(ViewBag.SummaryReceiveList);
    var jsonSummaryReturn = jss.Serialize(ViewBag.SummaryReturnList);
}


<script type="text/javascript">
    $(document).ready(function (e) {
        var table = $("#detailsTable").DataTable({
            "order": [[0, "asc"]]
        });

        const itemList = JSON.parse('@Html.Raw(jsonItems)');
        const returnList = JSON.parse('@Html.Raw(jsonReturn)');
        const summaryReceive = JSON.parse('@Html.Raw(jsonSummaryReceive)');
        const summaryReturn = JSON.parse('@Html.Raw(jsonSummaryReturn)');

        $("#ItemType").change(function (e) {
            var itemType = $("#ItemType").val();
            $("#ReturnItemID").empty();
            $("#ReturnItemID").append('<option value="">โปรดเลือกรายการ</option>');

            var info = itemList.filter(x=>x.ItemType === itemType);
            $.each(info, function (i, info) {
                $("#ReturnItemID").append('<option value="' + info.ReturnItemID + '">' +
                     info.ItemName + '</option>');
            });
        });

        $("#finishButton").click(function (e) {
            if (confirm("เมื่อท่านยืนยันข้อมูลแล้ว return no นี้จะถูกเปลี่ยนสถานะเป็น finish เพื่อเสร็จสิ้นการบันทึกข้อมูลใน return no นี้" +
                "โดยจะทำให้ไม่สามารถแก้ไขรายการข้อมูลในนี้ได้อีก ท่านต้องการยืนยันข้อมูลการคืนใน return no นี้ใช่หรือไม่") == false) {
                event.preventDefault();
                return;
            }
        });

        $("#addButton").click(function (e) {
            if ($("#statusLabel").attr('title') == "Finish") {
                alert("สถานะเอกสารคือ Finish ไม่สามารถคืนบรรจุภัณฑ์ได้");
                e.preventDefault();
                return;
            }

            var returnItemID = $("#ReturnItemID").val();

            var item = returnList.filter(x=>x.ReturnItemID == returnItemID);
            if (item.length > 0) {
                alert("มีการบันทึกรายการนี้แล้วใน Return No นี้");
                event.preventDefault();
                return;
            }

            var receives = summaryReceive.filter(x=>x.ItemID == returnItemID);
            var returns = summaryReturn.filter(x=>x.ReturnItemID == returnItemID);

            var sumReceive = receives.reduce(function (accumulator, currentValue) {
                return accumulator + currentValue.Quantity;
            }, 0);

            var sumReturn = returns.reduce(function (accumulator, currentValue) {
                return accumulator + currentValue.Quantity;
            }, 0);

            if (sumReturn > sumReceive) {
                if (confirm("จำนวนการคืนของรายการนี้ มากกว่าจำนวนที่ได้รับไป ท่านต้องการบันทึกข้อมูลการคืนนี้เพิ่มเติมใช่หรือไม่!") == false) {
                    event.preventDefault();
                    return;
                }
            }
        });

        $("body").on("click", "#detailsTable tbody tr #deleteButton", function (e) {
            var row = table.row($(this).closest('tr')).data();
            if ($("#statusLabel").attr('title') == "Finish") {
                alert("สถานะเอกสารคือ Finish ไม่สามารถลบข้อมูลได้");
                e.preventDefault();
                return;
            }
            //var row = table.row($(this).closest('tr')).data();
            //console.log(row);
            //console.log(row[0]);
        });
    });
</script>

<h3>CPA Container & Basket</h3>
<h6>บันทึกข้อมูลกาคคืนขยะสารเคมีและตะกร้า</h6>
<hr />

<div class="card-deck mb-5">
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_CY202201SummaryReceive.cshtml", Model.Summary)
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_CY202201SummaryReturn.cshtml", Model.Summary)
</div>

<div class="row my-2">
    <div class="col-sm-12 text-center">
        <h5>Return No. @Model.ReturnNo</h5>
        @{ var docStatus = Model.ReturnMaster.IsFinish == true ? "Finish" : "Unfinish";}
        <h6>สถานะ : <label id="statusLabel" title="@docStatus" />@docStatus</h6>
    </div>
</div>

<div class="row my-2">
    <div class="col-sm-12">
        <div class="form-inline justify-content-center">
            <div class="form-group mx-sm-3 mb-2">
                <button class="btn btn-success btn-sm ml-1" id="addNewButton" data-toggle="modal" data-target="#addModal"><i class="fas fa-plus"></i> คืนบรรจุภัณฑ์</button>
                @if (Model.ReturnMaster.IsFinish == false)
                {
                    <a class="btn btn-warning btn-sm ml-1" id="finishButton" href="@Url.Action("Finish", "CY202201Return", new { returnNo = Model.ReturnNo})"><i class="fas fa-lock"></i> ยืนยันการคืน</a>
                }
                else
                {
                    @*<a class="btn btn-danger btn-sm  ml-1" id="unfinishButton" href="@Url.Action("UnFinish", "CY202201Return", new { returnNo = Model.ReturnNo})"><i class="fas fa-unlock"></i> ยกเลิกการยืนยัน</a>*@
                }
                <a class="btn btn-secondary btn-sm ml-1" href="@Url.Action("Index", "CY202201Return", new { crop = Model.ReturnMaster.Crop, farmerCode = Model.ReturnMaster.FarmerCode })"><i class="fas fa-arrow-circle-left"></i> ย้อนกลับ</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">บันทึกข้อมูล</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Add", "CY202201ReturnDetail", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ReturnNo)
                    <div class="form-group">
                        <label for="ItemType">Item Type :</label>
                        <div>
                            @Html.DropDownList("ItemType", new SelectList(@ViewBag.ItemTypeList, "ItemType", "ItemType"), "โปรดเลือกรายการ", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ReturnItem">Return Item :</label>
                        <div>
                            @Html.DropDownListFor(model => model.ReturnItemID, new SelectList(new List<BusinessLayer.Model.m_CY202201ReturnItem>(), "ReturnItemID", "ItemName"), "โปรดเลือกรายการ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ReturnItemID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Quantity">Quantity :</label>
                        <div>
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @placeholder = "Quantity", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top:20px;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="submit" class="btn btn-primary" id="addButton">บันทึกข้อมูล</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<table id="detailsTable" class="table table-responsive-sm">
    <thead class="table-dark">
        <tr>
            <th>Item Name</th>
            <th>Item Type</th>
            <th>Quantity</th>
            <th>Modified Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ((List<BusinessLayer.Model.m_CY202201ReturnDetail>)ViewBag.ReturnList).OrderBy(x => x.ItemName))
        {
            <tr>
                <td>
                    @item.ItemName
                </td>
                <td>
                    @item.ItemType
                </td>
                <td style="text-align:right;">
                    @item.Quantity
                </td>
                <td>
                    @item.ModifiedDate
                </td>
                <td>
                    <a title="@item.ReturnItemID" id="deleteButton" class="btn btn-outline-danger btn-sm" href='@Url.Action("Delete", new { returnDetailID = item.ReturnDetailID, returnNo = item.ReturnNo })'>
                        ลบรายการ
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
