﻿@model BUWebApp.Areas.Supervisor.Models.vm_FarmerProject

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var farmer = (DomainModel.Farmer)ViewBag.Farmer;
    var projectList = (List<BusinessLayer.Model.m_FarmerProject>)ViewBag.FarmerProjectList;
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var jsonProjectList = jss.Serialize(projectList);
}
<script>
    $(document).ready(function (e) {
        const projectList = JSON.parse('@Html.Raw(jsonProjectList)');

        $("#submitButton").click(function (e) {
            var projectType = $("#ProjectType");
            if (projectType.val() == null || projectType.val() == "") {
                alert("โปรดระบุ project type");
                e.preventDefault();
                projectType.focus();
                return;
            }

            var checkedItem = projectList.find(x => x.ProjectType === projectType.val());
            if (checkedItem != undefined) {
                alert("มีข้อมูลโปรเจค " + projectType.val() + " นี้แล้วในระบบ");
                e.preventDefault();
                return;
            }

            var actualRai = $("#ActualRai");
            if (actualRai.val() <= 0) {
                alert("จำนวนไร่ / Quota (Rai) ที่ระบุจะต้องมากกว่า 0 ไร่");
                e.preventDefault();
                actualRai.focus();
                return;
            }

            if (confirm("ท่านต้องการเพิ่มข้อมูล farmer project นี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });
    });
</script>

<h2>Add Farmer Project</h2>
<hr />

<div class="row g-3 mb-2">
    @using (Html.BeginForm("Add", "FarmerProject", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <div class="mt-3">
            <label class="form-label">Farmer Code</label>
            @Html.TextBoxFor(model => model.FarmerCode, new { @class = "form form-control" })
            @Html.ValidationMessageFor(Model => Model.FarmerCode, null, new { @class = "text-danger" })
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                <span class="material-icons">
                    verified
                </span>
                ตรวจสอบข้อมูล
            </button>
            <a class="btn btn-secondary"
               href="@Url.Action("Index", "FarmerProject", new { extensionAgentCode = Model.ExtensionAgentCode })">
                <span class="material-icons">
                    arrow_left
                </span>
                ย้อนกลับ
            </a>
        </div>
        <div class="mt-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    }
</div>

@if (farmer != null)
{
    var registration = (DomainModel.RegistrationFarmer)ViewBag.RegistrationFarmer;
    <div class="card-group">
        @Html.Partial("~/Areas/Supervisor/Views/Shared/_FarmerProfile.cshtml", farmer)
        @Html.Partial("~/Areas/Supervisor/Views/Shared/_RegistrationProfile.cshtml", registration == null ? new DomainModel.RegistrationFarmer() : registration)
    </div>

    <hr />
    <div class="modal fade" tabindex="-1" aria-hidden="true" id="addProjectModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title fs-5">Farmer Project Form</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Add", "FarmerProject", FormMethod.Post, new { @class = "row g-3" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Crop)
                        @Html.HiddenFor(model => model.FarmerCode)
                        @Html.HiddenFor(model => model.ExtensionAgentCode)
                        <div class="mt-3">
                            <label class="form-label">Project Type</label>
                            @Html.DropDownListFor(model => model.ProjectType, new SelectList(ViewBag.ProjectTypes, "Value", "Value"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectType, "", new { @class = "text-danger" })
                        </div>
                        <div class="mt-3">
                            <label class="form-label">Quota (Rai)</label>
                            @Html.TextBoxFor(model => model.ActualRai, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ActualRai, "", new { @class = "text-danger" })
                        </div>
                        <div class="mt-3">
                            <label class="form-label">Extra Quota (Kgs.)</label>
                            @Html.TextBoxFor(model => model.ExtraQuota, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ExtraQuota, "", new { @class = "text-danger" })
                        </div>
                        <div class="mt-3">
                            <button type="submit" id="submitButton" class="btn btn-primary"><i class="fas fa-save"></i> บันทึกข้อมูล</button>
                            <button type="reset" class="btn btn-outline-secondary">Reset</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-success" id="addProjectButton" title="Setup debt for deduction"
            data-bs-toggle="modal" href="#addProjectModal" role="button">
        + เพิ่มโปรเจค
    </button>

    <div class="table-responsive mt-2">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Project Type</th>
                    <th>Quota (Rai)</th>
                    <th>Quota (Kgs.)</th>
                    <th>Extra (Kgs.)</th>
                    <th>Sold</th>
                    <th>Sold In Extra</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in projectList.OrderBy(x => x.ProjectType))
                {
                    <tr>
                        <td>@item.ProjectType</td>
                        <td>@item.ActualRai.ToString("N0")</td>
                        <td>
                            @{var totalQuota = ((decimal)item.TotalQuota).ToString("N1");}
                            @totalQuota
                        </td>
                        <td>@item.ExtraQuota.ToString("N0")</td>
                        <td>
                            @{var sold = ((decimal)item.Sold).ToString("N1");}
                            @sold
                        </td>
                        <td>
                            @{var soldInExtra = ((decimal)item.SoldInExtra).ToString("N1");}
                            @soldInExtra
                        </td>
                        <td>
                            @{var balance = ((decimal)item.Balance).ToString("N1");}
                            @balance
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
