﻿@model BUWebApp.Areas.Supervisor.Models.vm_FarmerProject

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var registration = (DomainModel.RegistrationFarmer)ViewBag.RegistrationFarmer;
    var projectList = (List<BusinessLayer.Model.m_FarmerProject>)ViewBag.FarmerProjectList;
    var farmer = (DomainModel.Farmer)ViewBag.Farmer;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#submitButton").click(function (e) {
            if (confirm("ท่านต้องการแก้ไขข้อมูล farmer project นี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });

        $("#farmerProjectDataTable").DataTable({
            "order": [[0, "asc"]]
        });

        $("body").on("click", "#farmerProjectDataTable tbody tr #deleteButton", function (e) {
            if (confirm("ท่านต้องการลบรายการนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });
    });
</script>

<h3>Edit Farmer Project</h3>
<hr />

<div class="card-group">
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_FarmerProfile.cshtml", farmer)
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_RegistrationProfile.cshtml", registration)
</div>

<hr />
<div class="modal fade" tabindex="-1" aria-hidden="true" id="addProjectModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5">Farmer Project Form</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Crop)
                        @Html.HiddenFor(model => model.FarmerCode)
                        @Html.HiddenFor(model => model.ExtensionAgentCode)
                        <div>
                            <label class="form-label">Project</label>
                            @Html.DropDownListFor(model => model.ProjectType, new SelectList(ViewBag.ProjectTypes, "Value", "Value"), new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.ProjectType, "", new { @class = "text-danger" })
                        </div>
                        <div class="mt-3">
                            <label class="form-label">Quota (Rai)</label>
                            @Html.TextBoxFor(model => model.ActualRai, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ActualRai, "", new { @class = "text-danger" })
                        </div>
                        <div class="mt-3">
                            <label class="form-label">Extra Quota (Kgs.)</label>
                            @Html.TextBoxFor(model => model.ExtraQuota, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ExtraQuota, "", new { @class = "text-danger" })
                        </div>
                        <div class="mt-3">
                            <button type="submit" id="submitButton" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                            <a class="btn btn-secondary"
                               href="@Url.Action("Index", "FarmerProject", new { extensionAgentCode = Model.ExtensionAgentCode })">
                                <i class="fas fa-arrow-alt-circle-left"></i> ย้อนกลับ
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive mt-4">
    <table id="farmerProjectDataTable" class="table table-sm table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Project Type</th>
                <th>Quota (Rai)</th>
                <th>Quota (Kgs.)</th>
                <th>Extra (Kgs.)</th>
                <th>Sold</th>
                <th>Sold In Extra</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in projectList.OrderBy(x => x.ProjectType1))
            {
                <tr>
                    <td>@item.ProjectType</td>
                    <td>@item.ActualRai.ToString("N0")</td>
                    <td>
                        @{var totalQuota = ((decimal)item.TotalQuota).ToString("N1");}
                        @totalQuota
                    </td>
                    <td>@item.ExtraQuota.ToString("N0")</td>
                    <td>
                        @{var sold = ((decimal)item.Sold).ToString("N1");}
                        @sold
                    </td>
                    <td>
                        @{var soldInExtra = ((decimal)item.SoldInExtra).ToString("N1");}
                        @soldInExtra
                    </td>
                    <td>
                        @{var balance = ((decimal)item.Balance).ToString("N1");}
                        @balance
                    </td>
                    <td>
                        <a id="deleteButton" class="btn btn-sm btn-danger"
                           href="@Url.Action("Delete","FarmerProject",
                                new { crop = item.Crop,
                                    farmerCode = item.FarmerCode,
                                    projectType = item.ProjectType,
                                    extensionAgentCode = registration.Farmer.Supplier})">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
