﻿@model IEnumerable<DomainModel.FarmerProject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var extensionAgentCode = ViewBag.ExtensionAgentCode;
    var farmerProjectList = (List<BusinessLayer.Model.m_FarmerProject>)ViewBag.FarmerProjectList;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#farmerProjectDataTable").DataTable({
            "order": [[0, "asc"]]
        });

        $("body").on("click", "#farmerProjectDataTable tbody tr #deleteButton", function (e) {
            if (confirm("ท่านต้องการลบรายการนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });

        $("#submitButton").click(function () {
            if (confirm("ท่านต้องการแก้ไขข้อมูลนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });
    });
</script>

<h3>Farmer Project</h3>
<hr />

<form action="@Url.Action("Index", "FarmerProject")" method="get" class="row g-3">
    <div class="mt-3">
        <label class="form-label">Extension Agent Code</label>
        @Html.DropDownList("extensionAgentCode",
    new SelectList(ViewBag.ExtensionAgentList, "SupplierCode", "SupplierCode"),
    "โปรดเลือกตัวแทน", new { @class = "form-control", required = "required" })
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">
            <span class="material-icons">
                list
            </span>
            แสดงข้อมูล
        </button>
        <a class="btn btn-success" href="@Url.Action("Add", "FarmerProject")">
            + เพิ่มโปรเจค
        </a>
    </div>
</form>

<div class="table-responsive mt-4">
    <table id="farmerProjectDataTable" class="table table-sm table-hover">
        <thead>
            <tr>
                <th></th>
                <th>
                    Crop
                </th>
                <th>
                    Farmer Code
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Project Type
                </th>
                <th>
                    Project Quota (Rai)
                </th>
                <th>
                    Extra Quota (Kgs.)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var modalID = "MD" + item.Crop + item.FarmerCode + item.ProjectType;
                <tr>
                    <td>
                        <a class="btn btn-sm btn-outline-success" href="#" data-bs-toggle="modal" data-bs-target="#@modalID">Edit</a>
                        <a id="deleteButton" class="btn btn-sm btn-outline-danger"
                           href="@Url.Action("Delete","FarmerProject",
                                new { crop = item.Crop,
                                    farmerCode = item.FarmerCode,
                                    projectType = item.ProjectType,
                                    extensionAgentCode = extensionAgentCode})">Delete</a>
                    </td>
                    <td>
                        @item.Crop
                    </td>
                    <td>
                        @item.FarmerCode
                    </td>
                    <td>
                        @item.RegistrationFarmer.Farmer.Person.FirstName
                    </td>
                    <td>
                        @item.RegistrationFarmer.Farmer.Person.LastName
                    </td>
                    <td>
                        @item.ProjectType
                    </td>
                    <td>
                        @item.ActualRai
                    </td>
                    <td>
                        @item.ExtraQuota
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (farmerProjectList != null)
{
    foreach (var item in farmerProjectList)
    {
        var modalID = "MD" + item.Crop + item.FarmerCode + item.ProjectType;
        <div class="modal fade" tabindex="-1" aria-hidden="true" id="@modalID">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-5">@item.ProjectType</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("EditFromIndex", "FarmerProject", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            var soldInNormal = (decimal)item.Sold;
                            var balanceNormalQuota = (decimal)(item.ActualKgPerRai - item.Sold);
                            var soldInExtra = (decimal)item.SoldInExtra;
                            var balanceExtraQuota = (decimal)(item.ExtraQuota - item.SoldInExtra);

                            <div class="row g-3">
                                <input type="hidden" name="crop" id="crop" value="@item.Crop" />
                                <input type="hidden" name="farmerCode" id="farmerCode" value="@item.FarmerCode" style="text-transform:uppercase" />
                                <input type="hidden" name="projectType" id="projectType" value="@item.ProjectType" style="text-transform:uppercase" />
                                <input type="hidden" name="extensionAgentCode" id="extensionAgentCode" value="@extensionAgentCode" style="text-transform:uppercase" />
                                <div class="card-group">
                                    <div class="card">
                                        <div class="card-header bg-success border-success text-white">โควต้าปกติ (Normal Quota)</div>
                                        <div class="card-body">
                                            <table class="table table-hover table-sm">
                                                <tr>
                                                    <td>โควต้า</td>
                                                    <td>@item.ActualKgPerRai.ToString("N0")</td>
                                                </tr>
                                                <tr>
                                                    <td>ขายแล้ว</td>
                                                    <td>@soldInNormal.ToString("N1")</td>
                                                </tr>
                                                <tr>
                                                    <td>คงเหลือ</td>
                                                    <td>@balanceNormalQuota.ToString("N1")</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header bg-danger border-danger text-white">โควต้าส่วนเกิน (Extra Quota)</div>
                                        <div class="card-body">
                                            <table class="table table-hover table-sm">
                                                <tr>
                                                    <td>โควต้า</td>
                                                    <td>@item.ExtraQuota.ToString("N0")</td>
                                                </tr>
                                                <tr>
                                                    <td>ขายแล้ว</td>
                                                    <td>@soldInExtra.ToString("N1")</td>
                                                </tr>
                                                <tr>
                                                    <td>คงเหลือ</td>
                                                    <td>@balanceExtraQuota.ToString("N1")</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Quota</label>
                                    <div class="input-group">
                                        <input class="form form-control border-success" type="number" name="actualRai" value="@item.ActualRai" required />
                                        <span class="input-group-text">ไร่</span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Extra Quota</label>
                                    <div class="input-group">
                                        <input class="form form-control border-danger" type="number" name="extraQuota" value="@item.ExtraQuota" required />
                                        <span class="input-group-text">กก.</span>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" id="submitButton" class="btn btn-primary"><i class="fas fa-save"></i> บันทึกข้อมูล</button>
                                    <button type="reset" class="btn btn-outline-secondary">Reset</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}