﻿@model BUWebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Create a new account</h3>
<hr />

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "row g-3" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-12">
                <label class="form-label">Username</label>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
            <div class="col-12">
                <label class="form-label">Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="col-12">
                <label class="form-label">ConfirmPassword</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="col-12">
                <label class="form-label">Select User Role</label>
                @foreach (var item in (SelectList)ViewBag.RoleId)
                {
                    <div class="form-check">
                        <input type="checkbox" name="SelectedRoles" value="@item.Value" class="form-check-input" />
                        <label class="form-check-label">
                            @item.Value
                        </label>
                    </div>
                }
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-save"></i> Create</button>
                <button type="reset" class="btn btn-outline-secondary btn-sm"> Reset</button>
                <a class="btn btn-secondary btn-sm" href="@Url.Action("Index","User")"><i class="fas fa-arrow-circle-left"></i> Back</a>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
