﻿@model BUWebApp.Areas.Admin.Models.vm_User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Edit User Information</h3>
<hr />

<div class="card">
    <div class="card-header">Edit user roles</div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            <div class="col-12">
                <label class="form-label">Username</label>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control bg-light", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 mt-4">
                <label class="form-label"><b>Selected User Roles</b></label>
                @foreach (var item in Model.RolesList)
                {
                    <div class="form-check">
                        <input type="checkbox" name="SelectedRole"
                               value="@item.Value" checked="@item.Selected" class="form-check-input" />
                        <label class="form-check-label">
                            @item.Value
                        </label>
                    </div>
                }
            </div>
            <div class="col-12 mt-3">
                <button type="submit"
                        class="btn btn-primary btn-sm">
                    <i class="fas fa-save"></i> Save
                </button>
                <button type="reset" class="btn btn-outline-secondary btn-sm"> Reset</button>
                <a class="btn btn-secondary btn-sm" href="@Url.Action("Index","User")"><i class="fas fa-arrow-circle-left"></i> Back</a>
            </div>
        }
    </div>
</div>