﻿@model IEnumerable<BUWebApp.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#UserDataTable").DataTable();
    });
</script>

<h3>User accounts</h3>
<hr />

<a class="btn btn-primary btn-sm mb-3"
   href="@Url.Action("Create")">
    + Add new user
</a>

<div class="table-responsive">
    <table id="UserDataTable"
           class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    Username
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm"
                           href="@Url.Action("Edit", "User", new { id = item.Id })">
                            <span class="material-icons">
                                edit
                            </span>
                        </a>
                        <a class="btn btn-outline-secondary btn-sm"
                           href="@Url.Action("Delete", "User", new { id = item.Id })">
                            <span class="material-icons">
                                delete
                            </span>
                        </a>
                    </td>
                    <td>
                        @item.UserName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

