﻿@model BUWebApp.Areas.Supervisor.Models.vm_ReturnChemicalContainer

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var farmer = Model.Registration.Farmer;
    var registration = Model.Registration;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#invoiceDetailsTable").DataTable({
            "order": [[0, "asc"], [1, "asc"], [2, "asc"]]
        });

        $("#hideFarmerProfile").hide();
        $("#showFarmerProfile").show();
        $("#farmerProfile").hide();

        $("#showAddItem").hide();
        $("#hideAddItem").show();

        $("#category").change(function () {
            bindingItems();
        });

        $("a[title|='deleteItem']").click(function (e) {
            var result = confirm("ท่านต้องการลบข้อมูลนี้หรือไม่!");
            if (result == false) {
                e.preventDefault(); //prevent the default action
            }
        });

        $("#showFarmerProfile").click(function (e) {
            $("#farmerProfile").toggle("fast");
            $("#showFarmerProfile").hide();
            $("#hideFarmerProfile").show();
        });

        $("#hideFarmerProfile").click(function (e) {
            $("#farmerProfile").toggle("fast");
            $("#hideFarmerProfile").hide();
            $("#showFarmerProfile").show();
        });

        $("#hideAddItem").click(function (e) {
            $("#addItem").toggle("fast");
            $("#showAddItem").show();
            $("#hideAddItem").hide();
        });

        $("#showAddItem").click(function (e) {
            $("#addItem").toggle("fast");
            $("#hideAddItem").show();
            $("#showAddItem").hide();
        });
    });

    function bindingItems() {
        console.log($("#category").val());
        var category = $("#category").val();
        var resourceUrl = '@Url.Action("ItemsByCategory", "AGMInventories", new { Area = ""})?categoryid=' + category;
        console.log(resourceUrl);
        $("#ItemID").empty("โปรดเลือกประเภท");
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                console.log(info);
                $("#ItemID").append('<option value="">โปรดเลือกรายการ</option>');
                $.each(info, function (i, info) {
                    $("#ItemID").append('<option value="' + info.Value + '">' +
                         info.Text + '</option>');
                });
            }
        });
    }
</script>

<h3>Return Chemical Container</h3>
<h6>บันทึกการคืนบรรจุภัณฑ์</h6>
<hr />
<div class="card-deck mb-4">
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_FarmerProfile.cshtml", farmer)
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_RegistrationProfile.cshtml", registration)
</div>

<div class="row my-4">
    <div class="col-sm-12 mx-2">
        <div class="form-inline justify-content-center">
            <div class="form-group">
                <a class="btn btn-success btn-sm mr-1" href="#" data-toggle="modal" data-target="#AddReturnItemModal"> <i class="fas fa-plus"></i> เพิ่มรายการข้อมูล</a>
                <a class="btn btn-secondary btn-sm" href="@Url.Action("ReturnCPAContainer", "Invoice", new { farmerCode = Model.Registration.FarmerCode })"><i class="fas fa-arrow-circle-left"></i> ย้อนกลับ</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddReturnItemModal" tabindex="-1" role="dialog" aria-labelledby="AddReturnItemModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">บันทึกข้อมูลการคืนขยะสารเคมี</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Add", "ReturnChemicalContainer", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.Crop)
                    @Html.HiddenFor(x => x.FarmerCode)
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                ประเภท
                                <div>
                                    @Html.DropDownList("category", new SelectList(Model.Categories, "categoryid", "category_name"), "โปรดเลือกประเภท", new { @class = "form form-control" })
                                    @Html.ValidationMessageFor(model=>model.CategoryID, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                รายการ
                                <div>
                                    <select id="ItemID" name="ItemID" class="form form-control"></select>
                                    @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                จำนวนที่ต้องการคืน
                                <div>
                                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form form-control" })
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                วันที่นำมาคืน
                                <div>
                                    @Html.TextBoxFor(model => model.ReturnDate, "{0:yyyy-MM-dd}", new { @class = "form form-control", type = "date" })
                                    @Html.ValidationMessageFor(model => model.ReturnDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                รายละเอียด
                                <div>
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form form-control" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button type="submit" id="addItem" class="btn btn-primary"><i class="fa fa-plus"></i> บันทึกข้อมูล</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<table id="invoiceDetailsTable" class="table table-striped table-borderless">
    <thead class="table-dark">
        <tr>
            <th>รายการ</th>
            <th>จำนวน</th>
            <th>วันที่คืน</th>
            <th>รายละเอียด</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReturnList
            .OrderByDescending(x => x.ReturnDate)
            .ThenBy(x => x.ItemName))
        {
            <tr>
                <td>
                    @item.ItemName
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.ReturnDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Description
                </td>
                <td style="text-align:center;">
                    <a class="btn btn-outline-danger btn-sm" href='@Url.Action("Delete", "ReturnChemicalContainer", new { id = item.ID })'>ลบ</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
