﻿@model BUWebApp.Areas.Admin.Models.vm_CropItemCondition

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#detailsTable").DataTable({
            "order": [[1, "asc"],[2, "asc"]]
        });

        $("#Category").change(function () {
            bindingBrands();
            bindingItems();
        });

        $("#Brand").change(function () {
            bindingItems();
        });

        $("#IsNotToInvoice").change(function () {
            if (this.checked == true) {
                isNotToInvoice = true;
                //alert("กรณีเลือก Is Not To Invoice ราคาต่อหน่วยจะถูกกำหนดให้เป็น 0.00");
                $("#UnitPrice").val("0.00");
            }
            else
                isNotToInvoice = false;
        });

        var isNotToInvoice = false;
        var isReferToInventory = false;
        $("#addItem").click(function (e) {
            if (isNotToInvoice == true && $("#UnitPrice").val() != 0) {
                alert("item ที่บันทึกข้อมูลเก็บไว้เฉยๆ จะต้องกำหนด unit price เป็น 0");
                $("#UnitPrice").focus();
                e.preventDefault(); //prevent the default action
                return false;
            }
        });

        $(document).on("submit", "#inputForm", function (e) {
            if ($("#UnitPrice").val() <= 0) {
                var answer = confirm("ท่านไม่ต้องการระบุราคาสินค้านี้ใช่หรือไม่?");
                if (answer == false) {
                    $("#UnitPrice").focus();
                    e.preventDefault();
                    return false;
                }
            }
        });

        $(document).on("click", "#deleteButton", function (e) {
            var answer = confirm("ท่านต้องการลบรายการนี้ใช่หรือไม่?");
            if (answer == false) {
                e.preventDefault();
                return false;
            }
        });

        function bindingBrands() {
            var categoryid = $("#Category").val();
            var brandid = $("#Brand").val();
            console.log(categoryid);
            console.log(brandid);
            var resourceUrl = '@Url.Action("Brands", "AGMInventories", new { Area = "" })?categoryid=' + categoryid;
            $("#Brand").empty("โปรดเลือก brand");
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: resourceUrl,
                data: null,
                success: function (info) {
                    $("#Brand").append('<option value="">โปรดเลือกรายการ</option>');
                    $.each(info, function (i, info) {
                        $("#Brand").append('<option value="' + info.Value + '">' +
                             info.Text + '</option>');
                    });
                }
            });
        }

        function bindingItems() {
            var categoryid = $("#Category").val();
            var brandid = $("#Brand").val();
            var resourceUrl = '@Url.Action("Items", "AGMInventories", new { Area = "" })?categoryid=' + categoryid + '&brandid=' + brandid;
            $("#ItemID").empty("โปรดเลือกประเภท");
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: resourceUrl,
                data: null,
                success: function (info) {
                    $("#ItemID").append('<option value="">โปรดเลือกรายการ</option>');
                    $.each(info, function (i, info) {
                        $("#ItemID").append('<option value="' + info.Value + '">' +
                             info.Text + '</option>');
                    });
                }
            });
        }
    });
</script>

<h3>Crop Inputs Condition</h3>
<h6>จัดการข้อมูลรายการ item สำหรับตัวแทนแต่ละราย</h6>
<hr />

<div class="btn-group mb-3">
    <button type="button"
            class="btn btn-sm btn-success"
            data-bs-toggle="modal"
            data-bs-target="#addModal">
        + Add Item
    </button>
    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index","CropInputs")">
        <i class="fas fa-arrow-alt-circle-left"></i> Back
    </a>
</div>

<h4>รายการปัจจัยการผลิตของ @Model.SupplierCode</h4>
<div class="table-responsive">
    <table id="detailsTable" class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th></th>
                <th>Category</th>
                <th>Brand</th>
                <th>Item</th>
                <th>Item ID</th>
                <th>Unit Price</th>
                <th>Min. Package</th>
                <th>Inventory</th>
                <th>+VAT</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CropInputsItems
                .OrderBy(x => x.Category)
                .ThenBy(x => x.Brand))
            {
                <tr>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary"
                           id="deleteButton"
                           href='@Url.Action("Delete", "CropInputsCondition",
                         new { conditionID = item.ConditionID, supplierCode = item.SupplierCode })'>
                            <span class="material-icons">
                                delete
                            </span>
                        </a>
                    </td>
                    <td>
                        @item.Category
                    </td>
                    <td>
                        @item.Brand
                    </td>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @item.ItemID
                    </td>
                    <td>
                        @item.UnitPrice.ToString("N2")
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => item.IsUsePerRai)
                    <td>
                        @Html.CheckBoxFor(model => item.IsReferToInventory)
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => item.IsVat)
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add Item Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-3">
                @using (Html.BeginForm("Add", "CropInputsCondition", FormMethod.Post,
                    new { @class = "row g-3", @id = "inputForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Crop)
                    @Html.HiddenFor(x => x.SupplierCode)
                    <div class="col-md-4 mt-3">
                        <label class="form-label">Category</label>
                        @Html.DropDownList("Category",
                       new SelectList(@ViewBag.Categories, "categoryid", "category_name"), "โปรดเลือกประเภท",
                       new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 mt-3">
                        <label class="form-label">Brand</label>
                        @Html.DropDownListFor(model => model.Brand,
                       new SelectList(@ViewBag.Brands, "brandid", "brand_name"), "โปรดเลือกรายการ",
                       new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 mt-3">
                        <label class="form-label">Item</label>
                        @Html.DropDownListFor(model => model.ItemID,
                       new SelectList(@ViewBag.Items, "itemid", "item_name"), "โปรดเลือกรายการ",
                       new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 mt-3">
                        <label class="form-label">Unit Price</label>
                        @Html.TextBoxFor(model => model.UnitPrice,
                       new { @class = "form-control", @placeholder = "Unit Price", @required = "required", @max = "100" })
                        @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 mt-3">
                        <label class="form-label">Description</label>
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @placeholder = "Description" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsNotToInvoice, new { @class = "form-check-input" })
                            <label for="isNotToInvoice" class="form-check-label">เป็นรายการที่บันทึกข้อมูลเก็บไว้เฉยๆ</label>
                            @Html.ValidationMessageFor(model => model.IsNotToInvoice, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsUsePerRai, new { @class = "form-check-input" })
                            <label for="IsUsePerRai" class="form-check-label">หน่วยต่อ 1 ไร่</label>
                            @Html.ValidationMessageFor(model => model.IsUsePerRai, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsReferToInventory, new { @class = "form-check-input" })
                            <label for="IsReferToInventory" class="form-check-label">ตัดออกจาก Inventory</label>
                            @Html.ValidationMessageFor(model => model.IsReferToInventory, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsVat, new { @class = "form-check-input" })
                            <label for="IsVat" class="form-check-label"> มีการคิด VAT</label>
                            @Html.ValidationMessageFor(model => model.IsVat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <button class="btn btn-primary" type="submit" id="addItem" name="addItem">
                            <i class="fas fa-plus"></i> Add
                        </button>
                        <button class="btn btn-outline-secondary" type="reset">
                            Reset
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>