﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = HttpContext.Current.User.Identity.Name;
}

<div class="p-3 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-2">
        <h1 class="display-5 fw-bold">Burley on web</h1>
        @*<p class="col-md-8 fs-4">This application is used to operate a piece of burley information. It has to be many modules to manage that info e.g.register a new farmer, pre-registering, signing a contract, crop inputs distribution, accounts receivable, ALP information, and some buying functions. Please contact the IT department to start using it.</p>*@
        <p>Please contact the IT department for sign up</p>
        @if (string.IsNullOrEmpty(username))
        {
            <a class="btn btn-primary btn-lg" href="@Url.Action("Login","Account")">Login</a>
        }
    </div>
</div>
@if (!string.IsNullOrEmpty(username))
{
    <div class="card-group mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="material-icons text-primary">
                        admin_panel_settings
                    </span>
                    Administrator
                </h5>
                <p class="card-text">
                    สำหรับผู้ดูแลระบบใช้กำหนดค่าข้อมูลต่างๆ ที่จำเป็นในระบบได้แก่
                    <ul>
                        <li>Crop default.</li>
                        <li>Crop inputs item setup.</li>
                        <li>User account management.</li>
                        <li>Return fertilizer and chemical items management.</li>
                        <li>CAP container items management.                        </li>
                    </ul>
                </p>
                <a href="@Url.Action("Index", "Home", new { Area = "Admin" }, null)" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="material-icons text-primary">
                        supervised_user_circle
                    </span>
                    Supervisor
                </h5>
                <p class="card-text">
                    สำหรับ supervisor ใช้จัดการข้อมูลชาวไร่ได้แก่
                    <ul>
                        <li>Pre-registration.</li>
                        <li>Sign a farmer contract.</li>
                        <li>Farmer quota management</li>
                        <li>Crop inputs distribution.</li>
                        <li>Print invoice.</li>
                        <li>Credit note management.</li>
                        <li>Setup farmer debt.</li>
                        <li>Debt receipt.</li>
                        <li>Record returning CPA container.</li>
                    </ul>
                </p>
                <a href="@Url.Action("Index", "Home", new { Area = "Supervisor" }, null)"
                   class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="material-icons text-primary">
                        currency_exchange
                    </span>
                    Account Receivable
                </h5>
                <p class="card-text">
                    สำหรับ Supervisor และ Account Department ใช้จัดการข้อมูลลูกหนี้ได้แก่
                    <ul>
                        <li>Crop inputs debt setup.</li>
                        <li>Drip water project setup.</li>
                        <li>Farmer loan project setup.</li>
                        <li>Record debt receipt.</li>
                    </ul>
                </p>
                <a href="@Url.Action("Index", "Home", new { Area = "AccountReceivable" }, null)" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="material-icons text-primary">
                        face_2
                    </span>
                    Account Department
                </h5>
                <p class="card-text">
                    สำหรับแผนกบัญชีใช้จัดการข้อมูลเอกสารต่างๆ ได้แก่
                    <ul>
                        <li>Account invoice unlock print.</li>
                        <li>Credit note unlock print.</li>
                    </ul>
                </p>
                <a href="@Url.Action("Index", "Home", new { Area = "Accounting" }, null)" class="btn btn-primary">Click here</a>
            </div>
        </div>
    </div>

    <div class="card-group mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="material-icons text-primary">
                        compost
                    </span>
                    ALP
                </h5>
                <p class="card-text">
                    สำหรับฝ่ายไร่ใช้ในการบันทึกข้อมูลและติดตามตามข้อกำหนดที่เกี่ยวข้องได้แก่
                    <ul>
                        <li>ALP categories, section, and title setup.</li>
                        <li>APL inspection.</li>
                        <li>ALP followup</li>
                    </ul>
                </p>
                <a href="@Url.Action("Index", "Home", new { Area = "ALP" }, null)" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="material-icons text-primary">
                        add_reaction
                    </span>
                    Farmer Bonus
                </h5>
                <p class="card-text">
                    สำหรับแผนกบัญชีและแผนกส่งเสริมฝ่ายไร่ใช้สำหรับติดตามและโอนเงินโบนัสให้กับชาวไร่ ได้แก่
                    <ul>
                        <li>Full Quota Bonus</li>
                        <li>Extra Quota Bonus</li>
                    </ul>
                </p>
                <a href="@Url.Action("Index", "Home", new { Area = "FarmerBonus" }, null)" class="btn btn-primary">Click here</a>
            </div>
        </div>
    </div>
}

@*<div class="row">
        <div class="card-group">
            <div class="card">
                <div class="card-body text-center text-center">
                    <a href="@Url.Action("Index", "Home", new { Area = "Admin" }, null)">
                        <span class="material-icons text-secondary" style="font-size:80px;">
                            admin_panel_settings
                        </span>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <a href="@Url.Action("Index", "Home", new { Area = "Supervisor" }, null)">
                        <span class="material-icons text-secondary" style="font-size:80px;">
                            supervised_user_circle
                        </span>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <a href="@Url.Action("Index", "Home", new { Area = "AccountReceivable" }, null)">
                        <span class="material-icons text-secondary" style="font-size:80px;">
                            currency_exchange
                        </span>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <a href="@Url.Action("Index", "Home", new { Area = "Accounting" }, null)">
                        <span class="material-icons text-secondary" style="font-size:80px;">
                            face_2
                        </span>
                    </a>
                </div>
                <div class="card-title">Accounting Department</div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <a href="@Url.Action("Index", "Home", new { Area = "ALP" }, null)">
                        <span class="material-icons text-secondary" style="font-size:80px;">
                            compost
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>*@
