﻿@model BusinessLayer.Model.m_CY202201ReturnItem

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h3>Edit CPA Container & Basket</h3>
<h6>แก้ไขข้อมูลรายการตัวเลือกขยะสารเคมีและตะกร้า</h6>
<hr />
@using (Html.BeginForm("Edit", "ReturnItem", FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ReturnItemID)
    <div class="col-12 mt-3">
        <label class="control-label">Item Name :</label>
        @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Item Name" } })
        @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
    </div>
    <div class="col-12 mt-3">
        <label class="control-label">Item Type :</label>
        @Html.DropDownListFor(model => model.ItemType, new SelectList(@ViewBag.ItemTypes, "ItemType", "ItemType"), "โปรดเลือกรายการ", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ItemType, "", new { @class = "text-danger" })
    </div>
    <div class="col-12 mt-3">
        <label class="control-label">Remark :</label>
        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control", @placeholder = "Remark" } })
        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
    </div>
    <div class="col-12 mt-3">
        @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input" })
        <label for="IsActive" class="form-check-label">Is Active (ให้แสดงบนหน้าบันทึกข้อมูลการคืนขยะสารเคมีและตะกร้า)</label>
        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
    </div>
    <div class="col-12 mt-3">
        <button class="btn btn-primary" type="submit" id="addItem" name="addItem"><i class="fas fa-save"></i> บันทึกข้อมูล</button>
        <a class="btn btn-secondary" href="@Url.Action("Index","ReturnItem",null,null)"><i class="fas fa-arrow-circle-left"></i>  ย้อนกลับ</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

