﻿@model BUWebApp.Areas.Admin.Models.vm_ReturnItem

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#confirmSubmitButton").click(function () {
            if (fromValidation() == false) {
                event.preventDefault();
            }
        });

        $("#detailsTable").DataTable({
            "order": [[0, "asc"]]
        });

        $("#Category").change(function () {
            bindingBrands();
            bindingItems();
        });

        $("#Brand").change(function () {
            bindingItems();
        });

        function bindingBrands() {
            var categoryid = $("#Category").val();
            var brandid = $("#Brand").val();
            var resourceUrl = '@Url.Action("Brands", "AGMInventories", new { Area = "" })?categoryid=' + categoryid;
            $("#Brand").empty("โปรดเลือก brand");
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: resourceUrl,
                data: null,
                success: function (info) {
                    $("#Brand").append('<option value="">โปรดเลือกรายการ</option>');
                    $.each(info, function (i, info) {
                        $("#Brand").append('<option value="' + info.Value + '">' +
                             info.Text + '</option>');
                    });
                }
            });
        }

        function bindingItems() {
            var categoryid = $("#Category").val();
            var brandid = $("#Brand").val();
            var resourceUrl = '@Url.Action("Items", "AGMInventories", new { Area = "" })?categoryid=' + categoryid + '&brandid=' + brandid;
            $("#ItemID").empty("โปรดเลือกประเภท");
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: resourceUrl,
                data: null,
                success: function (info) {
                    $("#ItemID").append('<option value="">โปรดเลือกรายการ</option>');
                    $.each(info, function (i, info) {
                        $("#ItemID").append('<option value="' + info.Value + '">' +
                             info.Text + '</option>');
                    });
                }
            });
        }

        function fromValidation() {
            //if ($("#CreateDate").val() == null || $("#CreateDate").val() == "") {
            //    alert("โปรดระบุวันที่สร้างเอกสารใบลดหนี้");
            //    $("#CreateDate").focus();
            //    return false;
            //}

            //if ($("#Description").val() == null || $("#Description").val() == "") {
            //    alert("โปรดระบุหมายเหตุของการทำใบลดหนี้");
            //    $("#Description").focus();
            //    return false;
            //}

            //if ($("#IsPayForCash").is(":checked") == true) {
            //    var result = confirm("ท่านต้องการออกใบลดหนี้แบบชำระเป็นเงินสดใช่หรือไม่?");
            //    if (result == false)
            //        return false;
            //}

            return true;
        }
    });
</script>

<h3>CPA Container & Basket</h3>
<h6>บันทึกข้อมูลรายการตัวเลือกขยะสารเคมีและตะกร้า</h6>
<hr />
<div class="row g-3">
    <div class="col-sm-12">
        <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addModal"><i class="fas fa-plus"></i> Add Item</button>
        <a class="btn btn-secondary btn-sm ml-1" href="@Url.Action("Index","Home")"><i class="fas fa-arrow-circle-left"></i> Back</a>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">บันทึกข้อมูล</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Add", "ReturnItem", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-12 mt-3">
                        <label class="form-label">Category :</label>
                        @Html.DropDownList("Category", new SelectList(@ViewBag.Categories, "categoryid", "category_name"), "โปรดเลือกประเภท", new { @class = "form-control col-sm-12" })
                    </div>
                    <div class="col-12 mt-3">
                        <label class="form-label">Brand :</label>
                        @Html.DropDownListFor(model => model.Brand, new SelectList(@ViewBag.Brands, "brandid", "brand_name"), "โปรดเลือกรายการ", new { @class = "form-control col-sm-12" })
                    </div>
                    <div class="col-12 mt-3">
                        <label class="form-label">Item :</label>
                        @Html.DropDownListFor(model => model.ItemID, new SelectList(@ViewBag.Items, "itemid", "item_name"), "โปรดเลือกรายการ", new { @class = "form-control col-sm-12" })
                        @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 mt-3">
                        <label class="form-label">Item Type :</label>
                        @Html.DropDownListFor(model => model.ItemType, new SelectList(@ViewBag.ItemTypes, "ItemType", "ItemType"), "โปรดเลือกรายการ", new { @class = "form-control col-sm-12" })
                        @Html.ValidationMessageFor(model => model.ItemType, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 mt-3">
                        <label class="control-label">Remark :</label>
                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control col-sm-12", @placeholder = "Remark" } })
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-check mt-3">
                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input" })
                        <label class="form-check-label" for="IsActive">Is Active (ให้แสดงบนหน้าบันทึกข้อมูล)</label>
                    </div>
                    <div class="modal-footer mt-3">
                        <button type="submit" class="btn btn-primary" id="confirmSubmitButton"><i class="fas fa-plus"></i>บันทึกข้อมูล</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="table-responsive mt-3">
    <table id="detailsTable" class="table table-striped table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>Item Name</th>
                <th>Item Type</th>
                <th>Is Active</th>
                <th>Remark</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var totalRecord = 0;
            }
            @foreach (var item in (List<BusinessLayer.Model.m_CY202201ReturnItem>)ViewBag.ReturnItemList)
            {
                <tr>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @item.ItemType
                    </td>
                    <td style="text-align:center;">
                        @if (item.IsActive == true)
                        {
                            <i class="fa fa-check-circle" style="color:green;"></i>
                        }
                    </td>
                    <td>
                        @item.Remark
                    </td>
                    <td style="width:150px;">
                        <a title="edit" class="btn btn-success btn-sm" href='@Url.Action("Edit", "ReturnItem", new { itemID = item.ReturnItemID })'>
                            Edit
                        </a>
                        <a title="delete" class="btn btn-danger btn-sm" href='@Url.Action("Delete", "ReturnItem", new { itemID = item.ReturnItemID })'>
                            Delete
                        </a>
                    </td>
                </tr>
                totalRecord++;
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
