﻿@model BUWebApp.Areas.ALP.Models.vm_IncidentDescription

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/ALP/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#CategoryID").change(function () {
            bindingTopic();
        });
    });

    function bindingTopic() {
        var categoryID = $("#CategoryID").val();
        var resourceUrl = '@Url.Action("GetTopics", "IncidentDescription")?categoryID=' + categoryID;
        $("#TopicID").empty();
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                //$("#TopicID").append('<option value="">Choose a topic</option>');
                $.each(info, function (i, info) {
                    $("#TopicID").append('<option value="' + info.Value + '">' +
                         info.Text + '</option>');
                });
            }
        });
    }
</script>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryID, Model.Categories, "Choose a category", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TopicID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TopicID, Model.Topics, "Choose a topic", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TopicID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
