﻿
@{
    ViewBag.Title = "Index";
}

<style>
    a {
        color: #000000;
        text-decoration: none;
    }
</style>

<h2>Extension Agent</h2>
<h6>โปรดเลือกเมนูที่ท่านต้องการใช้งานได้จากด้านล่าง</h6>
<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="card-deck mb-2">
            <div class="card">
                <div class="card-body text-center">
                    <a href="@Url.Action("CheckFarmerProfile", "Farmer",new { citizenID="" })">
                        <img src="~/Images/icons8-man-farmer-96.png" width="100" height="100">
                    </a>
                </div>
                <div class="card-footer text-center">
                    <a href="@Url.Action("CheckFarmerProfile", "Farmer",new { citizenID="" })">
                        Farmer Profile
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <a href="@Url.Action("Index", "Registration", null)">
                        <img src="~/Images/icons8-checked-user-male-80.png" width="100" height="100">
                    </a>
                </div>
                <div class="card-footer text-center">
                    <a href="@Url.Action("Index", "Registration", null)">
                        Approve Quota
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
