﻿@model IEnumerable<BUWebApp.Areas.AccountReceivable.Data.m_FarmerDebtSetupSummary>

@{
    ViewBag.Title = "DebtSetupSummary";
    Layout = "~/Areas/AccountReceivable/Views/Shared/_Layout.cshtml";
    var dpInvoiceAmt = ViewBag.dpInvoiceAmt == null ? 0 : ViewBag.dpInvoiceAmt;
    var dpCreditNoteAmt = ViewBag.dpCreditNoteAmt == null ? 0 : ViewBag.dpCreditNoteAmt;
    var dpInvoiceBalanceAmt = ViewBag.dpInvoiceBalanceAmt == null ? 0 : ViewBag.dpInvoiceBalanceAmt;
    var ciInvoiceAmt = ViewBag.ciInvoiceAmt == null ? 0 : ViewBag.ciInvoiceAmt;
    var ciCreditNoteAmt = ViewBag.ciCreditNoteAmt == null ? 0 : ViewBag.ciCreditNoteAmt;
    var ciInvoiceBalanceAmt = ViewBag.ciInvoiceBalanceAmt == null ? 0 : ViewBag.ciInvoiceBalanceAmt;
    var dpDebtSetupAmt = ViewBag.dpDebtSetupAmt == null ? 0 : ViewBag.dpDebtSetupAmt;
    var dpWaitForDebtSetupAmt = dpInvoiceBalanceAmt - dpDebtSetupAmt;
    var ciDebtSetupAmt = ViewBag.ciDebtSetupAmt == null ? 0 : ViewBag.ciDebtSetupAmt;
    var ciWaitForDebtSetupAmt = ciInvoiceBalanceAmt - ciDebtSetupAmt;
    var invoiceAmt = dpInvoiceAmt + ciInvoiceAmt;
    var creditNoteAmt = dpCreditNoteAmt + ciCreditNoteAmt;
    var invoiceBalanceAmt = dpInvoiceBalanceAmt + ciInvoiceBalanceAmt;
    var debtSetupAmt = dpDebtSetupAmt + ciDebtSetupAmt;
    var waitForDebtSetupAmt = invoiceBalanceAmt - debtSetupAmt;
    var setupStatus = ViewBag.setupStatus;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#debtSetupTable").DataTable({
            "order": [[1, "asc"]]
        });
    });

    $(document).on("change", "#extensionAgentCode", function (e) {
        $("#extensionAgentCode1").val($("#extensionAgentCode").val());
        console.log($("#extensionAgentCode1").val());
    });

    $(document).on("change", "#setupStatus", function (e) {
        $("#setupStatus1").val($("#setupStatus").val());
        console.log($("#setupStatus1").val());
    });

    $(document).on("submit", "#submitForm", function (e) {
        var extensionAgentCode = $("#extensionAgentCode");
        var setupStatus = $("#setupStatus");
        var param1 = extensionAgentCode.val();
        var param2 = setupStatus.val();


        if (param1 == null || param1 == "") {
            alert("โปรดระบุตัวแทน");
            extensionAgentCode.focus();
            e.preventDefault();
            return false;
        }

        if (param2 == null || param2 == "") {
            alert("โปรดระบุสถานะข้อมูล");
            setupStatus.focus();
            e.preventDefault();
            return false;
        }


        $("#extensionAgentCode1").val(param1);
        $("#setupStatus1").val(param2);
        console.log($("#extensionAgentCode1").val());
        console.log($("#setupStatus1").val());

        var result = confirm("invoice ที่ระบุเป็นประเภทปัจจัยการผลิตที่ยังไม่ได้นำไปตั้งหนี้ " +
            "จะถูกนำไปตั้งหนี้ให้ทั้งหมด ท่านต้องการตั้งหนี้ให้กับชาวไร่ของตัวแทน " +
            param1 + " ใช่หรือไม่?");

        if (result == false) {
            e.preventDefault();
            return false;
        }
    });
</script>

<h2>Debt Setup Summary</h2>
<h6>สรุปข้อมูลการบันทึกยอดหนี้</h6>
<hr />

<div class="card border-secondary">
    <div class="card-header bg-secondary text-white">ตัวกรองข้อมูล</div>
    <div class="card-body">
        <form>
            <div class="row mb-3">
                <label for="SupplierCode"
                       class="col-sm-2 col-form-label">ตัวแทน</label>
                <div class="col-sm-10">
                    @Html.DropDownList("extensionAgentCode",
                   new SelectList(ViewBag.ExtensionAgentList, "SupplierCode", "SupplierCode"), "โปรดเลือกตัวแทน",
                   new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="row mb-3">
                <label for="setupStatus"
                       class="col-sm-2 col-form-label">สถานะข้อมูล</label>
                <div class="col-sm-10">
                    @Html.DropDownList("setupStatus",
                   new SelectList(ViewBag.SetupStatusList, "StatusNameEN", "StatusNameTH"), "โปรดเลือกสถานะข้อมูล",
                   new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <div style="font-style:italic;font-size:small;" class="text-secondary">
                            <span>สถานะข้อมูลได้แก่</span>
                            <ul>
                                <li>Complete หมายถึง มีการตั้งหนี้ครบแล้ว</li>
                                <li>Incomplete หมายถึง ยังไม่ได้ตั้งหนี้</li>
                            </ul>
                        </div>
                    </div>
                </div>*@
        </form>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">สรุปการตั้งหนี้แยกตามประเภท</div>
    <div class="card-body">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        @{
                            var totalProgress = invoiceBalanceAmt == 0 ? 0 : (debtSetupAmt / invoiceBalanceAmt * 100).ToString("N0");
                            var dpProgress = dpInvoiceBalanceAmt == 0 ? 0 : (dpDebtSetupAmt / dpInvoiceBalanceAmt * 100).ToString("N0");
                            var ciProgress = ciInvoiceBalanceAmt == 0 ? 0 : (ciDebtSetupAmt / ciInvoiceBalanceAmt * 100).ToString("N0");
                        }
                        Summary (@totalProgress%)
                    </button>
                </h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                         role="progressbar"
                         style="width: @totalProgress%;"
                         aria-valuenow="@totalProgress"
                         aria-valuemin="0"
                         aria-valuemax="100">@totalProgress%</div>
                </div>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <td>หนี้</td>
                                    <td>@invoiceBalanceAmt.ToString("N2")</td>
                                </tr>
                                <tr>
                                    <td>ตั้งหนี้แล้ว</td>
                                    <td>@debtSetupAmt.ToString("N2")</td>
                                </tr>
                                <tr>
                                    <td>รอตั้งหนี้</td>
                                    <td>@waitForDebtSetupAmt.ToString("N2")</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        ปัจจัยการผลิต (@ciProgress%)
                    </button>
                </h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                         role="progressbar"
                         style="width: @ciProgress%;"
                         aria-valuenow="@ciProgress"
                         aria-valuemin="0"
                         aria-valuemax="100">@ciProgress%</div>
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <td>หนี้</td>
                                    <td>@ciInvoiceBalanceAmt.ToString("N2")</td>
                                </tr>
                                <tr>
                                    <td>ตั้งหนี้แล้ว</td>
                                    <td>@ciDebtSetupAmt.ToString("N2")</td>
                                </tr>
                                <tr>
                                    <td>รอตั้งหนี้</td>
                                    <td>@ciWaitForDebtSetupAmt.ToString("N2")</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        โครงการน้ำหยด  (@dpProgress%)
                    </button>
                </h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" 
                         role="progressbar" 
                         style="width: @dpProgress%;" 
                         aria-valuenow="@dpProgress" 
                         aria-valuemin="0" 
                         aria-valuemax="100">@dpProgress%</div>
                </div>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <td>หนี้</td>
                                    <td>@dpInvoiceBalanceAmt.ToString("N2")</td>
                                </tr>
                                <tr>
                                    <td>ตั้งหนี้แล้ว</td>
                                    <td>@dpDebtSetupAmt.ToString("N2")</td>
                                </tr>
                                <tr>
                                    <td>รอตั้งหนี้</td>
                                    <td>@dpWaitForDebtSetupAmt.ToString("N2")</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("SetupCropInputsDebt", "DebtSetup", FormMethod.Post, new { id = "submitForm" }))
        {
            <div class="mt-4">
                @Html.AntiForgeryToken()
                <input type="hidden" name="setupStatus" id="setupStatus1" />
                <input type="hidden" name="extensionAgentCode" id="extensionAgentCode1" />
                @if (ciWaitForDebtSetupAmt != 0 && setupStatus != "Complete")
                {
                    <button type="submit" class="btn btn-sm btn-success">+ ตั้งหนี้ เฉพาะปัจจัยการผลิตทั้งหมด</button>
                }
            </div>
        }
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">สรุปข้อมูลหนี้แยกตามรายชื่อชาวไร่ในแต่ละตัวแทน</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover" id="debtSetupTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            รหัสชาวไร่
                        </th>
                        <th>
                            ชื่อ
                        </th>
                        <th>
                            สกุล
                        </th>
                        <th>
                            หนี้
                        </th>
                        <th>
                            ตั้งหนี้แล้ว
                        </th>
                        <th>
                            รอตั้งหนี้
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="btn-group">
                                    @*<a class="btn btn-sm btn-outline-secondary"
                                       title="คลิกเพื่อดูรายละเอียดหนี้ทั้งหมด"
                                       target="_blank"
                                       href="@Url.Action("InvoiceAndCreditNoteSummary","DebtSetup",new { farmerCode = item.FarmerCode})">
                                        <i class="fas fa-search"></i> ดูหนี้
                                    </a>*@
                                    <a class="btn btn-sm btn-outline-secondary" id="detailsButton" title="Setup debt for deduction" target="_blank"
                                       href="@Url.Action("Setup",new { @farmerCode = item.FarmerCode})">
                                        <i class="fas fa-pen"></i> ตั้งหนี้
                                    </a>
                                </div>
                            </td>
                            <td>
                                @item.FarmerCode
                            </td>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.LastName
                            </td>
                            <td>
                                @item.InvoiceBalanceAmount.ToString("N2")
                            </td>
                            <td>
                                @item.DebtSetupAmount.ToString("N2")
                            </td>
                            <td>
                                @item.WaitForSetupAmount.ToString("N2")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
