﻿@model BUWebApp.Areas.AccountReceivable.Data.m_InvoiceDebtSummary

@{
    ViewBag.Title = "InvoiceAndCreditNoteSummary";
    Layout = "~/Areas/AccountReceivable/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#debtSetupTable").DataTable({
            "order": [[1, "asc"]]
        });
    });
</script>

<h2>Invoice And Credit Note Summary</h2>
<h6>สรุปข้อมูลหนี้ทั้งหมดของชาวไร่</h6>
<hr />
@{
    var totalAccountInvoiceAmount = Model.AccountInvoiceDetails.Sum(x => x.Quantity * x.UnitPrice);
    var totalCreditNoteAmount = Model.CreditNoteDetails.Sum(x => x.Quantity * x.UnitPrice);
    var totalBalanceAmount = totalAccountInvoiceAmount - totalCreditNoteAmount;
}
<div class="card-group">
    <div class="card">
        <div class="card-header bg-success text-white">หนี้ทั้งหมดจาก invoice</div>
        <div class="card-body">
            <h6 class="text-center display-6">
                @totalAccountInvoiceAmount.ToString("N2")
            </h6>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-warning">ยอดที่ทำการลดหนี้</div>
        <div class="card-body">
            <h6 class="text-center display-6">
                @totalCreditNoteAmount.ToString("N2")
            </h6>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-danger text-white">หนี้คงเหลือที่ต้องนำไปตั้งหนี้</div>
        <div class="card-body">
            <h6 class="text-center display-6">
                @totalBalanceAmount.ToString("N2")
            </h6>
        </div>
    </div>
</div>

<h5 class="mt-4">รายละเอียดใบส่งของ จำนวน @Model.AccountInvoices.Count() รายการ</h5>
<div class="accordion">
    @foreach (var item in Model.AccountInvoices.OrderBy(x => x.InvoiceNo).ToList())
    {
        var heading = "heading" + item.InvoiceNo;
        var collapse = "collapse" + item.InvoiceNo;
        var invoiceAmount = Model.AccountInvoiceDetails.Where(x => x.AccountInvoiceNo == item.InvoiceNo).Sum(x => x.Quantity * x.UnitPrice);

        <div class="accordion-item" id="accordionExample">
            <h2 class="accordion-header" id="@heading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@collapse" aria-expanded="false" aria-controls="@collapse">
                    #@item.InvoiceNo (@invoiceAmount.ToString("N2")฿)
                </button>
            </h2>
            <div id="@collapse" class="accordion-collapse collapse" aria-labelledby="@heading" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="card bg">
                        <div class="card-header bg-white">รายละเอียดใบส่งของ</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover">
                                    <thead>
                                        <tr>
                                            <th>รายการ</th>
                                            <th>ราคา/หน่วย</th>
                                            <th>จำนวน</th>
                                            <th>ราคา</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var details in Model.AccountInvoiceDetails
                                            .Where(x => x.AccountInvoiceNo == item.InvoiceNo)
                                            .OrderBy(x => x.ItemName)
                                            .ToList())
                                        {
                                            var price = details.UnitPrice * details.Quantity;
                                            <tr>
                                                <td>@details.ItemName
                                                <td>
                                                    @details.UnitPrice.ToString("N2")
                                                </td>
                                                <td>@details.Quantity.ToString("N0")</td>
                                                <td>@price.ToString("N2")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer bg-white">รวม @invoiceAmount.ToString("N2") บาท</div>
                    </div>

                    @{
                        var creditNotes = Model.CreditNotes.Where(x => x.AccountInvoiceNo == item.InvoiceNo);
                        var creditNoteAmount = 0.0;
                    }
                    <h6 class="mt-4">มีการลดหนี้ จำนวน @creditNotes.Count() รายการ</h6>

                    @if (creditNotes.Count() > 0)
                    {
                        <div class="accordion">
                            @foreach (var creditNote in creditNotes.OrderBy(x => x.CreditNoteCode).ToList())
                            {
                                var creditNoteHeading = "heading" + creditNote.CreditNoteCode;
                                var creditNoteCollapse = "collapse" + creditNote.CreditNoteCode;
                                var amount = Model.CreditNoteDetails
                                    .Where(x => x.CreditNoteCode == creditNote.CreditNoteCode)
                                    .Sum(y => y.Price);
                                creditNoteAmount = (double)creditNoteAmount + (double)amount;
                                <div class="accordion-item" id="accordionExample1">
                                    <h2 class="accordion-header" id="@creditNoteHeading">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@creditNoteCollapse" aria-expanded="false" aria-controls="@creditNoteCollapse">
                                            @creditNote.CreditNoteCode (@amount.ToString("N2")฿)
                                        </button>
                                    </h2>
                                    <div id="@creditNoteCollapse" class="accordion-collapse collapse" aria-labelledby="@creditNoteHeading" data-bs-parent="#accordionExample1">
                                        <div class="accordion-body">
                                            <div class="table-responsive">
                                                <table class="table table-sm table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>รายการ</th>
                                                            <th>ราคา/หน่วย</th>
                                                            <th>จำนวน</th>
                                                            <th>ราคา</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var detailsItem in Model.CreditNoteDetails
                                                            .Where(x => x.CreditNoteCode == creditNote.CreditNoteCode)
                                                            .OrderBy(x => x.ItemName)
                                                            .ToList())
                                                        {
                                                            <tr>
                                                                <td>@detailsItem.ItemName
                                                                <td>
                                                                    @detailsItem.UnitPrice.ToString("N2")
                                                                </td>
                                                                <td>@detailsItem.Quantity.ToString("N0")</td>
                                                                <td>@detailsItem.Price.ToString("N2")</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                <span>รวม @amount.ToString("N2") บาท</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div>
                            <span class="text-danger">*ไม่มีการลดหนี้</span>
                        </div>
                    }

                    @{
                        var balanceAmount = (double)invoiceAmount - (double)creditNoteAmount;
                    }

                    <h6 class="mt-4">สรุปยอดหนี้คงเหลือที่ต้องนำไปตั้งหนี้</h6>
                    <div class="card-group">
                        <div class="card">
                            <div class="card-header bg-success text-white">ยอดหนี้</div>
                            <div class="card-body">
                                <h6 class="text-center">
                                    @invoiceAmount.ToString("N2")
                                </h6>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-warning">ลดหนี้แล้ว</div>
                            <div class="card-body">
                                <h6 class="text-center">
                                    @creditNoteAmount.ToString("N2")
                                </h6>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-danger text-white">คงเหลือหนี้</div>
                            <div class="card-body">
                                <h6 class="text-center">
                                    @balanceAmount.ToString("N2")
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>