﻿@model BUWebApp.Areas.AccountReceivable.Data.vm_AddDebtSetup

@{
    ViewBag.Title = "LoanSetup";
    Layout = "~/Areas/AccountReceivable/Views/Shared/_Layout.cshtml";
    var farmer = new DomainModel.Farmer();
    var person = new DomainModel.Person();
    var register = (DomainModel.RegistrationFarmer)ViewBag.Register;
    if (register != null)
    {
        farmer = register.Farmer;
        person = register.Farmer.Person;
    }
    var debtTypeName = ViewBag.DebtTypeName;
    var debtSetupList = (List<DomainModel.DebtSetup>)ViewBag.DebtSetupList;
    decimal totalDebt = (decimal)0.0;
    decimal totalReceipt = (decimal)0.0;
    decimal balanceDebt = (decimal)0.0;
    if (debtSetupList != null)
    {
        totalDebt = debtSetupList.Sum(x => x.Amount);
        totalReceipt = debtSetupList.Sum(x => x.DebtReceipts.Sum(y => y.Amount));
        balanceDebt = totalDebt - totalReceipt;
    }
}

<script type="text/javascript">
    $(document).ready(function (e) {

        var debtSetupTable = $("#debtSetupTable").DataTable({
            "order": [[1, "desc"], [2, "desc"]]
        });

        $("#DripProjectQuota").keyup(function (e) {
            var debtPerYear = $("#Amount").val() / $("#NumberOfDeductionCrop").val();
            var quota = $("#DripProjectQuota").val()
            var deductionPricePerKg = debtPerYear / (quota * 0.5);
            $("#AvgAmountPerCrop").val(debtPerYear);
            $("#DeductionPricePerKg").val(deductionPricePerKg);
        });

        $("#Amount").keyup(function (e) {
            var debtPerYear = $("#Amount").val() / $("#NumberOfDeductionCrop").val();
            var quota = $("#DripProjectQuota").val()
            var deductionPricePerKg = debtPerYear / (quota * 0.5);
            $("#AvgAmountPerCrop").val(debtPerYear);
            $("#DeductionPricePerKg").val(deductionPricePerKg);
        });

        $("#submitFormButton").click(function (e) {
            if ($("#Amount").val() <= 0) {
                alert("ช่อง Amount จะต้องมากกว่า 0 โดยเลือกรายการที่จะนำไปตั้งหนี้ได้จากตาราง");
                e.preventDefault();
                $("#Amount").focus();
                return;
            }

            if (confirm("ท่านต้องการบันทึกข้อมูลนี้ใช่หรือไม่? โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนการบันทึกข้อมูล") == false) {
                e.preventDefault();
                return;
            }
        });

        $("#submitDeductPerKgButton").click(function (e) {
            if (confirm("ท่านต้องการบันทึกข้อมูลนี้ใช่หรือไม่? โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนการบันทึกข้อมูล") == false) {
                e.preventDefault();
                return;
            }
        });

        $("body").on("click", "#debtSetupTable tbody tr #deleteButton", function (e) {
            var row = debtSetupTable.row($(this).closest('tr')).data();
            var debtSetupCode = row[1];
            if (confirm("ท่านต้องการลบข้อมูลการตั้งหนี้รหัส " + debtSetupCode + " นี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });
    });
</script>


<h4>Loan Setup</h4>
<h6>การตั้งยอดหนี้เงินกู้เพื่อหักเงินจากการขาย</h6>
<hr />


@using (Html.BeginForm("LoanSetup", "DebtSetup", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Crop)
    <div class="mb-3">
        <label class="form-label">Farmer Code</label>
        <input type="text" style="text-transform:uppercase;" value="@Model.FarmerCode" name="FarmerCode" id="FarmerCode" class="form form-control" placeholder="รหัสชาวไร่ (Farmer Code)" />
        @*@Html.TextBoxFor(model => model.FarmerCode, new { @class = "form-control", @placeholder = "รหัสชาวไร่ (Farmer Code)" })*@
        @Html.ValidationMessageFor(Model => Model.FarmerCode, null, new { @class = "text-danger" })
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-check-circle"></i> ตรวจสอบข้อมูล</button>
        <a class="btn btn-outline-secondary btn-sm" href="@Url.Action("LoanSetup", "DebtSetup",new { crop = Model.Crop,farmerCode = ""})"><i class="fas fa-undo"></i> Reset</a>
        <a class="btn btn-secondary btn-sm" href="@Url.Action("Index", "Home")"><i class="fas fa-arrow-circle-left"></i> ย้อนกลับ</a>
    </div>
}

<div class="modal fade" tabindex="-1" aria-hidden="true" id="setupDebtModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5">Setup Debt Form</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("LoanSetupDebt", "DebtSetup", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <input type="hidden" name="Crop" value="@Model.Crop" />
                    <input type="hidden" name="FarmerCode" value="@Model.FarmerCode" />
                    <input type="hidden" name="DebtTypeCode" value="L1" />
                    <div class="row g-3">
                        <div class="col-6">
                            <label class="form-label">ประเภทหนี้ </label>
                            <input class="form form-control bg-light" type="text" value="@debtTypeName" readonly />
                        </div>
                        <div class="col-6">
                            <label class="form-label">ระยะเวลาในการชำระ (ปี)</label>
                            <input class="form-control bg-light" type="number" id="NumberOfDeductionCrop" name="NumberOfDeductionCrop" required readonly value="@Model.NumberOfDeductionCrop" />
                            @Html.ValidationMessageFor(model => model.NumberOfDeductionCrop, null, new { @class = "text-danger" })
                        </div>
                        <div class="col-6">
                            <label class="form-label">ยอดหนี้รวม <span style="color:red;">*</span></label>
                            <div class="input-group">
                                <input type="number" class="form-control border-success" id="Amount" name="Amount" required value="@Model.Amount">
                                <span class="input-group-text">บาท</span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Amount, null, new { @class = "text-danger" })
                        </div>
                        <div class="col-6">
                            <label class="form-label">ยอดหนี้ต่อปี (แบ่งเป็น 5 งวด)</label>
                            <div class="input-group">
                                <input class="form-control bg-light" type="number" id="AvgAmountPerCrop" required readonly />
                                <span class="input-group-text">บาท/ปี</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="form-label">โควต้าที่ใช้คำนวณ <span style="color:red;">*</span></label>
                            <div class="input-group">
                                <input class="form-control border-success" type="number" id="DripProjectQuota" name="DripProjectQuota" required value="@Model.DripProjectQuota" />
                                <span class="input-group-text">กก.</span>
                            </div>
                            @Html.ValidationMessageFor(model => model.DripProjectQuota, null, new { @class = "text-danger" })
                        </div>
                        <div class="col-6">
                            <label class="form-label">หักจากการขาย</label>
                            <div class="input-group">
                                <input class="form-control bg-light" type="number" id="DeductionPricePerKg" required readonly />
                                <span class="input-group-text">บาท/กก.</span>
                            </div>
                        </div>
                        @*<div class="col-6">
                                <label class="form-label">วันที่เอกสาร </label>
                                <input type="date" class="form-control bg-light" id="CreateDate" name="CreateDate" required readonly value="@Model.CreateDate.ToString("yyyy-MM-dd")">
                                @Html.ValidationMessageFor(model => model.CreateDate, null, new { @class = "text-danger" })
                            </div>*@
                        <div>
                            <button id="submitFormButton" class="btn btn-primary" type="submit"><i class="fas fa-save"></i> บันทึกข้อมูล</button>
                            <button id="resetFormButton" type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">ยกเลิก</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (register != null)
{
    <div class="row mb-3 mt-3">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <tr>
                            <td>รหัสชาวไร่</td>
                            <td>@farmer.FarmerCode</td>
                        </tr>
                        <tr>
                            <td>ชื่อ-นามสกุล</td>
                            <td>@person.Prefix@person.FirstName @person.LastName</td>
                        </tr>
                        <tr>
                            <td>ปีที่ลงทะเบียน</td>
                            <td>@register.Crop</td>
                        </tr>
                        <tr>
                            <td>จำนวนไร่ที่ทำสัญญา</td>
                            <td>@register.QuotaFromSignContract</td>
                        </tr>
                        <tr>
                            <td>สถานะสัญญา</td>
                            <td>
                                @{ var status = register.ActiveStatus == true ? "ปกติ" : "ยกเลิกสัญญาแล้ว";}
                                @status
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <tr>
                            <td>ยอดหนี้รวม</td>
                            <td><b class="text-danger">@totalDebt.ToString("N1")</b> บาท</td>
                        </tr>
                        <tr>
                            <td>หักชำระหนี้แล้ว</td>
                            <td><b class="text-success">@totalReceipt.ToString("N1")</b> บาท</td>
                        </tr>
                        <tr>
                            <td>ค้างชำระ</td>
                            <td><b class="text-dark">@balanceDebt.ToString("N1")</b> บาท</td>
                        </tr>
                        <tr>
                            <td>สถานะการชำระ</td>
                            <td>
                                @if (totalDebt <= 0)
                                {
                                    <i class="fas fa-check-circle" style="color:green;"> ไม่มีหนี้ในระบบ</i>
                                }
                                else
                                {
                                    if (balanceDebt <= 0)
                                    {
                                        <i class="fas fa-check-circle" style="color:green;"> ชำระครบแล้ว</i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-times-circle" style="color:red;"> ยังมียอดค้างชำระ</i>
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


@if (debtSetupList != null)
{
    foreach (var item in debtSetupList.OrderBy(x => x.DebtSetupCode))
    {
        var editDeductPerKgModal = "DP" + item.DebtSetupCode;
        <div class="modal fade" id="@editDeductPerKgModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">#@item.DebtSetupCode</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("EditDeductionPerKg", "DebtSetup", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="debtSetupCode" value="@item.DebtSetupCode" />
                            <input type="hidden" name="crop" value="@item.Crop" />
                            <input type="hidden" name="farmerCode" value="@item.FarmerCode" />
                            <input type="hidden" name="actionReturn" value="LoanSetup" />
                            <div class="row g-3">
                                <div>
                                    <label class="form-label">โควต้าที่จะนำมาคำนวณใหม่ <span style="color:red;">*</span></label>
                                    <input class="form form-control" type="number" name="newQuota" required />
                                </div>
                            </div>
                            <div class="mt-2">
                                <button id="submitDeductPerKgButton" class="btn btn-primary" type="submit"><i class="fas fa-save"></i> บันทึกข้อมูล</button>
                                <button id="resetDeductPerKgButton" type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">ยกเลิก</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <button class="btn btn-sm btn-success mt-4 mb-3" id="setupDebtButton" title="Setup debt for deduction"
            data-bs-toggle="modal" href="#setupDebtModal" role="button">
        <i class="fas fa-plus-circle"></i> บันทึกการตั้งหนี้
    </button>
    <div class="table-responsive">
        <table class="table table-sm table-hover" id="debtSetupTable">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>
                        รหัสเอกสาร
                    </th>
                    <th>
                        ประเภทหนี้
                    </th>
                    <th>
                        ปีที่ตั้งหนี้
                    </th>
                    <th>
                        ปีที่หักชำระ
                    </th>
                    <th>
                        ยอดรวม
                    </th>
                    <th>
                        โควต้า
                    </th>
                    <th>
                        หัก(บาท)/กก.
                    </th>
                    <th>
                        วันที่แก้ไขข้อมูล
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in debtSetupList.OrderBy(x => x.DebtSetupCode))
                {
                    var editDeductPerKgModal = "DP" + item.DebtSetupCode;
                    <tr>
                        <td>
                            <a class="btn btn-sm btn-outline-danger" id="deleteButton"
                               href="@Url.Action("Delete", "DebtSetup",new { debtSetupCode = item.DebtSetupCode,
                                    crop = item.Crop,
                                    farmerCode = item.FarmerCode,
                                    actionReturn = "LoanSetup" })">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-primary"
                               href="#" data-bs-toggle="modal" data-bs-target="#@editDeductPerKgModal"
                               title="คลิกเพื่อแก้ไขจำนวนที่จะหักต่อ กก. (ในโครงการเงินกู้ลงทุนเพาะปลูก)"> <i class="fas fa-edit"></i></a>
                        </td>
                        <td>
                            @item.DebtSetupCode
                        </td>
                        <td>
                            (@item.DebtTypeCode) @item.DebtType.DebtTypeName
                        </td>
                        <td>
                            @item.Crop
                        </td>
                        <td>
                            @item.DeductionCrop
                        </td>
                        <td>
                            @item.Amount.ToString("N2")
                        </td>
                        <td>
                            @item.DripProjectQuota.ToString("N0")
                        </td>
                        <td>
                            @item.DeductPerKg.ToString("N2")
                        </td>
                        <td>
                            @item.CreateDate.ToShortDateString()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}