﻿@model IEnumerable<BusinessLayer.Model.m_DebtSetupSummary>

@{
    ViewBag.Title = "Main";
    Layout = "~/Areas/AccountReceivable/Views/Shared/_Layout.cshtml";

    var totalDebtAmount = (double)ViewBag.TotalDebtAmount;
    var totalDebtSetupAmount = (double)ViewBag.TotalDebtSetupAmount;
}

<script type="text/javascript">
    $(document).ready(function (e) {
        var table = $("#debtSetupTable").DataTable({
            "order": [[0, "asc"], [1, "asc"]]
        });
    });
</script>

<h4>Main</h4>
<h6>สรุปข้อมูลการบันทึกยอดหนี้แยกตามสถานะการบันทึกข้อมูล complete/incomplete</h6>
<hr />


<div class="card border-secondary">
    <div class="card-header bg-secondary text-white">ตัวกรองข้อมูล</div>
    <div class="card-body">
        <form class="mb-4">
            <div class="row mb-3">
                <label for="SupplierCode"
                       class="col-sm-2 col-form-label">ตัวแทน</label>
                <div class="col-sm-10">
                    @Html.DropDownList("extensionAgentCode",
                   new SelectList(ViewBag.ExtensionAgentList, "SupplierCode", "SupplierCode"), "โปรดเลือกตัวแทน",
                   new { @class = "form-control" })
                </div>
            </div>
            <div class="row mb-3">
                <label for="setupStatus"
                       class="col-sm-2 col-form-label">สถานะข้อมูล</label>
                <div class="col-sm-10">
                    @Html.DropDownList("setupStatus",
                   new SelectList(ViewBag.SetupStatusList, "StatusName", "StatusName"), "โปรดเลือกสถานะข้อมูล",
                   new { @class = "form-control" })
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
                </div>
            </div><div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div>
                        <i style="font-size:small;font-weight:bold;">* สถานะข้อมูลได้แก่</i><br />
                        <i style="font-size:small;color:green;"><b>Complete</b> หมายถึง มีการตั้งหนี้ครบถ้วน/สมบูรณ์แล้ว</i><br />
                        <i style="font-size:small;color:red;"><b>Incomplete</b> หมายถึง มีใบเสร็จ/ใบส่งของที่ยังค้างนำไปทำตั้งหนี้</i>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="table-responsive mt-4">
    <table class="table table-sm table-hover" id="debtSetupTable">
        <thead>
            <tr>
                <th></th>
                <th>
                    รหัสชาวไร่
                </th>
                <th>
                    ชื่อ
                </th>
                <th>
                    สกุล
                </th>
                <th>
                    ยอดจาก invoice
                </th>
                <th>
                    ยอดที่ตั้งหนี้แล้ว
                </th>
                <th>
                    ยอดที่ยังไม่ได้ตั้งหนี้
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-sm btn-outline-success" id="detailsButton" title="Setup debt for deduction" target="_blank"
                           href="@Url.Action("SetupDebt",new { @crop = ViewBag.Crop, @farmerCode = item.FarmerCode})">
                            <i class="fas fa-plus-circle"></i> ตั้งหนี้
                        </a>
                    </td>
                    <td>
                        @item.FarmerCode
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.AmountFromInvoice.ToString("N2")
                    </td>
                    <td>
                        @item.AmountFromDebtSetup.ToString("N2")
                    </td>
                    <td>
                        @{ var balance = item.AmountFromInvoice - item.AmountFromDebtSetup;}
                        @balance.ToString("N2")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row mt-4">
    <div class="col-6">
        <div class="card border-danger text-center m-1">
            <div class="card-header text-white bg-danger">ยอดหนี้ทั้งหมด</div>
            <div class="card-body">
                <span style="font-size:x-large;color:red;">@totalDebtAmount.ToString("N2") บาท</span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card border-success text-center m-1">
            <div class="card-header text-white bg-success">ที่ตั้งหนี้แล้ว</div>
            <div class="card-body">
                <span style="font-size:x-large;color:green;">@totalDebtSetupAmount.ToString("N2") บาท</span>
            </div>
        </div>
    </div>
</div>
