﻿@model BUWebApp.Areas.AccountReceivable.Data.m_InvoiceDebtSummary
@using System.Text.Json;
@{
    ViewBag.Title = "Setup";
    Layout = "~/Areas/AccountReceivable/Views/Shared/_Layout.cshtml";
    var crop = Model.AccountInvoices.FirstOrDefault().Invoice.Crop;
    var registration = (DomainModel.RegistrationFarmer)ViewBag.Registration;
    var farmer = registration.Farmer;
    var person = registration.Farmer.Person;
    var debtSetupList = (List<DomainModel.DebtSetup>)ViewBag.DebtSetupList;
    var ciInvoiceNo = new List<string>();
    var dpInvoiceNo = new List<string>();
    var dripProjectQuotaMaxKg = registration.QuotaFromSignContract * 400;

    foreach (var item in Model.AccountInvoices)
    {
        if (item.Invoice.DebtTypeCode == "DP")
        {
            dpInvoiceNo.Add(item.InvoiceNo);
        }

        if (item.Invoice.DebtTypeCode == "CI")
        {
            ciInvoiceNo.Add(item.InvoiceNo);
        }
    }

    //var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    //var debtSetupListJSON = jss.Serialize(debtSetupList);
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#debtSetupTable").DataTable({
            "order": [[1, "asc"]]
        });
    });

    $(document).on("submit", "#cropInputsForm", function (e) {
        if ($("#cropInputsBalanceAmountLabel").text() <= 0) {
            alert("ไม่มียอดหนี้ค้างที่จะต้องนำไปตั้งหนี้แล้ว");
            e.preventDefault();
            return false;
        }

        if (confirm("ท่านจะไม่สามารถแก้ไขข้อมูลได้อีก แน่ใจหรือไม่ที่จะยืนยันข้อมูลนี้") == false) {
            e.preventDefault();
            return false;
        }
    });

    $(document).on("submit", "#dripProjectForm", function (e) {
        if ($("#debtSetupAmount").val() <= 0) {
            alert("ไม่มียอดหนี้ค้างที่จะต้องนำไปตั้งหนี้แล้ว");
            e.preventDefault();
            return false;
        }

        if (confirm("ท่านจะไม่สามารถแก้ไขข้อมูลได้อีก แน่ใจหรือไม่ที่จะยืนยันข้อมูลนี้") == false) {
            e.preventDefault();
            return false;
        }
    });

    $(document).on("click", "#confirmButton", function (e) {
        var dpAmount = $("#dripProjectAmount").val();
        if ($("#dripProjectAmount").val() > 0) {
            $("#avgAmountPerCrop").val((dpAmount / 3).toFixed(2))
            $("#dripProjectModal").modal("show");
            $("#dripProjectQuota").focus();
        }
        else {
            $("#cropInputsModal").modal("show");
        }
    });

    //Calculate drip project deduction per kgs.
    $(document).on("keyup", "#dripProjectQuota", function (e) {
        var dpAmount = $("#dripProjectAmount").val();
        var avgAmountPerCrop = $("#avgAmountPerCrop").val();
        var dripQuota = $("#dripProjectQuota").val();
        var deductPrice = avgAmountPerCrop / (dripQuota * 0.5);
        $("#deductPricePerKg").val(deductPrice);
    });

    //Calculate drip project deduction per kgs.
    $(document).on("click", "#dripProjectModalButton", function (e) {
        var dpAmount = $("#dripProjectAmount").val();
        var avgAmountPerCrop = $("#avgAmountPerCrop").val();
        var dripQuota = $("#dripProjectQuota").val();
        var deductPrice = avgAmountPerCrop / (dripQuota * 0.5);
        $("#deductPricePerKg").val(deductPrice);
    });

    $(document).on("click", "#clearDripProjectQuotaButton", function (e) {
        var array1 = $("#invoiceNo1").val();
        var array2 = $("#invoiceNo1").val();
        var quota = $("#dripProjectQuota");
        var deductionPrice = $("#deductPricePerKg");
        quota.val("");
        deductionPrice.val("");
        quota.focus();
    });

    $(document).on("click", "#deleteButton", function (e) {
        var data = $(e.currentTarget);
        var debtSetupCode = data.attr('data-bs-debtSetupCode');
        var receiptAmount = data.attr('data-bs-receiptAmount');
        var debtTypeCode = data.attr('data-bs-debtTypeCode');
        var amt = parseFloat(receiptAmount).toFixed(2);
        if (receiptAmount > 0) {
            alert("ยอดหนี้รหัส " + debtSetupCode + " มีการชำระหนี้ไปบางส่วนแล้ว (" +
                amt + " บาท) ไม่สามารถลบ/แก้ไขข้อมูลได้");
            e.preventDefault();
            return false;
        }

        if (debtTypeCode == "DP" || debtTypeCode == "L1") {
            var year = 0;
            if (debtTypeCode == "DP") {
                year = 3;
            }
            else {
                year = 5;
            }

            alert("ยอดหนี้รหัส " + debtSetupCode + " เป็นยอดหนี้ต่อเนื่อง" + year + " ปี" +
                "ระบบจะทำการลบข้อมูลที่เกี่ยวข้องทั้งหมด " + year + " ปีให้โดยอัตโนมัติ");
        }

        if (confirm("ท่านต้องการลบข้อมูลนี้ใช่หรือไม่") == false) {
            e.preventDefault();
            return false;
        }
    });

    $(document).on("click", "#editDripProjectQuotaButton", function (e) {
        var data = $(e.currentTarget);
        var debtSetupCode = data.attr('data-bs-debtSetupCode');
        var receiptAmount = data.attr('data-bs-receiptAmount');
        var amt = parseFloat(receiptAmount).toFixed(2);
        var newQuota = data.attr('data-bs-newQuota');
        if (receiptAmount > 0) {
            alert("ยอดหนี้รหัส " + debtSetupCode + " มีการชำระหนี้ไปบางส่วนแล้ว (" +
                amt + " บาท) ไม่สามารถลบ/แก้ไขข้อมูลได้");
            e.preventDefault();
            return false;
        }

        $("#debtSetupCode").text(debtSetupCode);
        $("#newQuota").val(newQuota);
    });

    function calculateDeductionPrice(quota, deductionPerCrop) {
        return deductionPerCrop / (quota * 0.5);
    }
</script>

<h2>Setup</h2>
<h6>บันทึกข้อมูลการตั้งหนี้</h6>
<hr />

@{
    var cropInputInvoiceAmount = Model.AccountInvoiceDetails
        .Where(x => x.Invoice.DebtTypeCode == "CI")
        .Sum(x => x.UnitPrice * x.Quantity);
    var cropInputCreditNoteAmount = Model.CreditNoteDetails
        .Where(x => x.AccountCreditNote.AccountInvoice.Invoice.DebtTypeCode == "CI")
        .Sum(x => x.UnitPrice * x.Quantity);
    var cropInputBalanceAmount = cropInputInvoiceAmount - cropInputCreditNoteAmount;
    var cropInputWaitForSetupAmount = cropInputBalanceAmount - debtSetupList
        .Where(x => x.DebtTypeCode == "CI" && x.Crop == crop)
        .Sum(x => x.Amount);

    var dripProjectInvoiceAmount = Model.AccountInvoiceDetails
        .Where(x => x.Invoice.DebtTypeCode == "DP")
        .Sum(x => x.UnitPrice * x.Quantity);
    var dripProjectCreditNoteAmount = Model.CreditNoteDetails
        .Where(x => x.AccountCreditNote.AccountInvoice.Invoice.DebtTypeCode == "DP")
        .Sum(x => x.UnitPrice * x.Quantity);
    var dripProjectBalanceAmount = dripProjectInvoiceAmount - dripProjectCreditNoteAmount;
    var dripProjectWaitForSetupAmount = dripProjectBalanceAmount - debtSetupList
        .Where(x => x.DebtTypeCode == "DP" && x.Crop == crop)
        .Sum(x => x.Amount);

    var cropInputsInvoices = Model.AccountInvoices
        .Where(x => x.Invoice.DebtTypeCode == "CI")
        .ToList();

    var dripProjectInvoices = Model.AccountInvoices
        .Where(x => x.Invoice.DebtTypeCode == "DP")
        .ToList();

    var debtSetupAmount = debtSetupList
        .Where(x => x.Crop == crop)
        .Sum(x => x.Amount);
    var waitSetupAmount = dripProjectBalanceAmount + cropInputBalanceAmount - debtSetupAmount;
}

<div class="card">
    <div class="card-header">ข้อมูลทั่วไปและข้อมูลการตั้งหนี้</div>
    <div class="card-body">

        <div class="accordion" id="accordion1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingProfile">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfile" aria-expanded="false" aria-controls="collapseProfile">
                        Farmer Profile (ประวัติส่วนตัว)
                    </button>
                </h2>
                <div id="collapseProfile" class="accordion-collapse collapse" aria-labelledby="headingProfile" data-bs-parent="#accordion1">
                    <div class="accordion-body">
                        <table class="table">
                            <tr>
                                <td>Farmer Code</td>
                                <td>@farmer.FarmerCode</td>
                            </tr>
                            <tr>
                                <td>Full Name</td>
                                <td>@person.Prefix@person.FirstName @person.LastName</td>
                            </tr>
                            <tr>
                                @{
                                    var citizenIDView = BUWebApp.Helper
                                        .PersonelDataProtectionHelper
                                        .CitizenIDProtection(person.CitizenID);
                                    var phoneNumber = string.IsNullOrEmpty(person.TelephoneNumber) ? "" :
                                        BUWebApp.Helper
                                        .PersonelDataProtectionHelper
                                        .PhoneNumberProtection(person.TelephoneNumber);
                                }
                                <td>Cititzen ID</td>
                                <td>@citizenIDView</td>
                            </tr>
                            <tr>
                                <td>Extension Agent</td>
                                <td>@farmer.Supplier</td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td>@phoneNumber</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingResistration">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRegistration" aria-expanded="false" aria-controls="collapseRegistration">
                        Registration Profile (ประวัติการทำสัญญาปัจจุบัน)
                    </button>
                </h2>
                <div id="collapseRegistration" class="accordion-collapse collapse" aria-labelledby="headingResistration" data-bs-parent="#accordion1">
                    <div class="accordion-body">
                        <table class="table">
                            <tr>
                                <td>Crop</td>
                                <td>@registration.Crop</td>
                            </tr>
                            <tr>
                                <td>Request Quota</td>
                                <td>@registration.QuotaFromFarmerRequest</td>
                            </tr>
                            <tr>
                                <td>Extension Agent Quota</td>
                                <td>@registration.QuotaFromSupplierApprove</td>
                            </tr>
                            <tr>
                                <td>STEC Quota</td>
                                <td>@registration.QuotaFromSTECApprove</td>
                            </tr>
                            <tr>
                                <td>Sign Contract Quota</td>
                                <td>@registration.QuotaFromSignContract</td>
                            </tr>
                            <tr>
                                <td>Sign Contract Date</td>
                                <td>@registration.SignContractDate</td>
                            </tr>
                            <tr>
                                <td>Contract Status</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(registration.UnRegisterReason))
                                    {
                                        <i class="text-danger">ยกเลิกสัญญา</i>
                                    }
                                    else
                                    {
                                        <span class="text-success">ปกติ (รออนุมัติโควต้า/ทำสัญญาแล้ว)</span>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingDebtDetails">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDebtDetails" aria-expanded="false" aria-controls="collapseDebtDetails">
                        Farmer Debt Details (รายละเอียดใบส่งของที่นำมาตั้งหนี้)
                    </button>
                </h2>
                <div id="collapseDebtDetails" class="accordion-collapse collapse" aria-labelledby="headingDebtDetails" data-bs-parent="#accordion1">
                    <div class="accordion-body">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-header"><i class="fas fa-recycle"></i> ประเภทปัจจัยการผลิต</div>
                                <div class="card-body">
                                    <div class="card-title">ใบส่งของ จำนวน @Model.AccountInvoices.Where(x => x.Invoice.DebtTypeCode == "CI").Count() รายการ</div>
                                    <div class="accordion">
                                        @foreach (var item in cropInputsInvoices
                                            .OrderBy(x => x.InvoiceNo)
                                            .ToList())
                                        {
                                            var heading = "heading" + item.Invoice.DebtTypeCode + item.InvoiceNo;
                                            var collapse = "collapse" + item.Invoice.DebtTypeCode + item.InvoiceNo;
                                            var invoiceAmount = (double)Model.AccountInvoiceDetails
                                                .Where(x => x.AccountInvoiceNo == item.InvoiceNo)
                                                .Sum(x => x.Quantity * x.UnitPrice);
                                            var invoiceCreditNoteAmount = 0.0;
                                            invoiceCreditNoteAmount = invoiceCreditNoteAmount + (double)Model.CreditNoteDetails
                                                .Where(x => x.AccountCreditNote.AccountInvoiceNo == item.InvoiceNo)
                                                .Sum(x => x.Quantity * x.UnitPrice);

                                            <div class="accordion-item" id="accordionExample">
                                                <h2 class="accordion-header" id="@heading">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@collapse" aria-expanded="false" aria-controls="@collapse">
                                                        #@item.InvoiceNo (@invoiceAmount.ToString("N2")฿)
                                                    </button>
                                                </h2>
                                                <div id="@collapse" class="accordion-collapse collapse" aria-labelledby="@heading" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body bg-light">
                                                        <div class="card bg-white">
                                                            <div class="card-header bg-white">รายละเอียดใบส่งของ</div>
                                                            <div class="card-body bg-white">
                                                                <div class="table-responsive">
                                                                    <table class="table table-sm table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>รายการ</th>
                                                                                <th>ราคา/หน่วย</th>
                                                                                <th>จำนวน</th>
                                                                                <th>ราคา</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (var details in Model.AccountInvoiceDetails.Where(x => x.AccountInvoiceNo == item.InvoiceNo).OrderBy(y => y.ItemName).ToList())
                                                                            {
                                                                                var price = details.UnitPrice * details.Quantity;
                                                                                <tr>
                                                                                    <td>@details.ItemName
                                                                                    <td>
                                                                                        @details.UnitPrice.ToString("N2")
                                                                                    </td>
                                                                                    <td>@details.Quantity.ToString("N0")</td>
                                                                                    <td>@price.ToString("N2")</td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer bg-white">รวม @invoiceAmount.ToString("N2") บาท</div>
                                                        </div>

                                                        <h6 class="mt-4">มีการลดหนี้ จำนวน @Model.CreditNotes.Where(x => x.AccountInvoiceNo == item.InvoiceNo).Count() รายการ</h6>
                                                        @if (Model.CreditNotes.Where(x => x.AccountInvoiceNo == item.InvoiceNo).Count() > 0)
                                                        {
                                                            <div class="accordion">
                                                                @foreach (var creditNote in Model.CreditNotes.Where(x => x.AccountInvoiceNo == item.InvoiceNo).OrderBy(x => x.CreditNoteCode).ToList())
                                                                {
                                                                    var creditNoteHeading = "heading" + creditNote.CreditNoteCode;
                                                                    var creditNoteCollapse = "collapse" + creditNote.CreditNoteCode;
                                                                    var creditNoteAmount = (double)Model.CreditNoteDetails
                                                                        .Where(x => x.CreditNoteCode == creditNote.CreditNoteCode)
                                                                        .Sum(x => x.Quantity * x.UnitPrice);
                                                                    <div class="accordion-item" id="accordionExample1">
                                                                        <h2 class="accordion-header" id="@creditNoteHeading">
                                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@creditNoteCollapse" aria-expanded="false" aria-controls="@creditNoteCollapse">
                                                                                @creditNote.CreditNoteCode (@creditNoteAmount.ToString("N2")฿)
                                                                            </button>
                                                                        </h2>
                                                                        <div id="@creditNoteCollapse" class="accordion-collapse collapse" aria-labelledby="@creditNoteHeading" data-bs-parent="#accordionExample1">
                                                                            <div class="accordion-body">
                                                                                <div class="table-responsive">
                                                                                    <table class="table table-sm table-hover">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>รายการ</th>
                                                                                                <th>ราคา/หน่วย</th>
                                                                                                <th>จำนวน</th>
                                                                                                <th>ราคา</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var detailsItem in Model.CreditNoteDetails.Where(x => x.CreditNoteCode == creditNote.CreditNoteCode).OrderBy(x => x.ItemName).ToList())
                                                                                            {
                                                                                                var detailsPrice = detailsItem.UnitPrice * detailsItem.Quantity;
                                                                                                <tr>
                                                                                                    <td>@detailsItem.ItemName
                                                                                                    <td>
                                                                                                        @detailsItem.UnitPrice.ToString("N2")
                                                                                                    </td>
                                                                                                    <td>@detailsItem.Quantity.ToString("N0")</td>
                                                                                                    <td>@detailsPrice.ToString("N2")</td>
                                                                                                </tr>
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <span>รวม @creditNoteAmount.ToString("N2") บาท</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div>
                                                                <span class="text-danger">*ไม่มีการลดหนี้</span>
                                                            </div>
                                                        }

                                                        <h6 class="mt-4">สรุปยอดหนี้คงเหลือที่ต้องนำไปตั้งหนี้</h6>
                                                        <div class="card-group">
                                                            <div class="card border-success">
                                                                <div class="card-header border-success bg-success text-white">ยอดหนี้</div>
                                                                <div class="card-body border-success">
                                                                    <h6 class="text-center">
                                                                        @invoiceAmount.ToString("N2")
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                            <div class="card border-warning">
                                                                <div class="card-header border-warning bg-warning">ลดหนี้แล้ว</div>
                                                                <div class="card-body border-warning">
                                                                    <h6 class="text-center">
                                                                        @invoiceCreditNoteAmount.ToString("N2")
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                            <div class="card border-danger">
                                                                <div class="card-header border-danger bg-danger text-white">คงเหลือหนี้</div>
                                                                <div class="card-body border-danger">
                                                                    <h6 class="text-center">
                                                                        @{ var balanceAmount = invoiceAmount - invoiceCreditNoteAmount;}
                                                                        @balanceAmount.ToString("N2")
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    @if (cropInputBalanceAmount > 0 && cropInputWaitForSetupAmount > 0)
                                    {
                                        <div class="mt-2">
                                            <button type="button"
                                                    class="btn btn-sm btn-danger"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#cropInputsModal"
                                                    id="cropInputsConfirmButton">
                                                + ตั้งหนี้
                                            </button>
                                        </div>
                                    }
                                </div>
                                <div class="card-footer">
                                    <i class="fas fa-dollar-sign"></i> ยอดหนี้ปัจจัยการผลิต <label id="cropInputsBalanceAmountLabel">@cropInputBalanceAmount.ToString("N2")</label>  บาท
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" bg-primary text-white"><i class="fas fa-tint"></i> ประเภทเงินกู้โครงการน้ำหยด</div>
                                <div class="card-body">
                                    <div class="card-title">ใบส่งของ จำนวน @dripProjectInvoices.Count() รายการ</div>
                                    <div class="accordion">
                                        @foreach (var item in dripProjectInvoices
                                            .OrderBy(x => x.InvoiceNo)
                                            .ToList())
                                        {
                                            var heading = "heading" + item.Invoice.DebtTypeCode + item.InvoiceNo;
                                            var collapse = "collapse" + item.Invoice.DebtTypeCode + item.InvoiceNo;
                                            var invoiceAmount = (double)Model.AccountInvoiceDetails
                                                .Where(x => x.AccountInvoiceNo == item.InvoiceNo)
                                                .Sum(x => x.Quantity * x.UnitPrice);
                                            var invoiceCreditNoteAmount = 0.0;
                                            invoiceCreditNoteAmount = invoiceCreditNoteAmount + (double)Model.CreditNoteDetails
                                                .Where(x => x.AccountCreditNote.AccountInvoiceNo == item.InvoiceNo)
                                                .Sum(x => x.UnitPrice * x.Quantity);

                                            <div class="accordion-item" id="accordionExample">
                                                <h2 class="accordion-header" id="@heading">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@collapse" aria-expanded="false" aria-controls="@collapse">
                                                        #@item.InvoiceNo (@invoiceAmount.ToString("N2")฿)
                                                    </button>
                                                </h2>
                                                <div id="@collapse" class="accordion-collapse collapse" aria-labelledby="@heading" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body bg-light">
                                                        <div class="card bg-white">
                                                            <div class="card-header bg-white">รายละเอียดใบส่งของ</div>
                                                            <div class="card-body bg-white">
                                                                <div class="table-responsive">
                                                                    <table class="table table-sm table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>รายการ</th>
                                                                                <th>ราคา/หน่วย</th>
                                                                                <th>จำนวน</th>
                                                                                <th>ราคา</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (var details in Model.AccountInvoiceDetails.Where(x => x.AccountInvoiceNo == item.InvoiceNo).OrderBy(y => y.ItemName).ToList())
                                                                            {
                                                                                var price = details.UnitPrice * details.Quantity;
                                                                                <tr>
                                                                                    <td>@details.ItemName
                                                                                    <td>
                                                                                        @details.UnitPrice.ToString("N2")
                                                                                    </td>
                                                                                    <td>@details.Quantity.ToString("N0")</td>
                                                                                    <td>@price.ToString("N2")</td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer">รวม @invoiceAmount.ToString("N2") บาท</div>
                                                        </div>

                                                        <h6 class="mt-4">มีการลดหนี้ จำนวน @Model.CreditNotes.Where(x => x.AccountInvoiceNo == item.InvoiceNo).Count() รายการ</h6>
                                                        @if (Model.CreditNotes.Where(x => x.AccountInvoiceNo == item.InvoiceNo).Count() > 0)
                                                        {
                                                            <div class="accordion">
                                                                @foreach (var creditNote in Model.CreditNotes
                                                                    .Where(x => x.AccountInvoiceNo == item.InvoiceNo)
                                                                    .OrderBy(x => x.CreditNoteCode).ToList())
                                                                {
                                                                    var creditNoteHeading = "heading" + creditNote.CreditNoteCode;
                                                                    var creditNoteCollapse = "collapse" + creditNote.CreditNoteCode;
                                                                    var creditNoteAmount = Model.CreditNoteDetails
                                                                        .Where(x => x.CreditNoteCode == creditNote.CreditNoteCode)
                                                                        .Sum(x => x.Quantity * x.UnitPrice);
                                                                    <div class="accordion-item" id="accordionExample1">
                                                                        <h2 class="accordion-header" id="@creditNoteHeading">
                                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@creditNoteCollapse" aria-expanded="false" aria-controls="@creditNoteCollapse">
                                                                                @creditNote.CreditNoteCode (@creditNoteAmount.ToString("N2")฿)
                                                                            </button>
                                                                        </h2>
                                                                        <div id="@creditNoteCollapse" class="accordion-collapse collapse" aria-labelledby="@creditNoteHeading" data-bs-parent="#accordionExample1">
                                                                            <div class="accordion-body">
                                                                                <div class="table-responsive">
                                                                                    <table class="table table-sm table-hover">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>รายการ</th>
                                                                                                <th>ราคา/หน่วย</th>
                                                                                                <th>จำนวน</th>
                                                                                                <th>ราคา</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var detailsItem in Model.CreditNoteDetails.Where(x => x.CreditNoteCode == creditNote.CreditNoteCode).OrderBy(x => x.ItemName).ToList())
                                                                                            {
                                                                                                var detailsPrice = detailsItem.UnitPrice * detailsItem.Quantity;
                                                                                                <tr>
                                                                                                    <td>@detailsItem.ItemName
                                                                                                    <td>
                                                                                                        @detailsItem.UnitPrice.ToString("N2")
                                                                                                    </td>
                                                                                                    <td>@detailsItem.Quantity.ToString("N0")</td>
                                                                                                    <td>@detailsPrice.ToString("N2")</td>
                                                                                                </tr>
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <span>รวม @creditNoteAmount.ToString("N2") บาท</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div>
                                                                <span class="text-danger">*ไม่มีการลดหนี้</span>
                                                            </div>
                                                        }

                                                        <h6 class="mt-4">สรุปยอดหนี้คงเหลือที่ต้องนำไปตั้งหนี้</h6>
                                                        <div class="card-group">
                                                            <div class="card border-success">
                                                                <div class="card-header border-success bg-success text-white">ยอดหนี้</div>
                                                                <div class="card-body border-success">
                                                                    <h6 class="text-center">
                                                                        @invoiceAmount.ToString("N2")
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                            <div class="card border-warning">
                                                                <div class="card-header border-warning bg-warning">ลดหนี้แล้ว</div>
                                                                <div class="card-body border-warning">
                                                                    <h6 class="text-center">
                                                                        @invoiceCreditNoteAmount.ToString("N2")
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                            <div class="card border-danger">
                                                                <div class="card-header border-danger bg-danger text-white">คงเหลือหนี้</div>
                                                                <div class="card-body border-danger">
                                                                    <h6 class="text-center">
                                                                        @{ var balanceAmount = invoiceAmount - invoiceCreditNoteAmount;}
                                                                        @balanceAmount.ToString("N2")
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    @if (dripProjectBalanceAmount > 0 && Math.Round(dripProjectWaitForSetupAmount, 2) > 0)
                                    {
                                        <div class="mt-2">
                                            <button type="button"
                                                    class="btn btn-sm btn-danger"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#dripProjectModal"
                                                    id="dripProjectModalButton">
                                                + ตั้งหนี้
                                            </button>
                                        </div>
                                    }
                                </div>
                                <div class="card-footer">
                                    <i class="fas fa-dollar-sign"></i> ยอดหนี้โครงการน้ำหยด <label id="dripProjectBalanceAmountLable">@dripProjectBalanceAmount.ToString("N2")</label> บาท
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 mb-4 alert alert-warning">
            <h3>ยอดที่จะถูกนำไปตั้งหนี้ <i class="text-danger" style="font-weight:bold;">@waitSetupAmount.ToString("N2")</i>  บาท</h3>
        </div>
    </div>
</div>


<hr />

<div class="card">
    <div class="card-header">ประวัติการตั้งหนี้และการชำระ</div>
    <div class="card-body">
        <div class="table-responsive mt-4">
            <table class="table table-hover table-sm" id="debtSetupTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            รหัสเอกสาร
                        </th>
                        <th>
                            ประเภทหนี้
                        </th>
                        <th>
                            ปีที่ตั้งหนี้
                        </th>
                        <th>
                            ปีที่หักชำระ
                        </th>
                        <th>
                            ยอดรวม
                        </th>
                        <th>
                            โควต้า
                        </th>
                        <th>
                            หัก(บาท)/กก.
                        </th>
                        <th>
                            ชำระแล้ว
                        </th>
                        <th>
                            คงเหลือ
                        </th>
                        @*<th>
                                วันที่แก้ไขข้อมูล
                            </th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in debtSetupList.OrderBy(x => x.DebtSetupCode))
                    {
                        var editDeductPerKgModal = "DP" + item.DebtSetupCode;
                        <tr>
                            <td>
                                <div class="btn-group">
                                    @*<a class="btn btn-sm btn-outline-success"
                                           href="#"
                                           data-bs-toggle="modal"
                                           data-bs-target="#@item.DebtSetupCode"
                                           title="คลิกเพื่อดูรายละเอียดสินค้าใน invoice">
                                            <i class="fas fa-search"></i>
                                        </a>*@
                                    <a class="btn btn-sm btn-outline-secondary"
                                       id="deleteButton"
                                       data-bs-debtSetupCode="@item.DebtSetupCode"
                                       data-bs-receiptAmount="@item.DebtReceipts.Sum(x=>x.Amount)"
                                       data-bs-debtTypeCode="@item.DebtTypeCode"
                                       href="@Url.Action("Delete", "DebtSetup",
                                new { debtSetupCode = item.DebtSetupCode, crop = item.Crop, farmerCode = item.FarmerCode, actionReturn = "Setup" })">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                    @if (item.DebtTypeCode == "DP")
                                    {
                                        <a class="btn btn-sm btn-outline-secondary"
                                           id="editDripProjectQuotaButton"
                                           href="#"
                                           data-bs-toggle="modal"
                                           data-bs-target="#editDeductPerKgModal"
                                           data-bs-debtSetupCode="@item.DebtSetupCode"
                                           data-bs-newQuota="@item.DripProjectQuota"
                                           data-bs-receiptAmount="@item.DebtReceipts.Sum(x=>x.Amount)"
                                           title="คลิกเพื่อแก้ไขจำนวนที่จะหักต่อ กก. (ในโครงการน้ำหยด)">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    }
                                </div>
                            </td>
                            <td>
                                @item.DebtSetupCode
                            </td>
                            <td>
                                (@item.DebtTypeCode) @item.DebtType.DebtTypeName
                            </td>
                            <td>
                                @item.Crop
                            </td>
                            <td>
                                @item.DeductionCrop
                            </td>
                            <td>
                                @item.Amount.ToString("N2")
                            </td>
                            <td>
                                @item.DripProjectQuota.ToString("N0")
                            </td>
                            <td>
                                @item.DeductPerKg.ToString("N2")
                            </td>
                            <td>
                                @{
                                    var debtReceiptAmount = item.DebtReceipts.Sum(x => x.Amount);
                                    var balanceDebtAmount = item.Amount - debtReceiptAmount;
                                }
                                @debtReceiptAmount.ToString("N2")
                            </td>
                            <td>
                                @balanceDebtAmount.ToString("N2")
                            </td>
                            @*<td>
                                    @item.CreateDate.ToShortDateString()
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="cropInputsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ตั้งหนี้ปัจจัยการผลิต</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SetupDebt", "DebtSetup", FormMethod.Post, new { @id = "cropInputsForm" }))
                {
                    @Html.AntiForgeryToken()
                    foreach (var item in ciInvoiceNo)
                    {
                        <input type="hidden" name="listOfInvoiceNo" id="@item" value="@item" />
                    }
                    <input type="hidden" name="crop" id="crop" value="@crop" />
                    <input type="hidden" name="farmerCode" id="farmerCode" value="@farmer.FarmerCode" />
                    <input type="hidden" name="debtTypeCode" id="debtTypeCode" value="CI" />
                    <figure>
                        <blockquote class="blockquote">
                            <p>ท่านต้องการตั้งหนี้ปัจจัยการผลิตใช่หรือไม่?</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            ยอดทั้งหมดถูกรวมมาจากทุก invoice โดยหักยอดจากการลดหนี้ออกไปแล้ว
                        </figcaption>
                    </figure>
                    <div class="form-group">
                        <label class="form-label"><span class="text-danger">*</span>ยอดหนี้ปัจจัยการผลิต</label>
                        <input type="number"
                               class="form form-control border-success"
                               value="@cropInputBalanceAmount.ToString("N2")"
                               required
                               readonly />
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-sm btn-primary">+ บันทึกข้อมูล</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="dripProjectModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ตั้งหนี้โครงการน้ำหยด</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SetupDebt", "DebtSetup", FormMethod.Post, new { @class = "row g-3", @id = "dripProjectForm" }))
                {
                    @Html.AntiForgeryToken()
                    foreach (var item in dpInvoiceNo)
                    {
                        <input type="hidden" name="listOfInvoiceNo" id="@item" value="@item" />
                    }
                    <input type="hidden" name="crop" id="crop" value="@crop" />
                    <input type="hidden" name="farmerCode" id="farmerCode" value="@farmer.FarmerCode" />
                    <input type="hidden" name="debtTypeCode" id="debtTypeCode" value="DP" />
                    <div class="col-6">
                        <label class="form-label">ยอดหนี้โครงการน้ำหยด</label>
                        <div class="input-group">
                            <input class="form-control bg-light"
                                   type="number"
                                   id="dripProjectAmount"
                                   value="@dripProjectBalanceAmount"
                                   required
                                   readonly />
                            <span class="input-group-text">บาท</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">ยอดหนี้ต่อปี (แบ่งเป็น 3 งวด)</label>
                        <div class="input-group">
                            @{
                                var dripProjectAmountPerCrop = dripProjectBalanceAmount / 3;
                            }
                            <input class="form-control bg-light"
                                   type="number"
                                   id="avgAmountPerCrop"
                                   value="@dripProjectAmountPerCrop"
                                   required
                                   readonly />
                            <span class="input-group-text">บาท/ปี</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">โควต้าโครงการน้ำหยด <span style="color:red;">*</span></label>
                        <div class="input-group">
                            <input class="form-control border-success"
                                   type="number"
                                   id="dripProjectQuota"
                                   name="dripProjectQuota"
                                   required
                                   min="400"
                                   max="@dripProjectQuotaMaxKg"
                                   value="@dripProjectQuotaMaxKg" />
                            <span class="input-group-text">กก.</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">เงินที่จะถูกหักจากการขาย</label>
                        <div class="input-group">
                            <input class="form-control bg-light border-danger"
                                   type="number"
                                   id="deductPricePerKg"
                                   required
                                   readonly />
                            <span class="input-group-text">บาท/กก.</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary">+ บันทึกข้อมูล</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editDeductPerKgModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">#<lable id="debtSetupCode"></lable></h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditDeductionPerKg", "DebtSetup", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="debtSetupCode" />
                    <input type="hidden" name="crop" value="@crop" />
                    <input type="hidden" name="farmerCode" value="@farmer.FarmerCode" />
                    <input type="hidden" name="actionReturn" value="Setup" />
                    <div class="row g-3">
                        <div>
                            <label class="form-label">โควต้าที่จะนำมาคำนวณใหม่ <span style="color:red;">*</span></label>
                            <input class="form form-control"
                                   type="number"
                                   name="newQuota"
                                   id="newQuota"
                                   required
                                   min="400"
                                   max="@dripProjectQuotaMaxKg" />
                        </div>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-primary" type="submit">+ บันทึกข้อมูล</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
