﻿@model BUWebApp.Areas.AccountReceivable.Data.vm_AddDebtSetup

@{
    ViewBag.Title = "SetupDebt";
    Layout = "~/Areas/AccountReceivable/Views/Shared/_Layout.cshtml";
    var unspecifiedList = (List<BusinessLayer.Model.m_AccountInvoiceSummary>)ViewBag.UnspecifiedList;
    var specifiedList = (List<BusinessLayer.Model.m_AccountInvoiceSummary>)ViewBag.SpecifiedList;
    var debtSetupList = (List<DomainModel.DebtSetup>)ViewBag.DebtSetupList;
    var accountInvoiceList = (List<BusinessLayer.Model.m_AccountInvoiceSummary>)ViewBag.AccountInvoiceList;
    var accountInvoiceDetails = (List<BusinessLayer.Model.m_InvoiceDetails>)ViewBag.AccountInvoiceDetails;
    var associationList = (List<DomainModel.DebtSetupAccountInvoice>)ViewBag.AssociationList;
    var register = (DomainModel.RegistrationFarmer)ViewBag.Register;
    var farmer = register.Farmer;
    var person = farmer.Person;

    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var accountInvoiceJSON = jss.Serialize(accountInvoiceList);
}

<script type="text/javascript">
    $(document).ready(function (e) {
        const accountInvoiceJSON = JSON.parse('@Html.Raw(accountInvoiceJSON)');
        var selectedInvoice = [];

        var debtSetupTable = $("#DebtSetupTable").DataTable({
            "order": [[1, "desc"], [2, "desc"]]
        });
        var accountInvoiceTable = $("#accountInvoiceTable").DataTable({
            "order": [[1, "desc"], [2, "desc"]]
        });

        //Hide textbox and wait for user select debt type code drop down list.

        $("#dripProjectControlGroup").hide();

        //******************************************************************/

        $("#DripProjectQuota").keyup(function (e) {
            var debtPerYear = calDivide3($("#Amount").val());
            var dripQuota = $("#DripProjectQuota").val();
            $("#AvgAmountPerCrop").val(debtPerYear);
            $("#DeductionPricePerKg").val(calDeductionBathPerKg(dripQuota, debtPerYear));
        });

        $("#DebtTypeCode").change(function (e) {
            var typeCode = $("#DebtTypeCode").val();
            if (typeCode == "DP") {
                $("#dripProjectControlGroup").show();
            }
            else {
                $("#dripProjectControlGroup").hide();
            }
        });

        $("#Amount").change(function (e) {
            var debtPerYear = calDivide3($("#Amount").val());
            var dripQuota = $("#DripProjectQuota").val();
            $("#AvgAmountPerCrop").val(debtPerYear);
            $("#DeductionPricePerKg").val(calDeductionBathPerKg(dripQuota,debtPerYear));
        });

        $("#resetFormButton").click(function (e) {
            selectedInvoice = [];
        });

        $("#submitFormButton").click(function (e) {
            if ($("#DebtTypeCode").val() == "") {
                alert("โปรดเลือกประเภทการตั้งหนี้");
                e.preventDefault();
                $("#DebtTypeCode").focus();
                return;
            }

            if ($("#Amount").val() <= 0) {
                alert("ช่อง Amount จะต้องมากกว่า 0 โดยเลือกรายการที่จะนำไปตั้งหนี้ได้จากตาราง");
                e.preventDefault();
                $("#Amount").focus();
                return;
            }

            if ($("#DebtTypeCode").val() == "DP") {
                if ($("#DripProjectQuota").val() <= 0) {
                    alert("หากเลือกประเภทหนี้เป็น โครงการน้ำหยด จะต้องระบุจำนวนโควต้าในโครงการน้ำหยดด้วย");
                    e.preventDefault();
                    $("#DripProjectQuota").focus();
                    return;
                }
            }

            if (confirm("ท่านต้องการบันทึกข้อมูลนี้ใช่หรือไม่? โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนการบันทึกข้อมูล") == false) {
                e.preventDefault();
                return;
            }
        });

        $("#submitDeductPerKgButton").click(function (e) {
            if (confirm("ท่านต้องการบันทึกข้อมูลนี้ใช่หรือไม่? โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนการบันทึกข้อมูล") == false) {
                e.preventDefault();
                return;
            }
        });

        $("body").on("click", "#accountInvoiceTable tbody tr #selectedCheckbox", function (e) {
            if ($("#DebtTypeCode").val() == "") {
                alert("โปรดเลือกประเภทการตั้งหนี้");
                e.preventDefault();
                $("#DebtTypeCode").focus();
                return;
            }

            if ($("#DebtTypeCode").val() == "DP" && $("#DripProjectQuota").val() == "") {
                alert("โปรดระบุจำนวนโควต้าโครงการน้ำหยด");
                e.preventDefault();
                $("#DripProjectQuota").focus();
                return;
            }

            var row = accountInvoiceTable.row($(this).closest('tr')).data();
            var invoiceNo = row[1];
            var find = selectedInvoice.indexOf(invoiceNo);
            if (find <= -1) {
                selectedInvoice.push(invoiceNo);
            }
            else {
                selectedInvoice.splice($.inArray(invoiceNo, selectedInvoice), 1);
            }
            var totalAmount = 0;
            $.each(selectedInvoice, function (index,value) {
                accountInvoiceJSON.forEach(function (e) {
                    if (value == e.InvoiceNo) {
                        totalAmount = totalAmount + e.Price;
                    }
                });
            });
            $("#Amount").val(totalAmount);

            var debtPerYear = calDivide3($("#Amount").val());
            var dripQuota = $("#DripProjectQuota").val();
            $("#AvgAmountPerCrop").val(debtPerYear);
            $("#DeductionPricePerKg").val(calDeductionBathPerKg(dripQuota, debtPerYear));
        });

        $("body").on("click", "#DebtSetupTable tbody tr #deleteButton", function (e) {
            var row = debtSetupTable.row($(this).closest('tr')).data();
            var debtSetupCode = row[1];
            if (confirm("ท่านต้องการลบข้อมูลการตั้งหนี้รหัส " + debtSetupCode + " นี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return;
            }
        });
    });

    function calDivide3(amount) {
        return amount / 3;
    }

    function calDeductionBathPerKg(dripQuota, debtPerYear) {
        return debtPerYear / (dripQuota * 0.5);
    }
</script>

<h4>Setup Debt</h4>
<h6>การตั้งยอดหนี้ปัจจัยการผลิตและโครงการน้ำหยดเพื่อหักเงินจากการขาย</h6>
<hr />

<div class="modal fade" tabindex="-1" aria-hidden="true" id="setupDebtModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5">Setup Debt Form</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SetupDebt", "DebtSetup", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <input type="hidden" name="Crop" value="@Model.Crop" />
                    <input type="hidden" name="FarmerCode" value="@Model.FarmerCode" />
                    <div class="row g-3">
                        <div>
                            <label class="form-label">ประเภทหนี้ <span style="color:red;">*</span></label>
                            @Html.DropDownList("DebtTypeCode",
                            new SelectList(ViewBag.DebtTypeList, "DebtTypeCode", "DebtTypeName"), "โปรดเลือกประเภทการตั้งหนี้",
                            new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DebtTypeCode, null, new { @class = "text-danger" })
                        </div>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover" id="accountInvoiceTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            รหัสเอกสาร
                                        </th>
                                        <th>
                                            ยอดรวม
                                        </th>
                                        <th>
                                            วันที่พิมพ์เอกสาร
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in accountInvoiceList.OrderBy(x => x.InvoiceNo))
                                    {
                                        var checkboxChecked = item.IsPrinted == true ? "checked" : "";
                                        <tr>
                                            <td>
                                                @if (item.IsPrinted == false)
                                                {
                                                    <input type="checkbox" @checkboxChecked id="selectedCheckbox" name="selectedList" value="@item.InvoiceNo" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" checked disabled />
                                                }
                                            </td>
                                            <td>
                                                @item.InvoiceNo
                                            </td>
                                            <td>
                                                @item.Price.ToString("N2")
                                            </td>
                                            <td>
                                                @{ var printDate = item.PrintDate == null ? "" : Convert.ToDateTime(item.PrintDate).ToShortDateString();}
                                                @printDate
                                            </td>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#@item.InvoiceNo" title="คลิกเพื่อดูรายละเอียดสินค้าใน invoice">รายละเอียด</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-4">
                            <label class="form-label">ยอดหนี้จากรายการที่เลือก<span style="color:red;">*</span></label>
                            <div class="input-group">
                                <input class="form-control bg-light" type="number" id="Amount" name="Amount" required readonly value="@Model.Amount">
                                <span class="input-group-text">บาท</span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Amount, null, new { @class = "text-danger" })
                        </div>
                        @*<div class="col-6">
                                <label class="form-label">วันที่เอกสาร <span style="color:red;">*</span></label>
                                <input type="date" class="form-control" id="CreateDate" name="CreateDate" required value="@Model.CreateDate.ToString("yyyy-MM-dd")">
                                @Html.ValidationMessageFor(model => model.CreateDate, null, new { @class = "text-danger" })
                            </div>*@
                        <div class="row g-3" id="dripProjectControlGroup">
                            <div class="col-4">
                                <label class="form-label">ยอดหนี้ต่อปี (แบ่งเป็น 3 งวด)</label>
                                <div class="input-group">
                                    <input class="form-control bg-light" type="number" id="AvgAmountPerCrop" required readonly />
                                    <span class="input-group-text">บาท/ปี</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <label class="form-label">โควต้าโครงการน้ำหยด <span style="color:red;">*</span></label><div class="input-group">
                                    <input class="form-control border-success" type="number" id="DripProjectQuota" name="DripProjectQuota" required value="@Model.DripProjectQuota" />
                                    <span class="input-group-text">กก.</span>
                                </div>
                                @Html.ValidationMessageFor(model => model.DripProjectQuota, null, new { @class = "text-danger" })
                            </div>
                            <div class="col-4">
                                <label class="form-label">เงินที่จะถูกหักจากการขาย</label>
                                <div class="input-group">
                                    <input class="form-control bg-light" type="number" id="DeductionPricePerKg" required readonly />
                                    <span class="input-group-text">บาท/กก.</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button id="submitFormButton" class="btn btn-primary" type="submit"><i class="fas fa-save"></i> บันทึกข้อมูล</button>
                            <button id="resetFormButton" type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">ยกเลิก</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="accordion" id="accordion1">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingProfile">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfile" aria-expanded="false" aria-controls="collapseProfile">
                Farmer Profile (ประวัติส่วนตัว/ประวัติการทำสัญญา)
            </button>
        </h2>
        <div id="collapseProfile" class="accordion-collapse collapse" aria-labelledby="headingProfile" data-bs-parent="#accordion1">
            <div class="accordion-body bg-light">
                <div class="card bg-white">
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>รหัสชาวไร่</td>
                                <td>@farmer.FarmerCode</td>
                            </tr>
                            <tr>
                                <td>ชื่อ-นามสกุล</td>
                                <td>@person.Prefix@person.FirstName @person.LastName</td>
                            </tr>
                            <tr>
                                <td>ปีที่ลงทะเบียน</td>
                                <td>@register.Crop</td>
                            </tr>
                            <tr>
                                <td>จำนวนไร่ที่ทำสัญญา</td>
                                <td>@register.QuotaFromSignContract</td>
                            </tr>
                            <tr>
                                <td>สถานะสัญญา</td>
                                <td>
                                    @{ var status = register.ActiveStatus == true ? "ปกติ" : "ยกเลิกสัญญาแล้ว";}
                                    @status
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="Debt">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDebt" aria-expanded="false" aria-controls="collapseDebt">
                Debt Profile (ประวัติการทำสัญญาปัจจุบัน)
            </button>
        </h2>
        <div id="collapseDebt" class="accordion-collapse collapse" aria-labelledby="headingDebt" data-bs-parent="#accordion1">
            <div class="accordion-body bg-light">
                <div class="card bg-white">
                    <div class="card-body">
                        <table class="table">
                            @{
                                var debt = (double)accountInvoiceList.Sum(x => x.Price);
                                var debtSetup = (double)debtSetupList.Sum(x => x.Amount);
                                var debtBalance = debt - debtSetup;
                                var detSetupStatus = Math.Round(debt, 2) <= Math.Round(debtSetup, 2) ? true : false;
                            }
                            <tr>
                                <td>ยอดหนี้รวม</td>
                                <td><b class="text-danger">@debt.ToString("N2")</b> บาท</td>
                            </tr>
                            <tr>
                                <td>บันทึกการตั้งหนี้แล้ว</td>
                                <td><b class="text-success">@debtSetup.ToString("N2")</b> บาท</td>
                            </tr>
                            <tr>
                                <td>รอนำไปตั้งหนี้</td>
                                <td><b class="text-dark">@debtBalance.ToString("N2")</b> บาท</td>
                            </tr>
                            <tr>
                                <td>สถานะ</td>
                                <td>
                                    @if (detSetupStatus == true)
                                    {
                                        <i class="fas fa-check-circle" style="color:green;"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-times-circle" style="color:red;"></i>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var item in accountInvoiceList.OrderBy(x => x.InvoiceNo))
{
    <div class="modal fade" id="@item.InvoiceNo" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">#@item.InvoiceNo (พิมพ์เมื่อ @item.PrintDate.ToString())</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="table-secondary">
                                <tr>
                                    <th>รายการ</th>
                                    <th>ราคาต่อหน่วย</th>
                                    <th>จำนวน</th>
                                    <th>ราคารวม</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var details in accountInvoiceDetails
                                    .Where(x => x.AccountInvoiceNo == item.InvoiceNo))
                                {
                                    <tr>
                                        <td>@details.ItemName</td>
                                        <td>@details.UnitPrice.ToString("N2")</td>
                                        <td>@details.Quantity.ToString("N0")</td>
                                        <td>
                                            @{var detailsPrice = details.Quantity * details.UnitPrice; }
                                            @detailsPrice.ToString("N2")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <h6>รวมทั้งสิ้น @item.Price.ToString("N2") บาท</h6>
                </div>
            </div>
        </div>
    </div>
}


@foreach (var item in debtSetupList
    .OrderBy(x => x.DebtSetupCode))
{
    if (item.DebtTypeCode == "CI")
    {
        <div class="modal fade" id="@item.DebtSetupCode" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">#@item.DebtSetupCode</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>Account Invoice No</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{double totalAmount = 0.0; }
                                    @foreach (var details in associationList.Where(x => x.DebtSetupCode == item.DebtSetupCode))
                                    {

                                        <tr>
                                            @{
                                                double amount = (double)details.AccountInvoice.InvoiceDetails.Sum(x => x.Quantity * x.UnitPrice);
                                                totalAmount = totalAmount + amount;
                                            }
                                            <td>@details.AccountInvoiceNo</td>
                                            <td>@amount.ToString("N2")</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        รวม @totalAmount.ToString("N2") บาท
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        var editDeductPerKgModal = "DP" + item.DebtSetupCode;
        <div class="modal fade" id="@editDeductPerKgModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">#@item.DebtSetupCode</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("EditDeductionPerKg", "DebtSetup", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="debtSetupCode" value="@item.DebtSetupCode" />
                            <input type="hidden" name="crop" value="@item.Crop" />
                            <input type="hidden" name="farmerCode" value="@item.FarmerCode" />
                            <input type="hidden" name="actionReturn" value="SetupDebt" />
                            <div class="row g-3">
                                <div>
                                    <label class="form-label">โควต้าที่จะนำมาคำนวณใหม่ <span style="color:red;">*</span></label>
                                    <input class="form form-control" type="number" name="newQuota" required />
                                </div>
                            </div>
                            <div class="mt-2">
                                <button id="submitDeductPerKgButton" class="btn btn-primary" type="submit"><i class="fas fa-save"></i> บันทึกข้อมูล</button>
                                <button id="resetDeductPerKgButton" type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">ยกเลิก</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}

<div class="card mt-4">
    <div class="card-body">
        <div>
            <button class="btn btn-sm btn-success" id="setupDebtButton" title="Setup debt for deduction"
                    data-bs-toggle="modal" href="#setupDebtModal" role="button">
                + ตั้งหนี้
            </button>
        </div>

        <div class="table-responsive mt-4">
            <table class="table table-sm table-hover" id="DebtSetupTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            รหัสเอกสาร
                        </th>
                        <th>
                            ประเภทหนี้
                        </th>
                        <th>
                            ปีที่ตั้งหนี้
                        </th>
                        <th>
                            ปีที่หักชำระ
                        </th>
                        <th>
                            ยอดรวม
                        </th>
                        <th>
                            โควต้า
                        </th>
                        <th>
                            หัก(บาท)/กก.
                        </th>
                        <th>
                            วันที่แก้ไขข้อมูล
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in debtSetupList.OrderBy(x => x.DebtSetupCode))
                    {
                        var editDeductPerKgModal = "DP" + item.DebtSetupCode;
                        <tr>
                            <td>
                                <a class="btn btn-sm btn-outline-success"
                                   href="#" data-bs-toggle="modal" data-bs-target="#@item.DebtSetupCode" title="คลิกเพื่อดูรายละเอียดสินค้าใน invoice"> <i class="fas fa-search"></i></a>
                                <a class="btn btn-sm btn-outline-danger" id="deleteButton"
                                   href="@Url.Action("Delete", "DebtSetup",
                                        new { debtSetupCode = item.DebtSetupCode, crop = item.Crop, farmerCode = item.FarmerCode, actionReturn = "SetupDebt" })">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                @if (item.DebtTypeCode == "DP")
                                {
                                    <a class="btn btn-sm btn-outline-primary"
                                       href="#"
                                       data-bs-toggle="modal"
                                       data-bs-target="#@editDeductPerKgModal"
                                       title="คลิกเพื่อแก้ไขจำนวนที่จะหักต่อ กก. (ในโครงการน้ำหยด)">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                }
                            </td>
                            <td>
                                @item.DebtSetupCode
                            </td>
                            <td>
                                (@item.DebtTypeCode) @item.DebtType.DebtTypeName
                            </td>
                            <td>
                                @item.Crop
                            </td>
                            <td>
                                @item.DeductionCrop
                            </td>
                            <td>
                                @item.Amount.ToString("N2")
                            </td>
                            <td>
                                @item.DripProjectQuota.ToString("N0")
                            </td>
                            <td>
                                @item.DeductPerKg.ToString("N2")
                            </td>
                            <td>
                                @item.CreateDate.ToShortDateString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
