﻿@using DomainModel
@model DomainModel.Invoice

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";

    var farmer = ViewBag.Farmer;
}

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("submit", "#createForm", function (e) {
            if (confirm("ท่านต้องการสร้างรหัสเอกสารเพื่อทำการบันทึกข้อมูลการจ่ายปัจจัยการผลิตใช่หรือไม่?") == false) {
                e.preventDefault();
                return false;
            }
        });

        $(document).on("click", "table tbody tr a", function (e) {
            var data = $(e.currentTarget);
            var action = data.attr("data-bs-action");
            if (action == "delete") {
                if (confirm("ท่านต้องการลบข้อมูลนี้ใช่หรือไม่?") == false) {
                    e.preventDefault();
                    return false;
                }
            }
        });
    });
</script>

<h3>Crop Inputs Distribution</h3>
<h6>บันทึกข้อมูลปัจจัยการผลิต</h6>
<hr />

<div class="row">
    <div class="col-sm-12">
        <h5><b>รายละเอียดทั่วไป</b></h5>
        <table class="table table-sm table-bordered table-hover table-striped">
            <tr>
                <td width="200px">รหัสชาวไร่</td>
                <td>@Model.FarmerCode</td>
            </tr>
            <tr>
                <td width="200px">ชื่อ- สกุล</td>
                <td>@farmer.Person.Prefix @farmer.Person.FirstName  @farmer.Person.LastName</td>
            </tr>
            <tr>
                <td width="200px">รหัสประจำตัวประชาชน</td>
                <td>@farmer.Person.CitizenID</td>
            </tr>
            <tr>
                <td width="200px">ที่อยู่</td>
                <td>@farmer.Person.HouseNumber หมู่ @farmer.Person.Village ต.@farmer.Person.Tumbon อ.@farmer.Person.Amphur จ.@farmer.Person.Province</td>
            </tr>
            <tr>
                <td width="200px">วัน/เดือน/ปี เกิด</td>
                <td>@farmer.Person.BirthDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td width="200px">หมายเลขโทรศัพท์</td>
                <td>@farmer.Person.TelephoneNumber</td>
            </tr>
            <tr>
                <td width="200px">จำนวนไร่ที่ทำสัญญา</td>
                <td>@ViewBag.QuotaFromSignContract</td>
            </tr>
        </table>
    </div>
</div>
@using (Html.BeginForm("Create", "CropInputsDistribution", FormMethod.Post, new { @id = "createForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Crop)
    @Html.HiddenFor(model => model.FarmerCode)
    <div class="form-group">
        <button type="submit" class="btn btn-primary mb-3">+ Create Code</button>
    </div>
}
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover table-striped">
            <tr class="table-dark">
                <th></th>
                <th>
                    Invoice No
                </th>
                <th>
                    Crop
                </th>
                <th>
                    Create Date
                </th>
            </tr>

            @foreach (var item in ((List<Invoice>)ViewBag.InvoiceList).OrderBy(x => x.InvoiceNo))
            {
                <tr>
                    <td>
                        <a class="btn btn-sm btn-success" title="Details"
                           href="@Url.Action("Index","CropInputsDistributionDetails", new { invoiceNo = item.InvoiceNo})">details</a>
                        <a class="btn btn-sm btn-danger" title="Delete"
                           href="@Url.Action("Delete", "CropInputsDistribution", new { invoiceNo = item.InvoiceNo})"
                           data-bs-action="delete">delete</a>
                    </td>
                    <td>
                        @item.InvoiceNo
                    </td>
                    <td>
                        @item.Crop
                    </td>
                    <td>
                        @item.CreateDate.ToShortDateString()
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div>
    <a href="@Url.Action("Index", "Invoice",new { farmerCode = Model.FarmerCode })" class="btn btn-outline-secondary">Back</a>
</div>

