﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";
}

<h2>Accounting Home</h2>
<h6 class="mb-3">โปรดเลือกเมนูที่ท่านต้องการใช้งานได้จากด้านล่าง</h6>

<div class="card-group mb-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    print
                </span>
                Account Invoice
            </h5>
            <p class="card-text">
                ค้นหาและและปลดล็อคใบส่งของ/ใบเสร็จเพื่อพิมพ์เอกสารใหม่อีกครั้ง
            </p>
            <a href="@Url.Action("Search", "AccountInvoice")" class="btn btn-secondary">Click here</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    shopping_cart
                </span>
                Credit Note
            </h5>
            <p class="card-text">
                ค้นหาและและปลดล็อคเพื่อพิมพ์ใบลดหนี้ใหม่อีกครั้ง
            </p>
            <a href="@Url.Action("Search", "AccountInvoice")" class="btn btn-secondary">Click here</a>
        </div>
    </div>
    @*<div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span class="material-icons text-secondary">
                    verified
                </span>
                Full Quota Bonus
            </h5>
            <p class="card-text">
                ยืนยันการโอนเงิน/การพิมพ์ใบรับเงิน/การตรวจสอบข้อมูลการขายยาเต๊มโควต้า
            </p>
            <a href="@Url.Action("Index", "FullQuotaBonus")" class="btn btn-secondary">Click here</a>
        </div>
    </div>*@
</div>
