﻿@model BUWebApp.Areas.Admin.Models.vm_Crop

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Create Crop</h3>
<hr />
@using (Html.BeginForm("Create", "Crop", FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="col-12">
        <label class="form-label">Crop</label>
        @Html.TextBoxFor(model => model.Crop, new { @class = "form-control", @type = "number" })
        @Html.ValidationMessageFor(model => model.Crop, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <label class="form-label">Description</label>
        @Html.TextBoxFor(model => model.CropName, new { @class = "form-control", @type = "text" })
        @Html.ValidationMessageFor(model => model.CropName, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <label class="form-label">Start Crop</label>
        @Html.TextBoxFor(model => model.StartCrop, new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(model => model.StartCrop, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <label class="form-label">End Crop</label>
        @Html.TextBoxFor(model => model.EndCrop, new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(model => model.EndCrop, "", new { @class = "text-danger" })
    </div>
    <div class="col-12 mt-3">
        @Html.CheckBoxFor(model => model.DefaultStatus, new { @class = "form-check-input" })
        <label class="form-check-label">Default Status</label>
        @Html.ValidationMessageFor(model => model.DefaultStatus, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Create</button>
        <button type="reset" class="btn btn-outline-secondary btn-sm"> Reset</button>
        <a class="btn btn-secondary btn-sm" href="@Url.Action("Index","Crop")"><i class="fas fa-arrow-circle-left"></i> Back</a>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}