﻿@model BUWebApp.Areas.Admin.Models.vm_Crop

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Edit Crop</h3>
<hr />

@using (Html.BeginForm("Edit", "Crop", FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    <div class="col-12">
        <label class="form-label">Crop</label>
        @Html.TextBoxFor(model => model.Crop, new { @class = "form-control", @type = "number", @placeholder = "Crop" })
        @Html.ValidationMessageFor(model => model.Crop, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <label class="form-label">Description</label>
        @Html.TextBoxFor(model => model.CropName, new { @class = "form-control", @type = "text", @placeholder = "Crop Description" })
        @Html.ValidationMessageFor(model => model.CropName, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <label class="form-label">Start Crop</label>
        @Html.TextBoxFor(model => model.StartCrop, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(model => model.StartCrop, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <label class="form-label">End Crop</label>
        @Html.TextBoxFor(model => model.EndCrop, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(model => model.EndCrop, "", new { @class = "text-danger" })
    </div>
    <div class="col-12 mt-3">
        @Html.CheckBoxFor(model => model.DefaultStatus, new { @class = "form-check-input" })
        <label class="form-check-label">Default Status</label>
        @Html.ValidationMessageFor(model => model.DefaultStatus, "", new { @class = "text-danger" })
    </div>
    <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-save"></i> Save</button>
        <button type="reset" class="btn btn-outline-secondary btn-sm"> Reset</button>
        <a class="btn btn-secondary btn-sm" href="@Url.Action("Index","Crop")"><i class="fas fa-arrow-circle-left"></i> Back</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}