﻿@model IEnumerable<BUWebApp.Areas.Admin.Models.vm_Crop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Crop setup</h3>
<hr />

<script type="text/javascript">
    $(document).ready(function () {
        $("#CropDataTable").DataTable({
            order: [[1, 'desc']],
        });

        $(document).on("click", "#deleteButton", function (e) {
            var answer = confirm("ท่านต้องการลบรายการนี้ใช่หรือไม่?");
            if (answer == false) {
                e.preventDefault();
                return false;
            }
        });
    });
</script>

<a class="btn btn-primary btn-sm" href='@Url.Action("Create")'>
    + Add new crop
</a>
<div class="table-responsive mt-3">
    <table id="CropDataTable" class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th></th>
                <th>
                    Crop
                </th>
                <th>
                    Description
                </th>
                <th>
                    Start
                </th>
                <th>
                    End
                </th>
                <th>
                    Default Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.Crop))
            {
                <tr>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm"
                           href="@Url.Action("Edit","Crop", new { id = item.Crop })">
                            <span class="material-icons">
                                edit
                            </span>
                        </a>
                        <a class="btn btn-outline-secondary btn-sm"
                           id="deleteButton"
                           href="@Url.Action("Delete","Crop", new { crop = item.Crop })">
                            <span class="material-icons">
                                delete
                            </span>
                        </a>
                    </td>
                    <td>
                        @item.Crop
                    </td>
                    <td>
                        @item.CropName
                    </td>
                    <td>
                        @item.StartCrop.ToShortDateString()
                    </td>
                    <td>
                        @item.EndCrop.ToShortDateString()
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.DefaultStatus)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
