﻿@model BUWebApp.Areas.ALP.Models.vm_IncidentFollowUp

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ALP/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#records_table").DataTable();

        $("#form").submit(function (e) {
            if ($("#citizenID").val() == "") {
                alert("โปรดระบุ CitizenID ของชาวไร่ที่ต้องการบันทึกข้อมูล");
                e.preventDefault();
            }
        });
    });
</script>

<h3>Incident Follow Up</h3>
<hr />

<div class="row">
    <div class="col-sm-12">
        <h5><b>Farmer profile</b></h5>
        <table class="table table-sm table-bordered table-hover table-striped">
            <tr>
                <td width="200px">ชื่อ- สกุล</td>
                <td>@Model.IncidentFarmer.Person.Prefix @Model.IncidentFarmer.Person.FirstName  @Model.IncidentFarmer.Person.LastName</td>
            </tr>
            <tr>
                <td width="200px">รหัสประจำตัวประชาชน</td>
                <td>@Model.IncidentFarmer.Person.CitizenID</td>
            </tr>
            <tr>
                <td width="200px">ที่อยู่</td>
                <td>@Model.IncidentFarmer.Person.HouseNumber หมู่ @Model.IncidentFarmer.Person.Village ต.@Model.IncidentFarmer.Person.Tumbon อ.@Model.IncidentFarmer.Person.Amphur จ.@Model.IncidentFarmer.Person.Province</td>
            </tr>
            <tr>
                <td width="200px">วัน/เดือน/ปี เกิด</td>
                <td>@Model.IncidentFarmer.Person.BirthDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td width="200px">หมายเลขโทรศัพท์</td>
                <td>@Model.IncidentFarmer.Person.TelephoneNumber</td>
            </tr>
            <tr>
                <td width="200px">โควต้าที่ระบุในสัญญา</td>
                <td>@ViewBag.QuotaDetails</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h5><b>Incident description</b></h5>
        <table class="table table-sm table-bordered table-hover">
            <tr style="background-color:whitesmoke;">
                <th>Type</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Category</td>
                <td>@Model.IncidentFarmer.CategoryName</td>
            </tr>
            <tr>
                <td>Topic</td>
                <td>@Model.IncidentFarmer.TopicName</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Model.IncidentFarmer.DescriptionName</td>
            </tr>
        </table>
    </div>
</div>

@using (Html.BeginForm("Add", "IncidentFollowUps", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IncidentFarmerID)
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12">
            <div class="card border-light mb-3">
                <div class="card-header">
                    Incident Follow Up Report
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label">Followup date</label>
                            <div>
                                <input type="date" id="FollowUpDate" name="FollowUpDate" class="form-control" value="@Model.FollowUpDate.ToString("yyyy-MM-dd")" />
                                @Html.ValidationMessageFor(model => model.FollowUpDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FollowUpDescription, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.FollowUpDescription, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FollowUpDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="table-responsive table-sm">
            <table id="records_table" class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>
                            Follow up date
                        </th>
                        <th>
                            Follow up description
                        </th>
                        <th>
                            Record date
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<DomainModel.IncidentFollowUp>)ViewBag.IncidentFollowUpList)
                    {
                        <tr>
                            <td>
                                @item.FollowUpDate.ToShortDateString()
                            </td>
                            <td>
                                @item.FollowUpDescription
                            </td>
                            <td>
                                @item.RecordDate
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "Delete", new { id = @item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Add", "IncidentFarmer", new { crop = Model.IncidentFarmer.Crop, citizenID = Model.IncidentFarmer.CitizenID }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}