﻿@using DomainModel
@model DomainModel.Invoice

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";

    var farmer = ViewBag.Farmer;
}

<h3>Crop Inputs Distribution Invoice (POV, PIV)</h3>
<h6>ใบจัดส่งปัจจัยการผลิต/ใบเสร็จรับเงิน (เป็นรายการที่คิด VAT)</h6>
<hr />

<div class="row">
    <div class="col-sm-12">
        <h5><b>รายละเอียดทั่วไป</b></h5>
        <table class="table table-sm table-bordered table-hover table-striped">
            <tr>
                <td width="200px">รหัสชาวไร่</td>
                <td>@Model.FarmerCode</td>
            </tr>
            <tr>
                <td width="200px">ชื่อ- สกุล</td>
                <td>@farmer.Person.Prefix @farmer.Person.FirstName  @farmer.Person.LastName</td>
            </tr>
            <tr>
                <td width="200px">รหัสประจำตัวประชาชน</td>
                <td>@farmer.Person.CitizenID</td>
            </tr>
            <tr>
                <td width="200px">ที่อยู่</td>
                <td>@farmer.Person.HouseNumber หมู่ @farmer.Person.Village ต.@farmer.Person.Tumbon อ.@farmer.Person.Amphur จ.@farmer.Person.Province</td>
            </tr>
            <tr>
                <td width="200px">วัน/เดือน/ปี เกิด</td>
                <td>@farmer.Person.BirthDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td width="200px">หมายเลขโทรศัพท์</td>
                <td>@farmer.Person.TelephoneNumber</td>
            </tr>
            <tr>
                <td width="200px">จำนวนไร่ที่ทำสัญญา</td>
                <td>@ViewBag.QuotaFromSignContract</td>
            </tr>
        </table>
    </div>
</div>

@using (Html.BeginForm("Create", "InvoiceIncludeVat", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Crop)
    @Html.HiddenFor(model => model.FarmerCode)
    <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Create Invoice</button>
    </div>
}
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover table-dark">
            <thead class="table-dark">
                <tr>
                    <th>
                        Invoice No
                    </th>
                    <th>
                        Crop
                    </th>
                    <th>
                        Is Include VAT
                    </th>
                    <th>
                        Is Finish
                    </th>
                    <th>
                        Create Date
                    </th>
                    <th>
                        Finish Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ((List<Invoice>)ViewBag.InvoiceList).OrderBy(x => x.InvoiceNo))
            {
                    <tr>
                        <td>
                            @item.InvoiceNo
                        </td>
                        <td>
                            @item.Crop
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => item.IsIncludeVAT)
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => item.IsFinish)
                        </td>
                        <td>
                            @item.CreateDate.ToShortDateString()
                        </td>
                        <td>
                            @item.FinishDate
                        </td>
                        <td>
                            <div>
                                @*@if (item.IsActive == true)
                                    {
                                        <a style="padding:5px;" class="badge badge-warning" title="Cancel invoice"
                                           href="@Url.Action("CancelInvoice","InvoiceIncludeVatDetails", new { invoiceNo = item.InvoiceNo})"><i class="fa fa-ban"></i> Cancel</a>
                                    }*@
                                <a style="padding:5px;" class="btn btn-success btn-sm"
                                   href="@Url.Action("Index","InvoiceIncludeVatDetails", new { invoiceNo = item.InvoiceNo})">
                                    <i class="fa fa-pencil"></i> Detail
                                </a>
                                @if (item.IsFinish == false)
                                {
                                    <a style="padding:5px;" class="btn btn-danger btn-sm"
                                       href="@Url.Action("Delete", "InvoiceIncludeVat", new { invoiceNo = item.InvoiceNo })">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>
                                }
                            </div>
                        </td>
                    </tr>

                    if (item.AccountInvoices.Count() > 0)
                    {
                        <tr style="font-weight:bold;">
                            <td class="table-secondary" style="color:black;"></td>
                            <td class="table-secondary" style="color:black;">Invoice No.</td>
                            <td class="table-secondary" style="color:black;">Create Date</td>
                            <td class="table-secondary" style="color:black;">Price</td>
                            <td class="table-secondary" style="color:black;">Status</td>
                            <td class="table-secondary" style="color:black;">Print Date</td>
                            <td class="table-secondary"></td>
                        </tr>
                        foreach (var subItem in item.AccountInvoices)
                        {
                            <tr>
                                <td class="table-secondary" style="color:black;"></td>
                                <td class="table-secondary" style="color:black;">@subItem.InvoiceNo</td>
                                <td class="table-secondary" style="color:black;">@subItem.CreateDate.ToShortDateString()</td>
                                <td class="table-secondary" style="color:black;">@subItem.InvoiceDetails.Sum(x => x.Quantity * x.UnitPrice).ToString("N2")</td>
                                <td class="table-secondary">
                                    @if (subItem.IsPrinted)
                                    {
                                        <span style="color:green;">พิมพ์เอกสารแล้ว</span>
                                    }
                                    else
                                    {
                                        <span style="color:red;">รอพิมพ์เอกสาร</span>
                                    }
                                </td>
                                <td class="table-secondary" style="color:black;">@subItem.PrintDate</td>
                                <td class="table-secondary" style="color:black;">
                                    <a style="padding:5px;" href="@Url.Action("Details", "AccountInvoice", new { accountInvoiceNo = subItem.InvoiceNo })">Detail</a>
                                    @if (item.IsFinish == false)
                                    {
                                        <a style="padding:5px;" href="@Url.Action("Print", "AccountInvoice", new { accountInvoiceNo = subItem.InvoiceNo })" target="_blank">Print</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a href="@Url.Action("Index", "Invoice",new { farmerCode = Model.FarmerCode })" class="btn btn-outline-secondary">Back</a>
</div>