﻿@model BUWebApp.Areas.Supervisor.Models.vm_InvoiceDetails

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#invoiceDetailsTable").DataTable({
            "order": [[0, "asc"], [1, "asc"], [2, "asc"]]
        });

        $("#ConditionID").empty();
        $("#categoryid").val("");
        $("#ConditionID").append('<option value="">โปรดเลือกรายการ</option>');

        $("#hideFarmerProfile").hide();
        $("#showFarmerProfile").show();
        $("#farmerProfile").hide();

        $("#hideAdditionalItem").show();
        $("#showAdditionalItem").hide();
        $("#additionalItem").show();

        $("#category").change(function () {
            console.log("category changed.");
            bindingItems();
        });

        $("#PackageCode").change(function () {
            bindingPackageTable();
        });

        $("#ConditionID").change(function () {
            bindingItemDetails();
        });

        $("a[title|='deleteAdditionalItem']").click(function (e) {
            var result = confirm("ท่านต้องการลบข้อมูล item นี้หรือไม่!");
            if (result == false) {
                e.preventDefault(); //prevent the default action
            }
        });

        $("#addItem").click(function (e) {
            var isValid = $("#IsFinish").val();
            if (isValid == "True") {
                alert("Invoice No นี้ถูก Finish แล้ว ไม่สามารถดำเนินการใดๆ ได้ ต้องทำการปลดล็อคก่อน!");
                e.preventDefault(); //prevent the default action
            }
        });

        $("#showFarmerProfile").click(function (e) {
            $("#farmerProfile").toggle("fast");
            $("#showFarmerProfile").hide();
            $("#hideFarmerProfile").show();
        });

        $("#hideFarmerProfile").click(function (e) {
            $("#farmerProfile").toggle("fast");
            $("#hideFarmerProfile").hide();
            $("#showFarmerProfile").show();
        });

        $("#showAdditionalItem").click(function (e) {
            $("#additionalItem").toggle("fast");
            $("#showAdditionalItem").hide();
            $("#hideAdditionalItem").show();
        });

        $("#hideAdditionalItem").click(function (e) {
            $("#additionalItem").toggle("fast");
            $("#hideAdditionalItem").hide();
            $("#showAdditionalItem").show();
        });
    });

    function bindingItems() {
        var category = $("#category").val();
        var supplierCode = $("#supplierCode").val();
        var resourceUrl = '@Url.Action("NotToInvoiceItemsFromItemCondition", "AGMInventories", new { Area = ""})?category=' +
            category + '&supplierCode=' + supplierCode;

        $("#UnitPrice").val(0);
        $("#IsNotToInvoice").prop("checked", false);
        $("#IsReferToInventory").prop("checked", false);
        $("#IsReferToInventory").prop("checked", false);
        $("#IsVat").prop("checked", false);

        $("#ConditionID").empty("โปรดเลือกประเภท");
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                console.log(info);
                $("#ConditionID").append('<option value="">โปรดเลือกรายการ</option>');
                $.each(info, function (i, info) {
                    $("#ConditionID").append('<option value="' + info.Value + '">' +
                         info.Text + '</option>');
                });
            }
        });
    }

    function bindingItemDetails() {
        $("#UnitPrice").val(0);
        $("#IsNotToInvoice").prop("checked", false);
        $("#IsReferToInventory").prop("checked", false);
        $("#IsReferToInventory").prop("checked", false);
        $("#IsVat").prop("checked", false);

        var conditionID = $("#ConditionID").val();
        var resourceUrl = '@Url.Action("ItemSingleFromItemCondition", "AGMInventories", new { Area = ""})?conditionID=' + conditionID

        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                $("#UnitPrice").val(info.UnitPrice);

                if (info.IsNotToInvoice == true)
                    $("#IsNotToInvoice").prop("checked", true);
                else
                    $("#IsNotToInvoice").prop("checked", false);

                if (info.IsReferToInventory == true)
                    $("#IsReferToInventory").prop("checked", true);
                else
                    $("#IsReferToInventory").prop("checked", false);

                if (info.IsVat == true)
                    $("#IsVat").prop("checked", true);
                else
                    $("#IsVat").prop("checked", false);
            }
        });
    }
</script>

<h3>Crop Inputs Distribution</h3>
<h6>บันทึกข้อมูลปัจจัยการผลิต</h6>
<hr />

<div class="card border-secondary mb-3">
    <div class="card-header bg-secondary text-white">
        Farmer profile
        <span class="float-right">
            <i class="fa fa-chevron-circle-down" id="showFarmerProfile"></i>
            <i class="fa fa-chevron-circle-up" id="hideFarmerProfile"></i>
        </span>
    </div>
    <div id="farmerProfile" class="card-body text-dark">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-sm table-hover table-striped">
                    <tr>
                        <td width="200px">รหัสชาวไร่</td>
                        <td>@Model.RegistrationFarmer.FarmerCode</td>
                    </tr>
                    <tr>
                        <td width="200px">ชื่อ- สกุล</td>
                        <td>
                            @Model.RegistrationFarmer.Farmer.Person.Prefix @Model.RegistrationFarmer.Farmer.Person.FirstName
                            @Model.RegistrationFarmer.Farmer.Person.LastName
                        </td>
                    </tr>
                    <tr>
                        <td width="200px">รหัสประจำตัวประชาชน</td>
                        <td>@Model.RegistrationFarmer.Farmer.Person.CitizenID</td>
                    </tr>
                    <tr>
                        <td width="200px">ที่อยู่</td>
                        <td>
                            @Model.RegistrationFarmer.Farmer.Person.HouseNumber หมู่ @Model.RegistrationFarmer.Farmer.Person.Village
                            ต.@Model.RegistrationFarmer.Farmer.Person.Tumbon อ.@Model.RegistrationFarmer.Farmer.Person.Amphur
                            จ.@Model.RegistrationFarmer.Farmer.Person.Province
                        </td>
                    </tr>
                    <tr>
                        <td width="200px">วัน/เดือน/ปี เกิด</td>
                        <td>@Model.RegistrationFarmer.Farmer.Person.BirthDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td width="200px">หมายเลขโทรศัพท์</td>
                        <td>@Model.RegistrationFarmer.Farmer.Person.TelephoneNumber</td>
                    </tr>
                    <tr>
                        <td width="200px">โควต้าที่ระบุในสัญญา</td>
                        <td>@Model.RegistrationFarmer.QuotaFromSignContract</td>
                    </tr>
                    <tr>
                        <td width="200px">บันทึกแบบฟอร์มเมื่อ</td>
                        <td>@Model.RegistrationFarmer.RegistrationDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td width="200px">วันที่ทำสัญญา</td>
                        <td>
                            @if (Model.RegistrationFarmer.QuotaFromSignContract != null)
                            {@Model.RegistrationFarmer.SignContractDate.Value.ToShortDateString()}
                            @Html.HiddenFor(x => x.RegistrationFarmer.Farmer.Supplier, new { @id = "supplierCode" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card border-secondary mb-3">
    <div class="card-header bg-secondary text-white">
        Add Items
        <span class="float-right">
            <i class="fa fa-chevron-circle-down" id="showAdditionalItem"></i>
            <i class="fa fa-chevron-circle-up" id="hideAdditionalItem"></i>
        </span>
    </div>
    <div class="card-body text-dark" id="additionalItem">
        @using (Html.BeginForm("Add", "CropInputsDistributionDetails", FormMethod.Post))
            {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.InvoiceNo)
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="Category" class="control-label">Category :</label>
                    <div>
                        @Html.DropDownList("category", new SelectList(@ViewBag.Categories, "category", "category"), "โปรดเลือกประเภท", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="ConditionID" class="control-label">Item :</label>
                    <div>
                        @Html.DropDownListFor(model => model.ConditionID, new SelectList(Model.Items, "ConditionID", "item_name"), "โปรดเลือกรายการ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConditionID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="UnitPrice" class="control-label">Unit Price :</label>
                    <div>
                        <input type="text" readonly id="UnitPrice" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="Quantity" class="control-label">Quantity :</label>
                    <div>
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quantity" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-sm-3">
                <div class="form-check">
                    <input type="checkbox" disabled class="form-check-input" id="IsNotToInvoice">
                    <label class="form-check-label" for="IsNotToInvoice">บันทึกข้อมูลเก็บไว้เฉยๆ</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-check">
                    <input type="checkbox" disabled class="form-check-input" id="IsReferToInventory">
                    <label class="form-check-label" for="IsReferToInventory">หักออกจากสต๊อก</label>
                </div>
            </div><div class="col-sm-3">
                <div class="form-check">
                    <input type="checkbox" disabled class="form-check-input" id="IsVat">
                    <label class="form-check-label" for="IsVat">มีการคิด VAT</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="submit" id="addItem" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add Item</button>
                </div>
            </div>
        </div>
        }
    </div>
</div>

<hr />
@using (Html.BeginForm())
{
    <div class="card border-success mb-3">
        <div class="card-header bg-success text-white">
            @Model.InvoiceNo
            <span class="float-right">
                <input id="IsFinish"
                       name="IsFinish"
                       type="hidden"
                       value="@Model.Invoice.IsFinish.ToString()" />
            </span>
        </div>
        <div class="card-body text-dark">
            <table id="invoiceDetailsTable" class="table table-striped table-borderless">
                <thead class="table-dark">
                    <tr class="table-success">
                        <th>Category</th>
                        <th>Item name</th>
                        <th>Brand</th>
                        <th>Qty</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BusinessLayer.Model.m_InvoiceDetails item in Model.InvoiceDetails.OrderBy(x => x.Category).ThenBy(x => x.ItemName))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                            <td style="text-align:right;">
                                @item.Quantity.ToString("N0")
                            </td>
                            <td style="text-align:center;">
                                <a title="deleteAdditionalItem" href='@Url.Action("Delete", "CropInputsDistributionDetails", new { invoiceNo = item.InvoiceNo, conditionID = item.ConditionID })'>
                                    <span class="badge badge-danger">delete</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<div>
    <a class="btn btn-outline-secondary" href="@Url.Action("Index","CropInputsDistribution", new { farmerCode = @Model.RegistrationFarmer.FarmerCode })">Back</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

