﻿@model BusinessLayer.Model.m_CY202201ReturnSummary
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#receiveDetailsTable").DataTable({
            "order": [[0, "asc"]]
        });
    });
</script>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">สรุปการรับปัจจัยการผลิต</h5>
        <table class="table table-sm">
            <tbody class="align-top">
                <tr>
                    <td>ขยะสารเคมี</td>
                    <td style="text-align:right;">@Model.CPAContainerReceive รายการ</td>
                </tr>
                <tr>
                    <td>ตะกร้า</td>
                    <td style="text-align:right;">@Model.BasketReceive รายการ</td>
                </tr>
                <tr>
                    <td>ปัจจัยการผลิตอื่นๆ</td>
                    <td style="text-align:right;">
                        @Model.OtherReceive รายการ
                    </td>
                </tr>
                <tr>
                    <td>ปัจจัยการผลิตทั้งหมด</td>
                    <td style="text-align:right;">
                        @{ var totalReceive = Model.CPAContainerReceive + Model.BasketReceive + Model.OtherReceive; }
                        @totalReceive รายการ
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a href="#" data-toggle="modal" data-target="#receiveDetailModal"> ดูรายละเอียด</a>
    </div>
</div>

<div class="modal fade" id="receiveDetailModal" tabindex="-1" role="dialog" aria-labelledby="receiveDetailModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">รายละเอียดการรับปัจจัยการผลิต</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="receiveDetailsTable" class="table table-sm">
                    <thead class="table-dark">
                        <tr>
                            <th>Item Name</th>
                            <th>Item Type</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ReceiveList.OrderBy(x => x.ItemName))
                        {
                            <tr>
                                <td>
                                    @item.ItemName
                                </td>
                                <td>
                                    @item.ItemType
                                </td>
                                <td style="text-align:right;">
                                    @item.Quantity
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>