﻿@model BusinessLayer.Model.m_CY202201ReturnSummary
    @{
        var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
        var jsonModel = jss.Serialize(Model);
    }
    <script type="text/javascript">
        $(document).ready(function (e) {
            $("#returnDetailsTable").DataTable({
                "order": [[0, "asc"]]
            });

            const model = JSON.parse('@Html.Raw(jsonModel)');

            $("#printButton").click(function (e) {
                if (model.BasketReturnPercentage < 100 || model.CPAConatainerReturnPercentage < 85) {
                    alert("จำนวนการคืนยังไม่ถึงเกณฑ์ที่กำหนดจึงจะออกใบลดหนี้ได้ (ตะกร้าต้อง 100% และ ขยะสารเคมีจะต้อง 85% ขึ้นไป)");
                    e.preventDefault();
                    return;
                }
            });
        });
    </script>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">สรุปการคืนตะกร้า + ขยะสารเคมี</h5>
            <table class="table table-sm">
                <tbody class="align-top">
                    <tr>
                        <td>ขยะสารเคมี</td>
                        <td style="text-align:right;">@Model.CPAContainerReturn รายการ</td>
                    </tr>
                    <tr>
                        <td>ตะกร้า</td>
                        <td style="text-align:right;">@Model.BasketReturn รายการ</td>
                    </tr>
                    <tr>
                        <td>ขยะสารเคมี (%)</td>
                        <td>
                            @{
                                var cpaReturnPercent = Model.CPAConatainerReturnPercent.ToString("N0") + "%";
                                var basketReturnPercent = Model.BasketReturnPercent.ToString("N0") + "%";

                                var cpaProgressBarBG = "";
                                if (Model.CPAConatainerReturnPercent < 30)
                                {
                                    cpaProgressBarBG = "progress-bar bg-danger progress-bar-striped progress-bar-animated";
                                }
                                else if (Model.CPAConatainerReturnPercent > 30 && Model.CPAConatainerReturnPercent < 85)
                                {
                                    cpaProgressBarBG = "progress-bar bg-warning progress-bar-striped progress-bar-animated";
                                }
                                else
                                {
                                    cpaProgressBarBG = "progress-bar bg-success progress-bar-striped progress-bar-animated";
                                }

                                var basketProgressBarBG = "";
                                if (Model.BasketReturnPercent < 30)
                                {
                                    basketProgressBarBG = "progress-bar bg-danger progress-bar-striped progress-bar-animated";
                                }
                                else if (Model.BasketReturnPercent > 30 && Model.BasketReturnPercent < 85)
                                {
                                    basketProgressBarBG = "progress-bar bg-warning progress-bar-striped progress-bar-animated";
                                }
                                else
                                {
                                    basketProgressBarBG = "progress-bar bg-success progress-bar-striped progress-bar-animated";
                                }
                            }
                            <div class="progress">
                                <div class='@cpaProgressBarBG' style='width: @cpaReturnPercent' role="progressbar" aria-valuenow='@Model.CPAConatainerReturnPercent' aria-valuemin="0" aria-valuemax="100">@cpaReturnPercent</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>ตะกร้า (%)</td>
                        <td>
                            <div class="progress">
                                <div class='@basketProgressBarBG' role="progressbar" style='width: @basketReturnPercent' aria-valuenow='@Model.BasketReturnPercent' aria-valuemin="0" aria-valuemax="100">@basketReturnPercent</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="#" data-toggle="modal" data-target="#returnDetailModal">ดูรายละเอียด</a>
        </div>
    </div>

    <div class="modal fade" id="returnDetailModal" tabindex="-1" role="dialog" aria-labelledby="returnDetailModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">รายละเอียดการคืนขยะสารเคมีและตะกร้า</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="returnDetailsTable" class="table table-sm">
                        <thead class="table-dark">
                            <tr>
                                <th>Item Name</th>
                                <th>Item Type</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ReturnList.OrderBy(x => x.ItemName))
                            {
                                <tr>
                                    <td>
                                        @item.ItemName
                                    </td>
                                    <td>
                                        @item.ItemType
                                    </td>
                                    <td style="text-align:right;">
                                        @item.Quantity
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>