﻿@model DomainModel.Farmer
<div class="card">
    <div class="card-body">
        <h5 class="card-title">ข้อมูลชาวไร่</h5>
        <table class="table table-sm">
            <tbody class="align-top">
                <tr>
                    <td>ชื่อ-สกุล</td>
                    <td>@Model.Person.Prefix@Model.Person.FirstName  @Model.Person.LastName</td>
                </tr>
                <tr>
                    <td>CitizenID</td>
                    <td>@Model.Person.CitizenID</td>
                </tr>
                <tr>
                    <td>ที่อยู่</td>
                    <td>@Model.Person.HouseNumber หมู่ @Model.Person.Village ต.@Model.Person.Tumbon อ.@Model.Person.Amphur จ.@Model.Person.Province</td>
                </tr>
                <tr>
                    <td>เบอร์ติดต่อ</td>
                    <td>@Model.Person.TelephoneNumber</td>
                </tr>
                <tr>
                    <td>ตัวแทน</td>
                    <td>@Model.Supplier</td>
                </tr>
                <tr>
                    <td>รหัสชาวไร่</td>
                    <td>@Model.FarmerCode</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        @{
            var lastModified = Model.Person.LastModified == null ? "-" : Model.Person.LastModified.ToString("dd-MMM-yyyy");
        }
        <span class="align-middle small">แก้ไขข้อมูลประวัติล่าสุดเมื่อ : @lastModified</span>
    </div>
</div>