﻿@model DomainModel.RegistrationFarmer
<div class="card">
    <div class="card-body">
        <h5 class="card-title">ข้อมูลการลงทะเบียน</h5>
        <table class="table table-sm">
            <tbody class="align-top">
                @{
                    var farmerRequest = Model.QuotaFromFarmerRequest == null ? 0 : Model.QuotaFromFarmerRequest;
                    var supplierApprove = Model.QuotaFromSupplierApprove == null ? 0 : Model.QuotaFromSupplierApprove;
                    var STECApprove = Model.QuotaFromSTECApprove == null ? 0 : Model.QuotaFromSTECApprove;
                    var signContract = Model.QuotaFromSignContract == null ? 0 : Model.QuotaFromSignContract;
                }
                <tr>
                    <td>ฤดูปลูก</td>
                    <td class="text-right">@Model.Crop</td>
                </tr>
                <tr>
                    <td>โควต้าในใบสมัคร</td>
                    <td class="text-right">@farmerRequest ไร่</td>
                </tr>
                <tr>
                    <td>ตัวแทนอนุมัติ</td>
                    <td class="text-right">@supplierApprove ไร่</td>
                </tr>
                <tr>
                    <td>STEC อนุมัติ</td>
                    <td class="text-right">@STECApprove ไร่</td>
                </tr>
                <tr>
                    <td>โควต้าที่ทำสัญญา</td>
                    <td class="text-right">@signContract ไร่</td>
                </tr>
                <tr>
                    <td>Sign Contract Date</td>
                    <td class="text-right">
                        @{var signContractDate = Model.SignContractDate == null ? "" : Convert.ToDateTime(Model.SignContractDate).ToString("dd/MM/yyyy");}
                        @signContractDate
                    </td>
                </tr>
                <tr>
                    <td>สถานะ</td>
                    <td class="text-right">
                        @{
                            var status = "";
                            var statusTextColor = "";
                            if (Model.ApproveFromSupplierStatus == true)
                            {
                                if (Model.ApproveFromSTECStatus == true)
                                {
                                    if (Model.ActiveStatus == true && Model.QuotaFromSignContract == null)
                                    {
                                        status = "รอทำสัญญา";
                                        statusTextColor = "text-warning";
                                    }
                                    else if (Model.ActiveStatus == true && Model.QuotaFromSignContract != null)
                                    {
                                        status = "ทำสัญญาแล้ว";
                                        statusTextColor = "text-success";
                                    }
                                    else if (Model.ActiveStatus == false && Model.QuotaFromSignContract != null)
                                    {
                                        status = "ยกเลิกสัญญา";
                                        statusTextColor = "text-danger";
                                    }
                                }
                                else
                                {
                                    status = "รอยืนยันโควต้าจาก STEC";
                                    statusTextColor = "text-primary";
                                }
                            }
                            else
                            {
                                status = "รอยืนยันโควต้าจากตัวแทน";
                                statusTextColor = "text-secondary";
                            }
                        }
                        <span class="@statusTextColor">@status</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        @{
            var lastModified = Model.FarmerCode == null ? "-" : Model.LastModified.ToString("dd-MMM-yyyy");
        }
        <span class="align-middle small">แก้ไขข้อมูลการลงทะเบียนล่าสุดเมื่อ : @lastModified</span>
    </div>
</div>