﻿@model BUWebApp.Areas.ALP.Models.vm_IncidentCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/ALP/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (@Html.BeginForm("Create", "IncidentCategory", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryName)
                    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

