﻿@model IEnumerable<DomainModel.IncidentCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ALP/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#records_table").DataTable();
    });
</script>

<h3>Incident Categories</h3>
<hr />

<a class="btn btn-secondary btn-sm" href='@Url.Action("Create")'>Add new</a>

<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="table-responsive table-sm">
            <table id="records_table" class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateBy)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateBy)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { ID = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { ID = item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>