﻿@model BUWebApp.Models.vm_Person
@{
    ViewBag.Title = "AddPersonProfile";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
}

<h3>Add Farmer Profile</h3>
<h6>บันทึกประวัติชาวไร่รายใหม่</h6>
<hr />

<script type="text/javascript">
    $(document).ready(function (e) {
        var currentYear = new Date().getFullYear();

        $("#StartAgiculetureTo").text(currentYear);
        $("#StartGrowingTobaccoTo").text(currentYear);

        //MaritalStatusCode = 02 = แต่งงาน
        if ($("#MaritalStatusCode").val() == "02") {
            $("#spouseSection").show(100);
        }
        else {
            $("#spouseSection").hide(100);
        }

        if ($("#BirthDate").val() != null) {
            if ($("#StartAgriculture").val() == null || $("#StartAgriculture").val() == null) {
                var birthYear = new Date($("#BirthDate").val()).getFullYear();
                $("#StartAgriculture").val(birthYear + 18);
                $("#StartGrowingTobacco").val(birthYear + 18);

                $("#StartAgricultureFrom").text(birthYear + 18);
                $("#StartGrowingTobaccoFrom").text(birthYear + 18);
            }

            $("#TotalAgriculture").val(currentYear - $("#StartAgriculture").val());
            $("#TotalGrowingTobacco").val(currentYear - $("#StartGrowingTobacco").val());
        }

        $("#Province").change(function () {
            bindingDistrict();
            bindingSubDistrict();
        });

        $("#Amphur").change(function () {
            bindingSubDistrict();
        });

        $('#MaritalStatusCode').change(function (e) {
            console.log($('#MaritalStatusCode').val());
            if ($('#MaritalStatusCode').val() == '01') {
                $('#SpousePrefix').attr("disabled", true);
                $('#SpouseFirstName').attr("disabled", true);
                $('#SpouseLastName').attr("disabled", true);
                $('#SpouseCitizenID').attr("disabled", true);
            }
            else {
                $('#SpousePrefix').attr("disabled", false);
                $('#SpouseFirstName').attr("disabled", false);
                $('#SpouseLastName').attr("disabled", false);
                $('#SpouseCitizenID').attr("disabled", false);
            }
        });

        $("#BirthDate").change(function () {
            var birthYear = new Date($("#BirthDate").val()).getFullYear();
            var currentYear = new Date().getFullYear();

            if (currentYear - birthYear < 18) {
                alert("อายุชาวไร่ไม่ถึง 18 ปี โปรดตรวจสอบข้อมูลวันเดือนปีเกิดอีกครั้ง");
                event.preventDefault();
                return;
            }

            $("#StartAgriculture").val(birthYear + 18);
            $("#StartGrowingTobacco").val(birthYear + 18);

            $("#StartAgricultureFrom").text(birthYear + 18);
            $("#StartGrowingTobaccoFrom").text(birthYear + 18);

            $("#TotalAgriculture").val(currentYear - $("#StartAgriculture").val());
            $("#TotalGrowingTobacco").val(currentYear - $("#StartGrowingTobacco").val());
        });

        $("#StartAgriculture").change(function () {
            var birthYear = new Date($("#BirthDate").val()).getFullYear();
            if ($("#StartAgriculture").val() > $("#StartAgiculetureTo").text() ||
                $("#StartAgriculture").val() < birthYear + 18) {
                alert("ปีที่เริ่มทำการเกษตรจะต้องอยู่ในช่วงระหว่างปี " + (birthYear + 18) + "-" + $("#StartAgiculetureTo").text());
                event.preventDefault();
                return;
            }

            if ($("#StartAgriculture").val().length != 4) {
                alert("ปีที่เริ่มทำการเกษตรจะต้องมี 4 หลัก");
                event.preventDefault();
                return;
            }

            $("#StartGrowingTobacco").val($("#StartAgriculture").val());
            $("#StartGrowingTobaccoFrom").text($("#StartAgriculture").val());

            $("#TotalAgriculture").val(currentYear - $("#StartAgriculture").val());
            $("#TotalGrowingTobacco").val(currentYear - $("#StartGrowingTobacco").val());
        });

        $("#StartGrowingTobacco").change(function () {
            if ($("#StartGrowingTobacco").val() > $("#StartGrowingTobaccoTo").text() ||
                $("#StartGrowingTobacco").val() < $("#StartAgriculture").val()) {
                alert("ปีที่เริ่มปลูกยาสูบจะต้องอยู่ในช่วงระหว่างปี " + $("#StartAgriculture").val() + "-" + $("#StartGrowingTobaccoTo").text());
            }

            if ($("#StartGrowingTobacco").val().length != 4) {
                alert("ปีที่เริ่มปลูกยาสูบจะต้องมี 4 หลัก");
            }

            $("#StartGrowingTobaccoFrom").text($("#StartAgriculture").val());
            $("#TotalGrowingTobacco").val(currentYear - $("#StartGrowingTobacco").val());
        });

        $("#SubmitButton").click(function (e) {
            if ($("#Prefix").val() == "") {
                alert("โปรดเลือกคำนำหน้านาม");
                $("#Prefix").focus();
                e.preventDefault();
                return;
            }

            if ($("#FirstName").val() == "") {
                alert("โปรดกรอกชื่อ");
                $("#FirstName").focus();
                e.preventDefault();
                return;
            }

            if ($("#LastName").val() == "") {
                alert("โปรดกรอกนามสกุล");
                $("#LastName").focus();
                e.preventDefault();
                return;
            }

            if ($("#HouseNumber").val() == "") {
                alert("โปรดกรอกบ้านเลขที่");
                $("#HouseNumber").focus();
                e.preventDefault();
                return;
            }

            if ($("#Village").val() == "") {
                alert("โปรดกรอกหมู่บ้าน");
                $("#Village").focus();
                e.preventDefault();
                return;
            }

            if ($("#Province").val() == "") {
                alert("โปรดเลือกจังหวัด");
                $("#Province").focus();
                e.preventDefault();
                return;
            }

            if ($("#Amphur").val() == "") {
                alert("โปรดเลือกอำเภอ");
                $("#Amphur").focus();
                e.preventDefault();
                return;
            }

            if ($("#Tumbon").val() == "") {
                alert("โปรดเลือกตำบล");
                $("#Tumbon").focus();
                e.preventDefault();
                return;
            }

            if ($("#BirthDate").val() == "") {
                alert("โปรดระบุวันเดือนปีเกิด");
                $("#BirthDate").focus();
                e.preventDefault();
                return;
            }

            if ($("#MaritalStatusCode").val() == "") {
                alert("โปรดเลือกสถานภาพ");
                $("#MaritalStatusCode").focus();
                e.preventDefault();
                return;
            }

            var birthYear = new Date($("#BirthDate").val()).getFullYear();
            var currentYear = new Date().getFullYear();

            if (currentYear - birthYear < 18) {
                alert("อายุชาวไร่ไม่ถึง 18 ปี โปรดตรวจสอบข้อมูลวันเดือนปีเกิดอีกครั้ง");
                e.preventDefault();
                return;
            }

            if ($("#StartAgriculture").val().length != 4) {
                alert("ปีที่เริ่มทำการเกษตรจะต้องมี 4 หลัก");
                e.preventDefault();
                return;
            }

            if ($("#StartGrowingTobacco").val().length != 4) {
                alert("ปีที่เริ่มปลูกยาสูบจะต้องมี 4 หลัก");
                e.preventDefault();
                return;
            }

            if ($("#StartAgriculture").val() > $("#StartAgiculetureTo").text() ||
                $("#StartAgriculture").val() < birthYear + 18) {
                alert("ปีที่เริ่มทำการเกษตรจะต้องอยู่ในช่วงระหว่างปี " + (birthYear + 18) + "-" + $("#StartAgiculetureTo").text());
                event.preventDefault();
                return;
            }

            if ($("#StartGrowingTobacco").val() > $("#StartGrowingTobaccoTo").text() ||
                $("#StartGrowingTobacco").val() < $("#StartAgriculture").val()) {
                alert("ปีที่เริ่มปลูกยาสูบจะต้องอยู่ในช่วงระหว่างปี " + $("#StartAgriculture").val() + "-" + $("#StartGrowingTobaccoTo").text());
                event.preventDefault();
                return;
            }

            //MaritalStatusCode = 02 = แต่งงาน
            if ($("#MaritalStatusCode").val() == "02") {
                if ($("#SpousePrefix").val() == "" || $("#SpousePrefix").val() == null) {
                    alert("หากระบุสถานะเป็น แต่งงาน โปรดระบุคำนำหน้าคู่สมรส");
                    e.preventDefault();
                    return;
                }
                if ($("#SpouseFirstName").val() == "" || $("#SpouseFirstName").val() == null) {
                    alert("หากระบุสถานะเป็น แต่งงาน โปรดระบุชื่อคู่สมรส");
                    e.preventDefault();
                    return;
                }
                if ($("#SpouseLastName").val() == "" || $("#SpouseLastName").val() == null) {
                    alert("หากระบุสถานะเป็น แต่งงาน โปรดระบุนามสกุลคู่สมรส");
                    e.preventDefault();
                    return;
                }
                if ($("#SpouseCitizenID").val() == "" || $("#SpouseCitizenID").val() == null) {
                    alert("หากระบุสถานะเป็น แต่งงาน โปรดระบุรหัสประจำตัวประชาชนคู่สมรส");
                    e.preventDefault();
                    return;
                }
            }
        });

        $("#MaritalStatusCode").change(function () {
            var selectedVal = $("#MaritalStatusCode").val();
            if (selectedVal == "02") {
                $("#spouseSection").show(100);
            }
            else {
                $("#spouseSection").hide(100);
            }
        });
    });

    function bindingDistrict() {
        var provinceName = $("#Province").val();
        var resourceUrl = '@Url.Action("GetDistricts", "ThailandGEOs", new { Area = "" })?provinceName=' + provinceName;
        $("#Amphur").empty();
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                $("#Amphur").append('<option value="0">โปรดเลือกอำเภอ</option>');
                $.each(info, function (i, info) {
                    $("#Amphur").append('<option value="' + info.Value + '">' +
                         info.Text + '</option>');
                });
            }
        });
    }

    function bindingSubDistrict() {
        var districtName = $("#Amphur").val();
        var resourceUrl = '@Url.Action("GetSubDistricts", "ThailandGEOs", new { Area = "" })?districtName=' + districtName;
        $("#Tumbon").empty();
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                $("#Tumbon").append('<option value="0">โปรดเลือกตำบล</option>');
                $.each(info, function (i, info) {
                    $("#Tumbon").append('<option value="' + info.Value + '">' +
                         info.Text + '</option>');
                });
            }
        });
    }
</script>

<h3>Add New Profile</h3>
<h6>บันทึกประวัติชาวไร่รายใหม่</h6>
<hr />

@using (Html.BeginForm("AddNewProfile", "Farmer", FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ExtensionAgentCode)
    <div class="col-md-2">
        <label class="form-label">คำนำหน้า:<span style="color:red;">*</span></label>
        @Html.DropDownList("Prefix", new SelectList(new[]
{
new SelectListItem { Value = "นาย", Text = "นาย" ,Selected = true},
new SelectListItem { Value = "นาง", Text = "นาง" },
new SelectListItem { Value = "นางสาว", Text = "นางสาว" }
},
"Value",
"Text"), new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Prefix, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-5">
        <label class="form-label">ชื่อ:<span style="color:red;">*</span></label>
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", type = "text", @placeholder = "First name" })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-5">
        <label class="form-label">นามสกุล:<span style="color:red;">*</span></label>
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", type = "text", @placeholder = "Last name" })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label class="form-label">บ้านเลขที่<span style="color:red;">*</span></label>
        @Html.TextBoxFor(model => model.HouseNumber, new { @class = "form-control", type = "text", @placeholder = "House no." })
        @Html.ValidationMessageFor(model => model.HouseNumber, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label class="form-label">หมู่<span style="color:red;">*</span></label>
        @Html.TextBoxFor(model => model.Village, new { @class = "form-control", type = "number", @placeholder = "Village" })
        @Html.ValidationMessageFor(model => model.Village, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        <label class="form-label">จังหวัด<span style="color:red;">*</span></label>
        @Html.DropDownList("Province", new SelectList(@ViewBag.Provinces, "Value", "Text"), "โปรดเลือกจังหวัด", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        <label class="form-label">อำเภอ<span style="color:red;">*</span></label>
        @Html.DropDownList("Amphur", new SelectList(string.Empty, "Value", "Text"), "โปรดเลือกอำเภอ", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Amphur, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        <label class="form-label">ตำบล<span style="color:red;">*</span></label>
        @Html.DropDownList("Tumbon", new SelectList(string.Empty, "Value", "Text"), "โปรดเลือกตำบล", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Tumbon, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        <label class="form-label">รหัสประจำตัวประชาชน 13 หลัก:<span style="color:red;">*</span></label>
        @Html.TextBoxFor(model => model.CitizenID, new { @class = "form-control", type = "text", @placeholder = "CitizenID", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.CitizenID, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        <label class="form-label">วัน/เดือน/ปีเกิด:<span style="color:red;">*</span></label>
        @Html.TextBoxFor(model => model.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @placeholder = "Birth date" })
        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        <label class="form-label">เบอร์โทรศัพท์:</label>
        @Html.TextBoxFor(model => model.TelephoneNumber, new { @class = "form-control", type = "number", @placeholder = "Telephone No." })
        @Html.ValidationMessageFor(model => model.TelephoneNumber, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <label class="form-label">สถานะภาพ:<span style="color:red;">*</span></label>
        @Html.DropDownListFor(model => model.MaritalStatusCode, new SelectList(@ViewBag.MaritalStatusList, "MaritalStatusCode", "MaritalStatusName"), "โปรดเลือกสถานะ", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MaritalStatusCode, "", new { @class = "text-danger" })
    </div>

    <div id="spouseSection" class="row g-3">
        <hr class="border border-success opacity-50 col-12">

        <div class="col-md-3">
            <label class="form-label">คำนำหน้าคู่สมรส:</label>
            @Html.DropDownList("SpousePrefix", new SelectList(new[]{
    new SelectListItem { Value = "นาย", Text = "นาย" ,Selected = true},
    new SelectListItem { Value = "นาง", Text = "นาง" },
    new SelectListItem { Value = "นางสาว", Text = "นางสาว" }}, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SpousePrefix, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            <label class="form-label">ชื่อคู่สมรส:</label>
            @Html.TextBoxFor(model => model.SpouseFirstName, new { @class = "form-control", type = "text", @placeholder = "Spouse First Name" })
            @Html.ValidationMessageFor(model => model.SpouseFirstName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-5">
            <label class="form-label">นามสกุลคู่สมรส:</label>
            @Html.TextBoxFor(model => model.SpouseLastName, new { @class = "form-control", type = "text", @placeholder = "Spouse Last Name" })
            @Html.ValidationMessageFor(model => model.SpouseLastName, "", new { @class = "text-danger" })
        </div>
        <div class="col-12">
            <label class="form-label">รหัสประจำตัวประชาชนคู่สมรส:</label>
            @Html.TextBoxFor(model => model.SpouseCitizenID, new { @class = "form-control", type = "number", @placeholder = "Spouse CitizenID" })
            @Html.ValidationMessageFor(model => model.SpouseCitizenID, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr class="border border-success opacity-50 mt-4 col-12">

    <div class="col-md-6">
        <label class="form-label">ปีที่เริ่มทำการเกษตร (ค.ศ.):<span style="color:red;">*</span></label>
        @Html.TextBoxFor(model => model.StartAgriculture, new { @class = "form-control", type = "number", maxlength = "4", pattern = "\\d{4}", @placeholder = "Start Agriculture" })
        <span style="color:red;">**ช่วงระหว่าง <label id="StartAgricultureFrom">@Model.StartAgriculture</label>-<label id="StartAgiculetureTo"></label></span>
        @Html.ValidationMessageFor(model => model.StartAgriculture, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label class="form-label">ปีที่เริ่มปลูกยาสูบ (ค.ศ.):<span style="color:red;">*</span></label>
        @Html.TextBoxFor(model => model.StartGrowingTobacco, new { @class = "form-control", type = "number", maxlength = "4", pattern = "\\d{4}", @placeholder = "Start Growing Tobacco" })
        <span style="color:red;">**ช่วงระหว่าง <label id="StartGrowingTobaccoFrom">@Model.StartGrowingTobacco</label>-<label id="StartGrowingTobaccoTo"></label></span>
        @Html.ValidationMessageFor(model => model.StartGrowingTobacco, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label class="form-label">ทำการเกษตรมาแล้ว (ปี):</label>
        <input type="number" readonly="readonly" id="TotalAgriculture" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">ปลูกยาสูบมาแล้ว (ปี):</label>
        <input type="number" readonly="readonly" id="TotalGrowingTobacco" class="form-control" />
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" name="SubmitButton" id="SubmitButton"><i class="fas fa-save"></i>  บันทึกข้อมูล</button>
        <button type="reset" class="btn btn-outline-secondary"><i class="fas fa-redo"></i> รีเซต</button>
        <a class="btn btn-secondary"
           href="@Url.Action("Index", "Farmer", new { extensionAgentCode = @Model.ExtensionAgentCode })"><i class="fas fa-arrow-alt-circle-left"></i> ย้อนกลับ</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
