﻿@model List<DomainModel.RegistrationFarmer>
@{
    ViewBag.Title = "DupplicateRegistration";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
}

<h3>Dupplicated Details</h3>
<h6>รายละเอียดการลงทะเบียนซ้ำซ้อนของชาวไร่</h6>
<hr />
<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-12">
        <h5><b>รายละเอียดทั่วไป</b></h5>
        <table class="table table-responsive table-hover table-striped">
            <tr>
                <td width="200px">ชื่อ- สกุล</td>
                <td>@Model.FirstOrDefault().Farmer.Person.Prefix @Model.FirstOrDefault().Farmer.Person.FirstName  @Model.FirstOrDefault().Farmer.Person.LastName</td>
            </tr>
            <tr>
                <td width="200px">รหัสประจำตัวประชาชน</td>
                <td>@Model.FirstOrDefault().Farmer.Person.CitizenID</td>
            </tr>
            <tr>
                <td width="200px">ที่อยู่</td>
                <td>@Model.FirstOrDefault().Farmer.Person.HouseNumber หมู่ @Model.FirstOrDefault().Farmer.Person.Village ต.@Model.FirstOrDefault().Farmer.Person.Tumbon อ.@Model.FirstOrDefault().Farmer.Person.Amphur จ.@Model.FirstOrDefault().Farmer.Person.Province</td>
            </tr>
            <tr>
                <td width="200px">วัน/เดือน/ปี เกิด</td>
                <td>@Model.FirstOrDefault().Farmer.Person.BirthDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td width="200px">หมายเลขโทรศัพท์</td>
                <td>@Model.FirstOrDefault().Farmer.Person.TelephoneNumber</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-responsive table-hover table-striped">
            <thead class="table-dark">
                <tr class="table-info">
                    <th>รหัสชาวไร่</th>
                    <th>วันที่กรอกใบสมัคร</th>
                    <th>โควต้าที่ร้องขอ</th>
                    <th>โควต้าที่ตัวแทนอนุมัติ</th>
                    <th>โควต้าที่ STEC อนุมัติ</th>
                    <th>สถานะการลงทะเบียน</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FarmerCode</td>
                            <td>@item.RegistrationDate.ToShortDateString()</td>
                            <td>@item.QuotaFromFarmerRequest</td>
                            <td>@item.QuotaFromSupplierApprove</td>
                            <td>@item.QuotaFromSTECApprove</td>
                            <td>
                                @if (item.SignContractDate == null)
                                {
                                    if (item.ApproveFromSupplierStatus == true)//ถ้า supplier ยังไม่ได้ทำการอนุมัติ จะไม่สามารถทำไรได้
                                    {
                                        if (item.ApproveFromSTECStatus == false)
                                        {
                                            <a href='@Url.Action("Approve", "Registration",
                                                    new { crop = item.Crop, farmerCode = item.FarmerCode })'
                                               class="btn btn-success btn-sm" title="คลิกเพื่อยืนยันโควต้า">อนุมัติ</a>
                                            <a href='@Url.Action("Edit", "Registration",
                                                    new { crop = item.Crop, farmerCode = item.FarmerCode })'
                                               class="btn btn-warning btn-sm" title="คลิกเพื่อแก้ไขจำนวนโควต้าก่อนการอนุมัติ">ปรับโควต้า</a>
                                        }
                                        else
                                        {
                                            <a href='@Url.Action("CancelApprove", "Registration",
                                                    new { crop = item.Crop, farmerCode = item.FarmerCode })'
                                               class="btn btn-danger btn-sm"
                                               title="คลิกเพื่อยกเลิกการอนุมัติโควต้า">ยกเลิก</a>
                                            <a href='@Url.Action("SignContract", "Registration",
                                                    new { @farmerCode = @item.FarmerCode })'
                                               class="btn btn-warning btn-sm"
                                               title="คลิกเพื่อบันทึกสัญญา" target="_blank">ทำสัญญา</a>
                                        }
                                    }
                                    else
                                    {
                                        <i style="color:red;">รอการอนุมัติจากทางตัวแทน</i>
                                    }
                                }
                                else
                                {
                                    <a href='@Url.Action("SignContract", "Registration",
                                            new { @farmerCode = @item.FarmerCode })'
                                       target="_blank" class="btn btn-success btn-sm" title="คลิกเพื่อดูรายละเอียดสัญญา">ทำสัญญาแล้ว</a>
                                }
                                <a target="_blank" href="@Url.Action("RegistrationDetails","Registration",
                                        new { crop = @item.Crop, farmerCode = @item.FarmerCode })"
                                   class="btn btn-sm btn-secondary">รายละเอียด</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

