﻿
@{
    ViewBag.Title = "Dupplicate";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
}

<h3>Dupplicated Registraion</h3>
<h6>รายชื่อชาวไร่ที่ลงทะเบียนซ้ำ 3 ตัวแทน</h6>
<hr />
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover table-striped">
            <thead class="table-dark">
                <tr class="table-secondary">
                    <th>รหัสประจำตัวประชาชน</th>
                    <th>ชื่อ</th>
                    <th>สกุล</th>
                    <th>ที่อยู่</th>
                    <th>หมายเลขโทรศัพท์</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CitizenID</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.HouseNumber @item.Village @item.Tumbon @item.Amphur @item.Province</td>
                            <td>@item.TelephoneNumber</td>
                            <td><a href="@Url.Action("DupplicateDetails","Registration",new { @citizenID = @item.CitizenID })" class="btn btn-sm btn-secondary">รายละเอียด</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

