﻿@model BUWebApp.Models.vm_RegistrationFarmer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var person = Model.Person;
    DomainModel.RegistrationFarmer registration = BusinessLayer.BuyingFacade.RegistrationBL()
        .GetSingle(Model.Crop, Model.FarmerCode);
}
<h3>Edit STEC Quota</h3>
<h6>แก้ไขโควต้าก่อนทำสัญญา</h6>
<hr />
<div class="card-deck my-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ข้อมูลประวัติ</h5>
            <table class="table table-sm">
                <tr>
                    <td>รหัสชาวไร่</td>
                    <td>@Model.FarmerCode</td>
                </tr>
                <tr>
                    <td>ชื่อ-สกุล</td>
                    <td>@person.Prefix@person.FirstName @person.LastName</td>
                </tr>
                <tr>
                    <td>ที่อยู่</td>
                    <td>@person.HouseNumber ม.@person.Village ต.@person.Tumbon อ.@person.Amphur จ.@person.Province</td>
                </tr>
                <tr>
                    <td>รหัสประจำตัวประชาชน</td>
                    <td>@person.CitizenID</td>
                </tr>
                <tr>
                    <td>วัน/เดือน/ปีเกิด</td>
                    <td>@person.BirthDate.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td>เบอร์โทรศัพท์</td>
                    <td>@person.TelephoneNumber</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ข้อมูลการทำการเกษตร</h5>
            <table class="table table-sm">
                <tr>
                    <td>จำนวนปีที่ทำการเกษตรมาแล้ว</td>
                    <td class="text-right">
                        @{
                            var prevoiusAgriculture = DateTime.Now.Year - person.StartAgriculture;
                            var prevoiusStartGrowingTobacco = DateTime.Now.Date.Year - person.StartGrowingTobacco;
                        }
                        @prevoiusAgriculture ปี
                    </td>
                </tr>
                <tr>
                    <td>จำนวนปีที่ปลูกยาสูบ</td>
                    <td class="text-right">@prevoiusStartGrowingTobacco ปี</td>
                </tr>
                <tr>
                    <td>จำนวนไร่ปลูกยาสูบในปีที่ผ่านมา</td>
                    <td class="text-right">@Model.PreviousCropTotalRai ไร่</td>
                </tr>
                <tr>
                    <td>ผลผลิตใบยาแห้งที่ได้ทั้งหมด</td>
                    <td class="text-right">
                        @{
                            var previousCropTotalVolume = Convert.ToInt16(Model.PreviousCropTotalVolume).ToString("N0");
                            var ttmQuotaKg = Convert.ToInt16(Model.TTMQuotaKg).ToString("N0");
                        }
                        @previousCropTotalVolume กก.
                    </td>
                </tr>
                <tr>
                    <td>มีโควต้ากับโรงงานยาสูบ</td>
                    <td class="text-right">
                        @{var ttmQuotaStatus = Model.TTMQuotaStatus == true ? "มีโควต้า" : "ไม่มีโควต้า";}
                        @ttmQuotaStatus
                    </td>
                </tr>
                <tr>
                    <td>จำนวนโควต้ากับโรงงานยาสูบ</td>
                    <td class="text-right">@ttmQuotaKg กก.</td>
                </tr>
                <tr>
                    <td>สถานีใบยา</td>
                    <td class="text-right">@Model.TTMQuotaStation</td>
                </tr>
            </table>
        </div>
    </div>
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_RegistrationProfile.cshtml", registration)
</div>
@using (Html.BeginForm("Edit", "Registration"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Crop)
    @Html.HiddenFor(x => x.FarmerCode)
    @Html.HiddenFor(x => x.SupplierCode)
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">แก้ไขจำนวนโควต้า STEC</h5>
                    <div class="form-group">
                        <span style="color:red;">**โควต้าจาก STEC:</span>
                        @Html.TextBoxFor(model => model.QuotaFromSTECApprove, new { @class = "form-control", type = "number", @placeholder = "Quota From Supplier Approve" })
                        @Html.ValidationMessageFor(model => model.QuotaFromSTECApprove)
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <input type="submit" value="บันทึกข้อมูล" class="btn btn-primary" />
                        <input type="reset" value="รีเซ็ตฟอร์ม" class="btn btn-outline-secondary" />
                        <a class="btn btn-secondary" href="@Url.Action(ViewBag.ReturnToAction, "Registration", new { citizenID = Model.Person.CitizenID, supplierCode = Model.SupplierCode })">ย้อนกลับ</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}