﻿@model BUWebApp.Areas.Supervisor.Models.vm_ExtraRegistration
@{
    ViewBag.Title = "ExtraRegistration";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";

    var person = (DomainModel.Person)ViewBag.Person;
}

<script type="text/javascript">
    $(document).ready(function () {
        //if ($("#QuotaFromSignContract").val() == "") {
        //    $("#SignContractDate").attr("disabled", false);
        //}
        //else {
        //    $("#SignContractDate").attr("disabled", true);
        //}
        $("#citizenID").click(function () {
            $("#citizenID").val("");
            $("#searchResultForm").hide();
        });

        if ($("#citizenID").val() == "")
            $("#searchResultForm").hide();
        else
            $("#searchResultForm").show();

        $("#SignContractForm").submit(function (e) {
            if ($("#SignContractDate").val() == "") {
                alert("Sign contract date cannot be null.");
                e.preventDefault();
                $("#SignContractDate").focus();
            }
            if ($("#QuotaFromSignContract").val() == "") {
                alert("Quota from sign contract cannot be null.");
                e.preventDefault();
                $("#QuotaFromSignContract").focus();
            }
            if ($("#QuotaFromSignContract").val() <= 0) {
                alert("Quota from sign contract cannot be zero.");
                e.preventDefault();
                $("#QuotaFromSignContract").focus();
            }
        });
    });
</script>

<h3>Seperate Extention Agent</h3>
<h6>ลงทะเบียนแบบพิเศษ เฉพาะ (STEC/SK)</h6>
<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="card" style="margin-bottom:20px;">
            <div class="card-body">
                รหัสประจำตัวประชาชน 13 หลัก :
                <form class="form-inline" method="get" action="@Url.Action("ExtraRegistration", "Registration")">
                    <div class="row">
                        <div class="col-sm-12">
                            <input name="citizenID" id="citizenID" type="number" min="0"
                                   class="form-control" placeholder="Citizen ID"
                                   value="@ViewBag.CitizenID" />
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Check Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="searchResultForm">

    <div class="row">
        <div class="col-sm-12">
            <h6><b>รายละเอียดทั่วไป</b></h6>
            <table class="table table-sm table-bordered table-hover table-striped">
                <tr>
                    <td width="200px">ชื่อ- สกุล</td>
                    <td>@person.Prefix @person.FirstName  @person.LastName</td>
                </tr>
                <tr>
                    <td width="200px">รหัสประจำตัวประชาชน</td>
                    <td>@person.CitizenID</td>
                </tr>
                <tr>
                    <td width="200px">ที่อยู่</td>
                    <td>@person.HouseNumber หมู่ @person.Village ต.@person.Tumbon อ.@person.Amphur จ.@person.Province</td>
                </tr>
                <tr>
                    <td width="200px">หมายเลขโทรศัพท์</td>
                    <td>@person.TelephoneNumber</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h6><b>ประวัติการลงทะเบียนกับตัวแทน</b></h6>
            <table class="table table-sm table-bordered table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <td>Farmer Code</td>
                        <td>Crop</td>
                        <td>Quota (Rai)</td>
                        <td>Total Sold (Kgs.)</td>
                        <td>Avg Price (฿)</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ((List<BUWebApp.Areas.Supervisor.Models.vm_RegistraionHistory>)ViewBag.RegistrationHistory)
.OrderByDescending(x => x.Crop)
.ThenByDescending(x => x.FarmerCode))
                    {
                        <tr>
                            <td>@item.FarmerCode</td>
                            <td>@item.Crop</td>
                            <td>@item.RaiOfContract.ToString("N0")</td>
                            <td>@item.TotalSold.ToString("N0")</td>
                            <td>@item.AveragePrice.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h6><b>การลงทะเบียนใน crop @Model.Crop</b></h6>
            <table class="table table-sm table-bordered table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <td>Farmer Code</td>
                        <td>Extension Agent</td>
                        <td>Farmer Request (Rai)</td>
                        <td>Extension Agent (Rai)</td>
                        <td>STEC (Rai)</td>
                        <td>Sign Contract (Rai)</td>
                        <td>Sign Contract Date</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ((List<BUWebApp.Models.vm_RegistrationFarmer>)ViewBag.Registrations)
.OrderByDescending(x => x.Crop))
                    {
                        <tr>
                            <td>@item.FarmerCode</td>
                            <td>@item.SupplierCode</td>
                            <td>@item.QuotaFromFarmerRequest</td>
                            <td>@item.QuotaFromSupplierApprove</td>
                            <td>@item.QuotaFromSTECApprove</td>
                            <td>@item.QuotaFromSignContract</td>
                            <td>@{var date = item.SignContractDate == null ? null : Convert.ToDateTime(item.SignContractDate).ToString("dd-MM-yyyy");} @date</td>
                        </tr>
                                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h6><b>เลือกลงทะเบียนกับตัวแทน</b></h6>
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "SignContractForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Crop)
                        @Html.HiddenFor(model => model.CitizenID)
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                Extension Agent :
                                @Html.DropDownList("SupplierCode", new SelectList(@ViewBag.ExtensionAgents, "SupplierCode", "SupplierCode"), "โปรดเลือกตัวแทน", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SupplierCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                Quota From Sign Contract :
                                @Html.TextBoxFor(model => model.QuotaFromSignContract, new { @class = "form-control", @type = "number", @placeholder = "Quota from sign contract" })
                                @Html.ValidationMessageFor(model => model.QuotaFromSignContract, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                Sign Contract Date :
                                @Html.TextBoxFor(model => model.SignContractDate, "{0:yyyy-MM-dd}",
                                               new { @class = "form-control", type = "date" })
                                @Html.ValidationMessageFor(model => model.SignContractDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button>
                                <button type="reset" class="btn btn-secondary"><i class="fa fa-undo" aria-hidden="true"></i> Reset</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




