﻿@model IEnumerable<BUWebApp.Models.vm_RegistrationFarmer>
@{
    ViewBag.Title = "Approve farmer quota by supervisor.";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
}

<h3>Farmer Informations</h3>
<h6>ตรวจสอบรายชื่อชาวไร่ที่ลงทะเบียนกับตัวแทนรายต่างๆ</h6>
<hr />

<script type="text/javascript">
    $(document).ready(function () {
        $("#FarmerTable").DataTable({
            "order": [[0, "asc"]]
        });

        ShowSubmitButtonDisabled();

        $("#supplierCode").change(function () {
            ShowSubmitButtonDisabled();
        });

        function ShowSubmitButtonDisabled() {
            if ($("#supplierCode").val() == null || $("#supplierCode").val() == "") {
                $("#Show").attr("disabled", true);
                $("#ApproveAll").attr("disabled", true);
                $("#CancelAll").attr("disabled", true);
            }
            else {
                $("#Show").attr("disabled", false);
                $("#ApproveAll").attr("disabled", false);
                $("#CancelAll").attr("disabled", false);
            }
        }

        $("#farmerRequst").text(numberWithCommars($("#farmerRequst").text()));
        $("#supplierApprove").text(numberWithCommars($("#supplierApprove").text()));
        $("#stecApprove").text(numberWithCommars($("#stecApprove").text()));
        $("#signContract").text(numberWithCommars($("#signContract").text()));
    });

    function numberWithCommars(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>
<div class="row my-4">
    <div class="col-sm-12 mx-2">
        <form class="form-inline justify-content-center" method="get" action="@Url.Action("Index", "Registration")">
            <div class="form-group">
                @Html.DropDownList("supplierCode", new SelectList(@ViewBag.SupplierList, "SupplierCode", "SupplierCode"), "โปรดเลือกตัวแทน", new { @class = "form-control form-control-sm" })
                <button type="submit" class="btn btn-primary btn-sm ml-1" id="Show">
                    <i class="fa fa-search"></i>  แสดงข้อมูล
                </button>
                <button type="submit" id="ApproveAll" name="ApproveAll" class="btn btn-success btn-sm ml-1" formaction="@Url.Action("ApproveAll", "Registration")" formmethod="post">
                    <i class="fa fa-check-circle"></i>  ยืนยันทั้งหมด
                </button>
                <button type="submit" value="Cancel All" id="CancelAll" name="CancelAll" class="btn btn-danger btn-sm ml-1" formaction="@Url.Action("CancelApproveAll", "Registration")" formmethod="post">
                    <i class="fa fa-undo-alt"></i>  ยกเลิกทั้งหมด
                </button>
            </div>
        </form>
    </div>
</div>
@{
    var farmerRequest = Convert.ToInt16(Model.Sum(x => x.QuotaFromFarmerRequest)).ToString("N0");
    var supplierApprove = Convert.ToInt16(Model.Sum(x => x.QuotaFromSupplierApprove)).ToString("N0");
    var STECApprove = Convert.ToInt16(Model.Sum(x => x.QuotaFromSTECApprove)).ToString("N0");
    var signContract = Convert.ToInt16(Model.Where(x => x.ActiveStatus == true).Sum(x => x.QuotaFromSignContract)).ToString("N0");
}
<div class="card-deck">
    <div class="card" style="margin-bottom:20px;">
        <div class="card-header bg-secondary text-white">ตามในใบสมัคร</div>
        <div class="card-body text-center">
            <b>@farmerRequest</b>
        </div>
    </div>
    <div class="card" style="margin-bottom:20px;">
        <div class="card-header bg-danger text-white">ตัวแทนอนุมัติ</div>
        <div class="card-body text-center">
            <b>@supplierApprove</b>
        </div>
    </div>
    <div class="card" style="margin-bottom:20px;">
        <div class="card-header bg-warning text-white">STEC อนุมัติ</div>
        <div class="card-body text-center">
            <b>@STECApprove</b>
        </div>
    </div>
    <div class="card" style="margin-bottom:20px;">
        <div class="card-header bg-success text-white">ทำสัญญาแล้ว</div>
        <div class="card-body text-center">
            <b>@signContract</b>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table id="FarmerTable" class="table table-hover table-sm">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>
                        Farmer Code
                    </th>
                    <th>
                        ชื่อ
                    </th>
                    <th>
                        นามสกุล
                    </th>
                    <th>
                        โควต้าตามใบสมัคร
                    </th>
                    <th>
                        โควต้าจากตัวแทน
                    </th>
                    <th>
                        โควต้าจากบริษัท
                    </th>
                    <th>
                        โควต้าที่ทำสัญญา
                    </th>
                    <th>สถานะ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @item.FarmerCode
                        </td>
                        <td>
                            @item.Person.FirstName
                        </td>
                        <td>
                            @item.Person.LastName
                        </td>
                        <td class="text-center">
                            @item.QuotaFromFarmerRequest
                        </td>
                        <td class="text-center">
                            @item.QuotaFromSupplierApprove
                        </td>
                        <td class="text-center">
                            @item.QuotaFromSTECApprove
                        </td>
                        <td class="text-center">
                            @item.QuotaFromSignContract
                        </td>
                        <td class="text-center">
                            @{
                                var status = "";
                                var statusTextColor = "";
                                if (item.ApproveFromSupplierStatus == true)
                                {
                                    if (item.ApproveFromSTECStatus == true)
                                    {
                                        if (item.ActiveStatus == true && item.QuotaFromSignContract == null)
                                        {
                                            status = "รอทำสัญญา";
                                            statusTextColor = "text-warning";
                                        }
                                        else if (item.ActiveStatus == true && item.QuotaFromSignContract != null)
                                        {
                                            status = "ทำสัญญาแล้ว";
                                            statusTextColor = "text-success";
                                        }
                                        else if (item.ActiveStatus == false && item.QuotaFromSignContract != null)
                                        {
                                            status = "ยกเลิกสัญญา";
                                            statusTextColor = "text-danger";
                                        }
                                    }
                                    else
                                    {
                                        status = "รอยืนยันโควต้าจาก STEC";
                                        statusTextColor = "text-primary";
                                    }
                                }
                                else
                                {
                                    status = "รอยืนยันโควต้าจากตัวแทน";
                                    statusTextColor = "text-secondary";
                                }
                            }
                            <span class="@statusTextColor">@status</span>
                        </td>
                        <td class="text-left">
                            @{
                                if (item.ApproveFromSupplierStatus == true)
                                {
                                    if (item.ApproveFromSTECStatus == true)
                                    {
                                        <a href='@Url.Action("SignContract", "Registration", new { @farmerCode = @item.FarmerCode })' class="btn btn-success btn-sm" target="_blank">จัดการสัญญา</a>
                                    }
                                    else
                                    {
                                        //รอยืนยันโควต้าจาก STEC
                                        <a href='@Url.Action("Approve", "Registration", new { crop = item.Crop, farmerCode = item.FarmerCode })' class="btn btn-primary btn-sm">ยืนยัน</a>
                                        <a href='@Url.Action("Edit", "Registration", new { crop = item.Crop, farmerCode = item.FarmerCode })' class="btn btn-warning btn-sm">ปรับโควต้า</a>
                                    }
                                }
                            }
                            @*@{
                                    if (item.SignContractDate == null)
                                    {
                                        if (item.ApproveFromSupplierStatus == true)//ถ้า supplier ยังไม่ได้ทำการอนุมัติ จะไม่สามารถทำไรได้
                                        {
                                            if (item.ApproveFromSTECStatus == false)
                                            {
                                                <a href='@Url.Action("Approve", "Registration",
                                                        new { crop = item.Crop, farmerCode = item.FarmerCode })'
                                                   class="btn btn-primary btn-sm" title="คลิกเพื่อยืนยันโควต้า">อนุมัติ</a>
                                                <a href='@Url.Action("Edit", "Registration",
                                                        new { crop = item.Crop, farmerCode = item.FarmerCode })'
                                                   class="btn btn-warning btn-sm" title="คลิกเพื่อแก้ไขจำนวนโควต้าก่อนการอนุมัติ">ปรับโควต้า</a>
                                            }
                                            else
                                            {
                                                <a href='@Url.Action("CancelApprove", "Registration",
                                                        new { crop = item.Crop, farmerCode = item.FarmerCode })'
                                                   class="btn btn-danger btn-sm"
                                                   title="คลิกเพื่อยกเลิกการอนุมัติโควต้า">ยกเลิก</a>
                                                <a href='@Url.Action("SignContract", "Registration",
                                                        new { @farmerCode = @item.FarmerCode })'
                                                   class="btn btn-warning btn-sm"
                                                   title="คลิกเพื่อบันทึกสัญญา" target="_blank">รอทำสัญญา</a>
                                            }
                                        }
                                        else
                                        {
                                            <i style="color:red;">รอตัวแทนอนุมัติ</i>
                                        }
                                    }
                                    else
                                    {
                                        <a href='@Url.Action("SignContract", "Registration",
                                                new { @farmerCode = @item.FarmerCode })'
                                           target="_blank" class="btn btn-success btn-sm" title="คลิกเพื่อดูรายละเอียดสัญญา">ทำสัญญาแล้ว</a>
                                    }
                                }*@
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
