﻿@model BUWebApp.Models.vm_RegistrationFarmer
@{
    ViewBag.Title = "RegistrationDetails";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#FarmerTable").DataTable({
            "order": [[0, "asc"]]
        });

        $("#farmerRequst").text(numberWithCommars($("#farmerRequst").text()));
        $("#supplierApprove").text(numberWithCommars($("#supplierApprove").text()));
        $("#stecApprove").text(numberWithCommars($("#stecApprove").text()));
        $("#signContract").text(numberWithCommars($("#signContract").text()));
    })

    function numberWithCommars(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>

<h3>ข้อมูลการลงทะเบียนชาวไร่</h3>
<hr />

<div class="row">
    <div class="col-sm-12">
        <h5><b>รายละเอียดทั่วไป</b></h5>
        <table class="table table-sm table-bordered table-hover table-striped">
            <tr>
                <td width="200px">รหัสชาวไร่</td>
                <td>@Model.FarmerCode</td>
            </tr>
            <tr>
                <td width="200px">ตัวแทน</td>
                <td>@Model.SupplierCode</td>
            </tr>
            <tr>
                <td width="200px">ชื่อ- สกุล</td>
                <td>@Model.Person.Prefix @Model.Person.FirstName  @Model.Person.LastName</td>
            </tr>
            <tr>
                <td width="200px">รหัสประจำตัวประชาชน</td>
                <td>@Model.Person.CitizenID</td>
            </tr>
            <tr>
                <td width="200px">ที่อยู่</td>
                <td>@Model.Person.HouseNumber หมู่ @Model.Person.Village ต.@Model.Person.Tumbon อ.@Model.Person.Amphur จ.@Model.Person.Province</td>
            </tr>
            <tr>
                <td width="200px">วัน/เดือน/ปี เกิด</td>
                <td>@Model.Person.BirthDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td width="200px">หมายเลขโทรศัพท์</td>
                <td>@Model.Person.TelephoneNumber</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h5><b>รายละเอียดการทำสัญญา</b></h5>
        <table class="table table-sm table-bordered table-hover table-striped">
            <tr>
                <td width="200px">โควต้าที่ร้องขอ</td>
                <td>@Model.QuotaFromFarmerRequest</td>
            </tr>
            <tr>
                <td width="200px">โควต้าที่ตัวแทนอนุมัติ</td>
                <td>@Model.QuotaFromSupplierApprove</td>
            </tr>
            <tr>
                <td width="200px">โควต้าที่ STEC อนุมัติ</td>
                <td>@Model.QuotaFromSTECApprove</td>
            </tr>
            <tr>
                <td width="200px">โควต้าที่ระบุในสัญญา</td>
                <td>@Model.QuotaFromSignContract</td>
            </tr>
            <tr>
                <td width="200px">วันที่ทำสัญญา</td>
                <td>@Model.RegistrationDate.ToShortDateString()</td>
            </tr>
        </table>
    </div>
</div>

