﻿@{
    ViewBag.Title = "SearchFarmer";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var farmerName = ViewBag.FarmerName;
    var extensionAgentCode = ViewBag.ExtentionAgentCode;
    var farmers = (List<DomainModel.Farmer>)ViewBag.Farmers;
}
<script type="text/javascript">
    $(document).ready(function (e) {
        var debtSetupTable = $("#farmerTable").DataTable({
            "order": [[1, "desc"], [2, "desc"]]
        });
    });
</script>

<h4>Search Farmer</h4>
<h6>ค้นหาชาวไร่จากตัวแทน</h6>
<hr />

<div class="row">
    @using (Html.BeginForm("SearchFarmer", "Registaction", FormMethod.Get))
    {
        @Html.DropDownList("extensionAgentCode",
       new SelectList(ViewBag.ExtensionAgenCodeList, "SupplierCode", "SupplierCode"),
       "โปรดเลือกตัวแทน", new { @class = "form-control", @required = "required" })
        <input class="form-control mt-2" type="text" required value="@farmerName" name="farmerName" id="farmerName" placeholder="ชื่อชาวไร่ (Farmer Name)" />
        <button class="btn btn-primary bg-gradient mt-2" type="submit"><i class="fas fa-search"></i> ค้นหาชาวไร่</button>
    }
</div>

<div class="row mt-4">
    <div class="col-12">
        @if (farmers.Count() <= 0)
        {
            <div class="alert alert-danger">ไม่พบข้อมูลชาวไร่รายนี้ที่ลงทะเบียนกับตัวแทน @extensionAgentCode โปรดลองทำการค้นหาใหม่อีกครั้งหรือกดปุ่ม ลงทะเบียนเพื่อสร้าง FarmerCode</div>
            <a class="btn btn-primary" href="@Url.Action("FarmerProfile","Farmer" , new { citizenID = "" })"> <i class="fa-solid fa-plus"></i> บันทึกประวัติชาวไร่</a>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-sm table-hover" id="farmerTable">
                    <thead class="table-dark">
                        <tr>
                            <th></th>
                            <th>
                                รหัสชาวไร่
                            </th>
                            <th>
                                ชื่อ
                            </th>
                            <th>
                                สกุล
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in farmers)
                        {
                            <tr>
                                <td>
                                    <a class="btn btn-sm btn-outline-success" id="registerButton" title="บันทึกข้อมูลสัญญาในฤดูปลูกปัจจุบัน" target="_blank"
                                       href="@Url.Action("SignContractV2", new { @farmerCode = item.FarmerCode })">
                                        <i class="fas fa-plus-circle"></i> บันทึกสัญญา
                                    </a>
                                    <a class="btn btn-sm btn-outline-success" id="signContractButton" title="ดูรายละเอียดข้อมูลสัญญา และการยกเลิกสัญญา" target="_blank"
                                       href="@Url.Action("ContactDetails", new { @farmerCode = item.FarmerCode })">
                                        <i class="fas fa-plus-circle"></i> ดูข้อมูลสัญญา
                                    </a>
                                </td>
                                <td>
                                    @item.FarmerCode
                                </td>
                                <td>
                                    @item.Person.FirstName
                                </td>
                                <td>
                                    @item.Person.LastName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

