﻿@model BUWebApp.Models.vm_RegistrationFarmer
@{
    ViewBag.Title = "SignContract";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    DomainModel.RegistrationFarmer registration = ViewBag.RegistrationFarmer;
    var cardGreen = "card text-white bg-success m-2";
    var cardRed = "card text-white bg-danger m-2";
    var farmerCard = Model.QuotaFromFarmerRequest != null ? cardGreen : cardRed;
    var extentionAgentCard = Model.QuotaFromSupplierApprove != null ? cardGreen : cardRed;
    var STECCard = Model.QuotaFromSTECApprove != null ? cardGreen : cardRed;
    var signContractCard = Model.ActiveStatus == true && Model.QuotaFromSignContract != null ? cardGreen : cardRed;
    var readOnly = Model.ActiveStatus == true && Model.QuotaFromSignContract != null ? "readonly" : "";
    var signContractDate = Convert.ToDateTime(Model.SignContractDate).ToString("yyyy-MM-dd");
    var contractQuota = Model.QuotaFromSignContract == null ? Model.QuotaFromSTECApprove : Model.QuotaFromSignContract;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#SignContractForm").submit(function (e) {
            if ($("#SignContractDate").val() == "") {
                alert("Sign contract date value is NULL. The system cannot submit this data.");
                e.preventDefault();
                $("#SignContractDate").focus();
            }
        });
    });
</script>


<h3>Sign Contract</h3>
<h6>จัดการข้อมูลสัญญาเพาะปลูก</h6>
<hr />
<div class="card-deck">
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_FarmerProfile.cshtml", registration.Farmer)
    @Html.Partial("~/Areas/Supervisor/Views/Shared/_RegistrationProfile.cshtml", registration)
</div>

@using (Html.BeginForm("SignContract", "Registration", FormMethod.Post, new { id = "SignContractForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" id="isSignContract" name="isSignContract" value="@Model.QuotaFromSignContract" />
    <input type="hidden" name="Crop" value="@Model.Crop" />
    <input type="hidden" name="FarmerCode" value="@Model.FarmerCode" />
    <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title">บันทึกข้อมูลสัญญา</h5>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-deck">
                        <div class="@farmerCard">
                            <div class="card-header">ตามในใบสมัคร</div>
                            <div class="card-body">
                                <input type="number" class="form-control form-control-sm"
                                       name="QuotaFromFarmerRequest" value="@Model.QuotaFromFarmerRequest"
                                       style="font-weight:bold;font-size:xx-large;text-align:center;" />
                            </div>
                        </div>
                        <div class="@extentionAgentCard">
                            <div class="card-header">ตัวแทนอนุมัติ</div>
                            <div class="card-body">
                                <input type="number" class="form-control form-control-sm"
                                       name="QuotaFromSTECApprove" value="@Model.QuotaFromSupplierApprove"
                                       style="font-weight:bold;font-size:xx-large;text-align:center;" />
                            </div>
                        </div>
                        <div class="@STECCard">
                            <div class="card-header">STEC อนุมัติ</div>
                            <div class="card-body">
                                <input type="number" class="form-control form-control-sm"
                                       name="QuotaFromSTECApprove" value="@Model.QuotaFromSTECApprove"
                                       style="font-weight:bold;font-size:xx-large;text-align:center;" />
                            </div>
                        </div>
                        <div class="@signContractCard">
                            <div class="card-header">ที่ระบุในสัญญา</div>
                            <div class="card-body">
                                <input type="number" class="form-control form-control-sm"
                                       name="QuotaFromSignContract" value="@contractQuota" @readOnly
                                       style="font-weight:bold;font-size:xx-large;text-align:center;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label> เลขที่สัญญา:</label>
                        <input type="text" class="form-control" value="@Model.GAPContractCode" readonly />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label> วันที่ทำสัญญา: </label>
                        <input type="date" name="SignContractDate" class="form-control" value="@signContractDate" @readOnly />
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-sm-12">
                    @{
                        var optionButton = Model.ActiveStatus == true && Model.QuotaFromSignContract != null ? "btn btn-secondary active" : "btn btn-secondary disabled";
                        if (Model.ActiveStatus == true && Model.QuotaFromSignContract != null)
                        {
                            <button class="btn btn-danger" type="submit"
                                    formaction="CancelContract" formmethod="post">
                                <i class="fa fa-unlock"></i> ยกเลิกสัญญา
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-primary" type="submit" name="SignContractButton"
                                    formaction="SignContract" formmethod="post">
                                <i class="fa fa-user-edit"></i> บันทึกข้อมูล
                            </button>
                        }
                    }
                    <a class="@optionButton" href="@Url.Action("UpdateBankAccount", "BankAccount", new { crop = Model.Crop, farmerCode = Model.FarmerCode })"><i class="fa fa-university"></i> แก้ไขเลขที่บัญชี</a>
                    <a class="@optionButton" href="@Url.Action("Main", "Invoice", new { farmerCode = Model.FarmerCode })"><i class="fa fa-shopping-cart"></i> จ่ายปัจจัยการผลิต</a>
                    <a class="@optionButton" href="@Url.Action("Index", "CY202201Return", new { crop = Model.Crop, farmerCode = Model.FarmerCode })"><i class="fa fa-trash"></i> คืนบรรจุภัณฑ์ (ลดหนี้ค่าตะกร้า)</a>
                </div>
            </div>
        </div>
    </div>
                        }

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
