﻿@model BUWebApp.Areas.Supervisor.Models.vm_BankAccount
@{
    ViewBag.Title = "SignContractV2";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var farmer = (DomainModel.Farmer)ViewBag.Farmer;
    var person = farmer.Person;
    var register = new DomainModel.RegistrationFarmer();
    int quotaFromSignContract = 0;
    if (ViewBag.RegistrationFarmer != null)
    {
        register = ViewBag.RegistrationFarmer;
        quotaFromSignContract = (int)register.QuotaFromSignContract;
    }
    var contractStatus = "";
    var contractStatusStyle = "";

    if (register.QuotaFromSignContract == null)
    {
        contractStatus = "ยังไม่ได้ทำสัญญา";
        contractStatusStyle = "color:red;";
    }
    else
    {
        if (register.QuotaFromSignContract != null && string.IsNullOrEmpty(register.UnRegisterReason))
        {
            contractStatus = "ทำสัญญาแล้ว";
            contractStatusStyle = "color:green;";
        }
        else
        {
            contractStatus = "ยกเลิกสัญญาแล้ว";
            contractStatusStyle = "color:red;";
        }
    }
}

<h4>Farmer Sign Contract V2</h4>
<h6>บันทึกข้อมูลสัญญา</h6>
<hr />

<script type="text/javascript">
    $(document).ready(function (e) {
        $(document).on("keyup", "#signContractRai", function (e) {
            var contractRai = $("#signContractRai").val();
            var quotaKg = contractRai * 400;
            $("#quotaKg").val(quotaKg);
        });

        $(document).on("submit", "#signContractForm", function (e) {
            if (confirm("ท่านต้องการบันทึกสัญญาชาวไร่ฉบับนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return false;
            }
        });

        $(document).on("submit", "#changeSignContractRaiForm", function (e) {
            if (confirm("ท่านต้องการแก้ไขจำนวนไร่ที่ระบุในสัญญาใช่หรือไม่?") == false) {
                e.preventDefault();
                return false;
            }
        });

        $(document).on("submit", "#unContractForm", function (e) {
            if (confirm("ท่านต้องการยกเลิกสัญญาชาวไร่ฉบับนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return false;
            }
        });

        $(document).on("submit", "#updateBankAccount", function (e) {
            if (confirm("ท่านต้องการบันทึกข้อมูลบัญชีธนาคารชาวไร่รายนี้ใช่หรือไม่?") == false) {
                e.preventDefault();
                return false;
            }
        });

        $(document).on("click", "#cancelUnContract", function (e) {
            if (confirm("ท่านต้องการยกเลิกการยกเลิกสัญญาเพื่อกลับไปเซ็นสัญญาใหม่อีกครั้งใช่หรือไม่?") == false) {
                e.preventDefault();
                return false;
            }
        });

        $(document).on("keyup", "#newSignContractRai", function (e) {
            var contractRai = $("#newSignContractRai").val();
            var quotaKg = contractRai * 400;
            $("#newQuotaKg").val(quotaKg);
        });
    });


</script>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <tr>
                            <td>รหัสชาวไร่</td>
                            <td>@farmer.FarmerCode</td>
                        </tr>
                        <tr>
                            <td>ชื่อ-นามสกุล</td>
                            <td>@person.FirstName @person.LastName</td>
                        </tr>
                        <tr>
                            <td>ตัวแทน</td>
                            <td>@farmer.Supplier</td>
                        </tr>
                        <tr>
                            <td>สมัครสมาชิกเมื่อ</td>
                            <td>@farmer.RegistrationDate.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td>สถานะการทำสัญญา</td>
                            <td>
                                <span style="@contractStatusStyle"><b>@contractStatus</b></span>
                            </td>
                        </tr>
                        @if (register.QuotaFromSignContract != null)
                        {
                            <tr>
                                <td>จำนวนไร่ที่ระบุในสัญญา</td>
                                <td><b style="@contractStatusStyle">@register.QuotaFromSignContract ไร่</b></td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="mt-3">
                    @if (register != null && register.QuotaFromSignContract != null)
                    {
                        if (string.IsNullOrEmpty(register.UnRegisterReason))
                        {
                            <a class="btn btn-sm btn-success"
                               href="@Url.Action("PrintContract","Registration", new {crop = register.Crop, farmerCode = register.FarmerCode})"
                               target="_blank">
                                <i class="fas fa-print"></i> พิมพ์สัญญา
                            </a>
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#changeSingContractRaiModal">
                                <i class="fas fa-edit"></i> แก้ไขจำนวนไร่ที่ระบุในสัญญา
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#unContractModal">
                                <i class="fas fa-window-close"></i> ยกเลิกสัญญา
                            </button>
                            <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#updateBankAccountModal">
                                <i class="fas fa-file-invoice-dollar"></i> บันทึกข้อมูลบัญชีธนาคาร
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#unContractModal">
                                <i class="fas fa-window-close"></i> ยกเลิกการยกเลิกสัญญา (กลับไปเซ็นสัญญาใหม่อีกครั้ง)
                            </button>
                        }
                    }
                    else
                    {
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#singContractModal">
                            <i class="fas fa-plus"></i> บันทึกสัญญา
                        </button>
                    }
                    <a class="btn btn-sm btn-secondary"
                       href="@Url.Action("CheckProfile","Registration", new { firstname = person.FirstName})">
                        <i class="fas fa-arrow-alt-circle-left"></i> ย้อนกลับ
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="singContractModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">บันทึกจำนวนไร่ที่ระบุในสัญญา</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SignContractV2", "Registration", FormMethod.Post, new { id = "signContractForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="farmerCode" value="@farmer.FarmerCode" />
                    <div class="g-3">
                        <div class="mb-2">
                            <div class="form-label">จำนวนไร่ที่จะระบุในสัญญา</div>
                            <input type="number" class="form form-control border-success" step="0" required id="signContractRai" name="signContractRai" min="1" max="99" />
                        </div>
                        <div class="mb-2">
                            <div class="form-label">คิดเป็นกก. (1 ไร่ = 400 กก.)</div>
                            <input type="number" class="form form-control" readonly id="quotaKg" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label">วันที่ทำสัญญา</label>
                            <input type="date" class="form-control border-success" name="SignContractDate" id="SignContractDate" required value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="mb-2">
                            <div class="form-label">ผู้แนะนำ (recommender)</div>
                            <input type="text" class="form form-control" id="recommender" name="recommender" />
                        </div>
                        <button class="btn btn-primary" type="submit">บันทึกสัญญา</button>
                        <button class="btn btn-outline-secondary" type="reset">Reset</button>
                    </div>
                }
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="changeSingContractRaiModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">แก้ไขจำนวนไร่ที่ระบุในสัญญา</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ChangeSignContractRai", "Registration", FormMethod.Post, new { id = "changeSignContractRaiForm" }))
                {
                    var quotaKg = quotaFromSignContract * 400;
                    var signContractDate = register.SignContractDate == null ? DateTime.Now : (DateTime)register.SignContractDate;
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="crop" value="@register.Crop" />
                    <input type="hidden" name="farmerCode" value="@farmer.FarmerCode" />
                    <div class="g-3">
                        <div class="mb-2">
                            <div class="form-label">จำนวนไร่ที่ระบุในสัญญา</div>
                            <input type="number" class="form form-control border-success" id="newSignContractRai" name="newSignContractRai" min="1" max="99" required value="@register.QuotaFromSignContract" />
                        </div>
                        <div class="mb-2">
                            <div class="form-label">คิดเป็นกก. (1 ไร่ = 400 กก.)</div>
                            <input type="text" class="form form-control" id="newQuotaKg" name="newQuotaKg" readonly value="@quotaKg.ToString("N0")" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label">วันที่ทำสัญญา</label>
                            <input type="date" class="form-control border-success" name="SignContractDate" id="SignContractDate" required value="@signContractDate.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="mb-2">
                            <div class="form-label">ผู้แนะนำ (recommender)</div>
                            <input type="text" class="form form-control" id="recommender" name="recommender" value="@register.TTMQuotaStation" />
                        </div>
                        <button class="btn btn-primary" type="submit">บันทึกข้อมูล</button>
                    </div>
                }
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="unContractModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ยกเลิกสัญญา</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UnContract", "Registration", FormMethod.Post, new { id = "unContractForm" }))
                {
                    var quotaKg = quotaFromSignContract * 400;
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="farmerCode" value="@farmer.FarmerCode" />
                    <div class="g-3">
                        <div class="mb-2">
                            <div class="form-label">จำนวนไร่ที่ระบุในสัญญา</div>
                            <input type="number" class="form form-control" readonly value="@register.QuotaFromSignContract" />
                        </div>
                        <div class="mb-2">
                            <div class="form-label">คิดเป็นกก. (1 ไร่ = 400 กก.)</div>
                            <input type="text" class="form form-control" readonly value="@quotaKg.ToString("N0")" />
                        </div>
                        @if (!string.IsNullOrEmpty(register.UnRegisterReason))
                        {
                            <div class="mb-2">
                                <div class="form-label">เหตุผลที่ยกเลิกสัญญา</div>
                                <input type="text" class="form form-control border-danger" readonly value="@register.UnRegisterReason" />
                            </div>}
                        else
                        {
                            <div class="mb-2">
                                <div class="form-label">เหตุผลที่ยกเลิกสัญญา <span style="color:red;">*</span></div>
                                @Html.DropDownList("unContractReason",
                               new SelectList(ViewBag.UnRegisterReasonList, "Value", "Text"), "โปรดระบุเหตุผลของการยกเลิกสัญญา",
                               new { @class = "form-control border-success", @required = "required" })
                            </div>
                        }

                        @if (string.IsNullOrEmpty(register.UnRegisterReason))
                        {
                            <button class="btn btn-danger" type="submit">ยกเลิกสัญญา</button>
                        }
                        else
                        {
                            <a class="btn btn-danger"
                               id="cancelUnContract"
                               title="คลิกปุ่มนี้เพื่อเปลี่ยนสถานะกลับไปบันทึกสัญญาใหม่"
                               href="@Url.Action("CancelUnContract","Registration",new { farmerCode = register.FarmerCode})">
                                ยกเลิกการยกเลิกสัญญา
                            </a>
                        }
                    </div>
                }
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateBankAccountModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">บันทึกข้อมูลบัญชีธนาคาร</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateBankAccount", "Registration", FormMethod.Post, new { id = "updateBankAccount" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Crop)
                    @Html.HiddenFor(model => model.FarmerCode)
                    <div class="mt-3">
                        <label class="form-label">ชื่อธนาคาร</label>
                        @Html.DropDownListFor(model => model.BankID, new SelectList(@ViewBag.BankList, "BankID", "BankName"), "โปรดเลือกชื่อบัญชีธนาคาร", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.BankID, null, new { @class = "text-danger" })
                    </div>
                    <div class="mt-3">
                        <label class="form-label">เลขที่บัญชี</label>
                        @Html.TextBoxFor(model => model.BookBank, new { @class = "form-control", type = "text", @placeholder = "Book bank", @min = "0", @required = "required" })
                        @Html.ValidationMessageFor(model => model.BookBank, null, new { @class = "text-danger" })
                    </div>
                    <div class="mt-3">
                        <label class="form-label">สาขา</label>
                        @Html.TextBoxFor(model => model.BankBranch, new { @class = "form-control", type = "text", @placeholder = "Bank branch", @required = "required" })
                        @Html.ValidationMessageFor(model => model.BankBranch, null, new { @class = "text-danger" })
                    </div>
                    <div class="mt-3">
                        <label class="form-label">รหัสสาขา</label>
                        @Html.TextBoxFor(model => model.BankBranchCode, new { @class = "form-control", type = "text", @placeholder = "Bank branch code", @required = "required" })
                        @Html.ValidationMessageFor(model => model.BankBranchCode, null, new { @class = "text-danger" })
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary"> บันทึกข้อมูล</button>
                    </div>
                }
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>