﻿@model BUWebApp.Areas.Supervisor.Models.vm_CreditNoteDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";
    var accountInvoice = (DomainModel.AccountInvoice)ViewBag.AccountInvoice;
    var isFinishForDisabled = Model.IsPrinted == true ? "disabled" : "";

    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var jsonModel = jss.Serialize(Model);
    var jsonCreditNoteDetailByAccountInvoice = jss.Serialize(ViewBag.CreditNoteDetailByAccountInvoice);
}

<script type="text/javascript">
    $(document).ready(function () {
        var summaryDataTable = $("#summaryDataTable").DataTable({
            "order": [[0, "asc"]]
        });

        var detailsDataTable = $("#detailsDataTable").DataTable({
            "order": [[1, "asc"]]
        });
    });

    $(document).on("click", "#unlockButton", function (e) {
        if (confirm("ท่านต้องการปลดล็อคเอกสารนี้เพื่อให้ ตจว. สามารถพิมพ์ใหม่อีกครั้งใช่หรือไม่?") == false) {
            e.preventDefault();
            return false;
        }
    });

    $(document).on("click", "#printButton", function (e) {
        if (confirm("ท่านต้องการพิมพ์เอกสารนี้ใช่หรือไม่?") == false) {
            e.preventDefault();
            return false;
        }
    });
</script>

<h3>Credit Note Detail</h3>
<h6>บันทึกข้อมูลการลดหนี้</h6>
<hr />

<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">รายละเอียดการลดหนี้</h5>
            <table class="table table-sm">
                <tbody class="align-top">
                    <tr>
                        <td>เลขที่เอกสาร</td>
                        <td class="text-right">@Model.CreditNoteCode</td>
                    </tr>
                    <tr>
                        <td>วันที่เอกสาร</td>
                        <td class="text-right">@Model.CreateDate.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <td>มูลค่าตามเอกสารเดิม</td>
                        <td class="text-right">@Model.DistibutionValue.ToString("N2") บาท</td>
                    </tr>
                    <tr>
                        <td>มูลค่าที่ถูกต้อง</td>
                        <td class="text-right">
                            @{
                                var realValue = (Model.DistibutionValue - Model.Amount);
                            }@realValue.ToString("N2") บาท
                        </td>
                    </tr>
                    <tr>
                        <td>ผลต่าง</td>
                        <td class="text-right">@Model.Amount.ToString("N2") บาท</td>
                    </tr>
                    <tr>
                        <td>ภาษีมูลค่าเพิ่ม</td>
                        <td class="text-right">@Model.Vat.ToString("N2") บาท</td>
                    </tr>
                    <tr>
                        <td>ยอดเงินสุทธิ (NET Amount)</td>
                        <td class="text-right">@Model.NetAmount.ToString("N2") บาท</td>
                    </tr>
                    <tr>
                        <td>วิธีการลดหนี้</td>
                        <td class="text-right">
                            @if (Model.IsPayForCash == true)
                            {
                                <span style="color:red;">ชำระเป็นเงินสด</span>
                            }
                            else
                            {
                                <span style="color:green;">คืนปัจจัยฯ และออกใบลดหนี้</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>สถานะการพิมพ์ใบลดหนี้</td>
                        <td>
                            @if (Model.IsPrinted == false)
                            {
                                <span style="color:red;">ยังไม่ได้พิมพ์ใบลดหนี้ออกจากระบบ</span>
                            }
                            else
                            {
                                <span style="color:green;">พิมพ์ใบลดหนี้ออกจากระบบแล้ว</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>วันที่พิมพ์/ออก ใบลดหนี้</td>
                        <td>
                            @{
                                var printDate = Model.PrintDate == null ? "" : Convert.ToDateTime(Model.PrintDate).ToString("dd/MMM/yyyy");
                            }
                            @printDate
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <span class="small align-middle">แก้ไขข้อมูลล่าสุดเมื่อ : @Model.CreateDate.ToString("dd/MM/yyyy")</span>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ข้อมูลอ้างอิง</h5>
            <table class="table table-sm">
                <tbody class="align-top">
                    <tr>
                        <td>ชื่อ - สกุล</td>
                        <td>@Model.CustomerName</td>
                    </tr>
                    <tr>
                        <td>ที่อยู่</td>
                        <td>@Model.CustomerAddress</td>
                    </tr>
                    <tr>
                        <td>เลขประจำตัวผู้เสียภาษีอากร</td>
                        <td>@Model.TaxID</td>
                    </tr>
                    <tr>
                        <td>อ้างอิงใบส่งปัจจัยฯ เลขที่ </td>
                        <td>@Model.AccountInvoiceNo</td>
                    </tr>
                    <tr>
                        <td>ลงวันที่ </td>
                        <td>@Model.AccountInvoiceDate.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <td>สถานะ</td>
                        <td>
                            @if (accountInvoice.IsPrinted)
                            {
                                <span style="color:green;">พิมพ์เอกสารออกจากระบบแล้ว</span>
                            }
                            else
                            {
                                <span style="color:red;">**ยังไม่ได้พิมพ์เอกสารออกจากระบบ</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>พิมพ์เอกสารเมื่อวันที่</td>
                        <td>@accountInvoice.PrintDate</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <span class="small align-middle">ผู้บันทึกข้อมูล : @accountInvoice.PrintBy</span>
        </div>
    </div>
</div>

<div class="btn-group mt-2">
    <button type="button"
            class="btn btn-sm btn-warning"
            data-bs-toggle="modal" data-bs-target="#summaryReturnModal">
        <i class="fas fa-check"></i> สรุปการลดหนี้
    </button>
    @if (Model.IsPrinted == true)
    {
        <a class="btn btn-sm btn-danger"
           id="unlockButton"
           title="ปลดล็อคเมื่อต้องการพิมพ์เอสารใหม่"
           href="@Url.Action("UnlockPrint","CreditNote",new { creditNoteCode = Model.CreditNoteCode })">
            <i class="fas fa-unlock"></i> ปลดล็อคเอกสาร
        </a>
    }
    else
    {
        <a class="btn btn-sm btn-success"
           id="printButton"
           href="@Url.Action("Print","CreditNote",new { creditNoteCode = Model.CreditNoteCode })">
            <i class="fas fa-print"></i> พิมพ์เอกสาร
        </a>
    }
    <a class="btn btn-sm btn-secondary"
       href="@Url.Action("Search","CreditNote",new { creditNoteCode = Model.CreditNoteCode })">
        <i class="fas fa-arrow-alt-circle-left"></i> ย้อนกลับ
    </a>
</div>

<div class="modal fade" id="summaryReturnModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">สรุปการข้อมูลการลดหนี้ทั้งหมด</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="summaryDataTable" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    รายการ
                                </th>
                                <th>
                                    หน่วย
                                </th>
                                <th>
                                    ราคา/หน่วย
                                </th>
                                <th>
                                    จำนวน (รับ)
                                </th>
                                <th>
                                    จำนวน (คืน)
                                </th>
                                <th>
                                    คงเหลือ
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.InvoiceDetailList.OrderByDescending(x => x.ItemName))
                            {
                                var returnQty = @Model.CreditNoteDetailList.Where(x => x.ConditionID == item.ConditionID).Sum(x => x.Quantity);
                                var returnPrice = @Model.CreditNoteDetailList.Where(x => x.ConditionID == item.ConditionID).Sum(x => x.Quantity * x.UnitPrice);
                                var rowColor = returnQty > 0 ? "class=table-warning" : "";
                                <tr title="คืนในเอกสารนี้จำนวน @returnQty.ToString("N0") รายการ เป็นเงิน @returnPrice.ToString("N2") บาท" @rowColor>
                                    <td>
                                        @item.ItemName (@item.Brand)
                                    </td>
                                    <td>
                                        @item.UnitPrice.ToString("N2")
                                    </td>
                                    <td>
                                        @item.Quantity.ToString("N0")
                                    </td>
                                    <td style="color:red;">
                                        @item.ReturnQuantity.ToString("N0")
                                    </td>
                                    <td>
                                        @{ var balance = item.Quantity - item.ReturnQuantity; }
                                        <span>@balance.ToString("N0")</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="table-responsive">
        <table id="detailsDataTable" class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>
                        รายละเอียด
                    </th>
                    <th>
                        ราคา/หน่วย
                    </th>
                    <th>
                        จำนวน
                    </th>
                    <th>
                        ราคารวม
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CreditNoteDetailList.OrderByDescending(x => x.ItemName))
                {
                    var returnPrice = item.Quantity * item.UnitPrice;
                    <tr>
                        <td>
                            @item.ItemName
                        </td>
                        <td>
                            @item.UnitPrice.ToString("N2")
                        </td>
                        <td>
                            @item.Quantity.ToString("N0")
                        </td>
                        <td>
                            @item.Price.ToString("N2")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (Model.CreditNoteDetailList == null)
{
    <div>
        <div class="alert alert-danger mt-3">
            ใบส่งปัจจัยการผลิตนี้ ยังไม่มีการบันทึกข้อมูลใบลดหนี้ในระบบ
        </div>
    </div>
}