﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";
    var creditNoteCode = ViewBag.CreditNoteCode;
    var creditNoteList = (List<DomainModel.AccountCreditNote>)ViewBag.CreditNoteList;
}


<script type="text/javascript">
    $(document).ready(function (e) {
        $("#accountInvoiceTable").DataTable({
            "order": [[1, "desc"]]
        });
    });

    $(document).on("click", "#unlockButton", function (e) {
        if (confirm("ท่านต้องการปลดล็อคเพื่อให้สามารถพิมพ์เอกสารนี้ใหม่ใช่หรือไม่?") == false) {
            e.preventDefault();
            return false;
        }
    });

    $(document).on("click", "#printButton", function (e) {
        if (confirm("หลังจากที่พิมพ์เอกสารแล้ว ท่านจะไม่สามารถพิมพ์เอกสารได้อีก" +
            " หากต้องการพิมพ์เอกสารอีกครั้งให้แจ้งทางแผนกบัญชีเพื่อขอทำการปลดล็อคเอกสารนี้" +
            " ท่านต้องการปลดล็อคเพื่อให้สามารถพิมพ์เอกสารนี้ใหม่ใช่หรือไม่ ? ") == false) {
            e.preventDefault();
            return false;
        }
    });
</script>

<h4>Search Credit Note</h4>
<h6>ค้นหาใบลดหนี้</h6>
<hr />

<div class="card border-secondary">
    <div class="card-header bg-secondary text-white">ค้นหาใบลดหนี้</div>
    <div class="card-body">
        @using (Html.BeginForm("Search", "CreditNote", FormMethod.Get))
        {
            <div class="row mb-3">
                <label for="creditNoteCode"
                       class="col-sm-2 col-form-label">รหัสใบลดหนี้</label>
                <div class="col-sm-10">
                    <input class="form-control"
                           type="text"
                           required
                           value="@creditNoteCode"
                           name="creditNoteCode"
                           id="creditNoteCode"
                           placeholder="รหัสใบลดหนี้ (Credit Note Code)" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button class="btn btn-primary"
                            type="submit">
                        <i class="fas fa-search"></i> ค้นหา
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        @if (creditNoteList.Count() <= 0)
        {
            <div class="alert alert-danger">ไม่พบข้อมูลใบลดหนี้รหัสเอกสาร @creditNoteCode นี้ในระบบโปรดลองทำการค้นหาใหม่อีกครั้ง</div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-sm table-hover" id="accountInvoiceTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                credit note code
                            </th>
                            <th>
                                create date
                            </th>
                            <th>
                                print status
                            </th>
                            <th>
                                print by
                            </th>
                            <th>
                                print date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in creditNoteList)
                        {
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        @if (item.IsPrinted == true)
                                        {

                                            <a class="btn btn-sm btn-danger"
                                               title="Unlock (ปลดล็อคเอกสาร)"
                                               id="unlockButton"
                                               href="@Url.Action("UnlockPrint", new { creditNoteCode = item.CreditNoteCode })">
                                                <i class="fas fa-unlock"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-sm btn-success"
                                               title="Print (พิมพ์เอกสาร)"
                                               id="printButton"
                                               target="_blank"
                                               href="@Url.Action("Print", new { creditNoteCode = item.CreditNoteCode })">
                                                <i class="fas fa-print"></i>
                                            </a>
                                        }
                                        <a class="btn btn-sm btn-info"
                                           title="Details (ดูรายละเอียดใบลดหนี้)"
                                           href="@Url.Action("Details", new { creditNoteCode = item.CreditNoteCode, accountInvoiceNo = item.AccountInvoiceNo})">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    @item.CreditNoteCode
                                </td>
                                <td>
                                    @item.CreateDate.ToShortDateString()
                                </td>
                                <td>
                                    @{var isPrinted = item.IsPrinted == true ? "พิมพ์แล้ว" : "รอพิมพ์";}
                                    @isPrinted
                                </td>
                                <td>
                                    @item.PrintBy
                                </td>
                                <td>
                                    @item.PrintDate
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

