﻿@model BUWebApp.Areas.Admin.Models.vm_Package

@{
    ViewBag.Title = "SupplierPackages";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#packageTable").DataTable();
    });

    $(document).on("click", "#deleteButton", function (e) {
        var answer = confirm("ท่านต้องการลบข้อมูลนี้ใช่หรือไม่?");
        if (answer == false) {
            e.preventDefault();
            return false;
        }
    });

    $(document).on("submit", "#addForm", function (e) {
        var answer = confirm("ท่านต้องการสร้าง package code ใหม่ใช่หรือไม่?");
        if (answer == false) {
            e.preventDefault();
            return false;
        }
    });
</script>

<h3>Manage Package</h3>
<h6>จัดการข้อมูลแพ็คเกจสำหรับจ่ายปัจจัยการผลิต</h6>
<hr />

<div class="btn-group">
    <button type="button"
            class="btn btn-success btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#addModal">
        + Add
    </button>
    <a class="btn btn-secondary btn-sm"
       href="@Url.Action("Index", "CropInputs")">
        <i class="fas fa-arrow-alt-circle-left"></i> Back
    </a>
</div>

<div class="table-responsive mt-3">
    <table id="packageTable" class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th></th>
                <th>Package Code</th>
                <th>Description</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ((List<DomainModel.CropInputsPackage>)ViewBag.Packages)
                .OrderByDescending(x => x.PackageCode)
                .ToList())
            {
                <tr>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary"
                               title="Preview details of item in this package."
                               href="@Url.Action("Index", "PackageDetails",
                                    new { packageCode = item.PackageCode})">
                                <span class="material-icons">
                                    add
                                </span>
                            </a>
                            <a class="btn btn-sm btn-outline-secondary"
                               title="Delete this package code."
                               id="deleteButton"
                               href="@Url.Action("Delete", "Package",
                                    new { packageCode = item.PackageCode})">
                                <span class="material-icons">
                                    delete
                                </span>
                            </a>
                        </div>
                    </td>
                    <td>@item.PackageCode</td>
                    <td>@item.Description</td>
                    <td>@item.CropInputsPackageDetails.Count()</td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div id="addModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add package code form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-3">
                @using (Html.BeginForm("Add", "Package", FormMethod.Post, new { @class = "row g-3", @id = "addForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Crop)
                    @Html.HiddenFor(model => model.SupplierCode)
                    <div class="col-12 mt-3">
                        <label class="form-label">Package Description</label>
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">+ Add</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>