﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
    var invoice = (DomainModel.Invoice)ViewBag.Invoice;
    var register = (DomainModel.RegistrationFarmer)ViewBag.Registration;
    var invoiceDetails = (List<BusinessLayer.Model.m_InvoiceDetails>)ViewBag.InvoiceDetails;
    var packageList = (List<DomainModel.CropInputsPackage>)ViewBag.PackageList;
    var categories = (List<BusinessLayer.Model.m_CropInputsItem>)ViewBag.Categories;
    var accountInvoices = (List<DomainModel.AccountInvoice>)ViewBag.AccountInvoice;
    var debtTypes = (List<DomainModel.DebtType>)ViewBag.DebtTypes;
}
<script type="text/javascript">
    let arrayOfItems = [];
    let conditionIDs = [];
    let packageDetails = [];

    $(document).ready(function (e) {
        $("#invoiceDetailsTable").DataTable({
            "order": [[1, "asc"]]
        });

        $("#packageDetailsTable").DataTable({
            "order": [[0, "asc"]]
        });
    });

    $(document).on("change", "#category", function (e) {
        BindingItemDropDown();
    });

    $(document).on("change", "#PackageCode", function (e) {
        BindingPackageTable();
    });

    $(document).on("submit", "#addByPackageForm", function (e) {
        var isVat = $("#isIncludeVat").val();
        var list = packageDetails.findIndex(v => v.isvat === "");
        if (isVat == "+ VAT") {
            var isnotvatitems = packageDetails.filter(function (info) {
                return info.isvat == "";
            });
            if (isnotvatitems.length > 0) {
                alert("invoice นี้เป็นประเภทคิด vat ส่วนใน package code นี้มีสินค้าจำนวน "
                    + isnotvatitems.length + " รายการที่ไม่คิด vat (-VAT) รวมอยู่ด้วย"
                    + "จึงไม่สามารถบันทึกข้อมูลได้");
                e.preventDefault();
                return false;
            }
        }
        else {
            var isvatitems = packageDetails.filter(function (info) {
                return info.isvat != "";
            });
            if (isvatitems.length > 0) {
                alert("invoice นี้เป็นประเภทคิด vat  ส่วนใน package code นี้มีสินค้าจำนวน "
                    + isvatitems.length + " รายการที่มีการคิด vat (+VAT) รวมอยู่ด้วย"
                    +"จึงไม่สามารถบันทึกข้อมูลได้");
                e.preventDefault();
                return false;
            }
        }
        var x = arrayOfItems.filter(function (x) {
            return x.conditionid == conditionID
        });
        var result = confirm("ท่านต้องการบันทึกข้อมูลเหล่านี้ใช่หรือไม่?")
        if (result == false) {
            e.preventDefault();
            return;
        }
    });

    $(document).on("change", "#ConditionID", function (e) {
        var data = $(e.currentTarget);
        var unitPrice = $(this).find(':selected').attr('data-bs-UnitPrice');
        var isInventory = $(this).find(':selected').attr('data-bs-IsReferToInventory');
        var isVat = $(this).find(':selected').attr('data-bs-IsVat');
        var conditionID = $(this).find(':selected').attr('data-bs-ConditionID');
        var itemID = $(this).find(':selected').attr('data-bs-ItemID');

        $("#isVat").prop('checked', false);
        $("#isInventory").prop('checked', false);
        if (isVat == "true") {
            $("#isVat").prop('checked', true);
        }
        else {
            $("#isVat").prop('checked', false);
        }

        if (isInventory == "true") {
            $("#isInventory").prop('checked', true);
        }
        else {
            $("#isInventory").prop('checked', false);
        }

        $("#unitPrice").val(unitPrice);
        $("#quantity").val("");
        $("#quantity").focus();
    });

    $(document).on("click", "#addByItemButton", function (e) {
        var selectedItem = $("#ConditionID");
        var isVat = $("#isIncludeVat").val();
        var quantity = $("#quantity");
        if (selectedItem.val() == null || selectedItem.val() == "") {
            alert("โปรดระบุสินค้าที่ต้องการ");
            selectedItem.focus();
            e.PreventDefault();
            return;
        }
        if (quantity.val() == null || quantity.val() <= 0) {
            alert("โปรดระบุจำนวนสินค้าที่ต้องการ");
            quantity.focus();
            e.PreventDefault();
            return;
        }

        var unitPrice = selectedItem.find(':selected').attr('data-bs-UnitPrice');
        var conditionID = selectedItem.find(':selected').attr('data-bs-ConditionID');
        var itemID = selectedItem.find(':selected').attr('data-bs-ItemID');
        var itemName = selectedItem.find(':selected').attr('data-bs-ItemName');
        var itemVat = selectedItem.find(':selected').attr('data-bs-IsVat');
        var quantity = $("#quantity").val();
        var dupplicateItem = arrayOfItems.filter(function (x) {
            return x.conditionid == conditionID
        });

        var itemVatConvert = false;
        if (itemVat == "true") {
            itemVatConvert = "+ VAT";
        }
        else {
            itemVatConvert = "- VAT";
        }
        console.log(isVat);
        console.log(itemVat);
        console.log(itemVatConvert);

        if (isVat != itemVatConvert) {
            if (isVat == "+VAT") {
                alert("invoice นี้ระบุเป็น +VAT สินค้ารายการนี้เป็น -VAT ซึ่งไม่ตรงตามเงื่อนไขนี้ ไม่สามารถเลือกรายการนี้ได้");
            }
            else {
                alert("invoice นี้ระบุเป็น -VAT สินค้ารายการนี้เป็น +VAT ซึ่งไม่ตรงตามเงื่อนไขนี้ ไม่สามารถเลือกรายการนี้ได้");
            }
            e.PreventDefault();
            return;
        }

        if (dupplicateItem.length > 0) {
            alert("สินค้านี้ซ้ำกับที่เลือกไว้ก่อนหน้านี้");
            selectedItem.focus();
            e.PreventDefault();
            return;
        }

        var obj = {
            "itemid": itemID,
            "conditionid": conditionID,
            "itemname": itemName,
            "unitprice": unitPrice,
            "quantity": quantity,
            "price": quantity * unitPrice
        };

        var invoiceDetails = {
            "ConditionID": conditionID,
            "Quantity": quantity
        };

        conditionIDs.push(invoiceDetails)
        arrayOfItems.push(obj);
        $('#addByItemTable').DataTable({
            destroy: true,
            data: arrayOfItems,
            columns: [
                { data: "itemname" },
                { data: "itemid" },
                { data: "unitprice" },
                { data: "quantity" },
                { data: "price" },
            ]
        });
        $("#conditionIDs").val(JSON.stringify(conditionIDs));
    });

    $(document).on("click", "#clearItemButton", function (e) {
        var result = confirm("ท่านต้องการล้างรายการข้อมูลที่เลือกไว้นี้ใช่หรือไม่?");
        if (result == false) {
            e.PreventDefault();
            return;
        }

        arrayOfItems = [];
        conditionIDs = [];

        var dataTable = $('#addByItemTable').DataTable();
        dataTable.clear().draw();
        dataTable.destroy();
    });

    //this event for remove item from temp table.
    $(document).on("click", "#removeItem", function (e) {
        var conditionID = "";
        arrayOfItems.splice(arrayOfItems.findIndex(v => v.conditionid === conditionID), 1);
    });

    $(document).on("click", "#invoiceDetailsTable tbody tr #deleteByItemButton", function (e) {
        var data = $(e.currentTarget);
        var isFinished = data.attr("data-bs-isFinished");
        if (isFinished == "True") {
            alert("เอกสารนี้ถูก Finished ไปแล้วไม่สามารถลบได้");
            e.preventDefault();
            return;
        }

        if (confirm("ท่านต้องการลบข้อมูลนี้ใช่หรือไม่?") == false) {
            e.preventDefault();
            return;
        }
    });

    $(document).on("click", "#invoiceDetailsTable tbody tr #deleteByPackageButton", function (e) {
        var data = $(e.currentTarget);
        var isFinished = data.attr("data-bs-isFinished");
        if (isFinished == "True") {
            alert("เอกสารนี้ถูก Finished ไปแล้วไม่สามารถลบได้");
            e.preventDefault();
            return;
        }

        if (confirm("รายการสินค้าทั้งหมดที่อยู่ใน package นี้จะถูกลบออกด้วยทั้งหมด ท่านต้องการลบข้อมูลนี้ใช่หรือไม่?") == false) {
            e.preventDefault();
            return;
        }
    });

    $(document).on("click", "#confirmItemButton", function (e) {
        if (confirm("รายการที่ท่านเลือกในตารางจะถูกบันทึกข้อมูลในระบบ ท่านต้องการยืนยันข้อมูลนี้ใช่หรือไม่?") == false) {
            e.preventDefault();
            return;
        }
    });

    $(document).on("click", "#finishButton", function (e) {
        var table = $('#invoiceDetailsTable').DataTable();
        var rowCount = table.data().count();
        if (rowCount <= 0) {
            alert("โปรดเพิ่มรายการสินค้าอย่างน้อย 1 รายการใน invoice");
            e.preventDefault();
            return false;
        }
    });

    $(document).on("submit", "#confirmDocumentForm", function (e) {
        var table = $('#invoiceDetailsTable').DataTable();
        var rowCount = table.data().count();
        if (rowCount <= 0) {
            alert("โปรดเพิ่มรายการสินค้าอย่างน้อย 1 รายการใน invoice");
            e.preventDefault();
            return false;
        }

        if (confirm("ท่านจะไม่สามารถแก้ไขข้อมูลได้อีก ท่านแน่ใจหรือไม่ที่จะยืนยันข้อมูลนี้") == false){
            e.preventDefault();
            return false;
        }
    });

    $(document).on("click", "#printAccountInvoiceButton", function (e) {
        if (confirm("หลังจากนี้เอกสารจะถูกเปลี่ยนสถานะเป็น พิมพ์เอกสารแล้ว " +
            " จากนั้นจะเอกสารจะถูกล็อค ไม่สามารถพิมพ์ได้อีก " +
            " หากต้องการพิมพ์ใหม่ โปรดติดต่อแผนกบัญชีเพื่อปลดล็อค " +
            " ท่านยืนยันที่จะพิมพ์เอกสารนี้ใช่หรือไม่?") == false) {
            e.preventDefault();
            return;
        }
    });

    function BindingPackageTable() {
        var packageCode = $("#PackageCode").val();
        var resourceUrl = '@Url.Action("PackageDetails", "AGMInventories", new { Area = "" })?packageCode=' + packageCode;
        packageDetails = [];
        $("#PackageCode").val(packageCode);
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                var count = 0;
                var isinventory = "";
                var isvat = "";
                for (var i = 0; i < info.length; i++) {
                    if (info[i].IsReferToInventory == true) {
                        isinventory = "<i class='fas fa-check' style='color:green;'></i>";
                    }
                    else {
                        isinventory = "";
                    }

                    if (info[i].IsVat == true) {
                        isvat = "<i class='fas fa-check' style='color:green;'></i>";
                    }
                    else {
                        isvat = "";
                    }

                    var obj = {
                        "itemname": info[i].ItemName,
                        "itemid": info[i].ItemID,
                        "unitprice": info[i].UnitPrice.toLocaleString('en-US', { maximumFractionDigits: 2 }),
                        "quantity": info[i].Quantity.toLocaleString('en-US', { maximumFractionDigits: 2 }),
                        "price": (info[i].Quantity * info[i].UnitPrice).toLocaleString('en-US', { maximumFractionDigits: 2 }),
                        "isvat": isvat,
                        "isrefertoinventory": isinventory
                    };

                    packageDetails.push(obj);
                count++;
                }

                $('#packageDetailsTable').DataTable({
                    destroy: true,
                    data: packageDetails,
                    columns: [
                        { data: "itemname" },
                        { data: "itemid" },
                        { data: "quantity" },
                        { data: "unitprice" },
                        { data: "price" },
                        { data: "isvat" },
                        { data: "isrefertoinventory" }
                    ]
                });
            }
        });
    }

    function BindingItemDropDown() {
        var category = $("#category").val();
        var supplierCode = $("#supplierCode").val();
        var resourceUrl = '@Url.Action("ItemsWithCondition", "AGMInventories", new { Area = "" })?category=' +
            category + '&supplierCode=' + supplierCode;

        console.log(category);
        console.log(supplierCode);
        console.log(resourceUrl);

        $("#ConditionID").empty("โปรดเลือกประเภท");
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                console.log(info);
                $("#ConditionID").append('<option value="">โปรดเลือกรายการ</option>');
                $.each(info, function (i, info) {
                    $("#ConditionID").append('<option value="' + info.ConditionID + '"'
                        + 'data-bs-ConditionID="' + info.ConditionID + '"'
                        + 'data-bs-ItemID="' + info.ItemID + '"'
                        + "data-bs-ItemName='" + info.ItemName + "'"
                        + 'data-bs-UnitPrice="' + info.UnitPrice + '"'
                        + 'data-bs-IsReferToInventory="' + info.IsReferToInventory + '"'
                        + 'data-bs-IsVat="' + info.IsVat + '"'
                        + '>' +
                        info.ItemName + '</option>');
                });
            }
        });
    }
</script>

<h3>Invoice Details</h3>
<h5>บันทึกการจ่ายปัจจัยการผลิต</h5>
<hr />
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Invoice No.</dt>
            <dd class="col-sm-9">@invoice.InvoiceNo</dd>

            <dt class="col-sm-3">Farmer Code</dt>
            <dd class="col-sm-9"> @invoice.FarmerCode</dd>

            <dt class="col-sm-3">Farmer Name</dt>
            <dd class="col-sm-9">
                @{
                    var person = register.Farmer.Person;
                    var name = person.Prefix + person.FirstName + " " + person.LastName;
                }
                <span>@name</span>
            </dd>

            <dt class="col-sm-3">Document Type</dt>
            <dd class="col-sm-9">
                @{
                    var isIncludeVat = invoice.IsIncludeVAT == true ? "+ VAT" : "- VAT";
                }
                <span>@isIncludeVat</span>
                <input type="hidden" id="isIncludeVat" value="@isIncludeVat" />
            </dd>

            <dt class="col-sm-3">Debt Type</dt>
            <dd class="col-sm-9">
                @if (invoice.DebtTypeCode != null)
                {
                    <span>@invoice.DebtType.DebtTypeName</span>
                }
                else
                {
                    <span>N/A</span>
                }
            </dd>

            <dt class="col-sm-3">Status</dt>
            <dt class="col-sm-9">
                <span>
                    @if (invoice.IsFinish == true)
                    {
                        <span class="text-danger">Finished</span>
                    }
                    else
                    {
                        <span class="text-success">Unfinish</span>
                    }
                </span>
            </dt>
            <dt class="col-sm-3">Total Amount</dt>
            <dd class="col-sm-9">
                <span>@invoiceDetails.Sum(x => x.Quantity * x.UnitPrice).ToString("N2")</span>
            </dd>
        </dl>
        <div class="btn-group">
            @if (!invoice.IsFinish)
            {
                if (invoiceDetails.Count() > 0)
                {
                    <button class="btn btn-sm btn-danger"
                            id="finishButton"
                            data-bs-toggle="modal"
                            data-bs-target="#comfirmDocumentModal">
                        <i class="fas fa-check"></i> ยืนยันข้อมูล
                    </button>
                }
            }
            else
            {
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-icons">
                            list
                        </span>
                        ดูใบส่งของ/ใบเสร็จ
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        @foreach (var item in accountInvoices)
                        {
                            if (item.IsPrinted == true)
                            {
                                <li>
                                    <a class="dropdown-item"
                                       id="accountInvoiceDetailsButton"
                                       href="@Url.Action("Details2","AccountInvoice",new { accountInvoiceNo = item.InvoiceNo})">
                                        <div class="spinner-grow text-success spinner-grow-sm" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <i class="fas fa-search"></i> @item.InvoiceNo
                                        <span>(@item.InvoiceDetails.Sum(x => x.Quantity * x.UnitPrice)฿)</span>
                                        -
                                        <i class="text-success" style="font-size:small;">พิมพ์เอกสารแล้ว</i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="dropdown-item"
                                       id="printAccountInvoiceButton"
                                       target="_blank"
                                       href="@Url.Action("Print", "AccountInvoice", new { accountInvoiceNo = item.InvoiceNo })">
                                        <div class="spinner-grow text-danger spinner-grow-sm" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <i class="fas fa-print"></i> @item.InvoiceNo
                                        <span>(@item.InvoiceDetails.Sum(x => x.Quantity * x.UnitPrice)฿)</span>
                                        -
                                        <i class="text-danger" style="font-size:small;">ยังไม่ได้พิมพ์เอกสาร</i>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            }
            <a class="btn btn-sm btn-secondary"
               href="@Url.Action("Index2","Invoice",new { farmerCode = invoice.FarmerCode})">
                <span class="material-icons">
                    arrow_left
                </span> ย้อนกลับ
            </a>
        </div>
    </div>
</div>

@using (Html.BeginForm("Finish", "InvoiceDetails", FormMethod.Post, new { @id = "confirmDocumentForm" }))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="comfirmDocumentModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>ยืนยันข้อมูลเพื่อออกใบเสร็จรับเงิน/ใบส่งของ</h6>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <figure>
                        <blockquote class="blockquote">
                            <p>โปรดตรวจสอบข้อมูลให้ถูกต้องก่อนกด confirm หลังจากนี้จะไม่สามารถแก้ไขข้อมูลใดๆ ได้อีก</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            <p>เลือกประเภทโครงการ (Debt Type) ให้ถูกต้องเนื่องจากจะถูกนำไปใช้เป็นเงื่อนไขในขั้นตอนการตั้งหนี้</p>
                            <ul>
                                @foreach (var item in debtTypes)
                                {
                                    <li>@item.DebtTypeCode : @item.DebtTypeName</li>
                                }
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="mt-2">
                        วันที่ออกเอกสาร
                        <input type="date"
                               class="form form-control"
                               required
                               id="createDate"
                               name="createDate"
                               value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    </div>
                    <input type="hidden" name="invoiceNo" value="@invoice.InvoiceNo" />
                    <button type="submit"
                            class="btn btn-sm btn-danger mb-2 mt-2">
                        + ยืนยันข้อมูลเพื่อออกใบเสร็จ/ใบส่งของ
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            @if (!invoice.IsFinish)
            {
                <div class="btn-group mb-4">
                    <button type="button"
                            class="btn btn-sm btn-success"
                            data-bs-toggle="modal"
                            data-bs-target="#addByPackageModal">
                        + เพิ่มจาก package
                    </button>
                    <button type="button"
                            class="btn btn-sm btn-warning"
                            data-bs-toggle="modal"
                            data-bs-target="#addByItemModal">
                        + เพิ่มทีละรายการ
                    </button>
                </div>
            }
            <div class="table-responsive mt-2">
                <table id="invoiceDetailsTable" class="table table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Is Cash</th>
                            <th>Item Name</th>
                            <th>Qty</th>
                            <th>Unit Price</th>
                            <th>Price</th>
                            <th>Package Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in invoiceDetails.OrderBy(x => x.Category).ThenBy(x => x.ItemName))
                        {
                            var price = (item.UnitPrice * item.Quantity).ToString("N2");
                            <tr>
                                <td>
                                    @if (!invoice.IsFinish)
                                    {
                                        if (!string.IsNullOrEmpty(item.PackageCode))
                                        {
                                            <a class="btn btn-sm btn-outline-secondary"
                                               title="delete by package code"
                                               id="deleteByPackageButton"
                                               data-bs-packagecode="@item.PackageCode"
                                               data-bs-isFinished="@invoice.IsFinish"
                                               href="@Url.Action("DeleteByPackage", "InvoiceDetails",
                                                    new { packageCode = item.PackageCode, invoiceNo = invoice.InvoiceNo })">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-sm btn-outline-secondary"
                                               title="delete by item"
                                               id="deleteByItemButton"
                                               data-bs-isFinished="@invoice.IsFinish"
                                               href="@Url.Action("DeleteByItem", "InvoiceDetails",
                                                    new { invoiceNo = invoice.InvoiceNo, conditionID = item.ConditionID })">
                                                <span class="material-icons">
                                                    delete
                                                </span>
                                            </a>
                                        }
                                    }
                                </td>
                                <td>
                                    @if (item.IsCash == true)
                                    {
                                        <input type="checkbox" name="isCashes" value="@item.ConditionID" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="isCashes" value="@item.ConditionID" />
                                    }
                                </td>
                                <td>
                                    @item.ItemName
                                </td>
                                <td>
                                    @item.Quantity.ToString("N0")
                                </td>
                                <td>
                                    @item.UnitPrice.ToString("N2")
                                </td>
                                <td>
                                    @price
                                </td>
                                <td>
                                    @item.PackageCode
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="addByItemModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">เพิ่มสินค้าทีละรายการ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="m-2">
                    @using (Html.BeginForm("Add", "InvoiceDetails", FormMethod.Post, new { id = "addByItemForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="conditionIDs" id="conditionIDs" />
                        <input type="hidden" name="invoiceNo" id="invoiceNo" value="@invoice.InvoiceNo" />
                        <input type="hidden" name="crop" id="crop" value="@invoice.InvoiceNo" />
                        <input type="hidden" name="supplierCode" id="supplierCode" value="@register.Farmer.Supplier" />
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                                @Html.DropDownList("category",
                               new SelectList(@ViewBag.Categories, "category", "category"), "โปรดเลือกประเภท",
                               new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Item</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-sm"
                                        id="ConditionID"
                                        name="ConditionID"
                                        required>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Unit Price</label>
                            <div class="col-sm-9">
                                <input type="number"
                                       class="form-control form-control-sm"
                                       id="unitPrice"
                                       name="unitPrice"
                                       placeholder="Unit Price"
                                       readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Quantity</label>
                            <div class="col-sm-9">
                                <input type="number"
                                       class="form-control form-control-sm border-success"
                                       id="quantity"
                                       name="quantity"
                                       placeholder="Quantity"
                                       required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-3"></label>
                            <div class="col-sm-9">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" disabled id="isVat">
                                    <label class="form-check-label" for="isVat">+ VAT</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" disabled id="isInventory">
                                    <label class="form-check-label" for="isInventory">หักออกจากระบบ Inventory</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button type="button"
                                        class="btn btn-sm btn-primary"
                                        id="addByItemButton">
                                    <i class="fas fa-plus"></i> Add
                                </button>
                                <button type="button"
                                        class="btn btn-sm btn-danger"
                                        id="clearItemButton">
                                    <i class="fas fa-minus"></i> Clear
                                </button>
                                <button type="submit"
                                        class="btn btn-sm btn-success"
                                        id="confirmItemButton">
                                    <i class="fas fa-check"></i> Confirm
                                </button>
                            </div>
                        </div>
                    }
                </div>
                <div class="table-responsive m-2">
                    <table class="table table-striped" id="addByItemTable" style="font-size:small;">
                        <thead>
                            <tr>
                                <th>รายการ</th>
                                <th>item id</th>
                                <th>ราคา</th>
                                <th>จำนวน</th>
                                <th>รวม</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addByPackageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6>เลือกจาก Minimum package</h6>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddByPackage", "InvoiceDetails", FormMethod.Post, new { @id = "addByPackageForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="mt-2">
                        แพ็คเกจ
                        @Html.DropDownList("PackageCode", new SelectList(@ViewBag.PackageList, "PackageCode", "Description"), "โปรดเลือกแพ็คเกจ", new { @class = "form-control form-control-sm", @required = "required" })
                    </div>
                    @*<div class="mt-2">
                            จำนวนไร่ที่ทำสัญญา <i class="text-danger"> จำนวน * ไร่ = จำนวนที่จะได้รับ</i>
                            <input type="text" class="form-control form-control-sm border-danger" value="@register.QuotaFromSignContract" readonly />
                        </div>*@
                    <input type="hidden" name="invoiceNo" value="@invoice.InvoiceNo" />
                    <button type="submit" id="addPackage"
                            class="btn btn-sm btn-primary mb-2 mt-2">
                        + เลือกแพ็คเกจนี้
                    </button>
                    <div class="table-responsive-sm mt-2">
                        <table id="packageDetailsTable" class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Item ID</th>
                                    <th>Qty</th>
                                    <th>Unit Price</th>
                                    <th>Price</th>
                                    <th>Is VAT</th>
                                    <th>ตัด Stock</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
