﻿@model IEnumerable<BUWebApp.Areas.ALP.Models.vm_IncidentFarmer>

@{
    ViewBag.Title = "CasesDetails";
    Layout = "~/Areas/ALP/Views/Shared/_Layout.cshtml";

    var rowStyle = "background-color:Orange;";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#records_table").DataTable();
    });
</script>

<h2>Cases details</h2>
<hr />
<div class="row">
    <div class="col-sm-12">
        <table class="table table-sm table-bordered table-hover">
            <tr style="background-color:whitesmoke;">
                <th>Type</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Category</td>
                <td>@Model.FirstOrDefault().CategoryName</td>
            </tr>
            <tr>
                <td>Topic</td>
                <td>@Model.FirstOrDefault().TopicName</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Model.FirstOrDefault().DescriptionName</td>
            </tr>
            <tr>
                <td>Crop</td>
                <td>@ViewBag.Crop</td>
            </tr>
        </table>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="table-responsive table-sm">
            <table id="records_table" class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>
                            Prefix
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Citizen ID
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Incident Date
                        </th>
                        <th>
                            Incident Status
                        </th>
                        <th>
                            Follow Up Date
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.IncidentStatus == "Closed")
                        {
                            rowStyle = "background-color:lawngreen;";
                        }
                        else
                        {
                            rowStyle = "background-color:Orange;";
                        }
                        <tr style="@rowStyle">
                            <td>
                                @Html.DisplayFor(modelItem => item.Person.Prefix)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Person.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Person.LastName)
                            </td>
                            <td>
                                @Html.ActionLink(@item.Person.CitizenID, "Add", new { crop = item.Crop, citizenID = item.CitizenID }, new { title = "Click for view farmer incident details." })
                            </td>
                            <td>
                                @item.Person.HouseNumber @item.Person.Village @item.Person.Tumbon @item.Person.Amphur @item.Person.Province
                            </td>
                            <td>
                                @item.IncidentDate.ToShortDateString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IncidentStatus)
                            </td>
                            <td>
                                @Convert.ToDateTime(item.FollowUpDate).ToShortDateString()
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>