﻿@model BUWebApp.Areas.ALP.Models.vm_IncidentFarmer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/ALP/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#records_table").DataTable();

        $("#CategoryID").change(function () {
            bindingTopic();
            bindingDescription();
        });

        $("#TopicID").change(function () {
            bindingDescription();
        });

        $("#IncidentStatus").change(function () {
            if ($("#IncidentStatus").val() == "Ongoing") {
                $("#FollowUpDate").val('');
            }
        });

        $("#form").submit(function (e) {
            if ($("#IncidentStatus").val() == "Ongoing"){
                $("#FollowUpDate").val("");
            }

            if ($("#IncidentStatus").val() == "Closed" && $("#FollowUpDate").val() == '0001-01-01') {
                alert("หากเปลี่ยนสถานะ Incident Status เป็น Closed จะต้องระบุข้อมูล Follow up date ด้วยทุกครั้ง");
                e.preventDefault();
            }
        });
    });

    function bindingTopic() {
        var categoryID = $("#CategoryID").val();
        var resourceUrl = '@Url.Action("GetTopics", "IncidentDescription")?categoryID=' + categoryID;
        $("#TopicID").empty();
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                $("#TopicID").append('<option value="">Choose a topic</option>');
                $.each(info, function (i, info) {
                    $("#TopicID").append('<option value="' + info.Value + '">' +
                         info.Text + '</option>');
                });
            }
        });
    }

    function bindingDescription() {
        var topicID = $("#TopicID").val();
        var resourceUrl = '@Url.Action("GetDescriptions", "IncidentDescription")?topicID=' + topicID;
        $("#DescriptionID").empty();
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: resourceUrl,
            data: null,
            success: function (info) {
                $("#TopicID").append('<option value="">Choose a description</option>');
                $.each(info, function (i, info) {
                    $("#DescriptionID").append('<option value="' + info.Value + '">' +
                         info.Text + '</option>');
                });
            }
        });
    }
</script>

<h3>Edit a farmer incident info</h3>

<hr />

@using (Html.BeginForm("Edit", null, FormMethod.Post, new { id = "form", name = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-6">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.CitizenID)

                <div class="form-group">
                    <label class="control-label col-md-3">Category</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.CategoryID, Model.IncidentCategoryDropDownList, "Choose a category", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Topic</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.TopicID, Model.IncidentTopicDropDownList, "Choose a topic", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TopicID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Description</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.DescriptionID, Model.IncidentDescriptionDropDownList, "Choose a description", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DescriptionID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Incident Date</label>
                    <div class="col-md-9">
                        <input type="date" id="IncidentDate" name="IncidentDate" class="form-control" value="@Model.IncidentDate.ToString("yyyy-MM-dd")" />
                        @Html.ValidationMessageFor(model => model.IncidentDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Incident Status</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.IncidentStatus, Model.IncidentStatusDropDownList, "Choose a status", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IncidentStatus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Follow Up Date</label>
                    <div class="col-md-8">
                        <input type="date" id="FollowUpDate" name="FollowUpDate" class="form-control" value="@Convert.ToDateTime(Model.FollowUpDate).ToString("yyyy-MM-dd")" />
                        @Html.ValidationMessageFor(model => model.FollowUpDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-9">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <h5><b>Farmer profile</b></h5>
                                <table class="table table-sm table-bordered table-hover table-striped">
                                    <tr>
                                        <td width="200px">ชื่อ- สกุล</td>
                                        <td>@Model.Person.Prefix @Model.Person.FirstName  @Model.Person.LastName</td>
                                    </tr>
                                    <tr>
                                        <td width="200px">รหัสประจำตัวประชาชน</td>
                                        <td>@Model.Person.CitizenID</td>
                                    </tr>
                                    <tr>
                                        <td width="200px">ที่อยู่</td>
                                        <td>@Model.Person.HouseNumber หมู่ @Model.Person.Village ต.@Model.Person.Tumbon อ.@Model.Person.Amphur จ.@Model.Person.Province</td>
                                    </tr>
                                    <tr>
                                        <td width="200px">วัน/เดือน/ปี เกิด</td>
                                        <td>@Model.Person.BirthDate.ToShortDateString()</td>
                                    </tr>
                                    <tr>
                                        <td width="200px">หมายเลขโทรศัพท์</td>
                                        <td>@Model.Person.TelephoneNumber</td>
                                    </tr>
                                    <tr>
                                        <td width="200px">โควต้าที่ระบุในสัญญา</td>
                                        <td>@ViewBag.QuotaDetails</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Add", new { @crop = Model.Crop, @citizenID = Model.CitizenID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}