﻿@model IEnumerable<BUWebApp.Areas.ALP.Models.vm_IncidentFarmer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ALP/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#records_table").DataTable();

        $("#form").submit(function (e) {
            if ($("#citizenID").val() == "") {
                alert("โปรดระบุ CitizenID ของชาวไร่ที่ต้องการบันทึกข้อมูล");
                e.preventDefault();
            }
        });
    });
</script>

<h2>Incident Farmer</h2>
<hr />

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("Add", "IncidentFarmer", FormMethod.Get, new { id = "form", name = "form" }))
        {
            <div class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="number" id="citizenID" name="citizenID" class="form-control" placeholder="Please input citizen ID" />
                    <input type="hidden" id="crop" name="crop" value="@ViewBag.Crop" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary mb-2" />
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <div class="table-responsive table-sm">
            <table id="records_table" class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>
                            Category
                        </th>
                        <th>
                            Topic
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Total cases
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TopicName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DescriptionName)
                            </td>
                            <td>
                                @Html.ActionLink(@item.TotalCases.ToString("N0"), "CasesDetails",
                               new { crop = @item.Crop, descriptionID = @item.DescriptionID },
                               new { @title = "View the list of farmer" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>